
#customWidget {
        position: relative;
        height: 36px;
}


#widget {
        position: relative;
}
#widgetField {
        width: 290px;
        height: 26px;
        background: url(../images/field.png);
        overflow: hidden;
        position: relative;
}
#widgetField a  {
        display: block;
        position: absolute;
        width: 26px;
        height: 26px;
        top: 0;
        right: 0;
        text-decoration: none;
        text-indent: -3000px;
}
#widgetField span       {
        font-size: 12px;
        font-weight: bold;
        color: #000;
        position: absolute;
        top: 0;
        height: 26px;
        line-height: 26px;
        left: 5px;
        width: 250px;
        text-align: center;
}
#widgetCalendar {
        position: absolute;
        top: 26px;
        left: 0;
        height: 0px;
        overflow: hidden;
        width: 588px;
        background: #B9B9B9;
}
#widgetCalendar .datepicker {
        position: absolute;
        bottom: 0;
        top: auto;
}
#widgetCalendar .datepickerContainer,
#widgetCalendar .datepickerBorderT,
#widgetCalendar .datepickerBorderB,
#widgetCalendar .datepickerBorderL,
#widgetCalendar .datepickerBorderR,
#widgetCalendar .datepickerBorderTL,
#widgetCalendar .datepickerBorderTR,
#widgetCalendar .datepickerBorderBL,
#widgetCalendar .datepickerBorderBR {
        background: transparent !important;
}
#widgetCalendar .datepicker a:hover{
        color: #b6f063;
}