/*
* @version 0.2 (auto-set)
*/
/*main styles*/
/*table,div{
        font:11px Arial, Helvetica, sans-serif;
        color:black;
} */
/*default styles*/
a{
        color:black;
        text-decoration:underline;
}
a:hover{
        color:#9ECF15;
}
h1{
        font:24px Arial, Helvetica, sans-serif;
    color:black;
    padding:0;
    margin:0 0 5px 0;
    letter-spacing:-1px;
}
h2{
        font:20px 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color:black;
    padding:0;
    margin:0 0 5px 0;
    letter-spacing:-1px;
}
h3{
        font:18px 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color:black;
    padding:0;
    margin:0 0 5px 0;
}
h4{
        font:bold 16px 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color:black;
    padding:0;
    margin:0 0 5px 0;
}
h5{
        font:bold 14px 'Trebuchet MS', Arial, Helvetica, sans-serif;
    color:black;
    padding:0;
    margin:0 0 5px 0;
}
