<!--#
 @version 0.3 (auto-set)
#-->

<!-- Table 'pinghosts' edit -->
<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>
<span class="divider">/</span>
<li class="active">
[#if ID=""#]
<#LANG_NEW_RECORD#>
[#else#]
<#LANG_EDIT_RECORD#>
[#endif#]
</li>
</ul>

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
 <div class="alert alert-success"><#LANG_DATA_SAVED#></div>

[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_TITLE#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_TITLE#]alert-danger[#endif#]"  name="title" value="[#TITLE#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_HOSTNAME#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_HOSTNAME#]alert-danger[#endif#]"  name="hostname" value="[#HOSTNAME#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_TYPE#>:<font color="red">*</font></label>
        <div class="col-lg-5">
                <select name="type" class="form-control [#if ERR_TYPE#]alert-danger[#endif#]">
  [#begin TYPE_OPTIONS#]<option value="[#VALUE#]"[#if SELECTED#] selected[#endif#]>[#TITLE#]
  [#end TYPE_OPTIONS#]
 </select>
                </div>
</div>




[#if TYPE="1"#]
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_SEARCH_WORD#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_SEARCH_WORD#]alert-danger[#endif#]"  name="search_word" value="[#SEARCH_WORD#]" required="true"></div>
</div>
[#endif TYPE#]


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_LINKED_OBJECT#>:</label>
        <div class="col-lg-5"><input type="text"  class="form-control "  name="linked_object" id="linked_object"  value="[#LINKED_OBJECT#]" ></div>
</div>


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_LINKED_PROPERTY#>:</label>
        <div class="col-lg-5"><input type="text"  class="form-control "  name="linked_property" id="linked_property" value="[#LINKED_PROPERTY#]" ></div>
</div>

[#module name="linkedobject" object_field="linked_object" property_field="linked_property"#]

<!-- SCRIPT_ID_ONLINE (int) -->
<div class="form-group ">
 <label class="col-lg-4 control-label" for="inputTitle">
 <#LANG_ONLINE_ACTION#>:
 </label>
 <div class="col-lg-5  [#if ERR_SCRIPT_ID_ONLINE#]alert-danger[#endif#]">

 <input type="radio" name="run_type_online" value="script"[#if SCRIPT_ID_ONLINE!="0"#] checked[#endif#]> <#LANG_SCRIPT#>:
   <select name="script_id_online" class="form-control">
    <option value="0">
    [#begin SCRIPTS#]
        <option value="[#ID#]"[#if ID="<#SCRIPT_ID_ONLINE#>"#] selected[#endif#]>[#TITLE#]
        [#end SCRIPTS#]
   </select>    
   <br>
   <input type="radio" name="run_type_online" value="code"[#if SCRIPT_ID_ONLINE="0"#] checked[#endif#]> <#LANG_CODE#>:<br>
 [#if ERRORS_ONLINE!=""#]
 <font color='red'>[#ERRORS#]</font><br>
 [#endif ERRORS_ONLINE#]   
 <textarea name="code_online" rows=12 cols=100 class="form-control">[#CODE_ONLINE#]</textarea>

 </div>
</div>

<!-- SCRIPT_ID_OFFLINE (int) -->
<div class="form-group ">
 <label class="col-lg-4 control-label" for="inputTitle">
 
 <#LANG_OFFLINE_ACTION#>:
 </label>
 <div class="col-lg-5 [#if ERR_SCRIPT_ID_OFFLINE#]alert-danger[#endif#]">

 <input type="radio" name="run_type_offline" value="script"[#if SCRIPT_ID_OFFLINE!="0"#] checked[#endif#]> <#LANG_SCRIPT#>:
   <select name="script_id_offline" class="form-control">
    <option value="0">
    [#begin SCRIPTS#]
        <option value="[#ID#]"[#if ID="<#SCRIPT_ID_OFFLINE#>"#] selected[#endif#]>[#TITLE#]
        [#end SCRIPTS#]
   </select>    
   <br>
   <input type="radio" name="run_type_offline" value="code"[#if SCRIPT_ID_OFFLINE="0"#] checked[#endif#]> <#LANG_CODE#>:<br>
 [#if ERRORS_OFFLINE!=""#]
 <font color='red'>[#ERRORS_OFFLINE#]</font><br>
 [#endif ERRORS_OFFLINE#]   
 <textarea  name="code_offline" rows=12 cols=100 class="form-control">[#CODE_OFFLINE#]</textarea>

 </div>
</div>


<!-- ONLINE_INTERVAL (int) -->
<div class="form-group ">
<label class="col-lg-4 control-label" for="inputTitle">
 <#LANG_ONLINE_CHECK_INTERVAL#>:
 </label>
 <div class="col-lg-5  ">
  <input type="text" name="online_interval" class="form-control [#if ERR_ONLINE_INTERVAL#]alert-danger[#endif#]"  value="[#ONLINE_INTERVAL#]" size="10" class="span1"> <#LANG_SECONDS#> (0 to use default)
 </div>
</div>

<!-- OFFLINE_INTERVAL (int) -->
<div class="form-group ">
<label class="col-lg-4 control-label" for="inputTitle">
 <#LANG_OFFLINE_CHECK_INTERVAL#>:
 </label>
 <div class="col-lg-5 ">
  <input type="text" name="offline_interval" class="form-control [#if ERR_OFFLINE_INTERVAL#]alert-danger[#endif#]" value="[#OFFLINE_INTERVAL#]" size="10" class="span1"> <#LANG_SECONDS#> (0 to use online interval)
 </div>
</div>

<div class="form-group ">
<label class="col-lg-4 control-label" for="inputTitle">
 <#LANG_COUNTER_REQUIRED#> (only for switching from Online to Offline):
 </label>
<div class="col-lg-5">
  <input type="text" name="counter_required" class="form-control" value="[#COUNTER_REQUIRED#]" size="10" class="span1"> <#LANG_COUNTER_REQUIRED_COMMENT#> (the interval between these attempts will be 20 sec if the set value is greater)
 </div>
</div>



<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle">
&nbsp;
 </label>
 <div class="col-lg-5">
 [#if ID!=""#]
 <input type="submit" class="btn btn-default btn-primary" name="subm" value="<#LANG_SUBMIT#>">
 [#else ID#]
 <input type="submit" class="btn btn-default btn-primary" name="subm" value="<#LANG_ADD#>">
 [#endif ID#]
 &nbsp;
 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
 </div>
</div>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">


<div class="form-group ">
 <label class="col-lg-4 control-label" for="inputTitle">
  <#LANG_LOG#>:
 </label>
 <div class="col-lg-5">
 <a href="#" class="btn btn-default" onClick="$('#eventsLog').toggle();return false;"><#LANG_SHOWHIDE#></a>
 <div id='eventsLog' style="display:none">
  [#LOG#]
 </div>
 </div>
</div>
</form>

