[#if TYPE=="php"#]
<script language="javascript">
 function [#CODE_FIELD#]_editBlocklyUpdated() {
     if (typeof editor!=="undefined") {
         editor.toTextArea();
     }
  var blockly = window.open('<#ROOTHTML#>3rdparty/googleblockly/?code_field=[#CODE_FIELD#]','BlocklyUpdated','scrollbars=no,width='+(screen.width-100)+',height='+(screen.height-200)+',left=50,top=100');
  blockly.creator=self;
  blockly.focus(); 
  return false;
 }
</script>


<#LANG_CODE_TYPE#>:<br>

<div>
 <input type="radio" name="[#CODE_FIELD#]_code_type" class="[#CODE_FIELD#]_code_type" value="0"[#if CODE_TYPE="0"#] checked[#endif#]> PHP <#LANG_HCB#>codePhp<#LANG_HCE#>
 <input type="radio" name="[#CODE_FIELD#]_code_type" class="[#CODE_FIELD#]_code_type" value="1"[#if CODE_TYPE="1"#] checked[#endif#]> Blockly<#LANG_HCB#>codeBlockly<#LANG_HCE#>
 <input type="radio" name="[#CODE_FIELD#]_code_type" class="[#CODE_FIELD#]_code_type" value="2"[#if CODE_TYPE="2"#] checked[#endif#]> <#LANG_DEVICES#><#LANG_HCB#>codeDevices<#LANG_HCE#>
</div>

 <script language="javascript">

  $('.[#CODE_FIELD#]_code_type').click (function ()
  {
  var thisCheck = $(this);
      if (thisCheck.val()==0) {
          $('#xml_row').hide();
          $('#[#CODE_FIELD#]_area').show();
          $('#[#CODE_FIELD#]_devices').hide();
      }
      if (thisCheck.val()==1) {
        $('#xml_row').show();
        $('#[#CODE_FIELD#]_area').hide();
        $('#[#CODE_FIELD#]_devices').hide();
      }
      if (thisCheck.val()==2) {
          $('#xml_row').hide();
          $('#[#CODE_FIELD#]_area').hide();
          $('#[#CODE_FIELD#]_devices').show();
      }
  }
  );
 </script>
[#endif TYPE#]


<script language="javascript" type="text/javascript">
$(function() {
//    alert([#CODE_TYPE#]);
    [#if CODE_TYPE="1" || CODE_TYPE="2"#]
     $('#[#CODE_FIELD#]_area').hide();
    [#endif CODE_TYPE#]
});
</script>

[#if CODE_TYPE="0"#]
<script src="<#ROOTHTML#>3rdparty/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/codemirror/addon/display/fullscreen.css">
<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/codemirror/addon/fold/foldgutter.css">
<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/codemirror/addon/hint/show-hint.css">

<script src="<#ROOTHTML#>3rdparty/codemirror/addon/edit/matchbrackets.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/mode/xml/xml.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/mode/javascript/javascript.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/mode/css/css.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/mode/clike/clike.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/mode/php/php.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/addon/display/fullscreen.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/addon/fold/foldcode.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/addon/fold/foldgutter.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/addon/fold/brace-fold.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/addon/fold/comment-fold.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/addon/hint/show-hint.js"></script>
<script src="<#ROOTHTML#>3rdparty/codemirror/addon/edit/closebrackets.js"></script>

<script language="javascript">
var editor;
var myTextArea[#CODE_FIELD#];
$(document).ready(function(){

var myTextArea[#CODE_FIELD#]=document.getElementById('[#CODE_FIELD#]');
editor = CodeMirror.fromTextArea(myTextArea[#CODE_FIELD#], {
 value: myTextArea[#CODE_FIELD#].value,
 lineNumbers: true,
        matchBrackets: true,
        [#if TYPE=="php"#]
        mode: "text/x-php",
        [#else TYPE#]
        mode: "xml",
        htmlMode: true,
        [#endif TYPE#]
        indentUnit: 1,
        indentWithTabs: false,
        autoCloseBrackets: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
      extraKeys: {
        "F11": function(cm) {
          cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        "Ctrl-S": function(instance) { document.getElementById('[#CODE_FIELD#]').form.submit(); },
        "Esc": function(cm) {
          if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        },
        "Ctrl-Space": "autocomplete",
        "Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }
      }
 });

/*
CodeMirror.hint.javascript = function(cm) {
  var inner = orig(cm) || {from: cm.getCursor(), to: cm.getCursor(), list: []};
  inner.list.push("bozo");
  return inner.
};
*/
/*
editor.on('keyup', function(){
    CodeMirror.commands.autocomplete(editor);
});
*/


/*
     editor.operation(function() {
       for (var l = editor.firstLine(); l <= editor.lastLine(); ++l)
         editor.foldCode({line: l, ch: 0}, null, "fold");
    }); 
*/

});


</script>
[#endif CODE_TYPE#]

[#if TYPE=="php"#]
<div id="xml_row"[#if CODE_TYPE!="1"#] style="display:none"[#endif#]>
<a href="#" onClick="return [#CODE_FIELD#]_editBlocklyUpdated();" class="btn btn-default btn-success"><#LANG_EDIT#></a>
    <br/>
    <small><a href="#" onClick="$('#xml_area').toggle();return false;"><#LANG_SHOW#> XML</a></small>
    <div id="xml_area" style="display:none">
     <textarea name="xml" id="xml_code" rows="5" cols="60" class="form-control">[#XML#]</textarea>
    </div>
</div>
[#endif TYPE#]

    <link href="<#ROOTHTML#>3rdparty/select2/css/select2.min.css" rel="stylesheet" />
    <script src="<#ROOTHTML#>3rdparty/select2/js/select2.min.js"></script>

<div id="[#CODE_FIELD#]_devices"[#if CODE_TYPE!="2"#] style="display:none"[#endif#]>
    <table id="devices_table" cellpadding="5" cellspacing="5">

    </table>
    <select name="add_device_id" id="add_device_id" onchange="addDevice();" style="width:300px">
        <option value="0"><#LANG_DEVICE#></option>
        [#begin DEVICES#]
        <option value="[#ID#]" device-type="[#TYPE#]" device-object="[#LINKED_OBJECT#]">[#TITLE#]</option>
        [#end DEVICES#]
    </select>
    <input type="button" name="add_device" class="btn btn-default btn-sm" value="<#LANG_ADD#>" onclick="return addDevice();">

    <script type="text/javascript">

        $(function() {
            $('#add_device_id').select2();
        });

        var devices_data=[];
        var savedJson=$('#xml_code').val();
        if (savedJson!='') {
            var tmp=JSON.parse(savedJson);
            if (typeof tmp === 'object') {
                devices_data=tmp;
                renderCode();
                renderView();
            }
        }

        function renderCode() {
            var result_code='';
            for(var i=0;i<devices_data.length;i++) {
                if (devices_data[i].action!='' && devices_data[i].object!='') {
                    result_code+="callMethod('"+devices_data[i].object+'.'+devices_data[i].action+"');\n";
                }
            }
            $('#[#CODE_FIELD#]').val(result_code);
            $('#xml_code').val(JSON.stringify(devices_data));
            //alert(result_code);
        }
        function renderView() {
            $("#devices_table tr").remove();
            for(var i=0;i<devices_data.length;i++) {
                //alert(devices_data[i].id);
                var row = $("<tr />")
                $("#devices_table").append(row);
                row.append($("<td>" + devices_data[i].title + "</td>"));

                var td_content="<td>";
                td_content+="<select class='form-control' id='device"+devices_data[i].id+"_action' onchange='deviceUpdated("+devices_data[i].id+");'>";
                if (devices_data[i].type=='relay' || devices_data[i].type=='dimmer' || devices_data[i].type=='thermostat') {
                    td_content+="<option value='turnon'";
                    if (devices_data[i].action=='turnon') {
                        td_content+=" selected";
                    }
                    td_content+="><#LANG_DEVICES_TURN_ON#></option>";
                    td_content+="<option value='turnoff'";
                    if (devices_data[i].action=='turnoff') {
                        td_content+=" selected";
                    }
                    td_content+="><#LANG_DEVICES_TURN_OFF#></option>";
                }
                if (devices_data[i].type=='button') {
                    td_content+="<option value='pressed'><#LANG_DEVICES_PRESS#></option>";
                }
                td_content+="</select>";
                td_content+="</td>";

                row.append($(td_content));
                row.append($("<td><a href='#' class='btn btn-default' onclick='deleteDevice("+devices_data[i].id+");return false;'><i class='glyphicon glyphicon-trash'></i></a></td>"));
            }
        }
        function deviceUpdated(device_id) {
            for(var i=0;i<devices_data.length;i++) {
                if (devices_data[i].id==device_id) {
                    devices_data[i].action=$('#device'+device_id+'_action').val();
                }
            }
            renderCode();
            renderView();
        }
        function addDevice() {
            var device_id=$('#add_device_id').val();
            var device_title = $("#add_device_id option:selected").text();
            var device_type = $("#add_device_id option:selected").attr('device-type');
            var device_object= $("#add_device_id option:selected").attr('device-object');

            var action='turnon';
            if (device_type=='button') {
                action='pressed';
            }
            if (device_id==0) return false;
            devices_data.push({
                id: device_id,
                title: device_title,
                type: device_type,
                object: device_object,
                action: action,
            });
            renderCode();
            renderView();
            return false;
        }
        function deleteDevice(device_id) {
            for(var i=0;i<devices_data.length;i++) {
                if (devices_data[i].id==device_id) {
                    devices_data.splice(i, 1);
                }
            }
            renderCode();
            renderView();
        }
    </script>
</div>