
<!-- Table 'app_quotes' import -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success">Data has been saved</div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error">Please fill out all required fields</div>
[#endif ERR#]
<fieldset>
<legend>Data Import</legend>
[#if TOTAL#]
<div class="alert alert-success">Records imported: [#TOTAL#]</div>
[#endif TOTAL#]
<div class="form-group">
 <label class="control-label">File format (TXT, unicode -- one quote per line):</label>
 <div class="controls">
 <p class="help-block">
 <table border="1" cellpadding="3">
  <tr>
 <td>
  BODY
 </td>
  </tr>
 </table>
 </p>
 </div>
</div>
<div class="form-group">
 <label class="control-label">Data file:</label>
 <div class="controls"><input type="file" name="file" class="input"></div>
</div>
<div class="form-actions">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn"><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
