
<!-- Table 'app_quotes' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_STRING_SUCCESS#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- BODY (text) -->
<div class="form-group">
 <label class="control-label"[#if ERR_BODY#] style="color:red;font-weight:bold"[#endif#]>
 BODY
 (*):
 </label>
 <div class="controls">
 <textarea name="body" rows=12 cols=100 class="form-control input span6">[#BODY#]</textarea>
 </div>
</div>
<div class="form-actions">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn"><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
