
<!-- table app_quotes search -->
<p>
<a href="?view_mode=edit_app_quotes" class="btn  btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#></a>
<a href="?view_mode=import_app_quotes" class="btn  btn-default"><i class="glyphicon glyphicon-file"></i> <#LANG_IMPORT#></a>
&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) -->
<form action="?" method="post" name="frmList_app_quotes" style="padding:0px" class="form">
<table   class="table table-stripped">
<tbody>
[#begin RESULT#]
<tr>
 <td width="1%">
 <input type="checkbox" name="ids[]" value="[#ID#]">
 </td>
 <td
  >
   [#BODY#]
 </td>
 <td width="1%" nowrap>
  [#if "<#ACTION#>"=="admin"#]
   <a href="?view_mode=edit_app_quotes&id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=delete_app_quotes&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
 </td>
</tr>
[#end RESULT#]
<tr>
 <td colspan=20 align=right>
 <input type="submit" name="export" value="<#LANG_EXPORT_SELECTED#>" class="btn">
 <input type="submit" name="delete" value="<#LANG_DELETE_SELECTED#>" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn">
 </td>
</tr>
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_app_quotes">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<div class="alert alert-danger">No records found.</div>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>

<p>
Usage:
<br>
<b>&#091#module name="app_quotes"#&#093</b> (random quote)
<br><b>&#091#module name="app_quotes" order="1"#&#093</b> (ordered)
</p>
