<!--#
 @version 0.3 (auto-set)
#-->

 <!-- action usual -->
 <!-- table commands search -->
 [#if VIEW_MODE="search_commands" || VIEW_MODE=""#]

[#if MENU_LOADED!="1"#]

[#if ONE_ITEM_MODE#]
<!--#        <style type="text/css" media="screen">@import "<#ROOTHTML#>jqtouch/jqtouch_one_item.css";</style>#-->
<!--#               <style type="text/css" media="screen">@import "<#ROOTHTML#>themes/jqt/theme_one_item.css";</style>#-->

[#endif#]

<script language="javascript">

 var valueChangedFlag = {};
 var latestRequest=0;
 var requestTimer=0;
 var requestDelay=3; // default delay for auto update
 var requestProcessing=0;
 var labelsCollected='';
 var valuesCollected='';
 var first_run=1;

 var labelsCollected_sent='';
 var valuesCollected_sent='';

 var subscribedWebSockets=0;
 var subscribedWebSocketsTimer;


 var requestSent = Math.round(+new Date()/1000);


        function subscribeToMenu() {
         console.log('Sending menu subscription request...');
         var payload;
         payload = new Object();
         payload.action = 'Subscribe';
         payload.data = new Object();
         payload.data.TYPE='commands';
         payload.data.PARENT_ID='<#PARENT_ID#>';
         wsSocket.send(JSON.stringify(payload));
         subscribedWebSocketsTimer=setTimeout('subscribeToMenu();', 3000);
         return false;
        }


        $.subscribe('wsConnected', function (_) {
         subscribeToMenu();
        });

        $.subscribe('wsData', function (_, response) {
          if (response.action=='subscribed') {
           console.log('Subscription to menu confirmed.');
           clearTimeout(subscribedWebSocketsTimer);
           subscribedWebSockets=1;
          }
          if (response.action=='commands') {
           sendRequestForUpdates_processed(0, response.data);
          }
        });


 function upateDebugField() {
  if (!$('#debugField').length) return;
  var timeUnix = Math.round(+new Date()/1000);
  var passed=timeUnix-requestSent;
  $('#debugField').html('Labels: '+labelsCollected+' (last sent: '+labelsCollected_sent+')<br/>Values: '+valuesCollected+' (last sent: '+valuesCollected_sent+')<br/>Passed: '+passed);
 }

 function sendRequestForUpdates_processed(id, data)
 {
   var obj = jQuery.parseJSON(data);
   var objLabelsCnt  = obj.LABELS.length;
   var objValuesCnt = obj.VALUES.length;

   if (objLabelsCnt > 0) {
    var labels=obj.LABELS;
    for (var i = 0; i < objLabelsCnt; i++) {
     window["updateLabel"+labels[i].ID+"_Ready"](labels[i].ID, JSON.stringify(labels[i]));
    }
  }
   if (objValuesCnt > 0) {
    var values=obj.VALUES;
    for (var i = 0; i < objValuesCnt; i++) {
     //alert("updateValue"+values[i].ID+"_Ready ("+i+" of "+values.length+")");
     window["updateValue"+values[i].ID+"_Ready"](values[i].ID, JSON.stringify(values[i]));
    }
  }
  requestProcessing=0;
 }

 function sendRequestForUpdates() {
  clearTimeout(requestTimer);
  if (requestProcessing==1) {
   requestTimer=setTimeout('sendRequestForUpdates()', requestDelay*1000);
  }
  requestSent = Math.round(+new Date()/1000);

  if (subscribedWebSockets==1) {
   labelsCollected='';
   valuesCollected='';
   if (first_run!=1) return;
  }

  first_run=0;
  if (labelsCollected!='' || valuesCollected!='') {
   var url="<#ROOTHTML#>ajax/commands.html?op=get_details&labels="+encodeURIComponent(labelsCollected)+"&values="+encodeURIComponent(valuesCollected);
   AJAXRequest(url, 'sendRequestForUpdates_processed', '');
  }

  labelsCollected_sent=labelsCollected;
  labelsCollected='';
  valuesCollected_sent=valuesCollected;
  valuesCollected='';
  upateDebugField();


 }

 function collectLabel(item_id) {
  var timeUnix = Math.round(+new Date()/1000);
  labelsCollected=labelsCollected+','+item_id+',';
  labelsCollected=labelsCollected.replace(',,', ',');
  upateDebugField();
  if ((timeUnix-requestSent)>requestDelay) {
   sendRequestForUpdates();
  } else {
   clearTimeout(requestTimer);
   requestTimer=setTimeout('sendRequestForUpdates()', requestDelay*1000);
  }
 }

 function collectValue(item_id) {
  var timeUnix = Math.round(+new Date()/1000);
  valuesCollected=valuesCollected+','+item_id+',';
  valuesCollected=valuesCollected.replace(',,', ',');
  upateDebugField();
  if ((timeUnix-requestSent)>requestDelay) {
   sendRequestForUpdates();
  } else {
   clearTimeout(requestTimer);
   requestTimer=setTimeout('sendRequestForUpdates()', requestDelay*1000);
  }
 }


 function menuClicked(id, parent_id, sub_list, win, winTitle, command, url, width, height) {

  if (sub_list!=id) {
   //$('sub'+parent_id).style.display='none';
   if ($('sub'+id).style.display=='none') {
    //$('sub'+id).style.display='block';
    Effect.BlindDown('sub'+id, { duration: 0.5 });
   } else {
    //Effect.SwitchOff('sub'+id');
    Effect.BlindUp('sub'+id, { duration: 0.5 });
    //$('sub'+id).style.display='none';
   }
  } else {

  if (parent.location == window.location) {
   if (url!='') {
    window.location=url;
    //openTWindow(win, winTitle, url, width, height);
   }
  } else {
   //command


   var location_string=parent.location.href;

   if ((/popup\/scenes/.test(location_string)) || (/pages\.html/.test(location_string))) {
    window.location=url;
    return false;
   }


   if (command!='') {
    //alert(command);
    parent.eval(command);
   }
   if (url!='') {
    if (width==0 && height==0) {
     parent.openNewTab(winTitle, url);
    } else {
     parent.openTWindow(win, winTitle, url, width, height);
    }
   }

  }

  }
  return false;
 }

 function itemValueChangedProcessed(data, v) {
  //alert(data);
  if ($('#processing_'+data).length) {
   $('#processing_'+data).html(' - OK');
  }
  return false;
 }

 function itemValueChanged(id, new_value) {
  //alert(id+': '+new_value);
  valuesCollected=valuesCollected.replace(','+id+',', ',');
  var url="<#ROOTHTML#>ajax/commands.html?op=value_changed";
  if ($('#processing_'+id).length) {
   $('#processing_'+id).html(' - ...');
  }
  AJAXRequest(url+'&item_id='+id+'&new_value='+new_value, 'itemValueChangedProcessed', id);
  return false;
 }

</script>
[#endif MENU_LOADED#]

  [#if PDA="1"#]
  [#inc commands_search_pda.html#]
  [#else PDA#]
  [#inc commands_search_site.html#]
  [#endif PDA#]
 [#endif VIEW_MODE#]
 <!-- / table commands search -->
 <!-- table commands edit -->
 [#if VIEW_MODE="edit_commands"#]
   [#inc commands_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table commands edit -->
 <!-- table commands view --> 
 [#if VIEW_MODE="view_commands"#]
   [#inc commands_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table commands view -->
