<!--#
 @version 0.3 (auto-set)
#-->

<script language="javascript">

$(function () {


        $("a.show-hide-link").click(function() {
                var id = $(this).data('id');//'#sub' + 
                //$(id).toggle();
  if ($('#sub'+id).is(":visible")) {
   $('#sub'+id).hide();
   $('#link'+id).html(' + ');
   $.cookie("commands_item"+id, null);
  } else {
   $.cookie("commands_item"+id, "1");
   $('#sub'+id).show();
   $('#link'+id).html(' - ');
  }
  return false;


        });

});


</script>

<div><a href="?view_mode=edit_commands" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_SECTION#></a></div>
&nbsp;

<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_commands">
<table class="table table-bordered">
[#begin RESULT#]
<tr>
 <td><input type="checkbox" name="selected[]" value="[#ID#]"></td>
 <td>
   [#if RESULT#]
   <a href="#" id="link[#ID#]" class="show-hide-link btn btn-default btn-sm expand" data-id="[#ID#]"> + </a>
   [#endif#]
   [#if ICON!=""#]<img src="<#ROOTHTML#>cms/icons/[#ICON#]" class="action-list-icon" align="absmiddle">[#endif#]
   <a href="?view_mode=edit_commands&id=[#ID#]">[#TITLE#]</a>
   <span class="divider">/</span>
   [#if TYPE!=""#][#TYPE#]<span class="divider">/</span>[#endif TYPE#]
  [#PRIORITY#]
 </td>
 <td class="command-actions">
  <a href="?view_mode=moveup&id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-up"></i></a>
  <a href="?view_mode=movedown&id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-down"></i></a>
  [#if EXT_ID="0"#]
  <!--#
  <a href="?view_mode=edit_commands&parent_id=[#ID#]"><#LANG_EXPAND#></a>
  #-->
  [#endif EXT_ID#]
  <a href="?view_mode=edit_commands&id=[#ID#]" title="<#LANG_EDIT#>" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
  [#if !RESULT#]
    <a href="?view_mode=delete_commands&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" title="<#LANG_DELETE#>" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif RESULT#]
</tr>
[#if RESULT#]
 <tr><td colspan=3>
  <div id="sub[#ID#]" style="display:none">
  <table class="table table-bordered table-inner">
   [#tree RESULT#]
  </table>
  </div>
 </td>
 </tr>
[#endif RESULT#]
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_commands">

<input type="submit" name="submit" value="<#LANG_EXPORT#>" class="btn btn-default">
<#LANG_HCB#>menu_export_elements<#LANG_HCE#>
</form>



<script language="javascript">
[#begin RESULT#]
 if ($.cookie("commands_item[#ID#]")) {
  $('#sub[#ID#]').show();
  $('#link[#ID#]').html(' - ');
 }
 [#if RESULT#]
 [#tree RESULT#]
 [#endif RESULT#]
[#end RESULT#]
</script>

<!-- / search results (list) -->
[#else RESULT#]
<div class="alert alert-error">
<#LANG_NO_RECORDS_FOUND#>
</div>
[#endif RESULT#]
<!-- / results -->

&nbsp;<br/>

<a href="#" class="btn btn-default" onClick="$('#menu_tools').toggle();return false;"><#LANG_TOOLS#></a>

<br/>&nbsp;
<div id='menu_tools' style="display:none">

<h3><#LANG_IMPORT#></h3>

<form action="?" method="post" name="frmList_elements" style="padding:0px" enctype="multipart/form-data">
<input type="file" name="file"><br/>

<#LANG_PARENT_MENU_ITEM#>:
<select name="parent_id" style="width:200px">
 <option value="0"><#LANG_ROOT#>
 [#begin RESULT#]
 <option value="[#ID#]">[#TITLE#]
 [#if RESULT#][#tree RESULT#][#endif RESULT#]
 [#end RESULT#]
</select>
 <br/>
<input type="submit" name="submit" value="<#LANG_IMPORT#>" class="btn btn-default">
<#LANG_HCB#>menu_import_elements<#LANG_HCE#>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="import_commands">
</form>
</div>