<!--#
 @version 0.3 (auto-set)
#-->
<!-- Table 'commands' edit -->


<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>
[#if HISTORY#]
[#begin HISTORY#]
<span class="divider">/</span>
<li>
<a href="?view_mode=edit_commands&id=[#ID#]">[#TITLE#]</a> 
</li>
[#end HISTORY#]
[#endif HISTORY#]
[#if ID!=""#]
<span class="divider">/</span>
<li class="active">
[#TITLE#]
</li>
[#else#]
<span class="divider">/</span>
<li class="active">
<#LANG_NEW_RECORD#>
</li>
[#endif#]
</ul>

<form action="?" method="post" class="form-horizontal" enctype="multipart/form-data" name="frmEdit">

[#if OK#]

    <div class="alert alert-success"><#LANG_DATA_SAVED#></div>

[#endif OK#]
[#if ERR#]

  <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>

[#endif ERR#]


[#if ID=""#]

[#else ID#]
<div class="form-group ">
        <label class="control-label">ID:<#LANG_HCB#>id<#LANG_HCE#></label>

<div class="form-inline">
        <div class="col-lg-5">
                <input type="text" value="[#ID#]" disabled class="form-control">
        </div>
        <div class="col-lg-1">
[#if TYPE="button"#]
Action URL:
<a href="<#ROOTHTML#>menu.html?ajax=1&op=value_changed&new_value=1&item_id=[#ID#]" target=_blank>Run</a>
[#else#]
<a href="<#ROOTHTML#>menu.html?parent=<#ID#>" target=_blank>#</a>
[#endif#]
        </div>

</div>
</div>

[#endif ID#]

<div class="form-group">
        <label class="control-label"><#LANG_PARENT_MENU_ITEM#>:<#LANG_HCB#>parent_menu_item<#LANG_HCE#></label>
<div class="form-inline">
        <div class="col-lg-5">
                <select name="parent_id" class="form-control">
                <option value="0">ROOT
                [#begin PARENTS#]
                <option value="[#ID#]"[#if ID="<#PARENT_ID#>"#] selected[#endif#]>[#TITLE#]
                [#end PARENTS#]
                </select>
        </div>

[#if PARENT_ID!="0" && PARENT_ID!=""#]
<div class="col-lg-1"><a href="<#ROOTHTML#>menu/[#PARENT_ID#].html" target=_blank>#</a></div>
[#endif#]

</div>
</div>

<!-- TITLE (varchar) -->

<div class="form-group">
        <label class="control-label"><#LANG_TITLE#> (*):<#LANG_HCB#>title<#LANG_HCE#></label>
        <div class="col-lg-5">
                <input type="text" name="title" value="[#TITLE#]" size="50" required="true" class="form-control">
        </div>
</div>



<div class="form-group">
        <label class="control-label"><#LANG_PRIORITY#>:<#LANG_HCB#>priority<#LANG_HCE#></label>
        <div class="col-lg-2">
                <input type="text" name="priority" value="[#PRIORITY#]" size="5" class="form-control">
        </div>
</div>

[#if EXT_ID=="" || EXT_ID="0"#]

[#if !CHILDREN#]
<div class="form-group">
        <label class="control-label"><#LANG_TYPE#>:<#LANG_HCB#>menu_item_type<#LANG_HCE#></label>
        <div class="col-lg-5">
                <select name="type" class="form-control">
                        <option value="">select
                        <option value="label"[#if TYPE="label"#] selected[#endif#]><#LANG_LABEL#>
                        <option value="object"[#if TYPE="object"#] selected[#endif#]><#LANG_OBJECT#>
                        <option value="window"[#if TYPE="window"#] selected[#endif#]><#LANG_NEW_WINDOW#>
                        <option value="url"[#if TYPE="url"#] selected[#endif#]><#LANG_URL#>
                        <option value="urlblank"[#if TYPE="urlblank"#] selected[#endif#]><#LANG_URL#> (<#LANG_NEW_WINDOW#>)
                        <option value="command"[#if TYPE="command"#] selected[#endif#]><#LANG_JS_COMMAND#>
                        <option value="button"[#if TYPE="button"#] selected[#endif#]><#LANG_BUTTON#>
                        <option value="switch"[#if TYPE="switch"#] selected[#endif#]><#LANG_ON_OFF_SWITCH#>
                        <option value="selectbox"[#if TYPE="selectbox"#] selected[#endif#]><#LANG_SELECT_BOX#> (select)
                        <option value="radiobox"[#if TYPE="radiobox"#] selected[#endif#]><#LANG_SELECT_BOX#> (radio)
                        <option value="sliderbox"[#if TYPE="sliderbox"#] selected[#endif#]><#LANG_SLIDER_BOX#>
                        <option value="plusminus"[#if TYPE="plusminus"#] selected[#endif#]><#LANG_PLUS_MINUS_BOX#>
                        <option value="timebox"[#if TYPE="timebox"#] selected[#endif#]><#LANG_TIME_PICKER#>
                        <option value="datebox"[#if TYPE="datebox"#] selected[#endif#]><#LANG_DATE_BOX#>
                        <option value="textbox"[#if TYPE="textbox"#] selected[#endif#]><#LANG_TEXT_BOX#>
                        <option value="color"[#if TYPE="color"#] selected[#endif#]><#LANG_COLOR_PICKER#>
                        <option value="custom"[#if TYPE="custom"#] selected[#endif#]><#LANG_CUSTOM_HTML_BOX#>
                </select>
        </div>
</div>
[#endif CHILDREN#]


<div class="form-group">
        <label class="control-label"><#LANG_ICON#>:<#LANG_HCB#>menu_item_icon<#LANG_HCE#></label>
        <div class="col-lg-5">
                <input type="file" name="icon" class="form-control">
        <p class="help-block">
                [#if ICON!=""#]
                <label class="checkbox">
                <input type="checkbox" name="delete_icon" value="1" class="form-control"><#LANG_DELETE#>
                </label>
                <img src="<#ROOTHTML#>cms/icons/[#ICON#]" border="0">
                [#ICON#]<br>
                [#endif#]
        </p>
        </div>
</div>

[#if TYPE=="plusminus" || TYPE=="sliderbox"#]

<div class="form-group">
        <label class="control-label"><#LANG_MIN_VALUE#>:</label>
        <div class="col-lg-5">
                <input type="text" name="min_value" value="[#MIN_VALUE#]" size="20" class="form-control">
        </div>
</div>

<div class="form-group">
        <label class="control-label"><#LANG_MAX_VALUE#>:</label>
        <div class="col-lg-5">
                <input type="text" name="max_value" value="[#MAX_VALUE#]" size="20" class="form-control">
        </div>
</div>

<div class="form-group">
        <label class="control-label"><#LANG_STEP_VALUE#>:</label>
        <div class="col-lg-5">
                <input type="text" name="step_value" value="[#STEP_VALUE#]" size="20" class="form-control">
        </div>
</div>

[#endif TYPE#]

[#if TYPE=="selectbox" || TYPE=="custom" || TYPE=="switch" || TYPE=="radiobox"#]

<div class="form-group">
        <label class="control-label"><#LANG_DATA#>:<#LANG_HCB#>menu_data<#LANG_HCE#>[#if TYPE=="switch"#]<br/>(<#LANG_OPTIONAL#>)[#endif TYPE#]</label>
        <div class="col-lg-5">
            [#if DATA=""#]<a href="#" id="data_set_link" onclick="$('#data_text').show();$('#data_set_link').hide();return false;"><#LANG_SET#></a>[#endif#]
            <div id="data_text" [#if DATA=""#] style="display:none"[#endif#]>
                <textarea name="data" id="data" cols="50" rows="[#if TYPE=="switch"#]2[#else#]10[#endif#]"  class="form-control">[#DATA#]</textarea>
                [#if DATA!=""#]
                [#module name="blockly_code" code_field="data" action="" type="html"#]
                [#endif DATA#]
            </div>
        </div>
</div>

[#endif TYPE#]

<div class="form-group">
  <label class="control-label"><#LANG_AUTO_UPDATE_PERIOD#>:<#LANG_HCB#>menu_update_period<#LANG_HCE#></label>
   <div class="col-lg-2">
     <div class="form-inline">
      <div class="form-group col-lg-6">
       <input type="text" name="auto_update" value="[#AUTO_UPDATE#]" size="10" class="form-control"> 
      </div>
      <div class="form-group col-lg-6">
       <p class="form-control-static">
        &nbsp;(<#LANG_SECONDS#>)
        </p>
      </div>
     </div>
    </div>
</div>

[#if TYPE=="plusminus" || TYPE=="sliderbox"  || TYPE=="selectbox" || TYPE=="switch" || TYPE=="timebox" || TYPE=="datebox" || TYPE=="textbox" || TYPE=="radiobox" || TYPE=="color"#]

<div class="form-group">
  <label class="control-label"><#LANG_CURRENT_VALUE#>:</label>
   <div class="col-lg-5">
     <div class="form-inline">
      <div class="form-group col-lg-6">
       <input type="text" name="cur_value" value="" size="10" class="form-control"> 
      </div>
      <div class="form-group col-lg-6">
       <p class="form-control-static">
        &nbsp;(<#CUR_VALUE#>)
        </p>
      </div>
     </div>
    </div>
</div>


[#endif TYPE#]

[#if TYPE=="plusminus" || TYPE=="sliderbox"  || TYPE=="selectbox" || TYPE=="button" || TYPE=="switch" || TYPE=="custom" || TYPE=="timebox" || TYPE=="datebox" || TYPE=="textbox" || TYPE=="radiobox" || TYPE=="color" || TYPE=="object"#]
<div class="form-group">
  <label class="control-label"><#LANG_LINKED_OBJECT#>:<#LANG_HCB#>linked_object<#LANG_HCE#></label>
   <div class="col-lg-5">
     <div class="form-inline">
      <div class="form-group col-lg-5">
       <input type="text" name="linked_object" id="linked_object" value="[#LINKED_OBJECT#]"  class="form-control">
      </div>
     </div>
    </div>
</div>
[#endif TYPE#]

[#if TYPE=="plusminus" || TYPE=="sliderbox"  || TYPE=="selectbox" || TYPE=="switch" || TYPE=="custom" || TYPE=="timebox" || TYPE=="datebox" || TYPE=="textbox" || TYPE=="radiobox" || TYPE=="color"#]
<div class="form-group">
  <label class="control-label"><#LANG_PROPERTY#>:<#LANG_HCB#>linked_property<#LANG_HCE#></label>
   <div class="col-lg-5">
     <div class="form-inline">
      <div class="form-group col-lg-5">
       <input type="text" name="linked_property" id="linked_property" value="[#LINKED_PROPERTY#]"  class="form-control">
      </div>
     </div>
    </div>
</div>

    <div class="form-group">
        <label class="control-label"><#LANG_READ_ONLY#>:<#LANG_HCB#>menu_readonly<#LANG_HCE#></label>
        <div class="col-lg-5">
            <label><input type="radio" name="read_only" value="1"[#if READ_ONLY="1"#] checked[#endif#]> <#LANG_YES#></label>
            <label><input type="radio" name="read_only" value="0"[#if READ_ONLY!="1"#] checked[#endif#]> <#LANG_NO#></label>
        </div>
    </div>

<div class="form-group">
        <label class="control-label"><#LANG_SMART_REPEAT#>:<#LANG_HCB#>menu_smartrepeat<#LANG_HCE#></label>
        <div class="col-lg-5">
                <label><input type="radio" name="smart_repeat" value="1"[#if SMART_REPEAT="1"#] checked[#endif#]> <#LANG_YES#></label>
                <label><input type="radio" name="smart_repeat" value="0"[#if SMART_REPEAT!="1"#] checked[#endif#]> <#LANG_NO#></label>
        </div>
</div>
[#endif TYPE#]

[#if TYPE=="plusminus" || TYPE=="sliderbox" || TYPE=="selectbox" || TYPE=="button" || TYPE=="switch" || TYPE=="timebox" || TYPE=="datebox" || TYPE=="textbox" || TYPE=="radiobox" || TYPE=="color"#]
<div class="form-group">
  <label class="control-label"><#LANG_METHOD#>:<#LANG_HCB#>linked_method<#LANG_HCE#></label>
  <!--#<#LANG_ONCHANGE_OBJECT#>.#-->
   <div class="col-lg-5">
     <div class="form-inline">
          <!--#
      <div class="form-group col-lg-5">
       <input type="text" name="onchange_object" value="[#ONCHANGE_OBJECT#]"  class="form-control">
      </div>

      <div class="form-group col-lg-1">
       <p class="form-control-static">
        &nbsp;.&nbsp;
        </p>
      </div>
      #-->
      <div class="form-group col-lg-5">
       <input type="text" name="onchange_method" id="onchange_method" value="[#ONCHANGE_METHOD#]" class="form-control">
      </div>
     </div>
    </div>
</div>

<div class="form-group">
        <label class="control-label"><#LANG_ONCHANGE_SCRIPT#>:<#LANG_HCB#>onchange_script<#LANG_HCE#></label>
        <div class="col-lg-5">
<select name="script_id" class="form-control">
   <option value="0">
   [#begin SCRIPTS#]
       <option value="[#ID#]"[#if ID="<#SCRIPT_ID#>"#] selected[#endif#]>[#TITLE#]
       [#end SCRIPTS#]
</select> 
        </div>
</div>

<div class="form-group">
        <label class="control-label"><#LANG_ONCHANGE_CODE#>: <#LANG_HCB#>onchange_code<#LANG_HCE#> [#ERRORS#]</label>
        <div class="col-lg-5">
            [#module name="blockly_code" system_name="command<#ID#>" code_field="code" action=""#]
  <div id="code_area">
  <textarea name="code" id="code" rows=20 cols=100 class="form-control">[#CODE#]</textarea>
 </div>

        </div>
</div>
[#endif TYPE#]

[#module name="linkedobject" object_field="linked_object" property_field="linked_property" method_field="onchange_method"#]

[#if TYPE="command"#]
<!-- COMMAND (varchar) -->

<#LANG_COMMAND#>
<input type="text" name="command" value="[#COMMAND#]"  class="form-control">


[#endif TYPE#]

[#if TYPE=="button"#]
<!-- URL (varchar) -->
<div class="form-group">
        <label class="control-label"> <#LANG_INLINE_POSITION#>:<#LANG_HCB#>menu_inline<#LANG_HCE#></label>
        <div class="col-lg-5">
                <label><input type="radio" name="inline" value="1"[#if INLINE="1"#] checked[#endif#]> <#LANG_YES#></label>
                <label><input type="radio" name="inline" value="0"[#if INLINE!="1"#] checked[#endif#]> <#LANG_NO#></label>
        </div>
</div>
[#endif TYPE#]


[#if !CHILDREN#]
[#if TYPE=="window" || TYPE=="url" || TYPE=="urlblank"#]
<!-- URL (varchar) -->
<div class="form-group">
        <label class="control-label"> <#LANG_URL#>:<#LANG_HCB#>menu_url<#LANG_HCE#></label>
        <div class="col-lg-5">
                <input type="text" name="url" value="[#URL#]"  class="form-control">
        </div>
</div>
[#endif TYPE#]

[#if TYPE=="window"#]
<div class="form-group">
        <label class="control-label"><#LANG_TARGET_WINDOW#>:<#LANG_HCB#>menu_target_window<#LANG_HCE#></label>
        <div class="col-lg-5">
                <input type="text" name="window" value="[#WINDOW#]"  class="form-control">
        </div>
</div>

<!-- WIDTH (int) -->
<div class="form-group">
        <label class="control-label"><#LANG_WIDTH#>:</label>
        <div class="col-lg-5">
                <input type="text" name="width" value="[#WIDTH#]" class="form-control">
        </div>
</div>
<!-- HEIGHT (int) -->
<div class="form-group">
        <label class="control-label"><#LANG_HEIGHT#>:</label>
        <div class="col-lg-5">
                <input type="text" name="height" value="[#HEIGHT#]" class="form-control">
        </div>
</div>
[#endif TYPE#]
[#endif CHILDREN#]

[#endif EXT_ID#]

[#if !CHILDREN#]
[#if (TYPE=="") || (ID=="")#]
<div class="form-group">
        <label class="control-label"><#LANG_EXT_ID#>:<#LANG_HCB#>menu_ext_id<#LANG_HCE#></label>
        <div class="col-lg-5">

                <select name="ext_id" class="form-control">
                <option value="0">
                [#begin PARENTS#]
                <option value="[#ID#]"[#if ID="<#EXT_ID#>"#] selected[#endif#]>[#TITLE#]
                [#end PARENTS#]
                </select>
                [#if EXT_ID!="0" && EXT_ID!=""#]<a href="?view_mode=edit_commands&id=[#EXT_ID#]">...</a>[#endif#]
        </div>
</div>
[#endif TYPE#]


<div class="form-group">
  <label class="control-label"><#LANG_VISIBLE_DELAY#>:<#LANG_HCB#>menu_visible_delay<#LANG_HCE#></label>
   <div class="col-lg-2">
     <div class="form-inline">
      <div class="form-group col-lg-6">
       <input type="text" name="visible_delay" value="[#VISIBLE_DELAY#]" size="10" class="form-control"> 
      </div>
      <div class="form-group col-lg-6">
       <p class="form-control-static">
        &nbsp;(<#LANG_SECONDS#>)
        </p>
      </div>
     </div>
    </div>
</div>

[#endif CHILDREN#]

[#if CHILDREN#]
<div class="form-group">
        <label class="control-label"> <#LANG_SUB_PRELOAD#>:<#LANG_HCB#>menu_preload<#LANG_HCE#></label>
        <div class="col-lg-5">
                <label><input type="radio" name="sub_preload" value="1"[#if SUB_PRELOAD="1"#] checked[#endif#]> <#LANG_YES#></label>
                <label><input type="radio" name="sub_preload" value="0"[#if SUB_PRELOAD!="1"#] checked[#endif#]> <#LANG_NO#></label>
        </div>
</div>
[#endif CHILDREN#]


[#if ID!=""#]
<div class="form-group">
        <label class="control-label"><#LANG_ACCESS_CONTROL#>:<#LANG_HCB#>access_control<#LANG_HCE#></label>
        <div class="col-lg-5">
                <a href="?(panel:{action=security_rules})&object_type=menu&object_id=[#ID#]&print=1" onClick="return openModalTWindow('security', '<#LANG_ACCESS_CONTROL#>', this.href, 800, 600);" target=_blank><#LANG_SET#></a>
        </div>
</div>
[#endif ID#]



<!--#
<tr>
 <td valign="top">&nbsp;</td>
 <td valign="top">
  <label><input type="checkbox" name="autostart" value="1"[#if AUTOSTART="1"#] checked[#endif#]> AUTOSTART</label>
 </td>
</tr>
#-->

<div class="form-actions">
[#if ID!=""#]
<button type="submit" class="btn btn-default btn-primary" name="subm"><#LANG_SUBMIT#></button>
[#else ID#]
<button type="submit" class="btn btn-default btn-primary" name="subm"><#LANG_ADD#></button>
[#endif ID#]

<a class="btn btn-default" href="?"><#LANG_CANCEL#></a>

 [#if ID!=""#]
 <a class="btn btn-default" href="?id=<#ID#>&view_mode=clone_commands" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_MAKE_COPY#></a>
 <a class="btn btn-default" href="?view_mode=delete_commands&id=<#ID#>" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
 [#endif ID#]

<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
</div>
</form>


[#if ID!=""#]
<hr>


<div class="row">
<div class="col-md-5">
   <#LANG_ON_THE_SAME_LEVEL#>:
   <ul>
   [#begin SAME_LEVEL#]
    <li>
    [#if ID!="<#ID#>"#]
    [#TITLE#] ([#if TYPE!=""#][#TYPE#],[#endif#] [#PRIORITY#])<span class="divider">/</span><a href="?view_mode=edit_commands&id=[#ID#]"><#LANG_EDIT#></a>
    [#else#]
    <b>[#TITLE#] ([#if TYPE!=""#][#TYPE#],[#endif#] [#PRIORITY#])</b>
    [#endif#]
    </li>
   [#end SAME_LEVEL#]
   </ul>
   <a href="?view_mode=edit_commands&parent_id=<#PARENT_ID#>&id="><button class="btn btn-default btn-mini"><i class="icon-plus-sign icon-white"></i> <#LANG_ADD#></button></a>
</div>
<div class="col-md-5">
   <b><#LANG_CHILD_ITEMS#>:</b>
   [#if CHILDREN#]
   <ul>
   [#begin CHILDREN#]
    <li>
    [#TITLE#] ([#if TYPE!=""#][#TYPE#],[#endif#] [#PRIORITY#])<span class="divider">/</span><a href="?view_mode=edit_commands&id=[#ID#]"><#LANG_EDIT#></a>
    </li>
   [#end CHILDREN#]
   </ul>
   [#else CHILDREN#]
   <p>n/a</p>
   [#endif CHILDREN#]
   <a href="?view_mode=edit_commands&parent_id=<#ID#>&id="><button class="btn btn-default btn-mini"><i class="icon-plus-sign icon-white"></i> <#LANG_ADD#></button></a>
</div>
</div>

<!--#
&nbsp;<br>
HTML code for templates:<br>
<b>[<span></span>#module name="commands" id="[#ID#]" action=""#<span></span>]</b>
#-->



[#endif#]
