AddDefaultCharset UTF-8
DirectoryIndex index.html index.htm index.php default.html

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access 7 days"
ExpiresByType application/javascript "access plus 1 year"
ExpiresByType text/javascript "access plus 1 year"
ExpiresByType text/css "access plus 1 year"
ExpiresByType text/x-javascript "access 1 year"
ExpiresByType image/x-icon "access 1 year"
ExpiresByType application/x-shockwave-flash "access 1 year"
</IfModule>

# Cache-Control
<ifModule mod_headers.c>
# 30
<filesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
# 30
<filesMatch "\.(css|js)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
</ifModule>

<IfModule mod_setenvif.c>
BrowserMatch "MSIE" force-no-vary
BrowserMatch "Mozilla/4.[0-9]{2}" force-no-vary
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

ReWriteCond %{REQUEST_URI} pda$
RewriteRule .* /popup/pda.html [R,L]

ReWriteCond %{REQUEST_URI} ^api/
RewriteRule .* /api.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ReWriteCond %{REQUEST_URI} \.html$
ReWriteCond %{REQUEST_URI} !index\.html$
ReWriteCond %{REQUEST_URI} !fckeditor
ReWriteCond %{REQUEST_URI} !banner\.html$
ReWriteCond %{REQUEST_URI} !flashcoms
ReWriteCond %{REQUEST_URI} !google
RewriteRule .* /nf.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ReWriteCond %{REQUEST_URI} \.xml$
ReWriteCond %{REQUEST_URI} !fck
ReWriteCond %{REQUEST_URI} !flashcoms
RewriteRule .* /nf.php

</IfModule>

<FILES config.php>
deny from all
</FILES>

<FILES debmes.txt>
deny from all
</FILES>