AddDefaultCharset UTF-8
DirectoryIndex index.html index.htm index.php default.html

Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

ReWriteCond %{REQUEST_URI} pda$
RewriteRule .* /popup/pda.html [R,L]

ReWriteCond %{REQUEST_URI} ^/api/
RewriteRule .* /api.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ReWriteCond %{REQUEST_URI} \.html$
RewriteRule .* /nf.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ReWriteCond %{REQUEST_URI} /module/app_mediabrowser\..*$
RewriteRule .* /nf.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ReWriteCond %{REQUEST_URI} \.xml$
RewriteRule .* /nf.php

</IfModule>

<FILES config.php>
deny from all
</FILES>

<FILES debmes.txt>
deny from all
</FILES>

<FilesMatch ".(htaccess|htpasswd|ini|phps|fla|sql|log|sh|py)$">
 Order Allow,Deny
 Deny from all
 </FilesMatch>
 
<IfModule mod_expires.c>
  <FilesMatch \.(gif|png|jpg|jpeg|ogg|mp4|mkv|flv|swf|wmv|asf|asx|wma|wax|wmx|wm)$>
    ExpiresDefault "access plus 7 day"
  </FilesMatch>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 7 day"
  ExpiresByType image/gif "access plus 7 day"
  ExpiresByType image/png "access plus 7 day"
</IfModule>
