.color-white { color: white; }
.float-right { float: right; }
form#filterModules {
	margin: 0 0 15px 0;
}
table#content td {
	vertical-align: top;
}
table#content {
	width: 100%;
}
.sidebar-left {
	width: 180px;
}
.nav .nav-header {
	color: #6A6969;
	font-size: 15px;
	line-height: 22px;
	padding: 6px 1px;
}