<?php
/**
 * Project Config
 *
 * @package MajorDoMo
 * @author Serge Dzheigalo <jey@tut.by> http://smartliving.ru/
 * @version 1.1
 */

define('DB_HOST', 'localhost');
define('DB_NAME', 'db_terminal');
define('DB_USER', 'root');
define('DB_PASSWORD', '');

define('DIR_TEMPLATES', './templates/');
define('DIR_MODULES', './modules/');
define('DEBUG_MODE', 1);
define('UPDATES_REPOSITORY_NAME', 'smarthome');

define('PROJECT_TITLE', 'MajordomoSL');
define('PROJECT_BUGTRACK', 'bugtrack@smartliving.ru');

date_default_timezone_set('UTC');

if (isset($_ENV['COMPUTERNAME']) && $_ENV['COMPUTERNAME']) {
    define('COMPUTER_NAME', strtolower($_ENV['COMPUTERNAME']));
} else {
    // Your computer name (optional)
    define('COMPUTER_NAME', 'mycomp');
}

define('DOC_ROOT', dirname(__FILE__));              // Your htdocs location (should be detected automatically)

define('SERVER_ROOT', '/var/www');
define('PATH_TO_PHP', 'php');
define('PATH_TO_MYSQLDUMP', 'mysqldump');


if (isset($_ENV['S2G_BASE_URL']) && $_ENV['S2G_BASE_URL']) {
    define('BASE_URL', $_ENV['S2G_BASE_URL']);
} else {
    // Your base URL:port (!!!)
    define('BASE_URL', 'http://127.0.0.1:80');
}

define('ROOT', DOC_ROOT . '/');
define('ROOTHTML', '/');
define('PROJECT_DOMAIN', $_SERVER['SERVER_NAME']);

// 1-wire OWFS server
//define('ONEWIRE_SERVER', 'tcp://localhost:8234');

/*
   define('HOME_NETWORK', '192.168.0.*');                  // home network (optional)
   define('EXT_ACCESS_USERNAME', 'user');                  // access details for external network (internet)
   define('EXT_ACCESS_PASSWORD', 'password');
*/

/// (Optional)
//define('DROPBOX_SHOPPING_LIST', 'c:/data/dropbox/list.txt');

$restart_threads = array(
    'cycle_execs.php',
    'cycle_main.php',
    'cycle_ping.php',
    'cycle_scheduler.php',
    'cycle_states.php',
    'cycle_webvars.php');
