<?php
/**
* Project Config
*
* @package MajorDoMo
* @author Serge Dzheigalo <jey@tut.by> http://smartliving.ru/
* @version 1.1
*/

define('ENVIRONMENT', 'dev');

switch (ENVIRONMENT) 
{
   case 'dev':
      error_reporting(-1);
      ini_set('display_errors', 1);
      break;

   case 'prod':
      error_reporting(E_ALL ^ E_NOTICE ^ E_DEPRECATED ^ E_STRICT);
      ini_set('display_errors', 0);
      break;

   default:
      header('HTTP/1.1 503 Service Unavailable.', TRUE, 503);
      exit('The application env is incorrect');
}

Define('DB_HOST', 'localhost');
Define('DB_NAME', 'db_terminal');
Define('DB_USER', 'root');
Define('DB_PASSWORD', '');

Define('DIR_TEMPLATES', "./templates/");
Define('DIR_MODULES', "./modules/");
Define('DEBUG_MODE', 1);
Define('UPDATES_REPOSITORY_NAME', 'smarthome');

Define('PROJECT_TITLE', 'MajordomoSL');
Define('PROJECT_BUGTRACK', "bugtrack@smartliving.ru");

date_default_timezone_set('UTC');

if (isset($_ENV["COMPUTERNAME"]) && $_ENV["COMPUTERNAME"])
{
   Define('COMPUTER_NAME', strtolower($_ENV["COMPUTERNAME"])); 
} 
else 
{
   // Your computer name (optional)
   Define('COMPUTER_NAME', 'mycomp');                       
}

 Define('DOC_ROOT', dirname(__FILE__));              // Your htdocs location (should be detected automatically)

 Define('SERVER_ROOT', 'c:/_majordomo');
 Define('PATH_TO_PHP', SERVER_ROOT.'/server/php/php.exe');
 Define('PATH_TO_MYSQLDUMP', SERVER_ROOT."/server/mysql/bin/mysqldump");

 
if (isset($_ENV["S2G_BASE_URL"]) && $_ENV["S2G_BASE_URL"])
{
   Define('BASE_URL', $_ENV["S2G_BASE_URL"]);
}
else 
{
   // Your base URL:port (!!!)
   Define('BASE_URL', 'http://127.0.0.1:80');              
}

Define('ROOT', DOC_ROOT."/");
Define('ROOTHTML', "/");
Define('PROJECT_DOMAIN', $_SERVER['SERVER_NAME']);

// 1-wire OWFS server
//Define('ONEWIRE_SERVER', 'tcp://localhost:8234');    

/*
   Define('HOME_NETWORK', '192.168.0.*');                  // home network (optional)
   Define('EXT_ACCESS_USERNAME', 'user');                  // access details for external network (internet)
   Define('EXT_ACCESS_PASSWORD', 'password');
*/

/// (Optional)
//Define('DROPBOX_SHOPPING_LIST', 'c:/data/dropbox/list.txt');  

 $restart_threads=array(
                       'cycle_execs.php', 
                       'cycle_main.php', 
                       'cycle_ping.php', 
                       'cycle_scheduler.php', 
                       'cycle_states.php', 
                       'cycle_webvars.php');


?>