<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]

<script language="javascript">

    $(function () {
        $("a.show-hide-link").click(function () {
            var id = $(this).data('id');//'#sub' +
            //$(id).toggle();
            if ($('.sublist' + id).is(":visible")) {
                $('.sublist' + id).hide();
                $('#link' + id).html('+');
                $.cookie("classes_item" + id, null);
            } else {
                $.cookie("classes_item" + id, "1");
                $('.sublist' + id).show();
                $('#link' + id).html('-');
            }
            return false;
        });
    });


</script>


<!-- search results (list) -->
<form action="?" method="post" name="frmList_classes" style="padding:0px">
<table  class="table">
[#begin RESULT#]
<tr >
 <td
    valign="top">
   <a href="#" id="link[#ID#]" class="show-hide-link btn btn-default btn-sm expand" data-id="[#ID#]">+</a>
   <b>[#TITLE#]</b>
   [#if DESCRIPTION!=""#]<i>[#DESCRIPTION#]</i>[#endif DESCRIPTION#]
 </td>
 <td valign="top" align="right">


    <a href="?view_mode=edit_classes&id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=edit_classes&id=[#ID#]&tab=properties" class="btn btn-default btn-sm" title="<#LANG_PROPERTIES#>"><i class="glyphicon glyphicon-th"></i></a>
    <a href="?view_mode=edit_classes&id=[#ID#]&tab=methods" class="btn btn-default btn-sm" title="<#LANG_METHODS#>"><i class="glyphicon glyphicon-th-list"></i></a>
    <a href="?view_mode=edit_classes&id=[#ID#]&tab=objects" class="btn btn-default btn-sm" title="<#LANG_OBJECTS#>"><i class="glyphicon glyphicon-th-large"></i></a>
    <a href="?view_mode=edit_classes&parent_id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EXPAND#>"><i class=""></i><#LANG_EXPAND#></a>
    

  [#if CAN_DELETE="1"#]
    <a href="?view_mode=delete_classes&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif CAN_DELETE#]

  </td>
</tr>

[#if OBJECTS#]
<tr class="sublist[#ID#]" style="display:none">
 <td valign="top" colspan="2">  
  <div>
   <table border=0>
         [#begin OBJECTS#]
         <tr>
                 <td><a href="?(panel:{action=classes}classes:{view_mode=edit_classes,instance=adm,tab=objects,id=<#RESULT.ID#>})&md=objects&view_mode=edit_objects&id=[#ID#]">[#TITLE#]</a>
                     [#if DESCRIPTION!=""#] [#DESCRIPTION#][#endif#]
                     [#if KEY_DATA!=""#]<i>[#KEY_DATA#]</i>[#endif#]
                 </td>
                 <td>&nbsp;</td>
        </tr>
        [#if METHODS#]
         <tr>
                 <td>&nbsp;</td>
                 <td>
                        <small>
                        
                        [#begin METHODS#]
                         <li><a href="?(panel:{action=classes}classes:{view_mode=edit_classes,instance=adm,tab=objects,id=<#RESULT.ID#>})&md=objects&view_mode=edit_objects&id=<#OBJECTS.ID#>&tab=methods&overwrite=1&method_id=[#ID#]">[#TITLE#]</a></li>
                        [#end METHODS#]
                
                        </td>
        </tr>
        [#endif METHODS#]
         [#end OBJECTS#]
  </table>
  </div>
 </td>
</tr>
  [#endif OBJECTS#]
[#if RESULT#]
 <tr class="sublist[#ID#]" style="display:none">
 <td style="padding-left:40px" colspan=2>
  <table  class="table">
   [#tree RESULT#]
  </table>
 </td></tr>
[#endif RESULT#]
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_classes">
</form>
<!-- / search results (list) -->

<script language="javascript">
[#begin RESULT#]
 if ($.cookie("classes_item[#ID#]")) {
  $('.sublist[#ID#]').show();
  $('#link[#ID#]').html('-');
 }
 [#if RESULT#]
 [#tree RESULT#]
 [#endif RESULT#]
[#end RESULT#]
</script>


[#else RESULT#]
<p align=center>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>

&nbsp;
<a href="#" onClick="$('#tools').toggle();return false;" class="btn btn-default"><#LANG_TOOLS#></a>
<br>&nbsp;
<div id='tools' style="display:none">
    <form action="?" enctype="multipart/form-data" method="post">
        <table border="0">
            <tr>
                <td valign="top">
                    <#LANG_IMPORT_CLASS_FROM_FILE#>:
                </td>
                <td valign="top"><input type="file" name="file" enctype="multipart/form-data"></td>
            </tr>
            <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top"><label><input type="checkbox" name="overwrite" value="1">
                    <#LANG_OVERWRITE#>
                </label></td>
            </tr>
            <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top"><label><input type="checkbox" name="only_classes" value="1">
                    <#LANG_ONLY_CLASSES#>
                </label></td>
            </tr>
            <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top"><input type="submit" name="submit" value="<#LANG_IMPORT#>" class="btn btn-default">
                </td>
            </tr>
        </table>
        <input type="hidden" name="view_mode" value="import_classes">
    </form>
</div>