<form action="?" method="get" name="frmFilter">
<table border="0">
 <tr>
  <td>
  <select name="class_id" onChange="document.frmFilter.submit();">
   <option value="0"><#LANG_FILTER_BY_CLASS#> (<#LANG_ALL#>)
   [#begin CLASSES#]
   <option value="[#ID#]"[#if ID="<#CLASS_ID#>"#] selected[#endif#]>[#TITLE#]
   [#end CLASSES#]
  </select>
  </td>
  <td>
  <select name="location_id" onChange="document.frmFilter.submit();">
   <option value="0"><#LANG_FILTER_BY_LOCATION#> (<#LANG_ALL#>)
   [#begin LOCATIONS#]
   <option value="[#ID#]"[#if ID="<#LOCATION_ID#>"#] selected[#endif#]>[#TITLE#]
   [#end LOCATIONS#]
  </select>
  </td>
 </tr>
</table>
<input type="hidden" name="mode" value="filter">
</form>

&nbsp;
<table class="table table-bordered">
 <tr>
  <td valign="top"><b><#LANG_OBJECT#></b></td>
  <td valign="top"><b><#LANG_LOCATION#></b></td>
  <td valign="top"><b><#LANG_DESCRIPTION#></b></td>
  <td valign="top">&nbsp;</td>
 </tr>
 [#begin OBJECTS#]
 <tr>
  <td valign="top"><b><a href="?(panel:{action=classes}classes:{view_mode=edit_classes,instance=adm,tab=objects,id=<#OBJECTS.CLASS_ID#>})&md=objects&view_mode=edit_objects&id=[#ID#]">[#TITLE#]</a></b></td>
  <td valign="top">[#LOCATION#]&nbsp;</td>
  <td valign="top">
   [#if DESCRIPTION!=""#]<div>[#DESCRIPTION#]</div>[#endif DESCRIPTION#]
   [#if KEY_DATA!=""#]<div><i>[#KEY_DATA#]</i></div>[#endif#]
  </td>
  <td valign="top">
    <a href="?(panel:{action=classes}classes:{view_mode=edit_classes,instance=adm,tab=objects,id=<#OBJECTS.CLASS_ID#>})&md=objects&view_mode=edit_objects&id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?(panel:{action=classes}classes:{view_mode=edit_classes,instance=adm,tab=objects,id=<#OBJECTS.CLASS_ID#>})&md=objects&view_mode=edit_objects&id=[#ID#]&tab=properties" class="btn btn-default btn-sm" title="<#LANG_PROPERTIES#>"><i class="glyphicon glyphicon-th"></i></a>
    <a href="?(panel:{action=classes}classes:{view_mode=edit_classes,instance=adm,tab=objects,id=<#OBJECTS.CLASS_ID#>})&md=objects&view_mode=edit_objects&id=[#ID#]&tab=methods" class="btn btn-default btn-sm" title="<#LANG_METHODS#>"><i class="glyphicon glyphicon-th-list"></i></a>

  </td>
 </tr>
 [#end OBJECTS#]
</table>