<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>
<span class="divider">/</span>
<li class="active">
[#if ID=""#]
<#LANG_NEW_RECORD#>
[#else#]
<#LANG_EDIT_RECORD#>
[#endif#]
</li>
</ul>

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit"  class="form-horizontal">
[#if OK#]
   <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_TITLE#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_TITLE#]alert-danger[#endif#]"  name="title" value="[#TITLE#]" required="true"></div>
</div>




<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_HOSTNAME#>:<font color="red">*</font></label>
        <div class="col-lg-5">
                        <input type="text"  class="form-control [#if ERR_HOST#]alert-danger[#endif#]"  name="host" value="[#HOST#]" required="true">
                        <select name="protocol" class="form-control" class="span2">
                   <option value="TCP"[#if PROTOCOL="TCP"#] selected[#endif#]>TCP
                   <option value="UDP"[#if PROTOCOL="UDP"#] selected[#endif#]>UDP
                  </select>
                </div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PORT#>:</label>
        <div class="col-lg-5">
                        <input type="text"  class="form-control [#if ERR_HOST#]alert-danger[#endif#]"  name="port" value="[#PORT#]">
                         0 - <#LANG_USE_DEFAULT#> (502)
                </div>
</div>



<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_DEVICE_ID#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_DEVICE_ID#]alert-danger[#endif#]"  name="device_id" value="[#DEVICE_ID#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_REQUEST_TYPE#>:<font color="red">*</font></label>
        <div class="col-lg-5">
                <select name="request_type"  class="form-control [#if ERR_REQUEST_TYPE#]alert-danger[#endif#]">
                                <option value="">select
                                [#begin REQUEST_TYPE_OPTIONS#]<option value="[#VALUE#]"[#if SELECTED#] selected[#endif#]>[#TITLE#]
                                [#end REQUEST_TYPE_OPTIONS#]
                 </select>
                </div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_REQUEST_START#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_REQUEST_START#]alert-danger[#endif#]"  name="request_start" value="[#REQUEST_START#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_REQUEST_TOTAL#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_REQUEST_TOTAL#]alert-danger[#endif#]"  name="request_total" value="[#REQUEST_TOTAL#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_RESPONSE_CONVERT#>:<font color="red">*</font></label>
        <div class="col-lg-5">
                <select name="response_convert"  class="form-control [#if ERR_RESPONSE_CONVERT#]alert-danger[#endif#]">
                                <option value="">select
  [#begin RESPONSE_CONVERT_OPTIONS#]<option value="[#VALUE#]"[#if SELECTED#] selected[#endif#]>[#TITLE#]
  [#end RESPONSE_CONVERT_OPTIONS#]
 </select>
                </div>
</div>
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_CHECK_EVERY#> (sec):<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_POLLPERIOD#]alert-danger[#endif#]"  name="pollperiod" value="[#POLLPERIOD#]" required="true"></div>
</div>


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_DATA#> </label>
        <div class="col-lg-5"><input type="text"  class="form-control"  name="data" value="[#DATA#]"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_LINKED_OBJECT#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_LINKED_OBJECT#]alert-danger[#endif#]"  name="linked_object" id="linked_object" value="[#LINKED_OBJECT#]" required="true"></div>
</div>


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_LINKED_PROPERTY#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_LINKED_PROPERTY#]alert-danger[#endif#]"  name="linked_property" id="linked_property" value="[#LINKED_PROPERTY#]" required="true"></div>
</div>

[#module name="linkedobject" object_field="linked_object" property_field="linked_property" method_field="onchange_method"#]


[#if ID!=""#]
<!-- DATA (text) -->
<!--#
<tr>
 <td valign=top align=right>
 [#if ERR_DATA#]<b><font color="red">[#endif#]
 DATA
 :
 </td>
 <td valign=top>
 <textarea name="data" rows=12 cols=100>[#DATA#]</textarea>
 </td>
</tr>
#-->


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_LAST_CHECKED#>:<font color="red">*</font></label>
        <div class="col-lg-5"> [#CHECK_LATEST#]</div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_CHECK_NEXT#>:<font color="red">*</font></label>
        <div class="col-lg-5"> [#CHECK_NEXT#]</div>
</div>


[#endif ID#]




<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle">&nbsp;:</label>
        <div class="col-lg-5">
                        
                         [#if ID!=""#]
                         <input type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-default btn-primary">
                         [#else ID#]
                         <input type="submit" name="subm" value="<#LANG_ADD#>" class="btn btn-default btn-primary">
                         [#endif ID#]
                         &nbsp;
                         <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
                
                </div>
</div>



 
 
 
 
 
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">


[#if ID!=""#]
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"> <#LANG_LOG#>:</label>
        <div class="col-lg-5">
                        

 
 [#LOG#]
 </div>
</div>
[#endif ID#]
</form>
