
<!-- Table 'layouts' edit -->
<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>
<span class="divider">/</span>
<li class="active">
[#if ID=""#]
<#LANG_NEW_RECORD#>
[#else#]
<#LANG_EDIT_RECORD#>
[#endif#]
</li>
</ul>



<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]

<div class="alert alert-success">
<#LANG_DATA_SAVED#>
</div>

[#endif OK#]
[#if ERR#]

<div class="alert alert-error">
<#LANG_FILLOUT_REQURED#>
</div>

[#endif ERR#]
[#if ID=""#]

<#LANG_NEW_RECORD#>

[#endif ID#]
<!-- TITLE (varchar) -->

<div class="form-group">
        <label class="control-label"><#LANG_TITLE#>(*)</label>
        <div class="controls">
                <input class="form-control" type="text" name="title" value="[#TITLE#]" required>
        </div>
</div>

<!-- PRIORITY (int) -->

<div class="form-group">
        <label class="control-label"><#LANG_PRIORITY#></label>
        <div class="controls">
                <input class="form-control" type="text" name="priority" value="[#PRIORITY#]">
        </div>
</div>

        <div class="form-group">
                <div class="controls">
                        <input type="checkbox" name="hidden" value="1"[#if HIDDEN="1"#] checked[#endif#]>
                        <#LANG_HIDE#> <#LANG_HCB#>layout_hidden<#LANG_HCE#>
                </div>
        </div>

<!-- TYPE (select) -->

<div class="form-group">
        <label class="control-label"><#LANG_AUTO_UPDATE_PERIOD#></label>
        <div class="controls">
                <input class="form-control" type="text" name="refresh" value="[#REFRESH#]">
        </div>
</div>

<div class="form-group">
        <label class="control-label"><#LANG_ICON#></label>
        <div class="controls">
                <input type="file" name="icon">
        <p class="help-block">
                [#if ICON!=""#]
                <label class="checkbox">
                <input class="form-control" type="checkbox" name="delete_icon" value="1"><#LANG_DELETE#>
                </label>
                <img src="<#ROOTHTML#>cms/layouts/[#ICON#]" border="0">
                [#ICON#]<br>
                [#endif#]
        </p>
        </div>
</div>


<div class="form-group">
        <label class="control-label"><#LANG_TYPE#></label>
        <div class="controls">
                <select class="form-control" name="type">
                <option value="">select
                [#begin TYPE_OPTIONS#]<option value="[#VALUE#]"[#if SELECTED#] selected[#endif#]>[#TITLE#]
                [#end TYPE_OPTIONS#]
                </select>
        </div>
</div>

<!-- CODE (text) -->
[#if TYPE="html"#]
<div class="form-group">
        <label class="control-label"><#LANG_CODE#></label>
        <div class="controls">
                <textarea class="form-control" name="code" id="code" rows=12 cols=100>[#CODE#]</textarea>
                [#module name="blockly_code" code_field="code" action="" type="html"#]
        </div>
</div>

[#endif TYPE#]
[#if TYPE="app"#]
<!-- APP (varchar) -->
<div class="form-group">
        <label class="control-label"><#LANG_APP#></label>
        <div class="controls">
                <input type="text" class="form-control" name="appname" value="[#APP#]">
        </div>
</div>

[#endif TYPE#]
[#if TYPE="url"#]
<div class="form-group">
        <label class="control-label"><#LANG_URL#></label>
        <div class="controls">
                <input type="text" class="form-control" name="url" value="[#URL#]">
        </div>
</div>
[#endif TYPE#]

[#if TYPE=="html" || TYPE="dashboard"#]
        <div class="form-group">
                <label class="control-label"><#LANG_THEME#></label>
                <div class="controls">
                        <select name="theme" class="form-control">
                                <option value=""><#LANG_DEFAULT#></option>
                                <option value="dark"[#if THEME="dark"#] selected[#endif#]><#LANG_THEME_DARK#></option>
                                <option value="light"[#if THEME="light"#] selected[#endif#]><#LANG_THEME_LIGHT#></option>
                        </select>
                </div>
        </div>
        <div class="form-group">
                <label class="control-label"><#LANG_BACKGROUND#></label>
                <div class="controls">
                        <input type="text" class="form-control" name="background_image" value="[#BACKGROUND_IMAGE#]" id="background_image" onclick="openFileBrowser('background_image');">

                </div>
        </div>
[#endif#]

[#if ID!=""#]
<div class="form-group">
        <label class="control-label"><#LANG_ACCESS_CONTROL#>:</label>
        <div class="controls">
                <a  onClick="return openModalTWindow('security', '<#LANG_ACCESS_CONTROL#>', this.href, 800, 600);"
                        href="?(panel:{action=security_rules})&object_type=layout&object_id=[#ID#]&print=1" target=_blank><#LANG_SET#></a>
        </div>
</div>
[#endif ID#]

[#if ID!=""#]
<div class="form-group">
        <label class="control-label"><#LANG_URL#> (preview):</label>
        <div class="controls">

[#if TYPE="html" || TYPE="dashboard"#]
<a href="<#ROOTHTML#>page/[#ID#].html" target=_blank>/page/[#ID#].html</a>
[#endif TYPE#]

[#if TYPE="url"#]
<a href="[#URL#]" target=_blank>[#URL#]</a>
[#endif TYPE#]

[#if TYPE="app"#]
<a href="<#ROOTHTML#>popup/[#APP#].html" target=_blank>/popup/[#APP#].html</a>
[#endif TYPE#]
        
        </div>
</div>

<div class="form-group">
<div class="col-lg-offset-2 col-lg-5">
<button class="btn btn-default btn-primary" type="submit" name="subm"> <#LANG_SUBMIT#></button>
[#else ID#]
<div class="form-group">
<div class="col-lg-offset-2 col-lg-5">
<button class="btn btn-default btn-primary" type="submit" name="subm"> <#LANG_ADD#></button>
[#endif ID#]

<a class="btn btn-default " href="?"><#LANG_CANCEL#></a>
</div></div>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
</form>