<!--#
 @version 0.2 (auto-set)
#-->

<a class="btn btn-success" href="?view_mode=edit_layouts"><i class="icon-white icon-plus-sign"></i> <#LANG_NEW_PAGE#></a>

<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_layouts">
<table class="table-bordered table table-striped">
<tr>
 <th>
 <a href="?sortby=TITLE&save_qry=1"><#LANG_TITLE#></a>
 [#if SORTBY="TITLE"#](+)[#endif#]
 [#if SORTBY="TITLE DESC"#](-)[#endif#]
 </th>
 <th>
 <#LANG_PRIORITY#>
 </th>
 <th>
 <#LANG_TYPE#>
 </th>
<th>&nbsp;</th>
</tr>
[#begin RESULT#]
<tr >
 <td
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
   [#TITLE#]<span class="divider">/</span>[#if TYPE="html"#]<a href="/page/[#ID#].html" target=_blank><#LANG_PREVIEW#></a>[#endif TYPE#][#if TYPE="url"#]<a href="[#URL#]" target=_blank><#LANG_PREVIEW#></a>[#endif TYPE#][#if TYPE="app"#]<a href="/popup/[#APP#].html" target=_blank><#LANG_PREVIEW#></a>[#endif TYPE#]
</td>
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if PRIORITY!=""#]
   [#PRIORITY#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if TYPE!=""#]
   [#TYPE#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if "<#ACTION#>"=="admin"#]
<a href="?view_mode=edit_layouts&id=[#ID#]"><#LANG_EDIT#></a><span class="divider">/</span><a href="?view_mode=delete_layouts&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
   </td>
  [#endif ACTION#]
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_layouts">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<div class="alert alert-error">
<#LANG_NO_RECORDS_FOUND#>
</div>
[#endif RESULT#]
<!-- / results -->
