<!--#
 @version 0.2 (auto-set)
#-->

<a href="?view_mode=edit_layouts" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_NEW_PAGE#></a>
<br><br>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_layouts">
<table class="table table-striped">
<tr>
 <th>
 <a href="?sortby=TITLE&save_qry=1"><#LANG_TITLE#></a>
 [#if SORTBY="TITLE"#](+)[#endif#]
 [#if SORTBY="TITLE DESC"#](-)[#endif#]
 </th>
 <th>
 <#LANG_PRIORITY#>
 </th>
 <th>
 <#LANG_TYPE#>
 </th>
<th>&nbsp;</th>
</tr>
[#begin RESULT#]
<tr >
 <td
   >
   [#if ICON!=""#]<img src="<#ROOTHTML#>cms/layouts/[#ICON#]" class="action-list-icon" align="absmiddle">[#endif#]
   [#TITLE#]<span class="divider">/</span>[#if TYPE="html" || TYPE="dashboard"#]<a href="<#ROOTHTML#>page/[#ID#].html" target=_blank><#LANG_PREVIEW#></a>[#endif TYPE#][#if TYPE="url"#]<a href="[#URL#]" target=_blank><#LANG_PREVIEW#></a>[#endif TYPE#][#if TYPE="app"#]<a href="<#ROOTHTML#>popup/[#APP#].html" target=_blank><#LANG_PREVIEW#></a>[#endif TYPE#]
</td>
 <td
 
   >
  [#if PRIORITY!=""#]
   [#PRIORITY#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td

   >
  [#if TYPE!=""#]
   [#TYPE#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td  width="210">
  [#if "<#ACTION#>"=="admin"#]
<a href="?view_mode=moveup&id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-up"></i></a>
<a href="?view_mode=movedown&id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-down"></i></a>
<a href="?view_mode=edit_layouts&id=[#ID#]" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
<a href="?view_mode=delete_layouts&id=[#ID#]" class="btn btn-default" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-remove"></i></a>
   </td>
  [#endif ACTION#]
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_layouts">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<div class="alert alert-error">
<#LANG_NO_RECORDS_FOUND#>
</div>
[#endif RESULT#]
<!-- / results -->
