/* SWITCH */
.type_switch {
        margin-right: -2px;
        margin-bottom: 1px;
        color:black;
        border:1px solid #FFF;
/*      border-radius:3px; */
        text-align: center;
        background-color:rgba(255,255,255,0.7);
        padding:2px;
        width:67px;
        height:67px;
}
.type_switch span {
 display: table-cell;
 width:67px;
 height:67px;
 vertical-align: middle;
}

/* SWITCH ON */
.type_switch.state_on {
 background-color:rgba(249,229,91,0.9);
 border:1px solid #FF0;
}

[#begin STYLES#]
[#if HAS_DEFAULT!=""#]
.type_switch.style_[#TITLE#] span:before {
 content: url(<#ROOTHTML#>cms/scenes/styles/switch/[#HAS_DEFAULT#]);
}
[#endif#]
[#if HAS_ON!=""#]
.type_switch.state_on.style_[#TITLE#] span:before {
 content: url(<#ROOTHTML#>cms/scenes/styles/switch/[#HAS_ON#]);
}
[#endif#]
[#if HAS_OFF!=""#]
.type_switch.state_off.style_[#TITLE#] span:before {
 content: url(<#ROOTHTML#>cms/scenes/styles/switch/[#HAS_OFF#]);
}
[#endif#]
[#end STYLES#]