<!--#
 @version 0.3 (auto-set)
#-->

[#if SET_DATASOURCE!="1"#]
&nbsp;
<!-- source select -->



<ul class="nav nav-tabs">
 <li [#if DATA_SOURCE!="rss_channels" && DATA_SOURCE!=""#][#else#]class="active"[#endif#]><a href="?data_source=rss_channels"><#LANG_RSS_CHANNELS#></a></li>
 <li [#if DATA_SOURCE!="rss_items"#][#else#]class="active"[#endif#]><a href="?data_source=rss_items"><#LANG_RSS_NEWS#></a></li>
</ul>


<!-- / source select -->
[#endif SET_DATASOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="rss_channels" || DATA_SOURCE=""#]
 <!-- table rss_channels search -->
 [#if VIEW_MODE="search_rss_channels" || VIEW_MODE=""#]
  [#inc rss_channels_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table rss_channels search -->
 <!-- table rss_channels edit -->
 [#if VIEW_MODE="edit_rss_channels"#]

   [#if TAB=""#]
    [#inc rss_channels_edit_default.html#]
   [#endif TAB#]
   [#if TAB="items"#]
    [#inc rss_channels_edit_items.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table rss_channels edit -->
 <!-- table rss_channels view --> 
 [#if VIEW_MODE="view_rss_channels"#]
   [#if TAB=""#]
    [#inc rss_channels_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table rss_channels view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="rss_items"#]
 <!-- table rss_items search -->
 [#if VIEW_MODE="search_rss_items" || VIEW_MODE=""#]
  [#inc rss_items_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table rss_items search -->
 <!-- table rss_items edit -->
 [#if VIEW_MODE="edit_rss_items"#]
   [#inc rss_items_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table rss_items edit -->
 <!-- table rss_items view --> 
 [#if VIEW_MODE="view_rss_items"#]
   [#inc rss_items_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table rss_items view -->
 [#endif DATA_SOURCE#]
