<!--#
 @version 0.3 (auto-set)
#-->

<!-- Table 'rss_channels' edit -->
<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>
<span class="divider">/</span>
<li class="active">
[#if ID=""#]
<#LANG_NEW_RECORD#>
[#else#]
<#LANG_EDIT_RECORD#>
[#endif#]
</li>
</ul>


<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_TITLE#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_TITLE#]alert-danger[#endif#]"  name="title" value="[#TITLE#]" required="true"></div>
</div>
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_SOURCE_URL#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_URL#]alert-danger[#endif#]"  name="url" value="[#URL#][#if URL=""#]http://[#endif#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_CHECK_EVERY#> (<#LANG_MINUTES#>):<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_UPDATE_EVERY#]alert-danger[#endif#]"  name="update_every" value="[#UPDATE_EVERY#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_EXECUTE_FOR_NEW_RECORDS#>:<font color="red">*</font></label>
        <div class="col-lg-5">
		 <select name="script_id" class="form-control [#if ERR_SCRIPT_ID#]alert-danger[#endif#]">
		   <option value="0">
		   [#begin SCRIPTS#]
		   <option value="[#ID#]"[#if ID="<#SCRIPT_ID#>"#] selected[#endif#]>[#TITLE#]
		   [#end SCRIPTS#]
		  </select>
		</div>
</div>



<div class="form-group">
     <div class="col-lg-offset-1 col-lg-5">
 [#if ID!=""#]
 <input type="submit" class="btn btn-default btn-primary" name="subm" value="<#LANG_UPDATE#>">
 [#else ID#]
 <input type="submit" class="btn btn-default btn-primary" name="subm" value="<#LANG_ADD#>">
 [#endif ID#]
 &nbsp;
 <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_CANCEL#></a>
 </div>
</div>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="tab" value="<#TAB#>">
</form>

