<!--#
 @version 0.3 (auto-set)
#-->
<!-- Table 'terminals' edit -->

<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>

<span class="divider">/</span>
<li class="active">
[#if ID!=""#]
<#LANG_EDIT_RECORD#>
[#else ID#]
<#LANG_NEW_RECORD#>
[#endif#]
</li>
</ul>


<form action="?" method="post" enctype="multipart/form-data" class="form-horizontal" name="frmEdit">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]



<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_SYSTEM_NAME#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_NAME#]alert-danger[#endif#]"  name="name" value="[#NAME#]"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_TITLE#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_TITLE#]alert-danger[#endif#]"  name="title" value="[#TITLE#]"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_HOSTNAME#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_HOST#]alert-danger[#endif#]"  name="host" value="[#HOST#]"></div>
</div>



<div class="form-group">
  <label class="control-label"><#LANG_LINKED_OBJECT#>:<#LANG_HCB#>linked_object_terminal<#LANG_HCE#></label>
   <div class="col-lg-5">
     <div class="form-inline">
      <div class="form-group col-lg-5">
       <input type="text" name="linked_object" id="linked_object" value="[#LINKED_OBJECT#]"  class="form-control">
      </div>
     </div>
    </div>
</div>
    [#module name="linkedobject" object_field="linked_object"#]

<div class="form-group ">
  <label class="col-lg-4 control-label"><#LANG_LOCATION#> терминала: <#LANG_HCB#>location<#LANG_HCE#></label>
  <div class="col-lg-4"><select name="location" class="form-control">
   <option value="">Выберите местоположение терминала
    [#begin LOCATIONS#]<option value="[#TITLE#]"[#if TITLE="<#LOCATION_TITLE#>"#] selected[#endif#]>[#TITLE#]
   [#end LOCATIONS#]
  </select></div>
</div>

    <!--#
        <script language="javascript">
            function majordroidChanged() {
                if ($('#majordroid_api').is(':checked')) {
                    $('#majordroidDetails').show();
                } else {
                    $('#majordroidDetails').hide();
                }
                return false;
            }
        </script>

    <div class="form-group">
            <div class="col-lg-offset-2 col-lg-5 ">
                    <div class="checkbox">
                            <label>
                                    <input type="checkbox" value="1" id='majordroid_api' onClick='majordroidChanged();' name="majordroid_api" [#if MAJORDROID_API="1"#] checked[#endif#]> MajorDroid API
                            </label>
                    </div>
            </div>
    </div>

    <div id='majordroidDetails'[#if MAJORDROID_API!="1"#] style="display:none"[#endif#]>



    <div class="form-group">
      <label class="control-label"><#LANG_PROPERTY#>:<#LANG_HCB#>linked_property_terminal<#LANG_HCE#></label>
       <div class="col-lg-5">
         <div class="form-inline">
          <div class="form-group col-lg-5">
           <input type="text" name="level_linked_property" id="level_linked_property" value="[#LEVEL_LINKED_PROPERTY#]"  class="form-control">
          </div>
         </div>
        </div>
    </div>



    </div>
    #-->

<script language="javascript">
 function canPlayChanged() {
  if ($('#canplay').is(':checked')) {
   $('#playerDetails').show();
  } else {
   $('#playerDetails').hide();
  }
  return false;
 }
 function canTTSChanged() {
     if ($('#cantts').is(':checked')) {
         $('#ttsDetails').show();
     } else {
         $('#ttsDetails').hide();
     }
     return false;
 }
</script>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-5 ">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="1" id='cantts' name="cantts" onClick='canTTSChanged();' [#if CANTTS="1"#] checked[#endif#]> <#LANG_CAN_TTS#>
                </label>
            </div>
        </div>
    </div>


    <div id="ttsDetails"[#if CANTTS!="1"#] style="display:none"[#endif#]>
        <div class="form-group">
            <label class="col-lg-4 control-label" for="tts_type"><#LANG_TTS_TYPE#>:</label>
            <div class="col-lg-5">
                <select id="tts_type" name="tts_type" class="form-control">
                    <option value=""><#LANG_NONE#></option>
                    [#begin TTS_ADDONS#]
                    <option value="[#NAME#]"[#if NAME="<#TTS_TYPE#>"#] selected[#endif#]>[#NAME#]</option>
                    [#end TTS_ADDONS#]
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-lg-4 control-label" for="min_msg_level"><#LANG_MIN_MSG_LEVEL#>:</label>
            <div class="col-lg-5"><input type="text"  class="form-control" id="min_msg_level"  name="min_msg_level" value="[#MIN_MSG_LEVEL#]"></div>
        </div>
    </div>


<div class="form-group">
        <div class="col-lg-offset-2 col-lg-5 ">
                <div class="checkbox">
                        <label>
                                <input type="checkbox" value="1" id='canplay' onClick='canPlayChanged();' name="canplay" [#if CANPLAY="1"#] checked[#endif#]> <#LANG_CAN_PLAY_MEDIA#>
                        </label>
                </div>
        </div>
</div>

<div id='playerDetails'[#if CANPLAY!="1"#] style="display:none"[#endif#]>
	<div class="form-group ">
		<label class="col-lg-4 control-label" for="inputTitle"><#LANG_PLAYER_TYPE#>:
		</label>
		<div class="col-lg-5">
			<select name="player_type" class="form-control" onchange="return player_type_select($(this).val());">
				<option value=""><#LANG_DEFAULT#>
				[#begin PLAYER_ADDONS#]
				<option value="[#VALUE#]"[#if VALUE="<#PLAYER_TYPE#>"#] selected[#endif#]>[#TITLE#]
				[#end PLAYER_ADDONS#]
			</select>
			[#begin PLAYER_ADDONS#]
			<small id="[#VALUE#]_description" class="addon-description form-text text-muted hidden">[#DESCRIPTION#]</small>
			[#end PLAYER_ADDONS#]
			<style type="text/css">
				.addon-description { display: block; margin-top: 10px; }
			</style>
			<script type="text/javascript">
				function player_type_select(type) {
					$('small.addon-description').addClass('hidden');
					$('small#'+type+'_description').removeClass('hidden');
                        if (type == 'dnla') {
                            $('#device_control_address').show();
                            $('#player_name').hide();
							$('#player_password').hide();
                            $('#player_port').hide();
						} else if (type == 'chromecast') {
                            $('#device_control_address').hide();
    						$('#player_name').hide();
							$('#player_password').hide();
                            $('#player_port').show();
						} else if (type == 'foobar') {
                            $('#device_control_address').hide();
    						$('#player_name').hide();
							$('#player_password').hide();
                            $('#player_port').show();
						} else if (type == 'ghn') {
                            $('#device_control_address').hide();
    						$('#player_name').hide();
							$('#player_password').hide();
                            $('#player_port').show();
						} else if (type == 'majordroid') {
                            $('#device_control_address').hide();
							$('#player_name').hide();
							$('#player_password').hide();
                            $('#player_port').show();
						} else if (type == 'mpd') {
                            $('#device_control_address').hide();
							$('#player_name').hide();
							$('#player_password').show();
                            $('#player_port').show();
						} else if (type == 'mpd') {
                            $('#device_control_address').hide();
							$('#player_name').hide();
							$('#player_password').show();
                            $('#player_port').show();
						} else {
                            $('#device_control_address').hide();
                            $('#player_name').show();
							$('#player_password').show();
							$('#player_port').show();
                        }
					return true;
				}
				$(document).ready(function() {
					player_type_select('[#PLAYER_TYPE#]');
				});
			</script>
		</div>
	</div>
	<div id='player_port' class="form-group ">
		<label class="col-lg-4 control-label" for="inputTitle"><#LANG_PLAYER_PORT#>:</label>
		<div class="col-lg-5"><input type="text"  class="form-control"  name="player_port" value="[#PLAYER_PORT#]"></div>
	</div>
	<div id='player_name' class="form-group ">
		<label class="col-lg-4 control-label" for="inputTitle"><#LANG_PLAYER_USERNAME#>:</label>
		<div class="col-lg-5"><input type="text"  class="form-control"  name="player_username" value="[#PLAYER_USERNAME#]"></div>
	</div>
	<div id='player_password' class="form-group ">
		<label class="col-lg-4 control-label" for="inputTitle"><#LANG_PLAYER_PASSWORD#>:</label>
		<div class="col-lg-5"><input type="text"  class="form-control"  name="player_password" value="[#PLAYER_PASSWORD#]"></div>
	</div>

	<div id='device_control_address' style="display:none" class="form-group ">
		<label class="col-lg-4 control-label" for="inputTitle">Control address:</label>
		<div class="col-lg-5"><input type="text"  class="form-control"  name="player_control_address" value="[#PLAYER_CONTROL_ADDRESS#]"></div>
	</div>
        
</div>

<div class="form-group">
     <div class="col-lg-offset-2 col-lg-5">
 [#if ID!=""#]
 <input class="btn btn-default btn-primary" type="submit" name="subm" value="<#LANG_SUBMIT#>">
 [#else ID#]
 <input class="btn btn-default btn-primary" type="submit" name="subm" value="<#LANG_ADD#>">
 [#endif ID#]
 &nbsp;
 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
 </div>
</div>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
</form>

