<!--#
 @version 0.2 (auto-set)
#-->
<big><#LANG_APP_MEDIA_BROWSER#></big>
<hr size="1">

[#if VIEW_MODE="edit"#]
<form action="?" method="post">
<table border="0" align="center">
 <tr>
  <td valign="top"><b><#LANG_TITLE#>:</b></td>
  <td valign="top"><input type="text" name="title" value="[#TITLE#]" class="form-control"></td>
 </tr>
 <tr>
  <td valign="top"><b><#LANG_PATH#>:</b></td>
  <td valign="top"><input type="text" name="path" value="[#PATH#]" class="form-control"></td>
 </tr>

[#if ID!=""#]
 <tr>
  <td valign="top"><#LANG_ACCESS_CONTROL#>:</td>
  <td valign="top">
  <a href="?(panel:{action=security_rules})&object_type=media&object_id=[#ID#]&print=1" onClick="return openModalTWindow('security', '<#LANG_ACCESS_CONTROL#>', this.href, 800, 600);" target=_blank><#LANG_SET#></a>
  </td>
 </tr>
[#endif ID#]

<tr>
 <td valign="top">&nbsp;</td>
 <td valign="top"><input type="submit" name="submit" value="<#LANG_SUBMIT#>" class="btn btn-default"></td>
</tr>

</table>
<input type="hidden" name="id" value="[#ID#]">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="mode" value="update_collection">
</form>

[#endif#]
<br><br>
<p align="center">
<a href="?view_mode=edit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_COLLECTION#></a>
<a href="?view_mode=clear_favorites" class="btn btn-default" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_CLEAR_FAVORITES#></a>
<a href="?view_mode=clear_history" class="btn btn-default" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_CLEAR_HISTORY#></a>
</p>
<br><br>
<table border="0" align="center">
 [#begin COLLECTIONS#]
 <tr>
  <td><big>[#TITLE#]</big></td>
  <td>[#PATH#]</td>
  <td>[ <a href="?id=[#ID#]&view_mode=edit"><#LANG_EDIT#></a> ]</td>
  <td>[ <a href="?id=[#ID#]&view_mode=delete" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a> ]</td>
 </tr>
 [#end COLLECTIONS#]
</table>