<!--#
 @version 0.3 (auto-set)
#-->
[#if COLLECTION_ID#]

<style>
#mTerminals {
    
    left: 10px;
    position: absolute;
    background-color: #EEEEEE;
}

</style>

<!--#
<div id="mTerminals">
<table border="0">
 <tr>
  [#begin TERMINALS#]
  <td valign="top"><div id="terminal[#ID#]" style="padding:10px;border:1px solid black;">[#TITLE#]</div></td>
  [#end TERMINALS#]
 </tr>
</table>
</div>
#-->

<script type="text/javascript" language="javascript">          
    Event.observe(window,'load',function(evt){
        //$('mTerminals').hide();
        //Event.observe('showme','click',showDiv);
        Event.observe(window,'scroll', function(evt){
            $('mTerminals').setStyle({ top: 8 + document.viewport.getScrollOffsets().top + 'px' });
        });
    });
    /*
    function showDiv(evt){
        $('mTerminals').show();
    }
    */

function gup( name )
{
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( window.location.href );
  if( results == null )
    return "";
  else
    return results[1];
}

 function playThis(path, rnd, terminal_id) {
  if (parent.location == window.location) {
   var url="?mode=play&showplayer=1&collection_id="+gup('collection_id')+"&folder="+gup('folder')+"&file="+gup('file')+"&rnd="+rnd+"&terminal_id="+terminal_id;
   window.location=url;
  } else {
   var res=parent.playMedia(path, rnd, terminal_id);
  }
  return false;
 }

 function playMediaNow(href) {


  var function_found=false;

  var function_name = 'playerMediaStart';
  if (eval("typeof "+function_name) === 'function') {
   //playerMediaStart(path);
   function_found=true;
  }
  function_name = 'parent.playerMediaStart';
  if (eval("typeof "+function_name) === 'function') {
   //parent.playerMediaStart(path);
   function_found=true;
  }

  if (function_found) {
   $.ajax({
    url: href+'&full_url=1'
   }).done(function(data) {
    //alert(data);
    var code=function_name+'("'+data+'");';
    setTimeout(code,1000);
    //eval(code);
   });
   return false;
  } else {
   return true;
  }


 }

 function removeFromFavorites_processed(id, data) {
  var elem1=document.getElementById('favorites_add');
  var elem2=document.getElementById('favorites_remove');
  elem1.style.display='block';
  elem2.style.display='none'; 
  return false;
 }

 function removeFromFavorites(dir, title) {
  var url="?media_ajax=1";
  url+='&op=favorite_remove&collection_id=<#COLLECTION_ID#>&dir='+dir+'&title='+title;
  AJAXRequest(url, 'removeFromFavorites_processed', 0)
  return false;
 }


 function addToFavorites_processed(id, data) {
  var elem1=document.getElementById('favorites_add');
  var elem2=document.getElementById('favorites_remove');
  elem1.style.display='none';
  elem2.style.display='block';
  return false;
 }

 function addToFavorites(dir, title) {
  var url="?media_ajax=1";
  url+='&op=favorite_add&collection_id=<#COLLECTION_ID#>&dir='+dir+'&title='+title;
  AJAXRequest(url, 'addToFavorites_processed', 0)
  return false;
 }

 var mediaFolder='';

 function mediaDropped(terminal_id) {
  //$('terminal'+terminal_id).highlight()
  //alert('media "'+mediaFolder+'" dropped to '+terminal_id);
  playThis(mediaFolder, 0, terminal_id);
  return false;
 }
[#begin TERMINALS#]
 Droppables.add('terminal[#ID#]', {
  accept: 'media',
  onDrop: function() { mediaDropped('[#ID#]'); }
  });
[#end TERMINALS#]
</script>

 [#if COLLECTIONS_TOTAL!="1"#]
 <table border="0">
 <form action="?" method="get" name="frmCollection">
  <tr>
   <td valign="top">Collection:</td>
   <td valign="top"><select name="collection_id" onChange="document.frmCollection.submit();">
    [#begin COLLECTIONS#]
    <option value="[#ID#]"[#if ID="<#COLLECTION_ID#>"#] selected[#endif#]>[#TITLE#]
    [#end COLLECTIONS#]
   </select></td>
  </tr>
 </form>
 </table>
 &nbsp;
 [#endif#]


[#if CURRENT_DIR!="./"#]
<table border="0">
 <tr>
 <td class=plain colspan="2">
 <!--#
 [ <a href="?collection_id=<#COLLECTION_ID#>"><b>Beginning</b></a> ]
 [ <a href="#" onClick='history.go(-1);'><b>Back</b></a> ]
 <br><br>
 <b><a href="?collection_id=<#COLLECTION_ID#>&folder=<#CURRENT_DIR_HTML#>">[#CURRENT_DIR#]</a></b>
 #-->

 [#if HISTORY#]
 <ul class="breadcrumb">
 [#begin HISTORY#]
 <li><a href="?collection_id=<#COLLECTION_ID#>&folder=[#PATH#]">[#TITLE#]</a></li>
 [#end HISTORY#]
 </ul>
 [#endif HISTORY#]

 </td>
</tr>
</table>

<table class="table">
 <tr>
  <td>   <span>
   <a href="?folder=[#CURRENT_DIR_HTML#]&file=[#CURRENT_DIR_HTML#]&collection_id=<#COLLECTION_ID#>&mode=play" onclick="return playMediaNow(this.href);"><img src="<#ROOTHTML#>img/btn/btn_play.png" border="0"></a>
   </span>
</td>
  <td><h1>[#CURRENT_DIR_TITLE#]</h1></td>
  <td>
   <span id="favorites_add"[#if FAVORITE=="1"#] style="display:none"[#endif#]>
   <a href="#" onClick="return addToFavorites('[#CURRENT_DIR#]', '[#CURRENT_DIR_TITLE#]')"><img src="<#ROOTHTML#>img/btn/notfavorite.png" border="0"></a>
   </span>
   <span id="favorites_remove"[#if FAVORITE!="1"#] style="display:none"[#endif#]>
    <a href="#" onClick="return removeFromFavorites('[#CURRENT_DIR#]', '[#CURRENT_DIR_TITLE#]')"><img src="<#ROOTHTML#>img/btn/favorite.png" border="0"></a>
   </span>
  </td>
 </tr>
</table>
[#else CURRENT_DIR#]

<div>
[#if FAVORITES#]
<a href="#" onClick="$('#media_favorites').toggle();return false;" class="btn btn-default"><#LANG_FAVORITES#></a>
<div id='media_favorites' style="display:none">
<table class="table table-bordered">
 [#begin FAVORITES#]
 <tr>
  <td><a href="?folder=[#PATH#]&file=[#PATH#]&collection_id=[#COLLECTION_ID#]&mode=play" onclick="return playMediaNow(this.href);"><img src="<#ROOTHTML#>img/btn/btn_play.png" border="0" align="abs_middle"></a>
  <img src="<#ROOTHTML#>img/btn/favorite.png" border="0" align="abs_middle">
  <a href="?folder=[#PATH#]&collection_id=[#COLLECTION_ID#]" class="btn">[#TITLE#]</a>
  </td>
 </tr>
 [#end FAVORITES#]
</table>
</div>
[#endif FAVORITES#]

[#if MEDIA_HISTORY#]
<br/>&nbsp;<br/>
<a href="#" onClick="$('#media_history').toggle();return false;" class="btn btn-default"><#LANG_RECENTLY_PLAYED#></a>
<div id='media_history' style="display:none">
<table class="table table-bordered">
 [#begin MEDIA_HISTORY#]
 <tr>
  <td><a href="?folder=[#PATH#]&file=[#PATH#]&collection_id=[#COLLECTION_ID#]&mode=play" onclick="return playMediaNow(this.href);"><img src="<#ROOTHTML#>img/btn/btn_play.png" border="0" align="abs_middle"></a>
  <a href="?folder=[#PATH#]&collection_id=[#COLLECTION_ID#]" class="btn">[#TITLE#]</a></td>
 </tr>
 [#end MEDIA_HISTORY#]
</table>
</div>
[#endif MEDIA_HISTORY#]
</div>


[#endif CURRENT_DIR#]

[#if MODE=""#]
[#inc files.html#]
[#endif#]
[#if MODE="play"#]
[#inc play.html#]
[#endif#]

[#else COLLECTION_ID#]

 <table class="table table-bordered">
  [#begin COLLECTIONS#]
  <tr>
   <td><a href="?collection_id=[#ID#]" class="btn">[#TITLE#]</a></td>
  </tr>
  [#end COLLECTIONS#]
 </table>
[#endif#]

