<!--#
 @version 0.6 (2010-08-30)
#-->
[#if ERR_MSG!=""#]
<div style="border:2px solid red;padding:10px;"><big style="color:red">[#ERR_MSG#]</big></div>
[#endif ERR_MSG#]

[#if OK_MSG!=""#]
<div style="border:2px solid green;padding:10px;"><big style="color:green">[#OK_MSG#]</big></div>
[#endif OK_MSG#]

[#if CLEAR_FIRST!="1"#]

[#if MODE="getlatest_iframe"#]
<iframe src="<#ROOTHTML#>modules/saverestore/update_iframe.php?with_extensions=[#WITH_EXTENSIONS#]&backup=<#BACKUP#>&design=<#DESIGN#>&code=<#CODE#>&data=<#DATA#>&save_files=<#SAVE_FILES#>" width="100%" height="400" frameborder=0></iframe>
[#else MODE#]
<div class="row">
 <div class="col-md-6">
   <h3><#LANG_UPDATES#></h3>

   <form action="?" method="post" enctype="multipart/form-data">
   [#if ERROR_MESSAGE!=""#]<p><font color="red"><b>[#ERROR_MESSAGE#]</b></font></p>[#endif#]

   [#if NO_NEED_TO_UPDATE#]<p><font color="green"><#LANG_USING_LATEST_VERSION#></font></p>[#endif#]

   <p><#LANG_LONG_OPERATION_WARNING#></p>

    <div>
   <input type="submit" name="submit" value="<#LANG_UPDATE_TO_THE_LATEST#>" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-primary">
   &nbsp;
   <input type="checkbox" name="with_extensions" value="1" checked> <#LANG_UPDATE_ALL_EXTENSIONS#>
    </div>

   <input type="hidden" name="mode" value="getlatest_iframe">
   </form>

   [#if UPDATES#]
   <hr>
   <b><#LANG_LATEST_UPDATES#>:</b>
   [#begin UPDATES#]
   <p>[#UPDATE_TEXT#] <b>[#TITLE#]</b> (by [#AUTHOR#]) <a href="[#LINK#]" target=_blank><#LANG_MORE_DETAILS#>...</a></p>
   [#end UPDATES#]
   <hr>
   [#endif UPDATES#]


   <h3><#LANG_SAVE_BACKUP#></h3>

   <form action="?" method="post" enctype="multipart/form-data">
   <label><input type="checkbox" name="design" value="1"> <#LANG_DESIGN#> (templates, css, images)</label><br>
   <label><input type="checkbox" name="code" value="1"> <#LANG_CODE#> (modules)</label><br>
   <label><input type="checkbox" name="data" value="1"> <#LANG_DATA#> (database)</label><br>
   <label><input type="checkbox" name="save_files" value="1"> <#LANG_FILES_UPLOADED#></label><br>
   <input type="hidden" name="backup" value="1">
   <input type="submit" name="submit" value="<#LANG_CREATE_BACKUP#> &gt;&gt;&gt;" class="btn btn-default">
   <input type="hidden" name="mode" value="getlatest_iframe">
   </form>


 </div>
 <div class="col-md-6">
   <h3><#LANG_UPLOAD_BACKUP#></h3>
   <form action="?" method="post" enctype="multipart/form-data">
    <div>
   File: <input type="file" name="file">
    </div>
    &nbsp;
    <div>
   <input type="submit" name="submit" value="<#LANG_CONTINUE#> &gt;&gt;&gt;" class="btn btn-default">
    </div>
   <input type="hidden" name="mode" value="upload">
   </form>

   [#if FILES#]
   &nbsp;<br>
   <table class="table">
   [#begin FILES#]
    <tr>
     <td>[#TITLE#]</td>
     <td nowrap>[#if FILESIZE!=""#][#FILESIZE#] Mb[#else#]&nbsp;[#endif#]</td>
     [#if "<#CLEAR_FIRST#>"!="1"#]
     <td valign="top"><a href="?mode=upload&restore=[#FILENAME#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default"><#LANG_RESTORE#></a></td>
     [#endif#]
     [#if FILESIZE!=""#]
     <td><a href="<#ROOTHTML#>saverestore/[#FILENAME#]" class="btn btn-default">Download</a></td>
     <td>
      <a href="?mode=delete&file=[#FILENAME#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></a>
     </td>
     [#else#]
     <td colspan="3">&nbsp;</td>
     [#endif#]
    </tr>
   [#end FILES#]
   </table>
   [#endif FILES#]

 </div>

[#endif MODE#]

[#else CLEAR_FIRSTS#]
   <br>&nbsp;
   <form action="?" method="post" enctype="multipart/form-data">
   <input type="submit" name="submit" value="<#LANG_CLEAR_TEMPORARY_FOLDER#>" class="btn btn-default">
   <input type="hidden" name="mode" value="clear">
   </form>
   [#endif CLEAR_FIRSTS#]