[#if CLEAR_FIRST!="1"#]
<div class="row" style="margin-right: -15px;margin-left: -15px;">
	[#if ERR_MSG!=""#]
		<div class="col-md-12"><div class="alert alert-danger">[#ERR_MSG#]</div></div>
	[#endif ERR_MSG#]
	[#if OK_MSG!=""#]
		<div class="col-md-12"><div class="alert alert-success">[#OK_MSG#]</div></div>
	[#endif OK_MSG#] 

	<div class="col-md-6">
		[#if NO_NEED_TO_UPDATE#]
		<div class="jumbotron" style="margin-bottom: 10px;padding-top: 20px;padding-bottom: 10px;border-radius: 5px;background-image: radial-gradient(circle farthest-corner at 100px 50px, #9efac3, #4792d1);">
			<h2><#LANG_NEWSAVERESTORE_NONE_UPDATE_HEADER#></h2>
			<p style="font-size: 11pt;"><#LANG_NEWSAVERESTORE_NONE_UPDATE_TEXT#></p>
			<p class="text-right">
				<a class="link" href="[#UPDATE_URL#]" style="text-decoration: none;color: white;font-size: 10pt;margin-right: 20px;" role="button"><#LANG_NEWSAVERESTORE_DOWNLOAD_GIT_ARHIVE#></a>
				<a style="border-color: #ffffff;" data-toggle="modal" onclick="$('#myModal').modal('show');" data-target="#myModal" class="btn btn-default btn-md" role="button"><#LANG_NEWSAVERESTORE_NONE_UPDATE_BTN#></a>
			</p>
		</div>
		[#else#]
		<div class="jumbotron" style="margin-bottom: 10px;padding-top: 20px;padding-bottom: 10px;border-radius: 5px;    background-image: radial-gradient(circle farthest-corner at 100px 50px, #fae29e, #d53972);">
			<h2><#LANG_NEWSAVERESTORE_UPDATE_HEADER#></h2>
			<p style="font-size: 11pt;"><#LANG_NEWSAVERESTORE_UPDATE_TEXT#></p>
			<p class="text-right">
				<a class="link" href="[#UPDATE_URL#]" style="text-decoration: none;color: white;font-size: 10pt;margin-right: 20px;" role="button"><#LANG_NEWSAVERESTORE_DOWNLOAD_GIT_ARHIVE#></a>
				<a style="border-color: #ffffff;" class="btn btn-success btn-md" data-toggle="modal" onclick="$('#myModal').modal('show');" data-target="#myModal" role="button"><#LANG_NEWSAVERESTORE_UPDATE_BTN#></a>
			</p>
		</div>
		[#endif#]
		
		[#if MODE="getlatest_iframe"#]
			<script>
				$(document).ready(function() {
					$('#myModal').modal('show');
					
					$("#myModal").on("hidden.bs.modal", function () {
						$('#myModal').modal('show');
					});
				});
			</script>
		[#endif#]
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="?" method="post" enctype="multipart/form-data" class="form-horizontal">
						<div class="modal-header">
							<h4 class="modal-title"><#LANG_NEWSAVERESTORE_CONSOLE#></h4>
						</div>
						<div class="modal-body">
							<div class="alert" style="background: radial-gradient(circle farthest-corner at 450px 10px, #e5c15b, #e94949);color: white;text-align: center;border: 0px;"><i class="glyphicon glyphicon-exclamation-sign" style="font-weight: normal;font-size: 13pt;vertical-align: sub;margin-right: 10px;"></i><#LANG_LONG_OPERATION_WARNING#></div>
							[#if MODE="getlatest_iframe"#]
								<iframe id="processUpdateFrame" style="border-radius: 5px;height: 400px;" src="<#ROOTHTML#>modules/saverestore/update_iframe.php?with_extensions=[#WITH_EXTENSIONS#]&with_backup=[#WITH_BACKUP#]&backup=<#BACKUP#>&design=<#DESIGN#>&code=<#CODE#>&data=<#DATA#>&save_files=<#SAVE_FILES#>" width="100%" frameborder="0"></iframe>
							[#else#]
								<p id="updateParams">
									<input type="checkbox" name="with_extensions" value="1"> <#LANG_UPDATE_ALL_EXTENSIONS#><br/>
									<input type="checkbox" name="with_backup" value="1" checked> <#LANG_CREATE_BACKUP#>
								</p>
							[#endif#]
						</div>
						[#if MODE!="getlatest_iframe"#]
						<div class="modal-footer">
							<input type="hidden" name="mode" value="getlatest_iframe">
							
							<button type="button" class="btn btn-default" data-dismiss="modal"><#LANG_CLOSE#></button>
							<input style="border-color: #ffffff;" type="submit" name="submit" value="<#LANG_NEWSAVERESTORE_UPDATE_BTN#>" onClick="" class="btn btn-danger btn-md">
						</div>
						[#endif#]
					</form>
				</div>
			</div>
		</div>
		[#if UPDATES#]
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><#LANG_LATEST_UPDATES#></h3>
			</div>
			<div class="panel-body" id="changelogUpdate">
				<ul class="list-group">
					[#begin UPDATES#]
					<li class="list-group-item [#if MYVERSION == 1#]panel-success[#endif#]" [#if MYVERSION == 1#]style="background: #d6e9c6;"[#endif#]>
						<span class="badge">[#UPDATE_TEXT#]</span>
						<div>
							[#if MYVERSION == 1#]<span class="label label-success" id="mysystemversion"><#LANG_MARKET_CATEGORY_INSTALLED#></span> [#endif#]<a href="[#LINK#]" target="_blank">[#TITLE#]</a>
							<div>↳ <span class="label label-default">[#DESC_UPDATE#]</span></div>
							
						</div>
					</li>
					[#end UPDATES#]
				</ul>
				<script>
				$(document).ready(function() {
					if($('#mysystemversion').length == 0) {
						$('#changelogUpdate').prepend('<div class="alert alert-danger"><b>Ваша система <u>сильно устарела</u>!</b> Текущая версия: <a href="https://github.com/sergejey/majordomo/commit/[#LATEST_UPDATED_ID#]" target="_blank">[#LATEST_CURR_BRANCH#]_[#LATEST_UPDATED_ID_SLICE#]</a>. Последнее обновление: [#LATEST_UPDATED_TIME#]</div>');
					}
				});
				</script>
			</div>
		</div>
		[#endif UPDATES#]
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><#LANG_SECTION_SETTINGS#></h3>
			</div>
			<div class="panel-body">
				<form action="?" method="post" enctype="multipart/form-data" class="form">
				<ul class="list-group" id="">
					<li class="list-group-item">
						<span style="float: right;">
							<select name="set_update_url" id="set_update_url" style="border: 0px;" onchange="this.form.submit();">
								<option value="<#GIT_URL#>archive/master.tar.gz"[#if UPDATE_URL="<#GIT_URL#>archive/master.tar.gz"#] selected[#endif#]><#LANG_UPDATES_SOURCE_MASTER#></option>
								<option value="<#GIT_URL#>archive/alpha.tar.gz"[#if UPDATE_URL="<#GIT_URL#>archive/alpha.tar.gz"#] selected[#endif#]><#LANG_UPDATES_SOURCE_ALPHA#></option>
								[#if ADITIONAL_GIT_URLS#]
								[#begin ADITIONAL_GIT_URLS#]
								<option value="[#URL#]" [#SELECTED#]>[#TITLE#]</option>
								[#end ADITIONAL_GIT_URLS#]
								[#endif#]
							</select>
						</span>
						<#LANG_NEWDASH_SYSTEM_INFO_BRABCH#>
					</li>
					<li class="list-group-item">
						<span style="float: right;">
							<select name="update_auto" style="border: 0px;" [#if UPDATE_AUTO!="1"#]onchange="if($(this).val() == 1) { $('#hideAutoUpdate').show('slow'); } else { $('#hideAutoUpdate').hide('slow'); }"[#endif#]>
								<option value="1"[#if UPDATE_AUTO="1"#] selected[#endif#]><#LANG_YES#></option>
								<option value="0"[#if UPDATE_AUTO!="1"#] selected[#endif#]><#LANG_NO#></option>
							</select>
						</span>
						<#LANG_ENABLE_AUTO_UPDATE#><#LANG_HCB#>system_auto_update<#LANG_HCE#>
					</li>
					<div id="hideAutoUpdate" [#if UPDATE_AUTO!="1"#]style="display:none;"[#endif#]>
						<li class="list-group-item">
							<span style="float: right;">
								<select name="update_auto_delay" style="border: 0px;">
									<option value="14"[#if UPDATE_AUTO_DELAY="14"#] selected[#endif#]>14 ... OK</option>
									<option value="7"[#if UPDATE_AUTO_DELAY="7"#] selected[#endif#]>7 ... pretty risky</option>
									<option value="3"[#if UPDATE_AUTO_DELAY="3"#] selected[#endif#]>3 ... dangerous!</option>
								</select>
							</span>
							<#LANG_AUTO_UPDATE_DELAY#>
						</li>
						<li class="list-group-item">
							<span style="float: right;">
								<select name="update_auto_time" style="border: 0px;">
									<option value="0">00:00</option>
									<option value="1"[#if UPDATE_AUTO_TIME="1"#] selected[#endif#]>01:00</option>
									<option value="2"[#if UPDATE_AUTO_TIME="2"#] selected[#endif#]>02:00</option>
									<option value="3"[#if UPDATE_AUTO_TIME="3"#] selected[#endif#]>03:00</option>
									<option value="4"[#if UPDATE_AUTO_TIME="4"#] selected[#endif#]>04:00</option>
									<option value="5"[#if UPDATE_AUTO_TIME="5"#] selected[#endif#]>05:00</option>
									<option value="6"[#if UPDATE_AUTO_TIME="6"#] selected[#endif#]>06:00</option>
									<option value="7"[#if UPDATE_AUTO_TIME="7"#] selected[#endif#]>07:00</option>
									<option value="8"[#if UPDATE_AUTO_TIME="8"#] selected[#endif#]>08:00</option>
									<option value="9"[#if UPDATE_AUTO_TIME="9"#] selected[#endif#]>09:00</option>
									<option value="10"[#if UPDATE_AUTO_TIME="10"#] selected[#endif#]>10:00</option>
									<option value="11"[#if UPDATE_AUTO_TIME="11"#] selected[#endif#]>11:00</option>
									<option value="12"[#if UPDATE_AUTO_TIME="12"#] selected[#endif#]>12:00</option>
									<option value="13"[#if UPDATE_AUTO_TIME="13"#] selected[#endif#]>13:00</option>
									<option value="14"[#if UPDATE_AUTO_TIME="14"#] selected[#endif#]>14:00</option>
									<option value="15"[#if UPDATE_AUTO_TIME="15"#] selected[#endif#]>15:00</option>
									<option value="16"[#if UPDATE_AUTO_TIME="16"#] selected[#endif#]>16:00</option>
									<option value="17"[#if UPDATE_AUTO_TIME="17"#] selected[#endif#]>17:00</option>
									<option value="18"[#if UPDATE_AUTO_TIME="18"#] selected[#endif#]>18:00</option>
									<option value="19"[#if UPDATE_AUTO_TIME="19"#] selected[#endif#]>19:00</option>
									<option value="20"[#if UPDATE_AUTO_TIME="20"#] selected[#endif#]>20:00</option>
									<option value="21"[#if UPDATE_AUTO_TIME="21"#] selected[#endif#]>21:00</option>
									<option value="22"[#if UPDATE_AUTO_TIME="22"#] selected[#endif#]>22:00</option>
									<option value="23"[#if UPDATE_AUTO_TIME="23"#] selected[#endif#]>23:00</option>
								</select>
							</span>
							<#LANG_AUTO_UPDATE_TIME#>
						</li>
						<li class="list-group-item">
							<span style="float: right;">
								<select name="update_auto_plugins" style="border: 0px;">
									<option value="1"[#if UPDATE_AUTO_PLUGINS="1"#] selected[#endif#]><#LANG_YES#></option>
									<option value="0"[#if UPDATE_AUTO_PLUGINS!="1"#] selected[#endif#]><#LANG_NO#></option>
								</select>
							</span>
							<#LANG_UPDATE_ALL_EXTENSIONS#>
						</li>
					</div>
				</ul>
				<center><input type="submit" name="submit" value="<#LANG_SUBMIT#>" class="btn btn-default btn-primary"></center>
				<input type="hidden" name="mode" value="auto_update_settings">
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title"><#LANG_NEWSAVERESTORE_RESTORE_ARHIVE#></h3>
			</div>
			<div class="panel-body">
				<div class="row" style="margin-right: -15px;margin-left: -15px;">
					<div class="col-md-4" onclick="$('.restoreMainBlock').show();$('.restoreBlock').hide();$('#uploadBackup').show('slow');">
						<div class="thumbnail text-center" style="margin-bottom: 10px;">
							<i style="font-size: 5rem;" class="glyphicon glyphicon-floppy-open"></i>
							<div class="caption" style="padding: 0px;">
								<h5><#LANG_NEWSAVERESTORE_RESTORE_DOWNANDRESTORE#></h5>
							</div>
						</div>
					</div>
					<div class="col-md-4" onclick="$('.restoreMainBlock').show();$('.restoreBlock').hide();$('#restoreInServer').show('slow');">
						<div class="thumbnail text-center" style="margin-bottom: 10px;">
							<i style="font-size: 5rem;" class="glyphicon glyphicon-floppy-disk"></i>
							<div class="caption" style="padding: 0px;">
								<h5><#LANG_NEWSAVERESTORE_RESTORE_RESTOREINARHIVE#></h5>
							</div>
						</div>
					</div>
					<div class="col-md-4" onclick="$('.restoreMainBlock').show();$('.restoreBlock').hide();$('#createBackup').show('slow');">
						<div class="thumbnail text-center" style="margin-bottom: 10px;">
							<i style="font-size: 5rem;" class="glyphicon glyphicon-floppy-saved"></i>
							<div class="caption" style="padding: 0px;">
								<h5><#LANG_NEWSAVERESTORE_RESTORE_CREATE_RESTORE#></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default restoreMainBlock" style="">
			<div class="panel-body">
				<div id="createBackup" class="restoreBlock" style="display: none;">
					<script>
					function checkboxStyle(name, status) {
						if(status == true) {
							$('#input_'+name).attr('style', 'background-color: #dff0d8;height: 36px;');
							$('#checkbox_'+name).attr('style', 'background-color: #dff0d8;');
						} else {
							$('#input_'+name).attr('style', 'height: 36px;');
							$('#checkbox_'+name).attr('style', '');
						}
					}
					</script>
					<div class="alert" style="background: radial-gradient(circle farthest-corner at 450px 10px, #198f22, #86bea4);color: white;text-align: center;border: 0px;">
						<#LANG_NEWSAVERESTORE_BACKUP_HINT#>
					</div>
					<form action="?" method="post" enctype="multipart/form-data">
						<div class="input-group" style="margin-bottom: 5px;">
							<span class="input-group-addon" id="checkbox_design">
								<input type="checkbox" name="design" value="1" onChange="checkboxStyle('design', $(this).prop('checked'));">
							</span>
							<input type="text" id="input_design" class="form-control" value="<#LANG_DESIGN#> (templates, css, images)" style="height: 36px;" disabled>
						</div>
						
						<div class="input-group" style="margin-bottom: 5px;">
							<span class="input-group-addon" id="checkbox_code">
								<input type="checkbox" name="code" value="1" onChange="checkboxStyle('code', $(this).prop('checked'));">
							</span>
							<input type="text" id="input_code" class="form-control" value="<#LANG_CODE#> (modules)" style="height: 36px;" disabled>
						</div>
						
						<div class="input-group" style="margin-bottom: 5px;">
							<span class="input-group-addon" id="checkbox_data">
								<input type="checkbox" name="data" value="1" onChange="checkboxStyle('data', $(this).prop('checked'));">
							</span>
							<input type="text" id="input_data" class="form-control" value="<#LANG_DATA#> (database)" style="height: 36px;" disabled>
						</div>
						
						<div class="input-group" style="margin-bottom: 5px;">
							<span class="input-group-addon" id="checkbox_save_files">
								<input type="checkbox" name="save_files" onChange="checkboxStyle('save_files', $(this).prop('checked'));" value="1">
							</span>
							<input type="text" id="input_save_files" class="form-control" value="<#LANG_FILES_UPLOADED#>" style="height: 36px;" disabled>
						</div>
						
						<input type="hidden" name="backup" value="1">
						<input type="hidden" name="mode" value="getlatest_iframe">
						
						<div class="text-center" style="margin-top: 15px">
							<input type="submit" name="submit" value="<#LANG_CREATE_BACKUP#>" class="btn btn-success">
						</div>
					</form>
				</div>
				<div id="uploadBackup" class="restoreBlock" style="display:none;">
					<style>
						.input__wrapper {
						  width: 100%;
						  position: relative;
						  margin: 15px 0;
						  text-align: center;
						}
						 
						.input__file {
						  opacity: 0;
						  visibility: hidden;
						  position: absolute;
						}
						 
						.input__file-icon-wrapper {
						  height: 60px;
						  width: 60px;
						  margin-right: 15px;
						  display: -webkit-box;
						  display: -ms-flexbox;
						  margin-left: 5px;
						  -webkit-box-align: center;
							  -ms-flex-align: center;
								  align-items: center;
						  -webkit-box-pack: center;
							  -ms-flex-pack: center;
								  justify-content: center;
						  border-right: 1px solid #fff;
						}
						 
						.input__file-button-text {
						  line-height: 1;
						  margin-top: 1px;
						}
						 
						.input__file-button {
						  width: 100%;
						  max-width: 290px;
						  height: 60px;
						  background: #4792d1;
						  color: #fff;
						  font-size: 2rem;
						  font-weight: 700;
						  display: -webkit-box;
						  display: -ms-flexbox;
						  display: flex;
						  -webkit-box-align: center;
							  -ms-flex-align: center;
								  align-items: center;
						  -webkit-box-pack: start;
							  -ms-flex-pack: start;
								  justify-content: flex-start;
						  border-radius: 3px;
						  cursor: pointer;
						  margin: 0 auto;
						}
					</style>
					<form action="?" method="post" enctype="multipart/form-data">
						<div class="input__wrapper">
						   <input name="file" type="file" name="file" id="input__file" class="input input__file" multiple>
						   <label for="input__file" class="input__file-button">
							  <span class="input__file-icon-wrapper"><i style="font-size: 22pt;" class="glyphicon glyphicon-download-alt"></i></span>
							  <span class="input__file-button-text"><#LANG_NEWSAVERESTORE_CHOUSE_FILE#></span>
						   </label>
						</div>
						
						<div class="text-center" style="margin-top: 15px">
							<input type="submit" name="submit" value="<#LANG_CONTINUE#>" class="btn btn-success">
						</div>
						<input type="hidden" name="mode" value="upload">
					</form>
					<script>
						let inputs = document.querySelectorAll('.input__file');
						Array.prototype.forEach.call(inputs, function (input) {
						  let label = input.nextElementSibling,
							labelVal = label.querySelector('.input__file-button-text').innerText;
					  
						  input.addEventListener('change', function (e) {
							let countFiles = '';
							if (this.files && this.files.length >= 1)
								countFiles = this.files.length;
							if (countFiles)
							  label.querySelector('.input__file-button-text').innerText = '<#LANG_NEWSAVERESTORE_CHOUSES_FILES#> ' + countFiles;
							else
							  label.querySelector('.input__file-button-text').innerText = labelVal;
						  });
						});
					</script>
				</div>
				[#if FILES#]
				<div id="restoreInServer" class="restoreBlock" style="">
					<ul class="list-group">
						[#begin FILES#]
						<li class="list-group-item">
							<span class="badge">[#UPDATED#]</span>
							<div style="cursor:pointer;" onclick="$('.fullTextNewsClass').hide('slow');$('#backup_[#ID#]').toggle('slow');">
								[#TITLE#] [#if FILESIZE!=""#]([#FILESIZE#]MB.)[#else#]&nbsp;[#endif#]
							</div>
							<div class="fullTextNewsClass text-right" id="backup_[#ID#]" style="display:none;margin-top: 10px;border-top: 1px solid lightgray;padding-top: 10px;">
								[#if "<#CLEAR_FIRST#>"!="1"#]
									<a href="?mode=upload&restore=[#FILENAME#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-danger">
										<#LANG_RESTORE#>
									</a>
								[#endif#]
								[#if FILESIZE!=""#]
									<a href="<#ROOTHTML#>cms/saverestore/[#FILENAME#]" class="btn btn-success">Download</a>
								[#endif#]
								<a href="?mode=delete&file=[#FILENAME#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i></a>
							</div>
						</li>
						[#end FILES#]
					</ul>
				</div>
				[#endif FILES#]
			</div>
		</div>
	</div>
</div>

	[#else CLEAR_FIRST#]
    <br>&nbsp;
    <form action="?" method="post" enctype="multipart/form-data">
        <input type="submit" name="submit" value="<#LANG_CLEAR_TEMPORARY_FOLDER#>" class="btn btn-default">
        <input type="hidden" name="mode" value="clear">
    </form>
    [#endif CLEAR_FIRST#]
