/* BUTTON */
.type_button {
        margin-right: -2px;
        margin-bottom: 1px;
        color:black;
        border:1px solid #FFF;
/*      border-radius:3px; */
        text-align: center;
        background-color:rgba(255,255,255,0.7);
        padding:2px;
        width:67px;
        height:67px;
}
.type_button span {
 display: table-cell;
 width:67px;
 height:67px;
 vertical-align: middle;
}

.type_button.clicked {
 background-color:rgba(249,229,91,0.9);
 border:1px solid #FF0;
}


[#begin STYLES#]
   [#if HAS_DEFAULT!=""#]
    .type_button.style_[#TITLE#] span:before {
     content: url(<#ROOTHTML#>cms/scenes/styles/button/[#HAS_DEFAULT#]);
    }
   [#endif#]
[#end STYLES#]