<!--#
 @version 0.2 (auto-set)
#-->
&nbsp;
<!-- Table 'properties' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">

[#if OK#]
    <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
  <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]

<div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_TITLE#>:<font color="red">*</font><#LANG_HCB#>title<#LANG_HCE#></label>
        <div class="col-lg-4"><input type="text"  class="form-control [#if ERR_TITLE#]alert-danger[#endif#]"  name="title" value="[#TITLE#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_DESCRIPTION#>:<#LANG_HCB#>description<#LANG_HCE#></label>
        <div class="col-lg-4"><textarea name="description" rows="3" class="form-control">[#DESCRIPTION#]</textarea></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_ONCHANGE_METHOD#> (<#LANG_OPTIONAL#>):<#LANG_HCB#>onchangemethod<#LANG_HCE#></label>
        <div class="col-lg-4">
        <select name="onchange" class="form-control">
         <option value="">
         [#begin METHODS#]
         <option value="[#TITLE#]"[#if TITLE="<#ONCHANGE#>"#] selected[#endif#]>[#TITLE#]
         [#end METHODS#]
        </select>
        <!--#<input type="text"  class="form-control"  name="onchange" value="[#ONCHANGE#]">#-->
        </div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_KEEP_HISTORY_DAYS#>:<#LANG_HCB#>keep_history<#LANG_HCE#></label>


   <div class="col-lg-4">
     <div class="form-inline">
      <div class="form-group col-lg-6">
       <input type="text" name="keep_history" value="[#KEEP_HISTORY#]" size="10" class="form-control"> 
      </div>
      <div class="form-group col-lg-6">
       <p class="form-control-static">
        &nbsp;(0 = <#LANG_DO_NOT_KEEP#>)
        </p>
      </div>
     </div>
    </div>
</div>

    <div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_DATA_TYPE#>:<#LANG_HCB#>datatype<#LANG_HCE#></label>
        <div class="col-lg-4">
            <select name="data_type" class="form-control">
                <option value="0"[#if DATA_TYPE="0"#] selected[#endif#]><#LANG_DATA_TYPE_GENERAL#>
                <option value="5"[#if DATA_TYPE="5"#] selected[#endif#]><#LANG_DATA_TYPE_IMAGE#></option>
            </select>
        </div>
    </div>

    <div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_DATA_KEY#>:<#LANG_HCB#>datakey<#LANG_HCE#></label>
        <div class="col-lg-4">
        <input type="radio" name="data_key" value="1"[#if DATA_KEY="1"#] checked[#endif#]> <#LANG_YES#>
         <input type="radio" name="data_key" value="0"[#if DATA_KEY!="1"#] checked[#endif#]> <#LANG_NO#>
        </div>
    </div>


<div class="form-group">
     <div class="col-lg-offset-1 col-lg-5">
        
         [#if ID!=""#]
                 <input class="btn btn-default btn-primary" type="submit" name="subm" value="<#LANG_SUBMIT#>">
                 [#else ID#]
                 <input class="btn btn-default btn-primary" type="submit" name="subm" value="<#LANG_ADD#>">
                 [#endif ID#]
                 &nbsp;
                 <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_CANCEL#></a>


    </div>
</div>



<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
</form>

