&nbsp;<br>
<a href="?view_mode=edit_properties" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_PROPERTY#></a>
<br>&nbsp;


<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_properties" style="padding:0px">

<table class="table">
<tr>
[#if !IS_SET_CLASS_ID#]
 <td>
 <b><#LANG_CLASS#></b>
 </td>
[#endif IS_SET_CLASS_ID#]
 <td>
 <b><#LANG_TITLE#></b>
 </td>
 <td>
 <b><#LANG_DESCRIPTION#></b>
 </td>
<td>&nbsp;</td>
</tr>
[#begin RESULT#]
<tr >
[#if "<#IS_SET_CLASS_ID#>"!="1"#]
 <td
   align=center
  >
   [#CLASS_ID#]
 </td>
[#endif IS_SET_CLASS_ID#]
 <td
  >
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td
  >
  [#if DESCRIPTION!=""#]
   [#DESCRIPTION#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td width="200">
    <a href="?view_mode=edit_properties&id=[#ID#]" title="<#LANG_EDIT#>" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=delete_properties&id=[#ID#]" onClick="return confirm('<#ARE_YOU_SURE#>')" title="<#LANG_DELETE#>" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_properties">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->


[#if PARENT_PROPERTIES#]
<big><#LANG_PARENT_PROPERTIES#>:</big><br>&nbsp;
<table border="0" class="table">
 [#begin PARENT_PROPERTIES#]
 <tr>
  <td valign="top"><b><a href="?(panel:{action=classes})&md=classes&view_mode=edit_classes&id=[#CLASS_ID#]&tab=properties">[#CLASS_TITLE#]</a>.[#TITLE#]</b></td>
  <td valign="top">[#DESCRIPTION#]</td>
  <!--#
  <td valign="top"><a href="?view_mode=edit_properties&overwrite=[#ID#]" class="btn btn-default btn-sm"><#LANG_OVERWRITE#></a></td>
  #-->
 </tr>
 [#end PARENT_PROPERTIES#]
</table>
[#endif#]