<script type="text/javascript">
    function showChart%.object_title%(chart_type) {
        var url='';
        if (chart_type=='month') {
            //url='<#ROOTHTML#>module/charts.html?id=config&period=365d&chart_type=column&group=month&property=%.object_title%'+'.valueMonth&height=500';
            url=('<#ROOTHTML#>pChart/?p=%.object_title%'+'.valueMonth&op=log&minimal=1&chart_type=column&subop=365d&group=month');
        }
        if (chart_type=='day') {
            //url='<#ROOTHTML#>module/charts.html?id=config&period=31d&chart_type=column&group=day&property=%.object_title%'+'.valueDay&height=500';
            url=('<#ROOTHTML#>pChart/?p=%.object_title%'+'.valueDay&op=log&minimal=1&chart_type=column&subop=31d&group=day');
        }
        if (chart_type=='hour') {
            //url='<#ROOTHTML#>module/charts.html?id=config&period=24h&chart_type=column&group=hour&property=%.object_title%'+'.valueHour&height=500';
            url=('<#ROOTHTML#>pChart/?p=%.object_title%'+'.valueHour&op=log&minimal=1&chart_type=column&subop=24h&group=hour');
        }
        //parent.$.fancybox.open({ src: '<div style="width:1000px;"><iframe src="'+url+'" width="100%" height="500"></div>', type: 'html' });
        parent.$.fancybox.open({ src: url, type: 'iframe',iframe:{preload:false}});
        //$('#%.object_title%_iframe').attr('src',url);
        return false;
    }
</script>
<div class="device-widget %.alive|"offline;online"%">
    <div class="device-header">%.value% %.unit%
        </div>
    <div class="device-details">%.object_description%
        (H:
        <a href="#" onclick="return showChart%.object_title%('hour');">%.valueHour%</a>,
        D:
        <a href="#" onclick="return showChart%.object_title%('day');">%.valueDay%</a>,
        M:
        <a href="#" onclick="return showChart%.object_title%('month');">%.valueMonth%</a>)
    </div>
</div>
