<script>
$(function() {
	if(window.intervalUpdateDateMotion_%.object_id%) {
		window.clearInterval(intervalUpdateDateMotion_%.object_id%);
	}
	
	var currentTime = parseInt(new Date().getTime()/1000);
	var sID = '%.object_id%';
	var sDATA = '%.updated%';
	var diff = currentTime-sDATA;

	if(diff <= -21) {
		beautyText = '<#LANG_DEVICES_PASSED_INCORRECT_TIME#>';
		$('.motion-updatedText-JS-' + sID).text(beautyText);
	} else if(diff >= -20 && diff <= 0) {
		beautyText = '<#LANG_DEVICES_PASSED_NOW#>';
		$('.motion-updatedText-JS-' + sID).text(beautyText);
	} else if(diff > 0 && diff < 3598) {
		beautyText = secondsToHms(diff, '<#LANG_DEVICES_PASSED_NEW_HOURS_AGO#>', '<#LANG_DEVICES_PASSED_NEW_MINUTES_AGO#>', '<#LANG_DEVICES_PASSED_NEW_SECONDS_AGO#>') + ' <#LANG_DEVICES_PASSED_AGO#>';
		$('.motion-updatedText-JS-' + sID).text(beautyText);
		
		window.intervalUpdateDateMotion_%.object_id% = setInterval(function() {
			var currentTime = parseInt(new Date().getTime()/1000);
			var sID = '%.object_id%';
			var sDATA = '%.updated%';
			var diff = currentTime-sDATA;

			beautyText = secondsToHms(diff, '<#LANG_DEVICES_PASSED_NEW_HOURS_AGO#>', '<#LANG_DEVICES_PASSED_NEW_MINUTES_AGO#>', '<#LANG_DEVICES_PASSED_NEW_SECONDS_AGO#>') + ' <#LANG_DEVICES_PASSED_AGO#>';
			$('.motion-updatedText-JS-' + sID).text(beautyText);
		}, 1000);
	} else if(diff >= 3598 && diff < 86400) {
		beautyText = secondsToHms(diff, '<#LANG_DEVICES_PASSED_NEW_HOURS_AGO#>', '<#LANG_DEVICES_PASSED_NEW_MINUTES_AGO#>', '<#LANG_DEVICES_PASSED_NEW_SECONDS_AGO#>');
		$('.motion-updatedText-JS-' + sID).text(beautyText);
			
		window.intervalUpdateDateMotion_%.object_id% = setInterval(function() {	
			var currentTime = parseInt(new Date().getTime()/1000);
			var sID = '%.object_id%';
			var sDATA = '%.updated%';
			var diff = currentTime-sDATA;
			
			//Считаем и делаем красиво
			beautyText = secondsToHms(diff, '<#LANG_DEVICES_PASSED_NEW_HOURS_AGO#>', '<#LANG_DEVICES_PASSED_NEW_MINUTES_AGO#>', '<#LANG_DEVICES_PASSED_NEW_SECONDS_AGO#>');
			$('.motion-updatedText-JS-' + sID).text(beautyText);
		}, 61000);
	} else {
		//Дропаем интервал
		if(window.intervalUpdateDateMotion_%.object_id%) {
			window.clearInterval(intervalUpdateDateMotion_%.object_id%);
		}
		
		a = new Date(sDATA * 1000);
		currentTime = new Date();
		
		year = a.getFullYear();
		month = a.getMonth();
		date = a.getDate();
		hour = a.getHours();
		min = a.getMinutes();
		sec = a.getSeconds();

		if((currentTime.getDate() - date) == 1) {
			beautyText = '<#LANG_DEVICES_PASSED_YESTERDAY_IN#> ' + twoDigits(hour) + ':' + twoDigits(min) + ':' + twoDigits(sec);
		} else {
			beautyText = twoDigits(date) + '.' + twoDigits(month) + '.' + year + ' ' + twoDigits(hour) + ':' + twoDigits(min) + ':' + twoDigits(sec);
		}
		
		$('.motion-updatedText-JS-' + sID).text(beautyText);
	}
}); 

</script>

<div class="device-widget motion %.alive|"offline;online"%"  onclick="var url=('<#ROOTHTML#>pChart/?p=%.object_title%'+'.status&op=log&subop=24h&minimal=1');parent.$.fancybox.open({ src: url, type: 'iframe',iframe:{preload:false} });return false;">
    <div class="device-icon motion %.status|"off;on"%"></div>
    <div class="device-header">%.object_description%</div>
    <!---<div class="device-details">%.updatedText%</div>--->
    <div class="motion-updatedText-JS-%.object_id%" style="font-size: 11px;">...</div>
</div>
