<script src='<#ROOTHTML#>3rdparty/spectrum/spectrum.min.js'></script>
<link rel='stylesheet' href='<#ROOTHTML#>3rdparty/spectrum/spectrum.min.css' />

<div class="device-widget controller" onClick='callMethod("%.object_title%.switch");'>
    <div class="device-icon %.status|"off;on"%" style='%.icon|"background-image:url(%.icon%)"%'></div>
<div class="device-header"><span>%.object_description%</span>
    <input type="text" id="color%.object_id%" class="colorpicker" value="%.colorSaved%" onChange='callMethod("%.object_title%.setColor","color="+encodeURIComponent(this.value));'/>
</div>
<script>
    $("#color%.object_id%").spectrum({
        preferredFormat: "hex",
        showInput: true,
        chooseText: "OK",
        cancelText: "<#LANG_CANCEL#>"
    });
</script>
</div>
