<div class="device-widget thermostat">
<div class="device-icon thermostat %.relay_status|"off;on"%"></div>
<div class="device-header">%.object_description%</div>
<div class="device-details"><#LANG_DEVICES_THERMOSTAT_CURRENT_TARGET_TEMP#>:<br/>
    <a href="#" class="btn btn-default btn-sm" onClick='callMethod("%.object_title%.tempDown");return false;'>-</a>
    %.currentTargetValue%
    <a href="#" class="btn btn-default btn-sm" onClick='callMethod("%.object_title%.tempUp");return false;'>+</a>
</div>
<div class="device-details"><#LANG_DEVICES_THERMOSTAT_CURRENT_TEMP#>: %.value% [<a href="#"  onclick="var url=('/pChart/?p[]=%.object_title%'+'.value&p[]=%.object_title%'+'.relay_status&op=log&subop=24h&minimal=1');$.fancybox.open({ href: url, type: 'iframe' });return false;"><#LANG_HISTORY#></a>]</div>
<div class="device-details"><#LANG_DEVICES_THERMOSTAT_MODE#>: <a href="#" onClick='callMethod("%.object_title%.switch");return false;'>%.status|"ECO;NORMAL"%</a></div>
</div>
