<div class="device-widget thermostat %.alive|"offline;online"%" id='deviceid_%.object_title%'>
<div class="device-icon thermostat %.relay_status|"off;on"% icon%.object_id%_thermostat"></div>
<div class="device-header">%.object_description%</div>
<div class="device-details"><#LANG_DEVICES_THERMOSTAT_CURRENT_TARGET_TEMP#>:<br/>
    <a href="#" class="btn btn-default btn-sm" onClick='$(".icon%.object_id%_thermostat").addClass("pressed");setTimeout("$(\".icon%.object_id%_thermostat\").removeClass(\"pressed\");",300);
                                                        callMethod("%.object_title%.tempDown");
                                                        $.get("<#ROOTHTML#>ajax/devices.html?op=clicked&object="+encodeURIComponent("%.object_title%"));
                                                        return false;'>-</a>
    %.currentTargetValue%
    <a href="#" class="btn btn-default btn-sm" onClick='$(".icon%.object_id%_thermostat").addClass("pressed");setTimeout("$(\".icon%.object_id%_thermostat\").removeClass(\"pressed\");",300);
                                                        callMethod("%.object_title%.tempUp");
                                                        $.get("<#ROOTHTML#>ajax/devices.html?op=clicked&object="+encodeURIComponent("%.object_title%"));
                                                        return false;'>+</a>
    <div class="device-details">%.object_description%
           <span style="display:%.batteryOperated|"none;inline"%;
                        %.batteryWarning|"0=color:green;1=color:red;2=color:lightsalmon"%;"><i class="glyphicon glyphicon-flash"></i>%.batteryLevel%%</span>
    </div>
</div>
<div class="device-details"><#LANG_DEVICES_THERMOSTAT_CURRENT_TEMP#>: %.value% [<a href="#"  onclick="var url=('<#ROOTHTML#>pChart/?p[]=%.object_title%'+'.value&p[]=%.object_title%'+'.relay_status&op=log&subop=24h&minimal=1');parent.$.fancybox.open({ src: url, type: 'iframe',iframe:{preload:false} });return false;"><#LANG_HISTORY#></a>]</div>
<div class="device-details"><#LANG_DEVICES_THERMOSTAT_MODE#>:
    <a href="#" onClick='callMethod("%.object_title%.switchEnable");
                         $.get("<#ROOTHTML#>ajax/devices.html?op=clicked&object="+encodeURIComponent("%.object_title%"));
                         $(".icon%.object_id%_thermostat").addClass("pressed");setTimeout("$(\".icon%.object_id%_thermostat\").removeClass(\"pressed\");",300);
                         return false;' class="status_text status_%.disabled|"enabled;disabled"%"><#LANG_DEVICES_THERMOSTAT_MODE_OFF#></a>
        &nbsp;&nbsp;
    <a href="#" onClick='$(".icon%.object_id%_thermostat").addClass("pressed");setTimeout("$(\".icon%.object_id%_thermostat\").removeClass(\"pressed\");",300);
                         callMethod("%.object_title%.enable");
                         callMethod("%.object_title%.turnOff");
                         $.get("<ROOTHTML#>ajax/devices.html?op=clicked&object="+encodeURIComponent("%.object_title%"));
                         return false;' class="status_text status_eco_%.status|"off;on"%_%.disabled|"enabled;disabled"%"><#LANG_DEVICES_THERMOSTAT_MODE_ECO#></a>
        &nbsp;&nbsp;
    <a href="#" onClick='$(".icon%.object_id%_thermostat").addClass("pressed");setTimeout("$(\".icon%.object_id%_thermostat\").removeClass(\"pressed\");",300);
                         callMethod("%.object_title%.enable");
                         callMethod("%.object_title%.turnOn");
                         $.get("<#ROOTHTML#>ajax/devices.html?op=clicked&object="+encodeURIComponent("%.object_title%"));
                         return false;' class="status_text status_normal_%.status|"off;on"%_%.disabled|"enabled;disabled"%"><#LANG_DEVICES_THERMOSTAT_MODE_NORMAL#></a>
</div>
</div>
