<div class="device-widget mini thermostat %.alive|"offline;online"%" id='deviceid_%.object_title%' title='%.object_description%'>
<div class="device-icon thermostat %.relay_status|"off;on"% icon%.object_id%_thermostat"></div>
<div class="device-details">
    <a href="#" class="btn btn-default btn-sm" onClick='$(".icon%.object_id%_thermostat").addClass("pressed");setTimeout("$(\".icon%.object_id%_thermostat\").removeClass(\"pressed\");",300);
                                                        callMethod("%.object_title%.tempDown");
                                                        $.get("<#ROOTHTML#>ajax/devices.html?op=clicked&object="+encodeURIComponent("%.object_title%"));
                                                        return false;'>-</a>
    %.currentTargetValue%
    <a href="#" class="btn btn-default btn-sm" onClick='$(".icon%.object_id%_thermostat").addClass("pressed");setTimeout("$(\".icon%.object_id%_thermostat\").removeClass(\"pressed\");",300);
                                                        callMethod("%.object_title%.tempUp");
                                                        $.get("<#ROOTHTML#>ajax/devices.html?op=clicked&object="+encodeURIComponent("%.object_title%"));
                                                        return false;'>+</a>
</div>
</div>
