<p>
    <a href="?" class="btn btn-default"><#LANG_BACK#></a>
</p>

<div class="row">
    <div class="col-md-6"><h3>[#MODULE_NAME#]</h3></div>
    <div class="col-md-6 text-right">
        <a href="?mode=iframe&mode2=install&name=<#MODULE_NAME#>" class="btn btn-default btn-success" onclick="return confirm('<#LANG_ARE_YOU_SURE#>');"><i class="glyphicon glyphicon-download"></i> <#LANG_UPDATE#></a>
        [#if URL!=""#]
        <a href="[#URL#]" target="_blank" class="btn btn-default"><i class="glyphicon glyphicon-globe"></i> <#LANG_URL#></a>
        [#endif#]
    </div>
</div>


[#if COMMITS#]
<h4><#LANG_UPDATES#></h4>
<table class="table table-striped">
    [#begin COMMITS#]
    <tr>
        <td>[#UPDATED#]</td>
        <td>[#CONTENT#]</td>
        <td>
            <a href="?mode=iframe&mode2=install&name=<#MODULE_NAME#>&link=[#LINK_URL#]" class="btn btn-default btn-sm" onclick="return confirm('<#LANG_ARE_YOU_SURE#>');"><i class="glyphicon glyphicon-download"></i> <#LANG_RESTORE#></a>
            <a href="[#LINK#]" target="_blank" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-globe"></i> <#LANG_DETAILS#></a>
        </td>
    </tr>
    [#end COMMITS#]
</table>
[#endif COMMITS#]