[#if PLUGINS#]
<table class="table table-striped">
    [#begin PLUGINS#]
    <tr class="pluginRow" id="row[#ID#]">
        <!--#
        <td valign="top"><input type="checkbox" name="names[]" value="[#MODULE_NAME#]"></td>
        #-->
        <style>
            .addon_icon {
                width: 70px;
            }
        </style>
        <td class="addon_icon" valign="top">
            <img width="64" height="64" src='https://connect.smartliving.ru/cms/addons/[#ID#]_icon.png' onerror="this.src='<#ROOTHTML#>img/modules/default.png'"/>
        </td>
        <td valign="top">

            [#if URL!=""#]
            [#if EXISTS#]
            [#if INSTALLED_VERSION!="<#PLUGINS.LATEST_VERSION#>"#]
            <span class="label label-success">New</span>
            [#endif#]
            [#endif EXISTS#]
            <a href="[#URL#]" target="_blank">[#endif#]<b id="row[#ID#]_title">[#TITLE#]</b></a>
            [#if AUTHOR!=""#]
            (by [#if AUTHOR_URL!=""#]<a href="[#AUTHOR_URL#]" target=_blank>[#endif#][#AUTHOR#]</a>)
            [#endif#]
            [#if "<#SETTINGS_SITE_LANGUAGE#>"=="ru"#]
                [#if DESCRIPTION_RU!=""#]<p id="row[#ID#]_description">[#DESCRIPTION_RU#]</p>[#endif#]
                [#else#]
                [#if DESCRIPTION_EN!=""#]<p id="row[#ID#]_description">[#DESCRIPTION_EN#]</p>[#endif#]
                [#endif#]
                [#if LATEST_VERSION!=""#]
                <small><#LANG_LATEST_UPDATES#>: <a href="[#LATEST_VERSION_URL#]" target=_blank>[#LATEST_VERSION#]</a> [#if LATEST_VERSION_COMMENT!=""#]([#LATEST_VERSION_COMMENT#])[#endif#]</small>
                [#endif#]
                [#if EXISTS#]
                [#if LATEST_VERSION!=""#]
                <br>
                [#if INSTALLED_VERSION=="<#PLUGINS.LATEST_VERSION#>"#]
                    <font color="green">(up to date)</font>
                    [#else#]
                    <font color="blue">(update available, current version: [#if INSTALLED_VERSION!=""#][#INSTALLED_VERSION#][#else#]unknown[#endif#])</font>
                    [#endif#]
                    [#endif EXISTS#]
                    [#endif#]
        </td>
        <td valign="top">
            [#if URL!=""#]
            <a class="btn btn-default btn-sm" href="[#URL#]" target="_blank"><i class="glyphicon glyphicon-globe"></i> Info[#if PRICE!=""#] ([#PRICE#])[#endif PRICE#]</a><br>
            [#endif URL#]
            [#if CAN_DOWNLOAD="1"#]
            <a class="btn btn-default btn-sm" href="<#ROOTHTML#>panel/market.html?mode=iframe&mode2=install&name=[#MODULE_NAME#]">[#if EXISTS#]<i class="glyphicon glyphicon-refresh"></i> <#LANG_UPDATE#>[#else#]<i class="glyphicon glyphicon-download"></i> <#LANG_ADD#>[#endif#]</a><br>
            [#endif CAN_DOWNLOAD#]


            <!--#
        <a class="btn btn-default btn-sm" href="[#SUPPORT_URL#]" target=_blank>Support</a>
        <a class="btn btn-default btn-sm" href="[#REPOSITORY_URL#]">Src</a>
        #-->
            [#if EXISTS#]<a class="btn btn-default btn-sm" href="<#ROOTHTML#>panel/market.html?mode=iframe&mode2=uninstall&name=[#MODULE_NAME#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-trash"></i> <#LANG_DELETE#></a>[#endif#]
        </td>
    </tr>
    [#end PLUGINS#]
</table>
[#else PLUGINS#]
<div class="alert alert-warning"><#LANG_NO_RECORDS_FOUND#></div>
[#endif PLUGINS#]
