<script>
if($('#tab>li.active').text() == '<#LANG_UPDATES#>') {
	$('#tab>li.active>a').append('<span class="badge" style="margin-left: 5px;color: #fff;background-color: #47a447;border-color: #398439;vertical-align: text-top;">'+$('#market_application>.media').length+'</span>')
}
</script>
<div id="connect_sync_note" class="alert" style="display:none;background: radial-gradient(circle farthest-corner at 450px 10px, #a6e7bb, #0e6080);color: white;text-align: center;border: 0px;">
	<i class="glyphicon glyphicon-exclamation-sign" style="font-weight: normal;font-size: 13pt;vertical-align: sub;margin-right: 10px;"></i> <#LANG_MARKET_CONNECT_NOTE#>
</div>
[#if PLUGINS#]
    [#begin PLUGINS#]
	<div class="media" style="border: 1px solid [#if PRICE = ""#]#ddd[#else#]#47a447[#endif#];padding: 10px;margin-bottom: 10px;border-radius: 5px;[#if EXISTS#][#if INSTALLED_VERSION!="<#PLUGINS.LATEST_VERSION#>"#]background-image: radial-gradient(circle farthest-corner at 10px 10px, #ffffff, #d4ffb9);[#endif#][#endif EXISTS#]">
		<a class="pull-left" href="#">
			<img class="media-object" style="border-radius: 5px;padding: 5px;border: 1px solid #ddd;" width="64" height="64" src='https://connect.smartliving.ru/cms/addons/[#ID#]_icon.png' onerror="this.src='<#ROOTHTML#>img/modules/default.png'">
		</a>
		<div class="media-body">
			<div class="row" style="display: flex;flex-wrap: wrap;">
			<div class="col-md-8">
			<h4 class="media-heading" style="margin-bottom: 10px;">
				[#if AUTHOR!=""#]
					[#if AUTHOR_URL!=""#]<a href="[#AUTHOR_URL#]" target=_blank>[#endif#]<span style="color: darkgray;">[#AUTHOR#]</span> <i class="glyphicon glyphicon-arrow-right" style="color: darkgray;font-size: 10pt;vertical-align: text-top;"></i> [#if AUTHOR_URL!=""#]</a>[#endif#]
				[#endif#]
				[#if URL!=""#]<a href="[#URL#]" target="_blank">[#endif#]<b id="row[#ID#]_title">[#TITLE#]</b>[#if URL!=""#]</a>[#endif#]
				[#if EXISTS#]
					[#if INSTALLED_VERSION!="<#PLUGINS.LATEST_VERSION#>"#]
						<span class="label label-success"><#LANG_NEWMARKET_UPDATE_ALAIL#></span>
					[#endif#]
				[#endif EXISTS#]
			</h4>
			[#if "<#SETTINGS_SITE_LANGUAGE#>"=="ru"#]
				[#if DESCRIPTION_RU!=""#]
					<blockquote class="hidden-xs" style="max-height: 100px;overflow: auto;font-size: 10pt;overflow-wrap: break-word;border-left: 5px solid #4d96d3;margin-bottom: 0px;" id="row[#ID#]_description">
					[#DESCRIPTION_RU#]
					[#if LATEST_VERSION!=""#]
						<small><#LANG_LATEST_UPDATES#>: <a href="[#LATEST_VERSION_URL#]" target=_blank>[#LATEST_VERSION#]</a> [#if LATEST_VERSION_COMMENT!=""#]([#LATEST_VERSION_COMMENT#])[#endif#]</small>
					[#endif#]
					</blockquote>
				[#endif#]
			[#else#]
				[#if DESCRIPTION_EN!=""#]
					<blockquote style="max-height: 100px;overflow: auto;font-size: 10pt;overflow-wrap: break-word;border-left: 5px solid #4d96d3;margin-bottom: 0px;" id="row[#ID#]_description">
					[#DESCRIPTION_EN#]
					</blockquote>
					[#DESCRIPTION_RU#]
					[#if LATEST_VERSION!=""#]
						<small><#LANG_LATEST_UPDATES#>: <a href="[#LATEST_VERSION_URL#]" target=_blank>[#LATEST_VERSION#]</a> [#if LATEST_VERSION_COMMENT!=""#]([#LATEST_VERSION_COMMENT#])[#endif#]</small>
					[#endif#]
				[#endif#]
			[#endif#]
			</div>
			<div class="col-md-4 text-right" style="margin: auto;">
				[#if CAN_DOWNLOAD="1"#]
					[#if SUPPORT_URL !="" AND PRICE != ""#]<a class="btn btn-default" style="border-color: #ffffff;" target="_blank" href="[#SUPPORT_URL#]"><i class="glyphicon glyphicon-bullhorn"></i> <#LANG_NEWMARKET_MODULE_DISCUSS#></a>[#endif#]
					<a class="btn btn-[#if INSTALLED_VERSION!="<#PLUGINS.LATEST_VERSION#>"#]success[#else#]warning[#endif#]" style="border-color: #ffffff;" href="<#ROOTHTML#>panel/market.html?mode=iframe&mode2=install&name=[#MODULE_NAME#]">[#if EXISTS#]<i class="glyphicon glyphicon-refresh"></i> [#if INSTALLED_VERSION!="<#PLUGINS.LATEST_VERSION#>"#]<#LANG_UPDATE#>[#else#]Перекачать[#endif#][#else#]<i class="glyphicon glyphicon-download"></i> <#LANG_ADD#>[#endif#]</a>
				[#else#]
					[#if PRICE != ""#]
						[#if SUPPORT_URL !="" AND PRICE != ""#]<a class="btn btn-default" style="border-color: #ffffff;" target="_blank" href="[#SUPPORT_URL#]"><i class="glyphicon glyphicon-bullhorn"></i> <#LANG_NEWMARKET_MODULE_DISCUSS#></a>[#endif#]
						<a class="btn btn-info" style="border-color: #ffffff;" href="[#URL#]" target="_blank"><i class="glyphicon glyphicon-usd"></i> <#LANG_NEWMARKET_BUY_FOR#> [#PRICE#]</a>
					[#endif PRICE#]
				[#endif#]
				
				[#if EXISTS#]<a class="btn btn-danger" href="<#ROOTHTML#>panel/market.html?mode=iframe&mode2=uninstall&name=[#MODULE_NAME#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-trash"></i> <#LANG_DELETE#></a>[#endif#]
			</div>
			</div>
		</div>
	</div>
    [#end PLUGINS#]
[#else PLUGINS#]
	<div class="alert alert-warning"><#LANG_NO_RECORDS_FOUND#></div>
[#endif PLUGINS#]
