<br>
<a href="?view_mode=edit_product_categories&data_source=<#DATA_SOURCE#>" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#></a>

<br><br>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_product_categories" style="padding:0px">
<table class="table table-striped">
[#begin RESULT#]
<tr>
 <td
  >
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td width="300">
 
  [#if "<#ACTION#>"=="admin"#]
  
    <b><a  class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=edit_product_categories&id=[#ID#]"><#LANG_EDIT#></a></b>
   
  
    <b><a  class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=edit_product_categories&parent_id=[#ID#]"><#LANG_EXPAND#></a>
   
  [#if !RESULT#]

    <a  class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=delete_product_categories&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
  
  [#endif RESULT#]
  [#endif ACTION#]
 </td>
</tr>
[#if RESULT#]
 <tr><td colspan=100 style="padding-left:20px" bgcolor="#FFFFFF">
  <table  class="table table-striped">
   [#tree RESULT#]
  </table>
 </td></tr>
[#endif RESULT#]
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_product_categories">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p align=center>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
