<!--#
 @version 0.3 (auto-set)
#-->
<script language="javascript">
 function shoplistChanged() {
  $('operations').style.display='none';
  return false;
 }
</script>
<table width="100%" border="0">
 <form action="?" method="post">
 <tr>
  <td valign="top">
  <textarea name="shoplist" rows=15 cols=60 onKeyUp="shoplistChanged();">[#SHOPLIST#]</textarea>
  </td>
 </tr>
 <tr>
  <td valign="top"><input type="submit" name="submit" value="Сохранить">
  &nbsp;&nbsp;&nbsp;
  <span id="operations">
   [ <a href="?view_mode=<#VIEW_MODE#>&mode=makenote"><#LANG_CREATE_NOTE#></a> ]
  </span>
  </td>
 </tr>
 <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
 <input type="hidden" name="mode" value="savelist">
 </form>
</table>