<!--#
 @version 0.2 (auto-set)
#-->
<br>

<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_shopping_list_items" style="padding:0px">
<table border=0 cellpadding=5 cellspacing=1 align=center>
[#begin RESULT#]
<tr>
 <td
  >
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td
   align=center
  >
  [#if PRICE!=""#]
   [#PRICE#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td>
  <table border=0>
  [#if "<#ACTION#>"=="admin"#]
   <td align=center>
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=delete_shopping_list_items&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
   </td>
  [#endif ACTION#]
  </table>
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_shopping_list_items">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
