<!--#
 @version 0.2 (auto-set)
#-->
[#if FILTER_SET=""#]


<ul class="nav nav-tabs">
[#begin SECTIONS#]
[#if FILTER!=""#][#endif#]
<li [#if SELECTED="1"#]class="active"[#endif#]><a href="?filter_name=[#FILTER#]">[#TITLE#]</a></li>
[#end SECTIONS#]
</ul>



<br/>&nbsp;
[#endif FILTER_SET#]


<!-- table settings search -->
[#if UPDATED#]
<div class="alert alert-success">
<#LANG_SETTINGS_UPDATED#>
</div>
[#endif UPDATED#]
<!-- results -->
[#if RESULT#]

<script language="javascript">
$(function() {
        $(".edit-notes").click(function() {
                var id = $(this).data('id');
                $('#notes_' + id).show();
                $(this).remove();
        });
});
</script>

<!-- search results (list) -->
<form action="?" method="post" name="frmList_settings" class="form-horizontal">
[#begin RESULT#]
[#if HR="1"#]
<hr>
[#endif#]
<div class="form-group">
        <label class="control-label">[#TITLE#]:
                <#LANG_HCB#>[#HINT_NAME#]<#LANG_HCE#>
        </label>
        <div class="controls">
                [#if TYPE="text"#]
                [#if NAME=="SITE_TIMEZONE" || NAME=="SITE_LANGUAGE" || NAME=="THEME"#]
                [#VALUE#]
                <a href="<#ROOTHTML#>popup/first_start.html" target=_blank><#LANG_UPDATE#></a>
                <input type="hidden" class="form-control" name="value_[#ID#]" value="[#VALUE#]">
                [#else#]
                <input type="text" class="form-control" name="value_[#ID#]" value="[#VALUE#]" size=50>
                [#endif#]
                [#endif TYPE#]

                [#if TYPE="json"#]
                <pre>[#VALUE#]</pre>
                [#if OPTIONS#]
                <table class="table">
                        <thead>
                        <tr>
                                <th><#LANG_TITLE#></th>
                                <th><#LANG_PRIORITY#></th>
                                <th>Filter</th>
                        </tr>
                        </thead>
                        [#begin OPTIONS#]
                        <tr>
                                <td>[#OPTION_TITLE#]</td>
                                <td><input type="text" name="[#OPTION_TITLE#]_<#RESULT.ID#>_priority" value="[#PRIORITY#]"></td>
                                <td><input type="text" name="[#OPTION_TITLE#]_<#RESULT.ID#>_filter" value="[#FILTER#]"></td>
                        </tr>
                        [#end OPTIONS#]
                </table>
                [#endif <OPTIONS></OPTIONS>#]
                [#endif TYPE#]

                [#if TYPE="path"#]
                <input type="text"   class="form-control" name="value_[#ID#]" value="[#VALUE#]" id="value_[#ID#]" size=50 onclick="openFileBrowser('value_[#ID#]');">
                [#endif TYPE#]


                [#if TYPE="onoff"#]
                <label class="radio"><input type="radio" name="value_[#ID#]" value="1"[#if VALUE="1"#] checked[#endif#]>On</label>
                <label class="radio"><input type="radio" name="value_[#ID#]" value="0"[#if VALUE!="1"#] checked[#endif#]>Off</label>
                [#endif TYPE#]

                [#if TYPE="yesno"#]
                <label class="radio"><input type="radio" name="value_[#ID#]" value="1"[#if VALUE="1"#] checked[#endif#]>Yes</label>
                <label class="radio"><input type="radio" name="value_[#ID#]" value="0"[#if VALUE!="1"#] checked[#endif#]>No</label>
                [#endif TYPE#]

                [#if TYPE="select"#]
                [#begin OPTIONS#]
                <label class="radio"><input type="radio" name="value_<#RESULT.ID#>" value="[#OPTION_VALUE#]"[#if OPTION_VALUE="<#RESULT.VALUE#>"#] checked[#endif#]>[#OPTION_TITLE#]</label>
                [#end OPTIONS#]
                [#endif TYPE#]


                [#if TYPE="enable"#]
                <label class="radio"><input type="radio" name="value_[#ID#]" value="1"[#if VALUE="1"#] checked[#endif#]>Enable</label>
                <label class="radio"><input type="radio" name="value_[#ID#]" value="0"[#if VALUE!="1"#] checked[#endif#]>Disable</label>
                [#endif TYPE#]
                <p class="help-block">
                [#if TYPE=="text" || TYPE=="path"#]
                [#if DEFAULTVALUE!=""#]
                <#LANG_DEFAULT_VALUE#>: [#DEFAULTVALUE#]
                [#endif#]
                [#endif TYPE#]
                [#if TYPE="onoff"#]
                <#LANG_DEFAULT_VALUE#>: [#if DEFAULTVALUE="1"#]On[#else#]Off[#endif#]
                [#endif TYPE#]
                [#if TYPE="yesno"#]
                [#if DEFAULTVALUE!=""#]
                <#LANG_DEFAULT_VALUE#>: [#if DEFAULTVALUE="1"#]Yes[#else#]No[#endif#]
                [#endif#]
                [#endif TYPE#]
                [#if TYPE="enable"#]
                [#if DEFAULTVALUE!=""#]
                <#LANG_DEFAULT_VALUE#>: [#if DEFAULTVALUE="1"#]Enable[#else#]Disable[#endif#]
                [#endif#]
                [#endif TYPE#]
                </p>
                [#if URL_TITLE!=""#]<p class="help-block"><a href="[#URL#]" target=_blank>[#URL_TITLE#]</a></p>[#endif#]
                [#if NOTES!=""#]
                <p class="help-block edit-notes" data-id="[#ID#]"><acronym title="Click to edit">[#NOTES#]</acronym></p>
                <div id="notes_[#ID#]" style="display:none;" >
                <p><i>Edit configuration help tip</i></p>
                <textarea name="notes_[#ID#]" cols=45 rows=3 id="edit_notes_area_[#ID#]">[#NOTES#]</textarea>
                </div>
                [#endif#]
                
        </div>
</div>
  <!--#
  <br>&lt;#SETTINGS_[#NAME#]#&gt;
  #-->
  
[#end RESULT#]

<div class="form-actions">
        <button class="btn btn-default btn-primary" type="submit" name="submit"><i class="icon-ok"></i> <#LANG_SUBMIT#></button>
        <a class="btn btn-default" href="?mode=reset" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_RESET_TO_DEFAULT#></a>
        <input type="hidden" name="mode" value="update">
        <input type="hidden" name="filter_name" value="<#FILTER_NAME#>">
</div>
</form>
<!-- / search results (list) -->
[#else RESULT#]
<div class="alert alert-error">
<#LANG_NO_RECORDS_FOUND#>
</div>
[#endif RESULT#]
<!-- / results -->