<!--#
 @version 0.1 (auto-set)
#-->
<!--[text box]-->
[#if TITLE!=""#]
<table cellpadding=0 cellspacing=0 border=0><tr>
<td bgcolor="#BA1601" style='color:#ffffff;font-weight:bold;font-family:Tahoma;font-size:14px' height=28>&nbsp; &nbsp; [#TITLE#] &nbsp; &nbsp;</td>
<td bgcolor="#cccccc" valign="top"><img src="[#ROOTHTML#]img/blocks/dot.gif" width="5" height="5"></td>
</tr></table>
[#endif TITLE#]
<table cellpadding=0 cellspacing=0 border=0><tr><td  bgcolor="#efefef">
	<table cellpadding=12 cellspacing=0 border=0 width=100%><tr><td width=100%>
	[#...#]
	</td></tr></table>
</td>
<td bgcolor="#cccccc" valign="top"><img src="[#ROOTHTML#]img/blocks/dot.gif" width="5" height="5"></td>
</tr>
<tr>
<td bgcolor="#cccccc"><img src="[#ROOTHTML#]img/blocks/dot.gif" width="5" height="5"></td>
<td bgcolor="#cccccc"><img src="[#ROOTHTML#]img/0.gif" width=5 height=5></td>
</tr></table>
<!--[/text box]-->


