<!--#
 @version 0.1 (auto-set)
#-->
<!--[warning box]-->
<br>
<table cellpadding=1 cellspacing=0 border=0 align="center"><tr><td width=100% bgcolor="#BA1601">
<table cellpadding=10 cellspacing=0 border=0 width=100% align="center"><tr><td bgcolor="#FFA800" align="center">
<img src="[#ROOTHTML#]img/blocks/warn.gif" alt="" width="50" height="50" border="0">
</td>
<td width=100% bgcolor="#FFA800" align="center">
[#if TITLE!=""#]
<b style='color:#BA1601;font-weight:bold;font-family:Tahoma;font-size:16px'>[#TITLE#]</b><br>
[#endif TITLE#]
<span style='color:#000000;font-family:Verdana;font-size:10px'>[#...#]</span>
</td></tr></table>
</td></tr></table>
<!--/[warning box]-->
