[#if VIEW_MODE=""#]

 <a href="?view_mode=edit_file" class="btn btn-default btn-primary"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
 <a href="?view_mode=edit_file&file=panelBlockLeft" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> panelBlockLeft</a>
<a href="?view_mode=edit_file&file=panelBlockRight" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> panelBlockRight</a>
<br><br>
 <table class="table table-striped" width="100%" border="0" cellpadding=5>
 <tbody>
  [#begin FILES#]
  <tr>
   <td valign="top"><big><a href="?view_mode=edit_file&file=[#FILENAME_URL#]">[#FILENAME#]</a></big></td>
  </tr>
  [#end FILES#]
 </table>
 </tbody>
[#endif VIEW_MODE#]

[#if VIEW_MODE="edit_file"#]


<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>

<span class="divider">/</span>
<li class="active">
[#if FILE!=""#]
<#LANG_EDIT_RECORD#>
[#else ID#]
<#LANG_NEW_RECORD#>
[#endif#]
</li>
</ul>

[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]


<form action="?" method="post" class="form-horizontal">

<div class="form-group ">
        <label class="control-label" for="inputTitle"><#LANG_TITLE#>:</label>
        <div class="col-lg-8"><input type="text"  class="form-control"  name="file" value="[#FILE#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="control-label" for="inputTitle"><#LANG_DATA#>:</label>
        <div class="col-lg-8">
            <textarea name="data" id="data" class="span8 form-control" rows="20">[#DATA#]</textarea>
            [#if ADD_EDITOR="1"#]
            [#module name="blockly_code" system_name="textfile_<#FILE#>" code_field="data" wraplines="1" type="html" action=""#]
            [#endif#]
        </div>
</div>


 

 
 

<div class="form-group">
     <div class="col-lg-offset-2 col-lg-5">
   <input type="submit" name="submit" value="<#LANG_SUBMIT#>" class="btn btn-primary">
   <a href="?" class="btn  btn-default"><#LANG_CANCEL#></a>
   [#if FILE!=""#]
  
   <a href="?view_mode=delete_file&file=<#FILE_URL#>" class="btn  btn-default" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
   [#endif FILE#]
  </div>
 </div>
 
 
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="mode" value="update">
</form>


[#if FILE!=""#]
<div class="col-lg-offset-2 col-lg-5">
Example usage: getRandomLine('<#FILE#>');
</div>
[#endif FILE#]

[#endif VIEW_MODE#]