
<!-- table zwave_devices search -->
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_zwave_devices" style="padding:0px" class="form">
<table  align=center class="table table-stripped">
<thead>
<tr>
 <th>
 NODE
 </th>
 <th>
 <a href="?sortby_zwave_devices=TITLE&data_source=<#DATA_SOURCE#>&save_qry=1">TITLE</a><nobr>
 [#if SORTBY="TITLE"#](+)[#endif#]
 [#if SORTBY="TITLE DESC"#](-)[#endif#]</nobr>
 </th>
 <th>
 STATUS
 </th>
 <th>
 LATEST_UPDATE
 </th>
<td>&nbsp;</td>
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr class="hover_btn2">
 <td valign="top">[#NODE_ID#].[#INSTANCE_ID#]</td>
 <td
  >
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td
   align=center>
  [#if STATUS!=""#]
   [#STATUS#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td
   align=center>
  [#if LATEST_UPDATE!=""#]
   [#LATEST_UPDATE#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td width="1%" nowrap>
  <div style="width:120px">
  </div>
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_zwave_devices">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p>
<font color="red">No records found.</font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
