
/* INFORMER */
.type_informer {
 margin-right: -2px;
 margin-bottom: 1px;
 padding:0px;
 color:white;
 border:1px solid rgba(0,0,0,0.2);
 font-size:14px;
 background-color:rgba(0,0,0,0.5);
 align:left;
 width:71px;
 height:34px;
 background-image: url(<#ROOTHTML#>img/elements/i_temp.png);
 background-repeat: no-repeat;
 background-position: -6;
}

.type_informer span {
 display:inline-block;
 width:40px;
 height:28px;
 
 position:relative;
 padding-left:21px;
 padding-top:9px;
}




.type_informer.state_low span {
color:#92e7ff; 
}
.type_informer.state_high span {
color:#f1b001; 
}
.type_informer.state_high.style_humidity span {
color:#92e7ff; 
}
.type_informer.state_low.style_humidity span {
color:#f1b001; 
}

[#begin STYLES#]
[#if HAS_DEFAULT!=""#]
 .type_informer.style_[#TITLE#] {
  background-image: url(<#ROOTHTML#>cms/scenes/styles/informer/[#HAS_DEFAULT#]);
  background-repeat: no-repeat;
  background-position: -6;
 }
[#endif#]
[#if HAS_HIGH!=""#]
 .type_informer.state_high.style_[#TITLE#] {
  background-image: url(<#ROOTHTML#>cms/scenes/styles/informer/[#HAS_HIGH#]);
  background-repeat: no-repeat;
  background-position: -6;
 }
[#endif#]
[#if HAS_LOW!=""#]
 .type_informer.state_low.style_[#TITLE#] {
  background-image: url(<#ROOTHTML#>cms/scenes/styles/informer/[#HAS_LOW#]);
  background-repeat: no-repeat;
  background-position: -6;
 }
[#endif#]
[#end STYLES#]
