&nbsp;
<div class="panel panel-default">
<div class="panel-heading"><#LANG_SECURITY_OBJECT_ID#>: [#OBJECT_TYPE#] #[#OBJECT_ID#]</div>
<div class="panel-body">
<!-- Table 'security_rules' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]

<input type="hidden" name="object_type" value="[#OBJECT_TYPE#]">
<input type="hidden" name="object_id" value="[#OBJECT_ID#]">


[#if DISABLE_TERMINALS!="1"#]
<div class="form-group">
 <label class="control-label"[#if ERR_TERMINALS#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_SECURITY_TERMINALS#>:
 </label>
 <div class="controls">
 <label><input type="checkbox" name="terminals_limited" id='terminals_limited' value="1"[#if TERMINALS!=""#] checked[#endif#]> <#LANG_SET#></label>
 <div id='terminals_select'>
  [#begin TERMINALS_LIST#]
  <label><input type="checkbox" name="terminals_list[]" value="[#ID#]"[#if SELECTED#] checked[#endif#]> [#TITLE#]</label>
  [#end TERMINALS_LIST#]
  <label>( <input type="checkbox" name="terminals_except" value="1"[#if TERMINALS_EXCEPT="1"#] checked[#endif#]> <#LANG_ALLOW_EXCEPT_ABOVE#> )</label>
 </div>
 </div>
 <script language="javascript">
  $(function () {
  $('#terminals_limited').change(function () {                
     $('#terminals_select').toggle(this.checked);
  }).change();
  });
 </script>
</div>
[#endif DISABLE_TERMINALS#]

[#if DISABLE_USERS!="1"#]
<!-- USERS (varchar) -->
<div class="form-group">
 <label class="control-label"[#if ERR_USERS#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_SECURITY_USERS#>:
 </label>
 <div class="controls"><label><input type="checkbox" name="users_limited" id='users_limited' value="1"[#if USERS!=""#] checked[#endif#]> <#LANG_SET#></label>
 <div id='users_select'>
  [#begin USERS_LIST#]
  <div><input type="checkbox" name="users_list[]" value="[#ID#]"[#if SELECTED#] checked[#endif#]> [#NAME#]</div>
  [#end USERS_LIST#]
  <div>( <input type="checkbox" name="users_except" value="1"[#if USERS_EXCEPT="1"#] checked[#endif#]> <#LANG_ALLOW_EXCEPT_ABOVE#> )</div>
 </div>
 </div>
 <script language="javascript">
  $(function () {
  $('#users_limited').change(function () {                
     $('#users_select').toggle(this.checked);
  }).change();
  });
 </script>
</div>
[#endif DISABLE_USERS#]

<!-- TIMES (varchar) -->
<div class="form-group">
 <label class="control-label"[#if ERR_TIMES#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_SECURITY_TIMES#>:
 </label>
 <div class="controls"><label><input type="checkbox" name="times_limited" id='times_limited' value="1"[#if TIMES#] checked[#endif#]> <#LANG_SET#></label>
 <div id='times_select'>
  [#begin TIMES_LIST#]
  <nobr><input type="checkbox" name="times_list[]" value="[#TITLE#]"[#if SELECTED#] checked[#endif#]> [#TITLE#]</nobr>
     &nbsp;&nbsp;
  [#end TIMES_LIST#]
  <div>( <input type="checkbox" name="times_except" value="1"[#if TIMES_EXCEPT="1"#] checked[#endif#]> <#LANG_ALLOW_EXCEPT_ABOVE#> )</div>
 </div>
 </div>
 <script language="javascript">
  $(function () {
  $('#times_limited').change(function () {                
     $('#times_select').toggle(this.checked);
  }).change();
  });
 </script>
</div>


<!-- CONDITIO (varchar) -->
<div class="form-group">
 <label class="control-label"[#if ERR_TIMES#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_CONDITION#>:
 </label>
    <div class="controls">
     <label><input type="checkbox" name="condition_active" id='condition_active' value="1"[#if CONDITION_ACTIVE=="1"#] checked[#endif#]> <#LANG_SET#> (&amp;&amp;)</label>
    </div>
 <div id='condition_select' class="panel-body">
     <table class="table">
         <tr>
             <th>
                 <#LANG_LINKED_OBJECT#>
             </th>
             <th>
                 <#LANG_LINKED_PROPERTY#>
             </th>
             <th><#LANG_CONDITION#></th>
             <th><#LANG_VALUE#></th>
         </tr>
         [#begin CONDITIONS#]
         <tr class="condition_row" [#if HIDDEN="1"#] style="display:none"[#endif#]>
             <td><input type="text" class="form-control" name="condition_linked_object[#NUM#]" id="condition_linked_object[#NUM#]" value="[#LINKED_OBJECT#]"></td>
             <td><input type="text" class="form-control" name="condition_linked_property[#NUM#]" id="condition_linked_property[#NUM#]" value="[#LINKED_PROPERTY#]"></td>
             [#module name="linkedobject" object_field="condition_linked_object[#NUM#]" property_field="condition_linked_property[#NUM#]"#]
             <td><select name="condition[#NUM#]" class="form-control">
                 <option value="1"[#if CONDITION="1"#] selected[#endif#]>=
                 <option value="2"[#if CONDITION="2"#] selected[#endif#]>&gt;
                 <option value="3"[#if CONDITION="3"#] selected[#endif#]>&lt;
                 <option value="4"[#if CONDITION="4"#] selected[#endif#]>&lt;&gt;
                 <option value="5"[#if CONDITION="5"#] selected[#endif#]><#LANG_VALUE_UPDATED#>
             </select></td>
             <td>
                 <input type="text" class="form-control" name="condition_value[#NUM#]" value="[#VALUE#]">
             </td>
         </tr>
         [#end CONDITIONS#]
         <tr>
             <td colspan="10">
             <a href="#" onclick="$('.condition_row:hidden:first').show();return false;" class="btn btn-default btn-small"><i class="glyphicon glyphicon-plus"></i> &amp;&amp;</a>
             </td>
         </tr>
     </table>



 </div>


 <script language="javascript">
  $(function () {
  $('#condition_active').change(function () {                
     $('#condition_select').toggle(this.checked);
  }).change();
  });
 </script>
</div>


<div class="form-actions">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
[#if NO_CANCEL!="1"#]
 <a href="?" class="btn"><#LANG_CANCEL#></a>
[#else#]
 <input type="hidden" name="no_cancel" value="1">
[#endif SINGLE_REC#]
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
    [#if TYPES#]
     [#begin TYPES#]
    <input name="types[]" type="hidden" value="[#TITLE#]">
     [#end TYPES#]
    [#endif TYPES#]
</div>

</form>
[#if OBJECT_ID!="" && OBJECT_TYPE!=""#]
    <hr/>
    <div>
        Code example:
<pre>if (!checkAccess('[#OBJECT_TYPE#]',[#OBJECT_ID#])) return;</pre>
    </div>
[#endif ID#]
</div>
</div>