<!--#
 @version 0.1 (auto-set)
#-->

<ul class="nav nav-tabs">
 <li [#if DATA_SOURCE="scripts" || DATA_SOURCE=""#]class="active"[#endif#]><a href="?data_source=scripts" style="cursor:pointer;"><#LANG_MODULE_SCRIPTS#></a></li>
 <li [#if DATA_SOURCE="categories"#]class="active"[#endif#]><a href="?data_source=categories" style="cursor:pointer;"><#LANG_CATEGORIES#></a></li>
</ul>


[#if DATA_SOURCE=="" || DATA_SOURCE=="scripts"#]
 <!-- action usual -->
 <!-- table scripts search -->
 [#if VIEW_MODE="search_scripts" || VIEW_MODE=""#]
  [#inc scripts_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table scripts search -->
 <!-- table scripts edit -->
 [#if VIEW_MODE="edit_scripts"#]
   [#inc scripts_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table scripts edit -->
[#endif DATA_SOURCE#]

[#if DATA_SOURCE=="categories"#]
 <!-- action usual -->
 <!-- table scripts search -->
 [#if VIEW_MODE="search_categories" || VIEW_MODE=""#]
  [#inc categories_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table scripts search -->
 <!-- table scripts edit -->
 [#if VIEW_MODE="edit_categories"#]
   [#inc categories_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table scripts edit -->
[#endif DATA_SOURCE#]