<!--#
 @version 0.3 (auto-set)
#-->

<!-- table scripts search -->
&nbsp;
<p>
<b>
<a href="?view_mode=edit_categories&data_source=<#DATA_SOURCE#>" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_CATEGORY#></a>
</b>
</p>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_scripts" style="padding:0px">
<table class="table table-striped">
[#begin RESULT#]
<tr  class="hover_btn2">
 <td
  >
  <b>
  [#if TITLE!=""#]
   [#TITLE#]
  [#else#]
   &nbsp;
  [#endif#]
  </a></b>
 </td>
 <td width="100">
  [#if "<#ACTION#>"=="admin"#]
    <b><a href="?view_mode=edit_categories&id=[#ID#]&data_source=<#DATA_SOURCE#>" title="<#LANG_EDIT#>" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a></b>
    <a href="?view_mode=delete_categories&id=[#ID#]&data_source=<#DATA_SOURCE#>" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" title="<#LANG_DELETE#>" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_scripts">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p align=center>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->

