<!--#
 @version 0.4 (auto-set)
#-->

<ul class="breadcrumb">
<li> 
<a href="?data_source=<#DATA_SOURCE#>"><#LANG_HOME#></a>
</li>
<span class="divider">/</span>
<li class="active">
[#if ID=""#]
<#LANG_NEW_SCRIPT#>
[#else#]
<#LANG_EDIT_RECORD#>
[#endif#]
</li>
</ul>


<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" id="frmEdit"  class="form-horizontal">

[#if OK#]
    <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
  <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]


<div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_TITLE#>:<font color="red">*</font><#LANG_HCB#>title<#LANG_HCE#></label>
        <div class="col-lg-8"><input type="text"  class="form-control [#if ERR_TITLE#]alert-danger[#endif#]"  name="title" value="[#TITLE#]" required="true"></div>
</div>

<div class="form-group ">
 <div class="col-lg-8 col-lg-offset-2">

<label><input type="checkbox" name="run_periodically" value="1"[#if RUN_PERIODICALLY="1"#] checked[#endif#] onClick='$("#periocidally").toggle();'>
  <#LANG_RUN_PERIODICALLY#><#LANG_HCB#>script_runperiodically<#LANG_HCE#></label>
  <div id='periocidally'[#if RUN_PERIODICALLY!="1"#] style="display:none"[#endif#]>
   <#LANG_RUN_TIME#>:
   <select name="run_hours" class="span2">
    [#begin HOURS#]
    <option value="[#TITLE#]"[#if SELECTED="1"#] selected[#endif#]>[#TITLE#]
    [#end HOURS#]
   </select>
   :
   <select name="run_minutes" class="span2">
    [#begin MINUTES#]
    <option value="[#TITLE#]"[#if SELECTED="1"#] selected[#endif#]>[#TITLE#]
    [#end MINUTES#]
   </select>
   <br>
   <#LANG_RUN_WEEKDAYS#>:
   [#begin DAYS#]
   <br><label><input type="checkbox" name="run_days[]" value="[#VALUE#]"[#if SELECTED="1"#] checked[#endif#]> [#TITLE#]</label>
   [#end DAYS#]
  </div>
  
 </div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_CATEGORY#><#LANG_HCB#>script_category<#LANG_HCE#></label>
        <div class="col-lg-8">
  <select name="category_id" class="form-control">
   <option value="0">
   [#begin CATEGORIES#]
   <option value="[#ID#]" [#if ID="<#CATEGORY_ID#>"#] selected[#endif#]>[#TITLE#]
   [#end CATEGORIES#]
  </select>

 </div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_DESCRIPTION#><#LANG_HCB#>description<#LANG_HCE#></label>
        <div class="col-lg-8">
            <div id="description_div_show">
                <i>[#DESCRIPTION#]</i>
                <a href="#" onclick="$('#description_div_show').hide();$('#description_div').show();return false;"><#LANG_EDIT#></a>
            </div>
   <div id="description_div" style="display:none">
       <textarea name="description" id="description" rows=3 cols=100 class="form-control">[#DESCRIPTION#]</textarea>
   </div>
 </div>
</div>

[#if ID!=""#]
<div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_CODE#><#LANG_HCB#>code<#LANG_HCE#></label>
        <div class="col-lg-8">

 [#if ERRORS!=""#]<br><font color='red'>[#ERRORS#]</font><br>[#endif ERRORS#]
 <!--#
 <a href="#" onClick="return editBlockly();"><#LANG_EDIT#></a>
 #-->
 [#module name="blockly_code" system_name="script<#ID#>" code_field="code" action=""#]
 <div id="code_area">
  <textarea name="code" id="code" rows=30 cols=100 class="form-control">[#CODE#]</textarea>
 </div>
 </div>
</div>

[#if AUTO_LINK_AVAILABLE="1"#]
    <div class="form-group ">
        <label class="col-lg-4 control-label"><#LANG_AUTO_LINK#><#LANG_HCB#>script_autolink<#LANG_HCE#></label>
        <div class="col-lg-8">
            <input type="radio" name="auto_link" value="1"[#if AUTO_LINK="1"#] checked[#endif#]> <#LANG_YES#>
            [#if LINKED_OBJECT!="" && LINKED_PROPERTY!=""#]
            (<#LANG_LINKED_OBJECT#>: [#LINKED_OBJECT#].[#LINKED_PROPERTY#])
            [#endif#]
            <input type="radio" name="auto_link" value="0"[#if AUTO_LINK!="1"#] checked[#endif#]> <#LANG_NO#>

        </div>
    </div>
[#endif#]


<div class="form-group ">
 <div class="col-lg-8 col-lg-offset-2">

<label>
  <input type="checkbox" name="edit_run" id="chkRun" value="1"> <#LANG_EXECUTE_SCRIPT_AFTER_UPDATE#>
  
 </div>
</div>

[#endif ID#]



[#endif ID#]


<div class="form-group">
     <div class="col-lg-offset-1 col-lg-11">
        
         [#if ID!=""#]
                 <input class="btn btn-default btn-primary" type="submit" name="subm" value="<#LANG_SUBMIT#>">
                 [#else ID#]
                 <input class="btn btn-default btn-primary" type="submit" name="subm" value="<#LANG_ADD#>">
                 [#endif ID#]
                 &nbsp;
                 <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default"><#LANG_CANCEL#></a>

 [#if ID!=""#]
 &nbsp;
 <a href="?id=<#ID#>&view_mode=clone" class="btn btn-default" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_MAKE_COPY#></a>
 <a href="?ids[]=<#ID#>&view_mode=multiple" class="btn btn-default"><#LANG_EXPORT#></a>
 <a href="?id=<#ID#>&view_mode=delete_scripts" class="btn btn-default" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
 [#endif ID#]


    </div>
</div>

[#if ID!=""#]
&nbsp;
<table
<tr>
 <td valign="top"><#LANG_RUN_BY_URL#>:</td>
 <td valign="top"><a href="<#ROOTHTML#>objects/?script=[#TITLE#]" target=_blank><#SERVER_URL#><#ROOTHTML#>objects/?script=[#TITLE#]</a></td>
</tr>
<tr>
 <td valign="top"><#LANG_COMMAND_LINE#>:</td>
 <td valign="top"><#DOC_ROOT#>\obj.bat script:[#TITLE#]</td>
</tr>
</table>
&nbsp;
[#endif#]


<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
</form>

 [#if OTHER_SCRIPTS#]
   <ul>
   [#begin OTHER_SCRIPTS#]
   <li>[#if ID!="<#ID#>"#]<a href="?view_mode=edit_scripts&id=[#ID#]">[#else#]<b>[#endif#][#TITLE#]</b></a></li>
   [#end OTHER_SCRIPTS#]
   </ul>
 [#endif OTHER_SCRIPTS#]


[#if ID!=""#]
 [#module name="xray" action="context" type="script" keyword="<#TITLE#>" code_id="code"#]
[#endif ID#]