<!--#
 @version 0.2 (auto-set)
#-->

[#if SET_DATASOURCE!="1"#]
&nbsp;
<!-- source select -->
<table border=0 width=100% cellspacing=1 cellpadding=4 bgcolor="#222222">
<tr>
 <td align=center bgcolor="[#if DATA_SOURCE!="gpslog" && DATA_SOURCE!=""#]#DDDDDD[#else#]#FFFFFF[#endif#]">
  <b>
  [#if DATA_SOURCE!="gpslog" && DATA_SOURCE!=""#]<a href="?data_source=gpslog"><#LANG_LOG#></a>
  [#else#]
   <#LANG_LOG#>
  [#endif#]
  </b>
 </td>
 <td align=center bgcolor="[#if DATA_SOURCE!="gpslocations"#]#DDDDDD[#else#]#FFFFFF[#endif#]">
  <b>
  [#if DATA_SOURCE!="gpslocations"#]<a href="?data_source=gpslocations"><#LANG_LOCATIONS#></a>
  [#else#]
   <#LANG_LOCATIONS#>
  [#endif#]
  </b>
 </td>
 <td align=center bgcolor="[#if DATA_SOURCE!="gpsdevices"#]#DDDDDD[#else#]#FFFFFF[#endif#]">
  <b>
  [#if DATA_SOURCE!="gpsdevices"#]<a href="?data_source=gpsdevices"><#LANG_DEVICES#></a>
  [#else#]
   <#LANG_DEVICES#>
  [#endif#]
  </b>
 </td>
 <td align=center bgcolor="[#if DATA_SOURCE!="gpsactions"#]#DDDDDD[#else#]#FFFFFF[#endif#]">
  <b>
  [#if DATA_SOURCE!="gpsactions"#]<a href="?data_source=gpsactions"><#LANG_ACTIONS#></a>
  [#else#]
   <#LANG_ACTIONS#>
  [#endif#]
  </b>
 </td>
 </tr>
 <tr>
</tr>
</table>
<!-- / source select -->
[#endif SET_DATASOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="gpslog" || DATA_SOURCE=""#]
 <!-- table gpslog search -->
 [#if VIEW_MODE="search_gpslog" || VIEW_MODE=""#]
  [#inc gpslog_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpslog search -->
 <!-- table gpslog edit -->
 [#if VIEW_MODE="edit_gpslog"#]
   [#inc gpslog_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpslog edit -->
 <!-- table gpslog view --> 
 [#if VIEW_MODE="view_gpslog"#]
   [#inc gpslog_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpslog view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="gpslocations"#]
 <!-- table gpslocations search -->
 [#if VIEW_MODE="search_gpslocations" || VIEW_MODE=""#]
  [#inc gpslocations_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpslocations search -->
 <!-- table gpslocations edit -->
 [#if VIEW_MODE="edit_gpslocations"#]
   [#inc gpslocations_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpslocations edit -->
 <!-- table gpslocations view --> 
 [#if VIEW_MODE="view_gpslocations"#]
   [#inc gpslocations_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpslocations view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="gpsdevices"#]
 <!-- table gpsdevices search -->
 [#if VIEW_MODE="search_gpsdevices" || VIEW_MODE=""#]
  [#inc gpsdevices_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpsdevices search -->
 <!-- table gpsdevices edit -->
 [#if VIEW_MODE="edit_gpsdevices"#]
   [#inc gpsdevices_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpsdevices edit -->
 <!-- table gpsdevices view --> 
 [#if VIEW_MODE="view_gpsdevices"#]
   [#inc gpsdevices_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpsdevices view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="gpsactions"#]
 <!-- table gpsactions search -->
 [#if VIEW_MODE="search_gpsactions" || VIEW_MODE=""#]
  [#inc gpsactions_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpsactions search -->
 <!-- table gpsactions edit -->
 [#if VIEW_MODE="edit_gpsactions"#]
   [#inc gpsactions_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpsactions edit -->
 <!-- table gpsactions view --> 
 [#if VIEW_MODE="view_gpsactions"#]
   [#inc gpsactions_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table gpsactions view -->
 [#endif DATA_SOURCE#]
