<!--#
 @version 0.2 (auto-set)
#-->

<!-- table gpsactions search -->
<p align=center>
<b>
<a href="?view_mode=edit_gpsactions&data_source=<#DATA_SOURCE#>">><#LANG_ADD_NEW_RECORD#><</a>
</b>
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_gpsactions" style="padding:0px">
<table border=0 cellpadding=5 cellspacing=1 bgcolor="#000000" align=center>
<tr>
[#if !IS_SET_LOCATION_ID#]
 <td align=center bgcolor="#AAAAAA">
 <b>LOCATION_ID</b>
 </td>
[#endif IS_SET_LOCATION_ID#]
[#if !IS_SET_USER_ID#]
 <td align=center bgcolor="#AAAAAA">
 <b><#LANG_USER#></b>
 </td>
[#endif IS_SET_USER_ID#]
 <td align=center bgcolor="#AAAAAA">
 <b><#LANG_ACTION_TYPE#></b>
 </td>
[#if !IS_SET_SCRIPT_ID#]
 <td align=center bgcolor="#AAAAAA">
 <b><#LANG_SCRIPT#></b>
 </td>
[#endif IS_SET_SCRIPT_ID#]
 <td align=center bgcolor="#AAAAAA">
 <b><#LANG_EXECUTED#></b>
 </td>
<td bgcolor="#AAAAAA">&nbsp;</td>
</tr>
[#begin RESULT#]
<tr >
[#if "<#IS_SET_LOCATION_ID#>"!="1"#]
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
   [#LOCATION_TITLE#]
 </td>
[#endif IS_SET_LOCATION_ID#]
[#if "<#IS_SET_USER_ID#>"!="1"#]
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
   [#USER_NAME#]
 </td>
[#endif IS_SET_USER_ID#]
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if ACTION_TYPE="1"#]
   Entering
  [#else#]
   Leaving
  [#endif#]
 </td>
[#if "<#IS_SET_SCRIPT_ID#>"!="1"#]
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if SCRIPT_TITLE!=""#]
   [#SCRIPT_TITLE#]
  [#else#]
   Code
  [#endif#]
 </td>
[#endif IS_SET_SCRIPT_ID#]
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if EXECUTED!=""#]
   [#EXECUTED#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  <table border=0>
  [#if "<#ACTION#>"=="admin"#]
   <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]" align=center>
    <b><a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_gpsactions&id=[#ID#]"><#LANG_EDIT#></a></b>
   </td>
   <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]" align=center>
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=delete_gpsactions&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
   </td>
  [#endif ACTION#]
  </table>
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_gpsactions">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p align=center>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
