<!--#
 @version 0.2 (auto-set)
#-->

<!-- table gpsactions search -->

<a href="?view_mode=edit_gpsactions&data_source=<#DATA_SOURCE#>" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#></a>
<br><br>

<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_gpsactions" style="padding:0px">
<table class="table table-striped">
<thead>
<tr>
[#if !IS_SET_LOCATION_ID#]
 <td  >
 <b>LOCATION_ID</b>
 </td>
[#endif IS_SET_LOCATION_ID#]
[#if !IS_SET_USER_ID#]
 <td  >
 <b><#LANG_USER#></b>
 </td>
[#endif IS_SET_USER_ID#]
 <td  >
 <b><#LANG_ACTION_TYPE#></b>
 </td>
[#if !IS_SET_SCRIPT_ID#]
 <td  >
 <b><#LANG_SCRIPT#></b>
 </td>
[#endif IS_SET_SCRIPT_ID#]
 <td  >
 <b><#LANG_EXECUTED#></b>
 </td>
<td >&nbsp;</td>
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr >
[#if "<#IS_SET_LOCATION_ID#>"!="1"#]
 <td
   
   >
   [#LOCATION_TITLE#]
 </td>
[#endif IS_SET_LOCATION_ID#]
[#if "<#IS_SET_USER_ID#>"!="1"#]
 <td
   
   >
   [#USER_NAME#]
 </td>
[#endif IS_SET_USER_ID#]
 <td
   
   >
  [#if ACTION_TYPE="1"#]
   Entering
  [#else#]
   Leaving
  [#endif#]
 </td>
[#if "<#IS_SET_SCRIPT_ID#>"!="1"#]
 <td
   
   >
  [#if SCRIPT_TITLE!=""#]
   [#SCRIPT_TITLE#]
  [#else#]
   Code
  [#endif#]
 </td>
[#endif IS_SET_SCRIPT_ID#]
 <td
   
   >
  [#if EXECUTED!=""#]
   [#EXECUTED#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td >
  
  [#if "<#ACTION#>"=="admin"#]
 
   <a class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=edit_gpsactions&id=[#ID#]"><i class="glyphicon glyphicon-pencil"></i></a>
  
    <a class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=delete_gpsactions&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-remove"></i></a>
   
  [#endif ACTION#]
 
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_gpsactions">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
[#endif RESULT#]
<!-- / results -->

