<!--#
 @version 0.3 (auto-set)
#-->
 <!-- action usual -->
 <!-- table objects search -->
 [#if VIEW_MODE="search_objects" || VIEW_MODE=""#]
  [#inc objects_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table objects search -->
 <!-- table objects edit -->
 [#if VIEW_MODE="edit_objects"#]
   [#if ID!=""#]

   &nbsp;
<ol class="breadcrumb">
  <li class="active"><#LANG_OBJECT#>: [#TITLE#]</li>
</ol>

<ul class="nav nav-tabs">
 <li [#if TAB=""#]class="active"[#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_DETAILS#></a></li>
 <li [#if TAB="properties"#]class="active"[#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=properties"><#LANG_PROPERTIES#></a></li>
 <li [#if TAB="methods"#]class="active"[#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=methods"><#LANG_METHODS#></a></li>
</ul>

&nbsp;

   [#endif ID#]
   [#if TAB=""#]
    [#inc objects_edit_default.html#]
   [#endif TAB#]
   [#if TAB="properties"#]
    [#inc objects_edit_properties.html#]
   [#endif TAB#]
   [#if TAB="methods"#]
    [#inc objects_edit_methods.html#]
   [#endif TAB#]
   [#if TAB="history"#]
    [#inc objects_edit_history.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table objects edit -->
 <!-- table objects view --> 
 [#if VIEW_MODE="view_objects"#]
   [#if TAB=""#]
    [#inc objects_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table objects view -->
