[#if VIEW_MODE="search_objects" || VIEW_MODE=""#]
	[#inc objects_search_admin.html#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="edit_objects"#]
	[#if ID!=""#]
		<script>
		$(window).load(function() {
		//Вставляем данные в бредкрумбс
		$('.breadcrumb:eq(0)>li').last().append(' → <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>">[#TITLE#]</a>');

		[#if DEVICE_ID!=""#]
			$('.breadcrumb:eq(0)>li').last().append(' <a href="?(panel:{action=devices})&md=devices&view_mode=edit_devices&id=[#DEVICE_ID#]">([#DEVICE_TITLE#])</a>');
		[#endif DEVICE_ID#]
		});
		</script>


		<ul class="nav nav-tabs">
		<li [#if TAB=""#]class="active"[#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_DETAILS#></a></li>
		<li [#if TAB="properties"#]class="active"[#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=properties"><#LANG_PROPERTIES#></a></li>
		<li [#if TAB="methods"#]class="active"[#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=methods"><#LANG_METHODS#></a></li>
		</ul>
	[#endif ID#]
	[#if TAB=""#]
		[#inc objects_edit_default.html#]
	[#endif TAB#]
	[#if TAB="properties"#]
		[#inc objects_edit_properties.html#]
	[#endif TAB#]
	[#if TAB="methods"#]
		[#inc objects_edit_methods.html#]
	[#endif TAB#]
	[#if TAB="history"#]
		[#inc objects_edit_history.html#]
	[#endif TAB#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="view_objects"#]
	[#if TAB=""#]
		[#inc objects_view_default.html#]
	[#endif TAB#]
[#endif VIEW_MODE#]

