<!--#
 @version 0.3 (auto-set)
#-->
&nbsp;<br>
<a href="?view_mode=edit_objects" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_OBJECT#></a>
<br>&nbsp;

<!-- results -->
[#if RESULT#]
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b><#LANG_PAGES#>:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
[#begin PAGES#]
<td>[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</td>
[#end PAGES#]
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) -->
<form action="?" method="post" name="frmList_objects" style="padding:0px">
<table class="table table-bordered">
<tr>
 <td align=center>
 <b><#LANG_TITLE#></b>
 </td>
 <td align=center>
 <b><#LANG_CLASS#></b>
 </td>
 <td align=center>
 <b><#LANG_DESCRIPTION#></b>
 </td>
 <td align=center>
 <b><#LANG_LOCATION#></b>
 </td>
<td>&nbsp;</td>
</tr>
[#begin RESULT#]
<tr >
 <td
   >
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td
   align=center
   >
   <a href="?(panel:{action=classes})&md=classes&view_mode=edit_classes&id=[#CLASS_ID#]&tab=methods">[#CLASS_TITLE#]</a>
 </td>
 <td
   >
  [#if DESCRIPTION!=""#]
   <div>[#DESCRIPTION#]</div>
  [#endif#]
  [#if ADD_DESCRIPTION!=""#]
  <div><i>[#ADD_DESCRIPTION#]</i></div>
  [#endif ADD_DESCRIPTION#]
 </td>
 <td
   align=center
   >
  [#if LOCATION_ID!=""#]
   [#LOCATION_TITLE#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td >
    <a href="?view_mode=edit_objects&id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=edit_objects&id=[#ID#]&tab=properties" class="btn btn-default btn-sm" title="<#LANG_PROPERTIES#>"><i class="glyphicon glyphicon-th"></i></a>
    <a href="?view_mode=edit_objects&id=[#ID#]&tab=methods" class="btn btn-default btn-sm" title="<#LANG_METHODS#>"><i class="glyphicon glyphicon-th-list"></i></a>
    <a href="?view_mode=delete_objects&id=[#ID#]" onClick="return confirm('Delete record?')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_objects">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<table border=0>
<td align=right><b><#LANG_PAGES#>:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
[#begin PAGES#]
<td>[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</td>
[#end PAGES#]
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p align=center>
<font color="red"><#LANG_NO_OBJECTS_DEFINED#></font>
</p>
[#endif RESULT#]
<!-- / results -->

