<!--#
 @version 0.3 (auto-set)
#-->
<p align=center>
<b>
[ <a href="?view_mode=edit_objects"><#LANG_ADD_NEW_OBJECT#></a> ]
</b>
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- paging -->
[#if PAGES#]
<table border=0 align=center>
<td align=right><b><#LANG_PAGES#>:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
[#begin PAGES#]
<td>[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</td>
[#end PAGES#]
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) -->
<form action="?" method="post" name="frmList_objects" style="padding:0px">
<table border=0 cellpadding=5 cellspacing=1 bgcolor="#000000" align=center>
<tr>
 <td align=center bgcolor="#AAAAAA">
 <b><#LANG_TITLE#></b>
 </td>
 <td align=center bgcolor="#AAAAAA">
 <b><#LANG_CLASS#></b>
 </td>
 <td align=center bgcolor="#AAAAAA">
 <b><#LANG_DESCRIPTION#></b>
 </td>
 <td align=center bgcolor="#AAAAAA">
 <b><#LANG_LOCATION#></b>
 </td>
<td bgcolor="#AAAAAA">&nbsp;</td>
</tr>
[#begin RESULT#]
<tr >
 <td
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
   <a href="?(panel:{action=classes})&md=classes&view_mode=edit_classes&id=[#CLASS_ID#]&tab=methods">[#CLASS_TITLE#]</a>
 </td>
 <td
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if DESCRIPTION!=""#]
   [#DESCRIPTION#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td
   align=center
   bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  [#if LOCATION_ID!=""#]
   [#LOCATION_TITLE#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]">
  <table border=0>
  [#if "<#ACTION#>"=="admin"#]
   <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]" align=center>
    <b><a href="?view_mode=edit_objects&id=[#ID#]"><#LANG_EDIT#></a></b>
   </td>
   <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]" align=center>
    <b><a href="?view_mode=edit_objects&id=[#ID#]&tab=properties"><#LANG_PROPERTIES#></a></b>
   </td>   
   <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]" align=center>
    <b><a href="?view_mode=edit_objects&id=[#ID#]&tab=methods"><#LANG_METHODS#></a></b>
   </td>   
   
   <td bgcolor="[#if NEW_COLOR#]#CCCCCC[#else#]#FFFFFF[#endif#]" align=center>
    <a href="?view_mode=delete_objects&id=[#ID#]" onClick="return confirm('Delete record?')">X</a>
   </td>
  [#endif ACTION#]
  </table>
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_objects">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<table border=0 align=center>
<td align=right><b><#LANG_PAGES#>:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
[#begin PAGES#]
<td>[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</td>
[#end PAGES#]
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p align=center>
<font color="red"><#LANG_NO_OBJECTS_DEFINED#></font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
