<!--#
 @version 0.4 (auto-set)
#-->
&nbsp;
[#if OVERWRITE=""#]
<table border="0" class="table table-bordered">
 [#begin METHODS#]
 <tr>
  <td>[#CLASS_TITLE#]-&gt; <b>[#TITLE#]</b>
  [#if CUSTOMIZED="1"#]<font color="red">*</font>[#endif#]
  </td>
  <td><a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>&overwrite=1&method_id=[#ID#]" class="btn btn-default btn-sm"><#LANG_SETUP#></a></td>
 </tr>
 [#end METHODS#]
</table>
[#else OVERWRITE#]

[#if OK#]
<p><font color="green"><#LANG_DATA_SAVED#>!</font></p>
[#endif#]

<h4>[#METHOD_TITLE#]</h4>

<form action="?" method="post" name="frmEdit" id="frmEdit">
<table border="0">
 <!--#
 <tr>
  <td valign="top">Method: 
        <b><a href="?view_mode=edit_objects&id=<#ID#>&tab=methods"><#LANG_ALL#></a></b>
        -&gt;
        <b> <a href="?(panel:{action=classes})&md=classes&view_mode=edit_classes&id=[#METHOD_CLASS_ID#]&tab=methods">[#METHOD_CLASS_TITLE#]</a> -&gt; [#METHOD_TITLE#]</b></td>
 </tr>
 #-->

 <tr>
  <td valign="top">
   [#if ERR_CODE#]<font color='red'>[#endif#]<#LANG_EXECUTE#>:<#LANG_HCB#>code<#LANG_HCE#><br>
   <input type="radio" name="run_type" value="script"[#if SCRIPT_ID!="0"#] checked[#endif#] onClick="$('#code_option').hide();"> <#LANG_SCRIPT#>:
   <select name="script_id">
    <option value="0">
    [#begin SCRIPTS#]
        <option value="[#ID#]"[#if ID="<#SCRIPT_ID#>"#] selected[#endif#]>[#TITLE#]
        [#end SCRIPTS#]
   </select>
   <br>
   <input type="radio" name="run_type" value="code"[#if SCRIPT_ID="0"#] checked[#endif#]  onClick="$('#code_option').show();"> <#LANG_CODE#>

   <div id="code_option"[#if SCRIPT_ID!="0"#] style="display:none"[#endif#]>
   [#if ERRORS#][#ERRORS#][#endif ERRORS#]
 [#module name="blockly_code" system_name="object<#ID#>_method<#METHOD_ID#>" code_field="code" action=""#]
 <div id="code_area">
 <textarea name="code" id="code" rows=20 cols=100 class="field span10">[#CODE#]</textarea>
 </div>

 </div>


  </td>
 </tr>
 <tr>
  <td valign="top">

  &nbsp;<br/>

  <#LANG_CALL_PARENT_METHOD#>:
  <#LANG_HCB#>parent_method<#LANG_HCE#>
  <br>
  <label><input type="radio" name="call_parent" value="1"[#if CALL_PARENT="1"#] checked[#endif#]> <#LANG_BEFORE_CODE_EXECUTION#></label>
  <label><input type="radio" name="call_parent" value="2"[#if CALL_PARENT="2"#] checked[#endif#]> <#LANG_AFTER_CODE_EXECUTION#></label>
  <label><input type="radio" name="call_parent" value="0"[#if CALL_PARENT="0"#] checked[#endif#]> <#LANG_NEVER#></label>
  </td>
 </tr> 
 <tr>
  <td valign="top">
  <input type="submit" name="ok" value="<#LANG_UPDATE#>" class="btn btn-primary">
  &nbsp;
  <a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>" class="btn btn-default"><#LANG_CANCEL#></a>
  &nbsp;&nbsp;&nbsp;
  <a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>&delete_meth=<#METHOD_ID#>" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default"><#LANG_DELETE#></a>
  </td>
 </tr>
</table>
 <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
 <input type="hidden" name="id" value="<#ID#>">
 <input type="hidden" name="tab" value="<#TAB#>">
 <input type="hidden" name="overwrite" value="1">
 <input type="hidden" name="method_id" value="<#METHOD_ID#>">
 <input type="hidden" name="mode" value="update">
 </form>


<hr size="1">
<p>
        <#LANG_CALL_METHOD#>:<br>
        <#LANG_BY_URL#>:<br>
        <input type="text" size="90" id="debugURL" value="<#SERVER_URL#><#ROOTHTML#>objects/?object=<#OBJECT_TITLE_URL#>&op=m&m=<#METHOD_TITLE_URL#>&">
        <a href="<#ROOTHTML#>objects/?object=<#OBJECT_TITLE_URL#>&op=m&m=<#METHOD_TITLE_URL#>" target=_blank><#LANG_TEST#></a>
        <br>
        <#LANG_COMMAND_LINE#>:<br>
        <input type="text" size="90" value="<#DOC_ROOT#>\obj.bat <#OBJECT_TITLE#>.<#METHOD_TITLE#>">
        </p>

[#if ID!=""#]
 [#module name="xray" action="context" type="method" keyword="<#OBJECT_TITLE#>.<#METHOD_TITLE#>" code_id="mCode"#]
[#endif ID#]

[#endif OVERWRITE#]