<!--#
 @version 0.4 (auto-set)
#-->
﻿[#if OK#]<font color="green"><#LANG_DATA_SAVED#></font>[#endif OK#]
<br>&nbsp;

<table border="0" cellpadding="3">
 <form action="?" method="post">
 [#begin PROPERTIES#]
 <tr>
  <td valign="top">[#if CLASS_ID!="0"#]<b>[#CLASS_TITLE#]. [#endif#][#TITLE#]</td>
  <td valign="top">=</td>
  <td valign="top">
  <textarea name="value[#ID#]" rows=3 cols="90">[#VALUE#]</textarea>
  </td>
  <td valign="top">
        [#if CLASS_ID="0"#]
   [ <a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>&delete_prop=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')">X</a> ]
        [#else#]
        &nbsp;
        [#endif#]
  </td>
 </tr>
 [#end PROPERTIES#]
 <tr>
  <td valign="top" colspan="4"><hr><br>
  <#LANG_ADD_NEW_PROPERTY#>:
  </td>
 </tr>
 <tr>
  <td valign="top"><input type="text" name="new_property"></td>
  <td valign="top">=</td>
  <td valign="top"><input type="text" name="new_value"></td>
  <td valign="top">&nbsp;</td>
 </tr>
 <tr>
  <td valign="top" colspan="4"><hr>
  </td>
 </tr>
 <tr>
  <td valign="top" colspan="4">
   <input type="submit" name="submit" value="<#LANG_UPDATE#>">
  </td>
 </tr>
 <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
 <input type="hidden" name="id" value="<#ID#>">
 <input type="hidden" name="tab" value="<#TAB#>">
 <input type="hidden" name="mode" value="update">
 </form>
</table>