[#if OVERWRITE=""#]
	<style>
	.hoverMethods:hover {
		    background: #f5f5f5;
	}
	</style>
	<div style="padding: 10px;border: 1px solid #dddddd;border-top: 0px;">
		<table border="0" class="table table-bordered">
			[#begin METHODS#]
				<tr class="hoverMethods">
					<td style="vertical-align: middle;">[#CLASS_TITLE#] &rarr; <b>[#OBJECT_TITLE#].[#TITLE#]</b>
					[#if CUSTOMIZED="1"#]<font color="red">*</font>[#endif#]
					</td>
					<td style="vertical-align: middle;text-align: center;">
						<a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>&overwrite=1&method_id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i> <#LANG_SETUP#></a>
						<a href="<#ROOTHTML#>objects/?object=[#OBJECT_TITLE#]&op=m&m=[#TITLE#]" target="blank" class="btn btn-success btn-sm" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-play-circle"></i> <#LANG_RUN_SCRIPT_BTN#></a>
					</td>
				</tr>
			[#end METHODS#]
		</table>
	</div>
[#else OVERWRITE#]

<style>
.CodeMirror {
	border-radius: 5px;
	border: 2px solid #f7f7f7;
}
</style>

<div class="row">
	<div class="col-lg-12">
		<h4 style="border-bottom: 1px solid #dddddd;padding-bottom: 10px;"><#OBJECT_TITLE#> <i class="glyphicon glyphicon-arrow-right" style="color: #c3c3c3;font-size: 1.3rem;vertical-align: top;"></i> <b>[#METHOD_TITLE#]</b></h4>
		[#if OK !=0#]
			<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
		[#endif OK#]
		[#if ERR_CODE#]
		  <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div> 
		  <script>
			$(window).load(function() {
				[#if SETTINGS_CODEEDITOR_SHOWERROR == '1' AND SETTINGS_CODEEDITOR_TURNONSETTINGS == '1'#]
					find = $('div pre.CodeMirror-line:eq([#ERR_LINE#])');
					find.attr('id', 'errorline_[#ERR_LINE#]');
				
					var newElems = $("<div class='hintError' style='border-top: 1px solid red;font-weight: bold;font-style: italic;'><#LANG_STRING_ERROR#> -> [#ERRORS#]</div>");
					$('div pre.CodeMirror-line:eq([#ERR_LINE#])').append(newElems);
				[#endif#]
				
				[#if SETTINGS_CODEEDITOR_UPTOLINE == '1' AND SETTINGS_CODEEDITOR_TURNONSETTINGS == '1'#]
					location.href='#errorline_[#ERR_LINE#]';
				[#endif#]				
			});
			</script>
		[#endif ERR#]
		<form action="?" method="post" name="frmEdit" id="frmEdit">
			<div style="margin-bottom: 10px;">
				<input type="radio" name="run_type" [#if SCRIPT_ID=="0"#]checked[#endif#] value="code" onClick="$('#code_option').show();$('#script_id').hide();"> <#LANG_CODE#>
				
				<input type="radio" name="run_type" [#if SCRIPT_ID!="0"#]checked[#endif#] value="script" onClick="$('#code_option').hide();$('#script_id').show();"> <#LANG_SCRIPT#>:
				<select name="script_id" id="script_id" style="[#if SCRIPT_ID=="0"#]display:none;[#endif#]">
					<option value="0">
					[#begin SCRIPTS#]
						<option value="[#ID#]"[#if ID="<#SCRIPT_ID#>"#] selected[#endif#]>[#TITLE#]
					[#end SCRIPTS#]
				</select>
			</div>
			<div class="visible-xs visible-sm" id="mobileIndicator"></div>
		    <div id="code_option" style="margin-top: 10px; margin-bottom: 10px;[#if SCRIPT_ID!="0"#]display:none;[#endif#]">
				[#module name="blockly_code" system_name="object<#ID#>_method<#METHOD_ID#>" code_field="code" action=""#]
				[#if ERRORS#]
					<div id="error_noty" style="margin-top: 10px;color: #ff574b;border: 1px solid;border-radius: 5px;padding: 5px;background: #ffffff;width: 100%;">
						<b><#LANG_CODEEDITOR_ERROR_IN_CODE#> -></b> [#ERRORS#]
						<div><#LANG_CODEEDITOR_ERROR_RESTORE_CODE#></div>
					</div>
					<textarea id="error_old_code" style="display:none;">[#ERR_OLD_CODE#]</textarea>
				[#endif ERRORS#]
				<div id="code_area" style="margin-top: 10px;">
					<div id="autosave_code_in_time_div" style="color: gray;font-style: italic;font-size: 1rem;display:none;margin-left: 5px;margin-bottom: 4px;">
						<i class="glyphicon glyphicon-floppy-saved" style="vertical-align: top;"></i> <#LANG_CODEEDITOR_AUTOSAVE_CODE#> <span id="autosave_code_in_time"></span>. <#LANG_CODEEDITOR_AUTOSAVE_CODE_HELP#>
					</div>
					<textarea name="code" id="code" rows=20 cols=100 class="field span10">[#CODE#]</textarea>
				</div>
			</div>
			<#LANG_CALL_PARENT_METHOD#>:
			<#LANG_HCB#>parent_method<#LANG_HCE#>
			<br>
			<label><input type="radio" name="call_parent" value="1"[#if CALL_PARENT="1"#] checked[#endif#]> <#LANG_BEFORE_CODE_EXECUTION#></label>
			<label><input type="radio" name="call_parent" value="2"[#if CALL_PARENT="2"#] checked[#endif#]> <#LANG_AFTER_CODE_EXECUTION#></label>
			<label><input type="radio" name="call_parent" value="0"[#if CALL_PARENT="0"#] checked[#endif#]> <#LANG_NEVER#></label>
			<br><br>
			<button type="submit" name="subm" value="<#LANG_UPDATE#>" class="btn btn-success"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> <#LANG_SUBMIT#></button>
			<a href="javascript://" onclick="ajaxAutosave('checkcode');" id="checkCodeBtn" class="btn btn-info"><i class="glyphicon glyphicon-share" aria-hidden="true"></i> <#LANG_CODEEDITOR_CHECK_ON_ERROR_BTN#></a>
			<a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>" class="btn btn-default"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> <#LANG_CANCEL#></a>
			<a href="?view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=<#TAB#>&delete_meth=<#METHOD_ID#>" class="btn btn-danger" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i> <#LANG_DELETE#></a>
			<a href="<#ROOTHTML#>objects/?object=<#OBJECT_TITLE_URL#>&op=m&m=<#METHOD_TITLE_URL#>" target="_blank" class="btn btn-primary" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i> <#LANG_RUN_SCRIPT_BTN#></a>
			
			<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
			<input type="hidden" name="id" value="<#ID#>">
			<input type="hidden" name="tab" value="<#TAB#>">
			<input type="hidden" name="overwrite" value="1">
			<input type="hidden" name="method_id" value="<#METHOD_ID#>">
			<input type="hidden" name="mode" value="update">
			
		</form>
		
		<hr>
	</div>
	
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<h4><#LANG_SCRIPT_HOW_TO_RUN#></h4>
		<table class="table">
			<tr>
				<td valign="top"><#LANG_RUN_BY_URL#>:</td>
				<td valign="top"><code><a href="<#SERVER_URL#><#ROOTHTML#>objects/?object=<#OBJECT_TITLE_URL#>&op=m&m=<#METHOD_TITLE_URL#>" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" target="_blank"><#SERVER_URL#><#ROOTHTML#>objects/?object=<#OBJECT_TITLE_URL#>&op=m&m=<#METHOD_TITLE_URL#></a></code></td>
			</tr>
			<tr>
				<td valign="top"><#LANG_COMMAND_LINE#>:</td>
				<td valign="top"><code><#DOC_ROOT#>\obj.bat <#OBJECT_TITLE#>.<#METHOD_TITLE#></code></td>
			</tr>
			<tr>
				<td valign="top"><#LANG_SCRIPT_RUN_IN_METHOD#>:</td>
				<td valign="top"><code>callMethod('<#OBJECT_TITLE#>.<#METHOD_TITLE#>');</code></td>
			</tr>
		</table>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		[#if ID!=""#]
		 [#module name="xray" action="context" type="method" keyword="<#OBJECT_TITLE#>.<#METHOD_TITLE#>" code_id="mCode"#]
		[#endif ID#]
	</div>
</div>


[#endif OVERWRITE#]