<!--#
 @version 0.2 (auto-set)
#-->

<!-- table watchfolders search -->
[#if MODE="search_watchfolders"#]
<!-- search form -->
<table border=0>
<tr>
 <td colspan=10><b><#LANG_SEARCH#></b></td>
</tr>
<form action="?" method="post" name="frmSearch">
 <tr>
  <td align=right>TITLE/COMMENTS:</td>
  <td><!-- varchar -->
<input type="text" name="title" value="[#TITLE#]">
</td>
 </tr>
 <tr>
  <td colspan=2>
   <input type="submit" name="submit" value="<#LANG_SEARCH#>">
   //
   <a href="?data_source=<#DATA_SOURCE#>"><#LANG_CANCEL#></a>
  </td>
 </tr>
<input type="hidden" name="mode" value="search_watchfolders">
</form>
</table>
<!-- / search form -->
[#endif MODE#]

<b>
<a href="?view_mode=edit_watchfolders" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#></a>
</b>


<!-- results -->
[#if RESULT#]
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) --><br><br>
<form action="?" method="post" name="frmList_watchfolders" style="padding:0px">
<table class="table table-striped">
<tr>
 <td  >
 <a href="?sortby=TITLE&save_qry=1"><b><#LANG_TITLE#></b></a><nobr>
 [#if SORTBY="TITLE"#](+)[#endif#]
 [#if SORTBY="TITLE DESC"#](-)[#endif#]</nobr>
 </td>
 <td  >
 <b><#LANG_FOLDER#></b>
 </td>
<td >&nbsp;</td>
</tr>
[#begin RESULT#]
<tr >
 <td
   >
  <b>
   [#TITLE#]
  </a></b>
 </td>
 <td
   
   >
  [#if FOLDER!=""#]
   [#FOLDER#]
  [#else#]
   &nbsp;
  [#endif#]
 </td>
 <td width="150">
  
  [#if "<#ACTION#>"=="admin"#]
  
    <b><a class="btn btn-default btn-sm" href="?view_mode=edit_watchfolders&id=[#ID#]"><i class="glyphicon glyphicon-pencil"></i></a></b>
   
  
    <b><a class="btn btn-default btn-sm" href="?view_mode=check_watchfolders&id=[#ID#]">Check</a></b>

    <a class="btn btn-default btn-sm" href="?view_mode=delete_watchfolders&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-remove"></i></a>
  
  [#endif ACTION#]
 
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_watchfolders">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]

<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>

[#endif RESULT#]
<!-- / results -->

