<style>
.container_background {
 border:1px solid rgba(0,0,0,0.2);
 background-color:rgba(0,0,0,0.5);
 padding:0px;
}

.html_background {
 border:1px solid rgba(0,0,0,0.2);
 background-color:rgba(0,0,0,0.5);
 background-size:100%;
 padding:0px;
}


[#begin ALL_TYPES#]
 [#if HAS_STYLE!=""#][#inc ../../cms/scenes/styles/<#ALL_TYPES.TITLE#>/style.css#][#endif HAS_STYLE#]
[#end ALL_TYPES#]
</style>

[#if "<#SETTINGS_SCENES_CLICKSOUND#>"!=""#]
<div style="display:none">
<audio id="click_sound" src="<#SETTINGS_SCENES_CLICKSOUND#>" controls preload="auto" autobuffer>
</audio>
</div>
[#endif#]

        [#if TOTAL!="1"#]
        <style>[#inc slider.css#]</style>
        <script type="text/javascript" src="<#ROOTHTML#>js/easySlider1.7.js"></script>
        [#endif TOTAL#]

        <script type="text/javascript" language="javascript">

$.fn.customContextMenu = function(callBack){
    $(this).each(function(){
        $(this).bind("contextmenu",function(e){
             e.preventDefault();
             callBack(e);
        });
    }); 
}

        var codeHash=new Object();
        var firstRun=1;
        var refreshRun=0;
        var checkTimer;
        var refreshTimer;
        var noUpdatesTimer;
        var usingWebsockets=0;
        var ignoreClick=0;
        var contextTimeout=0;
        var contextTop='';
        var contextLeft='';
        var subscribedWebSockets=0;
        var subscribedWebSocketsTimer;

        function EvalSound(soundobj) {
         //alert('zz');
         var thissound=document.getElementById(soundobj);
         thissound.play();
        }

        function switchScene(scene_id) {
         [#begin RESULT#]
         if (scene_id=='[#ID#]') {
           [#if "<#SETTINGS_SCENES_VERTICAL_NAV#>"=="1"#]
            $('#controls_vertical[#NUMP#] a').click();
           [#else#]
            $('#controls[#NUMP#] a').click();
           [#endif#]
         }
         [#end RESULT#]
         return false;
        }

        function controlWindowPositionChanged(id) {
         //alert(id);
         return false;
        }

        [#begin RESULT#][#begin ALL_ELEMENTS#]
        [#begin STATES#]
        [#if MENU_ITEM_ID!="0" || HOMEPAGE_ID!="0" || OPEN_SCENE_ID!="0" || EXT_URL!=""#]
         var window[#ID#]_width=[#WINDOW_WIDTH#];
         var window[#ID#]_height=[#WINDOW_HEIGHT#];
         var window[#ID#]_posx=[#WINDOW_POSX#];
         var window[#ID#]_posy=[#WINDOW_POSY#];
        [#endif MENU_ITEM_ID#][#end STATES#]
        [#end ALL_ELEMENTS#][#end RESULT#]

        function stateClickedEdit(id) {
         //alert(window.parent.location);
         //id = id.replace(/\D/g,'');
         //alert(id);


          var window_url=window.parent.location.href;

          var wdth=850;
          var hdth=600;

          window_url=window_url.replace('tab=preview', 'tab=elements')+'&open='+id+'&print=1';
          if (id=='new') {
           window_url=window_url+'&top='+contextTop+'&left='+contextLeft;
          }

          var jWindowObjElement = $.jWindow({ 
           id: 'windowEdit'+id, 
           title: 'Settings', 
           width: wdth, 
           height: hdth, 
           type: 'iframe', 
           marginTop:0, 
           marginBottom:0, 
           marginLeft:0, 
           marginRight:0, 
           url: window_url,
           onClose:function () {
            window.location.href=window.location.href;
           },
           modal: true });
          jWindowObjElement.show();
          jWindowObjElement.update();


         return false;
        }

        function stateClicked(id) {

         var window_url;
         
         [#if "<#SETTINGS_SCENES_CLICKSOUND#>"!=""#]
         EvalSound('click_sound');
         [#endif#]


         [#begin RESULT#][#begin ALL_ELEMENTS#][#begin STATES#]

         [#if "<#ALL_ELEMENTS.TYPE#>"=="button"#]
         if (id=='[#ID#]') {
          $('#state_[#ID#]').addClass('clicked');
          setTimeout("$('#state_[#ID#]').removeClass('clicked');", 150);
         }
         [#endif TYPE#]

         [#if MENU_ITEM_ID!="0" || HOMEPAGE_ID!="0" || OPEN_SCENE_ID!="0" || EXT_URL!=""#]
          [#if MENU_ITEM_ID!="0"#]
          window_url='/menu.html?parent=[#MENU_ITEM_ID#]';
          [#endif#]
          [#if HOMEPAGE_ID!="0"#]
          window_url='<#ROOTHTML#>page/[#HOMEPAGE_ID#].html';
          [#endif#]
          [#if OPEN_SCENE_ID!="0"#]
          window_url='<#ROOTHTML#>popup/scenes/[#OPEN_SCENE_ID#].html';
          [#endif#]
          [#if EXT_URL!=""#]
          window_url='[#EXT_URL#]';
          [#endif#]
         [#endif#]

         [#if "<#ALL_ELEMENTS.TYPE#>"=="navgo"#]
         if (id=='[#ID#]') {
          window.location.href=window_url;
          return;
         }
         [#endif TYPE#]



         [#if MENU_ITEM_ID!="0" || HOMEPAGE_ID!="0" || OPEN_SCENE_ID!="0" || EXT_URL!=""#]
         if (id=='[#ID#]') {

          var top=$('#scene_background_<#RESULT.ID#>').offset().top;
          var left=$('#scene_background_<#RESULT.ID#>').offset().left;


          var wdth=window[#ID#]_width;
          var hdth=window[#ID#]_height;
          var x=window[#ID#]_posx+left;
          var y=window[#ID#]_posy+top;

          if (!wdth) wdth=500;
          if (!hdth) hdth=500;
          if (!x) x=200;
          if (!y) y=200;



          var jWindowObj[#ID#] = $.jWindow({ 
           id: 'state[#ID#]', 
           title: '<#ELEMENTS.TITLE#>', 
           posx: x, 
           posy: y, 
           width: wdth, 
           height: hdth, 
           type: 'iframe', 
           marginTop:0, 
           marginBottom:0, 
           marginLeft:0, 
           marginRight:0, 
           url: window_url,
           onResizeEnd:function () {
            //Size changed
            var top=$('#scene_background_<#RESULT.ID#>').offset().top;
            var left=$('#scene_background_<#RESULT.ID#>').offset().left;
            var url1="<#ROOTHTML#>ajax/scenes.html?op=position";
            window[#ID#]_posx=(jWindowObj[#ID#].get('posx'))-left;
            window[#ID#]_posy=(jWindowObj[#ID#].get('posy'))-top;
            window[#ID#]_width=(jWindowObj[#ID#].get('width'));
            window[#ID#]_height=(jWindowObj[#ID#].get('height'));
            url1+='&id=[#ID#]&posx='+window[#ID#]_posx+'&posy='+window[#ID#]_posy+'&width='+window[#ID#]_width+'&height='+window[#ID#]_height;
            $.ajax({url: url1});
           }, 
           onDragEnd:function () {
            //Position changed
            ignoreClick=0;
            var url1="<#ROOTHTML#>ajax/scenes.html?op=position";
            var top=$('#scene_background_<#RESULT.ID#>').offset().top;
            var left=$('#scene_background_<#RESULT.ID#>').offset().left;
            window[#ID#]_posx=(jWindowObj[#ID#].get('posx'))-left;
            window[#ID#]_posy=(jWindowObj[#ID#].get('posy'))-top;
            window[#ID#]_width=(jWindowObj[#ID#].get('width'));
            window[#ID#]_height=(jWindowObj[#ID#].get('height'));
            url1+='&id=[#ID#]&posx='+window[#ID#]_posx+'&posy='+window[#ID#]_posy+'&width='+window[#ID#]_width+'&height='+window[#ID#]_height;
            $.ajax({url: url1});
           },
           modal: false });
          jWindowObj[#ID#].show();
          jWindowObj[#ID#].update();
          [#if (SCRIPT_ID="0") && (ACTION_METHOD="") && (CODE="")#]return;[#endif#]
         }
         [#endif MENU_ITEM_ID#][#end STATES#][#end ALL_ELEMENTS#][#end RESULT#]


         var url="<#ROOTHTML#>ajax/scenes.html?op=click";
         url+='&id='+id;
         $.ajax({
          url: url,
          }).done(function(data) { 
           processCheckStates(data);
          });
         return false;
        }



        function processCheckStates(data) {


           var obj=jQuery.parseJSON(data);
           if (typeof obj !='object') return false;
           
           clearTimeout(noUpdatesTimer);
           noUpdatesTimer=setTimeout("$.publish('scenesNoUpdates');", 30*60*1000);

           var objCnt = obj.length;
           if (objCnt) {
             for(var i=0;i<objCnt;i++) {

              var elem=$('#state_'+obj[i].ID);
              if ((typeof obj[i].HTML!= 'undefined') && (!codeHash.hasOwnProperty('code'+obj[i].ID) || codeHash['code'+obj[i].ID]!=obj[i].HTML)) {
               elem.html('<span>'+obj[i].HTML+'</span>');
               codeHash['code'+obj[i].ID]=obj[i].HTML;
              }
              if (obj[i].STATE=='1' && !elem.is(':visible')) {
               if (elem.hasClass('inlineblock')) {
                elem.css('display', 'inline-block');
               } else {
                elem.show();
               }
               [#if "<#TOTAL#>"!="1"#]
               if (firstRun!=1 && obj[i].SWITCH_SCENE=='1') {
                switchScene(obj[i].SCENE_ID);
               }
               [#endif#]
              }
              if (obj[i].STATE!='1' && elem.is(':visible')) {
               elem.hide();
              }

              if (elem.hasClass('s3d_state')) {
               if (elem.data('s3d_object')) {
                var object3d = scene.getObjectByName( elem.data('s3d_object'), true );
                if (obj[i].STATE=='1') {
                 object3d.visible=true;
                } else {
                 object3d.visible=false;
                }
               }
               if (elem.data('s3d_camera')) {
                if (obj[i].STATE=='1') {
                  new_camera = scene.getObjectByName( elem.data('s3d_camera'), true );;
                 }else {
                  new_camera = default_camera;
                 }

var new_position = new_camera.position.clone();
var new_rotation = new_camera.rotation.clone();
var new_quaternion = new_camera.quaternion.clone();

//newlookAtVector = new THREE.Vector3(new_camera.matrix[8], new_camera.matrix[9], new_camera.matrix[10]);

camera.rotation.clone(new_rotation);
camera.quaternion.clone(new_quaternion);

newlookAtVector = new THREE.Vector3(0, 0, -1);
newlookAtVector.applyEuler(new_camera.rotation, new_camera.eulerOrder);


new TWEEN.Tween( camera.position ).to( {
        x: new_position.x,
        y: new_position.y,
        z: new_position.z}, 600 ).onUpdate(function () {

 camera.lookAt(newlookAtVector);

}).onComplete(function () {

 camera.lookAt(newlookAtVector);

}).easing( TWEEN.Easing.Sinusoidal.Out).start();


               }
              }

             }
           }
        }


        function checkAllStates() {
         clearTimeout(checkTimer);

         if (subscribedWebSockets==1) {
          firstRun=0;
          checkTimer=setTimeout('checkAllStates();', 3000);
          if (firstRun!=1 && refreshRun!=1) {
           return;
          }
         }

         var url="<#ROOTHTML#>ajax/scenes.html?op=checkAllStates[#if "<#SCENE_ID#>"!=""#]&scene_id=<#SCENE_ID#>[#endif#]<#PARAMS#>";
         $.ajax({
          url: url,
          }).done(function(data) { 
           processCheckStates(data);
           [#if TOTAL!="1"#]
           if (firstRun==1) {
                        $("#slider").easySlider({
                                auto: false, 
                                numeric: true,
                                [#if "<#SETTINGS_SCENES_VERTICAL_NAV#>"=="1"#]numericId: 'controls_vertical',[#endif#]
                                continuous: false
                        });
           }
           [#endif TOTAL#]
           firstRun=0;
           refreshRun=0;
           //tryWebSockets();
           refreshTimer=setTimeout('refreshRun=1;', 5*60*1000);
           checkTimer=setTimeout('checkAllStates();', 3000);
          });
         return false;
        }

        $.subscribe('scenesNoUpdates', function (_) {
         window.location.reload();
        });


        function subscribeToScene() {
         console.log('Sending scene subscription request...');
         var payload;
         payload = new Object();
         payload.action = 'Subscribe';
         payload.data = new Object();
         payload.data.TYPE='scenes';
         payload.data.SCENE_ID='<#SCENE_ID#>';
         wsSocket.send(JSON.stringify(payload));
         subscribedWebSocketsTimer=setTimeout('subscribeToScene();', 3000);
         return false;
        }


        $.subscribe('wsConnected', function (_) {
         subscribeToScene();
        });

        $.subscribe('wsData', function (_, response) {
          if (response.action=='subscribed') {
           console.log('Subscription confirmed.');
           clearTimeout(subscribedWebSocketsTimer);
           subscribedWebSockets=1;
          }
          if (response.action=='states') {
           processCheckStates(response.data);
          }
        });


                $(document).ready(function(){
                [#if TOTAL="1"#]
                 [#if "<#DRAGGABLE#>"=="1"#]
                    $(".draggable" ).draggable({ cursor: "move", snap: true , snapTolerance: 5, grid: [5,5],
                        stop: function(e, ui) {
                         var url="<#ROOTHTML#>ajax/scenes.html?op=dragged&element="+$(this).attr("id")+"&details="+encodeURIComponent(JSON.stringify(ui));
                         $.ajax({
                          url: url,
                          }).done(function(data) { 
                           //alert(data);
                          });
                        }
                   }).resizable({grid: 5, 
                           stop: function(e, ui) {
                            var url="<#ROOTHTML#>ajax/scenes.html?op=resized&element="+$(this).attr("id")+"&details="+encodeURIComponent(JSON.stringify(ui));
                            $.ajax({
                             url: url,
                             }).done(function(data) { 
                             //alert(data);
                             });
                           }}).click(function(){
            if ( $(this).is('.ui-draggable-dragging') ) {
                  return;
            }
            // click action here
            stateClickedEdit($(this).attr("id"));
      });

      [#begin RESULT#]
      $("#scene_wallpaper_[#ID#]").customContextMenu(function(e){
        //alert(e.pageX + ' , ' + e.pageY);
       contextTop=e.pageY;
       contextLeft=e.pageX;
       $("#contextMenuDiv").css({ "top": e.pageY+"px", "left": e.pageX+"px" });
       //alert('zz');
       $('#contextMenuDiv').show();
       contextTimeout=setTimeout("$('#contextMenuDiv').hide();", 3*1000);
       return false;
      });
      [#end RESULT#]
 
                 [#endif#]
                 [#if SCENE_WALLPAPER!=""#]
                 if (inIframe) {
                  if (typeof window.parent.setBackgroundStyle!=='undefined') {
                    if ($('#scene_wallpaper_[#SCENE_ID#]').css('background-image')!='') {
                     $('body').css('background-color', 'transparent');
                     window.parent.$('body').css('background-image', $('#scene_wallpaper_[#SCENE_ID#]').css('background-image'));
                     window.parent.$('body').css('background-attachment', $('#scene_wallpaper_[#SCENE_ID#]').css('background-attachment'));
                     window.parent.$('body').css('background-repeat', $('#scene_wallpaper_[#SCENE_ID#]').css('background-repeat'));
                     $('#scene_wallpaper_[#SCENE_ID#]').css('background-image', '');
                    }
                  }
                 }
                 [#endif SCENE_WALLPAPER#]
                [#endif TOTAL#]
                 
                 checkAllStates();

                });     


        </script>


<table  border="0" align="center"[#if "<#TOTAL#>"=="1"#] width="100%"[#endif#] cellpadding="0" cellspacing="0">
 <tr>
  <td valign="top">
<div style="[#if "<#TOTAL#>"!="1"#]width:<#SETTINGS_SCENES_WIDTH#>px;[#endif#];position:relative;">
<div id="slider">
[#if "<#TOTAL#>"!="1"#]<ul>[#endif#]
[#begin RESULT#]
[#if "<#TOTAL#>"!="1"#]<li id='scene_[#ID#]' style="width:<#SETTINGS_SCENES_WIDTH#>px;">[#endif#]
 <div id="scene_wallpaper_[#ID#]" style="[#if WALLPAPER!=""#]background-image:url([#WALLPAPER#]);[#if WALLPAPER_FIXED="1"#]background-attachment: fixed;[#endif#][#if WALLPAPER_NOREPEAT="1"#]background-repeat: no-repeat;[#endif#][#endif#];">
 <!--#
 <table border="0" cellspacing="0" cellpadding="0" align="center"><td valign="top">
 #-->
 <div id="scene_background_[#ID#]" style="position:relative;">
 [#begin ELEMENTS#]
 <!-- element [#ID#] -->
 [#if ELEMENTS#]
 <div 
   class="element_<#ELEMENTS.ID#> type_<#ELEMENTS.TYPE#>[#if "<#ELEMENTS.CSS_STYLE#>"!=""#] style_<#ELEMENTS.CSS_STYLE#>[#endif#][#if ("<#ELEMENTS.BACKGROUND#>"=="1")#] container_background[#endif#][#if "<#DRAGGABLE#>"=="1"#] draggable[#endif#]"
   style="position:absolute;left:<#ELEMENTS.LEFT#>px;top:<#ELEMENTS.TOP#>px;
   [#if "<#ELEMENTS.ZINDEX#>"!=""#]z-index:<#ELEMENTS.ZINDEX#>;[#endif#]
   [#if ("<#ELEMENTS.WIDTH#>"!="0")#]width:<#ELEMENTS.WIDTH#>px;[#endif#][#if ("<#ELEMENTS.HEIGHT#>"!="0")#]height:<#ELEMENTS.HEIGHT#>px;[#endif#]
   "
   id="container_<#ELEMENTS.ID#>"
   >
  [#tree ELEMENTS#]
 </div>
 [#else ELEMENTS#]

 [#if TYPE="s3d"#]
  <div 
   class="element_<#ELEMENTS.ID#> type_<#ELEMENTS.TYPE#>[#if "<#ELEMENTS.CSS_STYLE#>"!=""#] style_<#ELEMENTS.CSS_STYLE#>[#endif#] state_[#TITLE#][#if ("<#ELEMENTS.BACKGROUND#>"=="1")#] html_background[#endif#][#if "<#ELEMENTS.POSITION_TYPE#>"=="1"#] inlineblock[#endif#][#if "<#DRAGGABLE#>"=="1" && "<#ELEMENTS.POSITION_TYPE#>"=="0"#] draggable[#endif#]" 
   id='canvas_[#ID#]'
   style="
   background-color:red;
   [#if "<#ELEMENTS.POSITION_TYPE#>"=="0"#]position:absolute;left:<#ELEMENTS.LEFT#>px;top:<#ELEMENTS.TOP#>px;[#endif ELEMENTS#]
   [#if "<#ELEMENTS.ZINDEX#>"!=""#]z-index:<#ELEMENTS.ZINDEX#>;[#endif#]
   [#if ("<#ELEMENTS.WIDTH#>"!="0")#]width:<#ELEMENTS.WIDTH#>px;[#endif#][#if ("<#ELEMENTS.HEIGHT#>"!="0")#]height:<#ELEMENTS.HEIGHT#>px;[#endif#]
   display:inline-block;"></div>

<script language="javascript" src="<#ROOTHTML#>3rdparty/threejs/libs/tween.min.js"></script>
<script language="javascript" src="<#ROOTHTML#>3rdparty/threejs/three.min.js"></script>
<script src="<#ROOTHTML#>3rdparty/threejs/loaders/SceneLoader.js" language="javascript"></script>
   <script language="javascript">

                        var container;
                        var camera, scene, loaded;
                        var renderer;
                        var mixers = [];
                        var rotatingObjects = [];
                        var clock = new THREE.Clock();
                        var objects = [];

    var container = document.getElementById('canvas_[#ID#]');
    var camera = new THREE.PerspectiveCamera( 75, [#WIDTH#]/[#HEIGHT#], 0.1, 1000 );
    var default_camera = new THREE.PerspectiveCamera( 75, [#WIDTH#]/[#HEIGHT#], 0.1, 1000 );

    var renderer = new THREE.WebGLRenderer();
    renderer.setSize( [#WIDTH#], [#HEIGHT#] );
    renderer.domElement.style.position = "relative";
    container.appendChild( renderer.domElement );
    renderer.gammaInput = true;
    renderer.gammaOutput = true;

    var scene = new THREE.Scene();


var loader = new THREE.SceneLoader();
var sceneURL='[#S3D_SCENE#]'; //

// load a resource
loader.load(
        sceneURL,
        function ( result ) {
           loaded = result;
           scene = loaded.scene;
           for (var obj in loaded.objects ) {
            objects.push(loaded.objects[obj]);
           }
           if (loaded.currentCamera) {

            loaded.currentCamera.aspect = [#WIDTH#]/[#HEIGHT#];
            loaded.currentCamera.updateProjectionMatrix();
            default_camera=loaded.currentCamera;
            camera = default_camera.clone();
            /*
            var old_position = new THREE.Vector3();
            old_position.setFromMatrixPosition( camera.matrix );
            camera.matrixAutoUpdate = true;
            camera.position.setX(old_position.x);
            camera.position.setY(old_position.y);
            camera.position.setZ(old_position.z);
            */

           }

        }
);


                        function render() {
                                requestAnimationFrame( render );
                                renderer.render( scene, camera );
                                TWEEN.update();
                        }


     render();


// projector
raycaster = new THREE.Raycaster();

// listeners
document.addEventListener( 'mousedown', onDocumentMouseDown, false)

function onDocumentMouseDown( event ) {
    event.preventDefault();
                var mouse = new THREE.Vector2();
                mouse.x = ( (event.clientX-[#LEFT#]) / renderer.domElement.width ) * 2 - 1;
                mouse.y = - ( (event.clientY-[#TOP#]) / renderer.domElement.height ) * 2 + 1;
                raycaster.setFromCamera( mouse, camera );

        var intersects = raycaster.intersectObjects( objects ); 

    if ( intersects.length > 0 ) {
     console.log('Clicked on '+intersects[0].object.name);
     [#begin STATES#]
      [#if S3D_OBJECT!=""#]
      if (intersects[0].object.name=='[#S3D_OBJECT#]') {
       stateClicked('[#ID#]');
      }[#endif#]
     [#end STATES#]
    }
}
 

   </script>
   <div style="display:none">
    [#begin STATES#]
    <div class="element_<#ELEMENTS.ID#> type_<#ELEMENTS.TYPE#> state_[#TITLE#] s3d_state" id="state_[#ID#]"
    [#if S3D_OBJECT!=""#] data-s3d_object='[#S3D_OBJECT#]'[#endif#]
    [#if S3D_CAMERA!=""#] data-s3d_camera='[#S3D_CAMERA#]'[#endif#]
    [#if "<#DRAGGABLE#>"!="1"#]onClick="stateClicked('[#ID#]');"[#endif DRAGGABLE#]
    ></div>[#end STATES#]
   </div>


 [#else TYPE#]

 [#begin STATES#]
  <div 
   class="element_<#ELEMENTS.ID#> type_<#ELEMENTS.TYPE#>[#if "<#ELEMENTS.CSS_STYLE#>"!=""#] style_<#ELEMENTS.CSS_STYLE#>[#endif#] state_[#TITLE#][#if ("<#ELEMENTS.BACKGROUND#>"=="1")#] html_background[#endif#][#if "<#ELEMENTS.POSITION_TYPE#>"=="1"#] inlineblock[#endif#][#if "<#DRAGGABLE#>"=="1" && "<#ELEMENTS.POSITION_TYPE#>"=="0"#] draggable[#endif#]" 
   id="state_[#ID#]"
   [#if SCRIPT_ID!="0" || HOMEPAGE_ID!="0" || OPEN_SCENE_ID!="0" || EXT_URL!="" || MENU_ITEM_ID!="0" || ACTION_METHOD!="" || CODE!=""#] 
   [#if "<#DRAGGABLE#>"!="1"#]
    onClick="stateClicked('[#ID#]');"
   [#endif DRAGGABLE#]
   [#endif#] 
   style="
   [#if "<#DRAGGABLE#>"=="1"#]border:1px solid blue;[#endif#]
   [#if "<#ELEMENTS.POSITION_TYPE#>"=="0"#]position:absolute;left:<#ELEMENTS.LEFT#>px;top:<#ELEMENTS.TOP#>px;[#endif ELEMENTS#]
   [#if "<#ELEMENTS.ZINDEX#>"!=""#]z-index:<#ELEMENTS.ZINDEX#>;[#endif#]
   [#if ("<#ELEMENTS.WIDTH#>"!="0")#]width:<#ELEMENTS.WIDTH#>px;[#endif#][#if ("<#ELEMENTS.HEIGHT#>"!="0")#]height:<#ELEMENTS.HEIGHT#>px;[#endif#]
   [#if SCRIPT_ID!="0" || MENU_ITEM_ID!="0" || ACTION_METHOD!="" || EXT_URL!="" || HOMEPAGE_ID!="0" || OPEN_SCENE_ID!="0" || CODE!=""#]cursor:pointer;[#endif#]
   [#if STATE!="1"#]display:none;[#else#]display:inline-block;[#endif#]">[#if "<#ELEMENTS.TYPE#>"=="img"#]<img src="[#IMAGE#]" border="0">[#endif#]<span>[#HTML#]</span></div>
 [#end STATES#]
 [#endif TYPE#]

 [#endif ELEMENTS#]

 [#if CSS!=""#]
 <style>
  [#CSS#]
 </style>
 [#endif CSS#]
 [#if JAVASCRIPT!=""#]
 <script language="javascript">
  [#JAVASCRIPT#]
 </script>
 [#endif JAVASCRIPT#]
 <!-- /element [#ID#] -->
 [#end ELEMENTS#]
 [#if BACKGROUND!=""#]
 <div class="scene_background"><img src="[#BACKGROUND#]" border="0"></div>
 [#endif BACKGROUND#]
 </div>
 <!--#
 </td>
 </table>
 #-->
 </div>
 [#if "<#TOTAL#>"!="1"#]</li>[#endif#]
[#end RESULT#]
[#if "<#TOTAL#>"!="1"#]</ul>[#endif#]
</div>
</div> <!-- /slider -->
</td>
 </tr>
</table>

[#if "<#DRAGGABLE#>"=="1"#]
<div id='contextMenuDiv' style="display:none;width:100px;height:20px;background-color:white;position:absolute;border: 1px solid black;z-index:10000;top:200px;left:300px;padding:10px;text-align:center"><a href="#" onClick="stateClickedEdit('new');return false;"><#LANG_ADD#></a></div>
[#endif#]
