
[#if SET_DATASOURCE!="1"#]
&nbsp;
<!-- source select -->
<!-- / source select -->
[#endif SET_DATASOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="scenes" || DATA_SOURCE=""#]
 <!-- table scenes search -->
 [#if VIEW_MODE="search_scenes" || VIEW_MODE=""#]
  [#inc scenes_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table scenes search -->
 <!-- table scenes edit -->
 [#if VIEW_MODE="edit_scenes"#]

<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>
[#if ID!=""#]
<span class="divider">/</span>
<li class="active">
[#TITLE#]
</li>
[#endif#]
</ul>


   [#if ID!=""#]

        <ul class="nav nav-tabs">
        <li[#if TAB=""#] class="active"[#endif#]>
        <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_DETAILS#></a>
        </li>
        <li[#if TAB="elements"#] class="active"[#endif#]>
        <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=elements"><#LANG_ELEMENTS#></a>
        </li>
            <li[#if TAB="devices"#] class="active"[#endif#]>
            <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=devices"><#LANG_DEVICES#></a>
            </li>
        <li[#if TAB="preview"#] class="active"[#endif#]>
        <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=preview"><#LANG_PREVIEW#> / <#LANG_EDIT#></a>
        </li>
            <li>
            <a href="<#ROOTHTML#>popup/scenes/<#ID#>.html" target="_blank"><#LANG_PREVIEW#></a>
            </li>
        </ul>

<div>&nbsp;</div>

   [#endif ID#]
   [#if TAB=""#]
    [#inc scenes_edit_default.html#]
   [#endif TAB#]
   [#if TAB="elements"#]
    [#inc scenes_edit_elements.html#]
   [#endif TAB#]

[#if TAB="devices"#]
[#inc scenes_edit_devices.html#]
[#endif TAB#]

   [#if TAB="preview"#]
    <iframe width="100%" height="800" src="<#ROOTHTML#>popup/scenes/[#ID#].html?draggable=1"></iframe>
   [#endif TAB#]


 [#endif VIEW_MODE#]
 <!-- / table scenes edit -->
 <!-- table scenes view --> 
 [#if VIEW_MODE="view_scenes"#]
   [#if TAB=""#]
    [#inc scenes_view_default.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]
 <!-- / table scenes view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="elements"#]
 <!-- table elements search -->
 [#if VIEW_MODE="search_elements" || VIEW_MODE=""#]
  [#inc elements_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table elements search -->
 <!-- table elements edit -->
 [#if VIEW_MODE="edit_elements"#]
   [#inc elements_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table elements edit -->
 <!-- table elements view --> 
 [#if VIEW_MODE="view_elements"#]
   [#inc elements_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table elements view -->
 [#endif DATA_SOURCE#]
 <!-- action usual -->
 [#if DATA_SOURCE="elm_states"#]
 <!-- table elm_states search -->
 [#if VIEW_MODE="search_elm_states" || VIEW_MODE=""#]
  [#inc elm_states_search_admin.html#]
 [#endif VIEW_MODE#]
 <!-- / table elm_states search -->
 <!-- table elm_states edit -->
 [#if VIEW_MODE="edit_elm_states"#]
   [#inc elm_states_edit.html#]
 [#endif VIEW_MODE#]
 <!-- / table elm_states edit -->
 <!-- table elm_states view --> 
 [#if VIEW_MODE="view_elm_states"#]
   [#inc elm_states_view.html#]
 [#endif VIEW_MODE#]
 <!-- / table elm_states view -->
 [#endif DATA_SOURCE#]
