<!-- table elements search -->
<div>
<a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=edit_elements" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_ELEMENT#></a>
</div>
&nbsp;

<script language="javascript">

$(function () {


        $("a.show-hide-link").click(function() {
                var id = $(this).data('id');//'#sub' + 
                //$(id).toggle();
  if ($('#sub'+id).is(":visible")) {
   $('#sub'+id).hide();
   $('#link'+id).html(' + ');
   $.cookie("scenes_item"+id, null);
  } else {
   $.cookie("scenes_item"+id, "1");
   $('#sub'+id).show();
   $('#link'+id).html(' - ');
  }
  return false;


        });

});
</script>


<!-- results -->
[#if ELEMENTS#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_elements" style="padding:0px">
<table class="table table-bordered">
<tr>
 <th>&nbsp;</th>
 <th><#LANG_TITLE#></th>
 <th><#LANG_TYPE#></th>
 <th><#LANG_PRIORITY#></th>
 <th>&nbsp;</th>
</tr>
[#begin ELEMENTS#]
<tr>
 <td align="center" width="100"><input type="checkbox" name="selected[]" value="[#ID#]"></td>
 <td>
   [#if CSS_IMAGE!=""#]<img src="<#ROOTHTML#>cms/scenes/styles/[#CSS_IMAGE#]" border="0">[#endif#]
   [#if ELEMENTS#]
   <a href="#" id="link[#ID#]" class="show-hide-link btn btn-default btn-sm expand" data-id="[#ID#]"> + </a>[#endif#]
   <a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=edit_elements&element_id=[#ID#]">[#TITLE#]</a>
 </td>
 <td width="200">
  [#TYPE#]
  [#if WIDTH!="0"#]([#WIDTH#] x [#HEIGHT#])[#endif#]
 </td>
 <td width="100">[#PRIORITY#]</td>
 <td width="180">
  <div class="pull-right">
   <a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=up_elements&element_id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-up"></i></a>
   <a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=down_elements&element_id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-down"></i></a>
   <a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=edit_elements&element_id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
   <a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=delete_elements&element_id=[#ID#]" class="btn btn-default btn-sm" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-remove"></i></a>
  </div>
 </td>
</tr>
[#if ELEMENTS#]
<tr>
 <td valign="top" colspan="10">
 <div id='sub[#ID#]' style="display:none">
 <table width="100%" border="0" class="table table-bordered">
  [#tree ELEMENTS#]
 </table> 
 </div>
</td>
</tr>
[#endif ELEMENTS#]
[#end ELEMENTS#]
</table>
<input type="submit" name="submit" value="<#LANG_EXPORT#>" class="btn btn-default">
<#LANG_HCB#>scene_export_elements<#LANG_HCE#>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_elements">
<input type="hidden" name="tab" value="<#TAB#>">
<input type="hidden" name="id" value="<#ID#>">
</form>
<!-- / search results (list) -->

<script language="javascript">
[#begin ELEMENTS#]
 if ($.cookie("scenes_item[#ID#]")) {
  $('#sub[#ID#]').show();
  $('#link[#ID#]').html(' - ');
 }
 [#if ELEMENTS#]
 [#tree ELEMENTS#]
 [#endif ELEMENTS#]
[#end ELEMENTS#]
</script>



[#else ELEMENTS#]
<div class="alert alert-error">
<#LANG_NO_RECORDS_FOUND#>
</div>
[#endif ELEMENTS#]
<!-- / results -->

&nbsp;<br/><br/>

<form action="?" method="post" name="frmList_elements" style="padding:0px" enctype="multipart/form-data">
<input type="file" name="file"><br/>
<input type="submit" name="submit" value="<#LANG_IMPORT#>" class="btn btn-default">
<#LANG_HCB#>scene_import_elements<#LANG_HCE#>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="import_elements">
<input type="hidden" name="tab" value="<#TAB#>">
<input type="hidden" name="id" value="<#ID#>">
</form>
