
<!-- table elements search -->
<a class="btn btn-success" href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=edit_elements"><i class="icon-white icon-plus-sign"></i><#LANG_ADD_NEW_ELEMENT#></a>


<!-- results -->
[#if ELEMENTS#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_elements" style="padding:0px">
<table class="table table-bordered">
[#begin ELEMENTS#]
<tr>
 <td>
   [#TITLE#]
 </td>
 <td>
  <div class="pull-right">
  [#if "<#ACTION#>"=="admin"#]
   <a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=edit_elements&element_id=[#ID#]"><#LANG_EDIT#></a>
   <span class="separator">/</span>
   <a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=delete_elements&element_id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
  [#endif ACTION#]
  </div>
 </td>
</tr>
[#end ELEMENTS#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_elements">
</form>
<!-- / search results (list) -->
[#else ELEMENTS#]
<div class="alert alert-error">
<#LANG_NO_RECORDS_FOUND#>
</div>
[#endif ELEMENTS#]
<!-- / results -->
