
<!-- Table 'elements' edit -->
<p align=center>
 <a href="?tab=elements&id=<#ID#>&view_mode=edit_scenes">&lt;&lt;&lt; <#LANG_BACK#></a>
</p>

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit">

<table width="100%" border="0">
 <tr>
  <td valign="top" width="50%">

<p><big>Element details</big></p>

<table border=0 align=center cellpadding=3>
[#if OK#]
<tr>
 <td colspan=2 align=center>
  <font color="green"><#LANG_DATA_SAVED#></font>
 </td>
</tr>
[#endif OK#]
[#if ERR#]
<tr>
 <td colspan=2 align=center>
  <font color="red"><#LANG_FILLOUT_REQURED#></font>
 </td>
</tr>
[#endif ERR#]
[#if ELEMENT_ID=""#]
<tr>
 <td colspan=2 align=center><b><#LANG_NEW_RECORD#></b></td>
</tr>
[#endif ELEMENT_ID#]
<!-- TITLE (varchar) -->
<tr>
 <td align=right>
 [#if ERR_TITLE#]<b><font color="red">[#endif#]
 <#LANG_TITLE#>:
 (*)
 </td>
 <td>
  <input type="text" name="title" value="[#ELEMENT_TITLE#]">
 </td>
</tr>
<!-- TYPE (select) -->
<tr>
 <td align=right valign=top>
 [#if ERR_TYPE#]<b><font color="red">[#endif#]
 <#LANG_TYPE#>: 
 </td>
 <td>                                           
 <select name="type">
  <option value="">select
  <option value="img"[#if ELEMENT_TYPE=="img"#] selected[#endif#]><#LANG_IMAGE#>
  <option value="html"[#if ELEMENT_TYPE=="html"#] selected[#endif#]>HTML
 </select>
 </td>
</tr>
<!-- TOP (int) -->
<tr>
 <td align=right>
 [#if ERR_TOP#]<b><font color="red">[#endif#]
 <#LANG_TOP#>:
 </td>
 <td>
  <input type="text" name="top" value="[#ELEMENT_TOP#]">
 </td>
</tr>
<!-- LEFT (int) -->
<tr>
 <td align=right>
 [#if ERR_LEFT#]<b><font color="red">[#endif#]
 <#LANG_LEFT#>:
 </td>
 <td>
  <input type="text" name="left" value="[#ELEMENT_LEFT#]">
 </td>
</tr>
[#if ELEMENT_TYPE="html"#]
<!-- WIDTH (int) -->
<tr>
 <td align=right>
 [#if ERR_WIDTH#]<b><font color="red">[#endif#]
 <#LANG_WIDTH#>:
 </td>
 <td>
  <input type="text" name="width" value="[#ELEMENT_WIDTH#]">
 </td>
</tr>
<!-- HEIGHT (int) -->
<tr>
 <td align=right>
 [#if ERR_HEIGHT#]<b><font color="red">[#endif#]
 <#LANG_HEIGHT#>:
 </td>
 <td>
  <input type="text" name="height" value="[#ELEMENT_HEIGHT#]">
 </td>
</tr>
[#endif ELEMENT_TYPE#]
<!-- CROSS_SCENE (int) -->
<!--#
<tr>
 <td align=right>
  &nbsp;
 </td>
 <td>
  <input type="checkbox" name="cross_scene" value="1"[#if ELEMENT_CROSS_SCENE="1"#] checked[#endif#]> cross scene element
 </td>
</tr>
#-->

</table>

</td>
[#if ELEMENT_ID!=""#]
<td valign="top">

<p><big><#LANG_STATES#></big></p>

<p>
[#begin STATES#]
<a href="?id=<#ID#>&view_mode=<#VIEW_MODE#>&tab=<#TAB#>&view_mode2=<#VIEW_MODE2#>&element_id=<#ELEMENT_ID#>&state_id=[#ID#]">[#if ID="<#STATE_ID#>"#]<b>[#endif#][#TITLE#]</b></a>;
[#end STATES#]
</p>

[#if STATE_ID=""#]
<p><b><#LANG_ADD_NEW_STATE#>:</b></p>
[#else STATE_ID#]
<p>
<a href="?id=<#ID#>&view_mode=<#VIEW_MODE#>&tab=<#TAB#>&view_mode2=<#VIEW_MODE2#>&element_id=<#ELEMENT_ID#>&state_id=new"><#LANG_ADD_NEW_STATE#></a>
</p>
[#endif STATE_ID#]

<table width="100%" border="0">
 <tr>
  <td width="15%" align="right">State <#LANG_TITLE#>:</td>
  <td width="85%"><input type="text" name="state_title_new" value="[#STATE_TITLE#]">
  [#if STATE_ID!=""#]
  <label><input type="checkbox" name="state_delete" value="1"> <#LANG_DELETE#></label>
  [#endif#]
  </td>
 </tr>
 [#if "<#ELEMENT_TYPE#>"=="html"#]
 <tr>
  <td align="right" valign="top"><#LANG_CODE#>:</td>
  <td><textarea name="html_new" rows="5" cols="41">[#STATE_HTML#]</textarea></td>
 </tr>
 [#endif#]
 [#if "<#ELEMENT_TYPE#>"=="img"#]
 <tr>
  <td align="right" valign="top"><#LANG_IMAGE#>:</td>
  <td>
<script type="text/javascript">
     function openFileBrowser(id){
          fileBrowserlink = "/pdw/index.php?editor=standalone&returnID=" + id;
          window.open(fileBrowserlink,'pdwfilebrowser', 'width=1000,height=650,scrollbars=no,toolbar=no,location=no');
     }
</script>
  <input type="text" name="image_new" id="image_new" value="[#STATE_IMAGE#]" onclick="openFileBrowser('image_new');" size="40">
  [#if STATE_IMAGE!=""#]
  <div><img src="[#STATE_IMAGE#]" border="0"></div>
  [#endif#]
  </td>
 </tr>
 [#endif#]

 <tr>
  <td align="right"><#LANG_RUN_SCCRIPT_ON_CLICK#>:</td>
  <td>
  <select name="script_id_new">
   <option value="0">
   [#begin SCRIPTS#]
   <option value="[#ID#]"[#if ID="<#STATE_SCRIPT_ID#>"#] selected[#endif#]>[#TITLE#]
   [#end SCRIPTS#]
  </select>
  </td>
 </tr>


 <tr>
  <td valign="top"><#LANG_DISPLAY_CONDITION#>:</td>
  <td valign="top">
  <label><input type="radio" name="is_dynamic_new" class="is_dynamic_new" value="0"[#if STATE_IS_DYNAMIC="0" || STATE_IS_DYNAMIC=""#] checked[#endif#]> n/a (<#LANG_ALWAYS_VISIBLE#>)</label><br>
  <label><input type="radio" name="is_dynamic_new" class="is_dynamic_new" value="1"[#if STATE_IS_DYNAMIC="1"#] checked[#endif#]> <#LANG_SIMPLE#></label><br>
  <label><input type="radio" name="is_dynamic_new" class="is_dynamic_new" value="2"[#if STATE_IS_DYNAMIC="2"#] checked[#endif#]> <#LANG_ADVANCED#></label><br>
  <script language="javascript">

 $('.is_dynamic_new').click (function ()
  {
  var thisCheck = $(this);
  if (thisCheck.val()==1) {
   $('#condition_block_new').show();
   $('#condition_advanced_block_new').hide();
   $('#switch_scene_block').show();
  } else if (thisCheck.val()==2) {
   $('#condition_block_new').hide();
   $('#condition_advanced_block_new').show();
   $('#switch_scene_block').show();
  } else {
   $('#condition_block_new').hide();
   $('#condition_advanced_block_new').hide();
   $('#switch_scene_block').hide();
  }
 }
 );
  
  </script>
  <div id="condition_block_new"[#if STATE_IS_DYNAMIC!="1"#] style="display:none"[#endif#]>
   <table width="100%" border="0">
    <tr>
     <td valign="top">
     <input type="text" name="linked_object_new" size="10" value="[#STATE_LINKED_OBJECT#]">
     </td>
     <td valign="top">
     <input type="text" name="linked_property_new" size="10" value="[#STATE_LINKED_PROPERTY#]">
     </td>
     <td valign="top">
     <select name="condition_new">
      <option value="1"[#if STATE_CONDITION="1"#] selected[#endif#]>=
      <option value="2"[#if STATE_CONDITION="2"#] selected[#endif#]>&gt;
      <option value="3"[#if STATE_CONDITION="3"#] selected[#endif#]>&lt;
      <option value="4"[#if STATE_CONDITION="4"#] selected[#endif#]>&lt;&gt;
     </select>
     </td>
     <td valign="top"><input type="text" name="condition_value_new" size="10" value="[#STATE_CONDITION_VALUE#]"></td>
    </tr>
   </table>
   
  </div>
  <div id="condition_advanced_block_new"[#if STATE_IS_DYNAMIC!="2"#] style="display:none"[#endif#]>
   <textarea name="condition_advanced_new" rows="5" cols="40">[#STATE_CONDITION_ADVANCED#]</textarea>
   <br><#LANG_EXAMPLE#>:<pre>
    if ($a>$b) {
     $display=1;
    } else {
     $display=0;
    }
   </pre>
  </div>
  <div id="switch_scene_block" [#if STATE_IS_DYNAMIC="0"#] style="display:none"[#endif#]>
   <input type="checkbox" name="switch_scene_new" value="1"[#if STATE_SWITCH_SCENE="1"#] checked[#endif#]> <#LANG_SWITCH_SCENE_WHEN_ACTIVATED#>
  </div>
  </td>
 </tr>
</table>
<input type="hidden" name="state_id" value="[#STATE_ID#]">

</td>
[#endif ID#]

<tr>
 <td colspan=2 align=center>
 &nbsp;<br>
 [#if ID!=""#]
 <input type="submit" name="subm" value="<#LANG_SUBMIT#>">
 [#else ID#]
 <input type="submit" name="subm" value="<#LANG_ADD#>">
 [#endif ID#]
 &nbsp;
 <a href="?tab=elements&id=<#ID#>&view_mode=edit_scenes"><#LANG_CANCEL#></a>
 </td>
</tr>
<input type="hidden" name="element_id" value="<#ELEMENT_ID#>">
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="view_mode2" value="edit_elements">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="tab" value="<#TAB#>">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">


</table>
</form>