&nbsp;

<!-- Table 'scenes' edit -->
<table border=0 align=center cellpadding=3>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit">
[#if OK#]
<tr>
 <td colspan=2 align=center>
  <font color="green"><#LANG_DATA_SAVED#></font>
 </td>
</tr>
[#endif OK#]
[#if ERR#]
<tr>
 <td colspan=2 align=center>
  <font color="red"><#LANG_FILLOUT_REQURED#></font>
 </td>
</tr>
[#endif ERR#]
[#if ID=""#]
<tr>
 <td colspan=2 align=center><b><#LANG_NEW_RECORD#></b></td>
</tr>
[#endif ID#]
<!-- TITLE (varchar) -->
<tr>
 <td align=right>
 [#if ERR_TITLE#]<b><font color="red">[#endif#]
 <#LANG_TITLE#>:
 (*)
 </td>
 <td>
  <input type="text" name="title" value="[#TITLE#]">
 </td>
</tr>

<!-- PRIORITY (int) -->
<tr>
 <td align=right>
 [#if ERR_PRIORITY#]<b><font color="red">[#endif#]
 <#LANG_PRIORITY#>:
 </td>
 <td>
  <input type="text" name="priority" value="[#PRIORITY#]">
 </td>
</tr>


<!-- BACKGROUND (varchar) -->
<tr>
 <td align=right>
 [#if ERR_BACKGROUND#]<b><font color="red">[#endif#]
 <#LANG_BACKGROUND#>:
 </td>
 <td>
<script type="text/javascript">
     function openFileBrowser(id){
          fileBrowserlink = "/pdw/index.php?editor=standalone&returnID=" + id;
          window.open(fileBrowserlink,'pdwfilebrowser', 'width=1000,height=650,scrollbars=no,toolbar=no,location=no');
     }
</script>
  <input type="text" name="background" id="background" value="[#BACKGROUND#]" onclick="openFileBrowser('background');" size="60">
 </td>
</tr>

[#if BACKGROUND!=""#]
<tr>
 <td valign="top" colspan=2 align="left">
 <div id="scene_background" style="position:relative;">
 [#begin ELEMENTS#]
  <div id="element_[#ID#]" style="position:absolute;left:[#LEFT#]px;top:[#TOP#]px;"><b><a href="?id=<#ID#>&view_mode=<#VIEW_MODE#>&tab=elements&view_mode2=edit_elements&element_id=[#ID#]">[#TITLE#]</a></b></div>
 [#end ELEMENTS#]
 <img src="[#BACKGROUND#]" border="0"></div>
 </td>
</tr>
[#endif#]

<tr>
 <td colspan=2 align=center>
 [#if ID!=""#]
 <input type="submit" name="subm" value="<#LANG_SUBMIT#>">
 [#else ID#]
 <input type="submit" name="subm" value="<#LANG_ADD#>">
 [#endif ID#]
 &nbsp;
 <a href="?data_source=<#DATA_SOURCE#>"><#LANG_CANCEL#></a>
 </td>
</tr>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="tab" value="<#TAB#>">
</form>
</table>


