
<!-- table scenes search -->

<a href="?view_mode=edit_scenes&data_source=<#DATA_SOURCE#>" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_SCENE#></a>
<a class="btn btn-default" href="<#ROOTHTML#>popup/scenes.html" target=_blank><#LANG_PREVIEW#></a>
<br><br>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->

<form action="?" method="post" name="frmList_scenes">
[#begin RESULT#]
<div class="well relative">
<span class="scene-title">[#TITLE#]</span>
<div class="btn-group pull-right">
        <a class="btn btn-default btn-sm" href="<#ROOTHTML#>popup/scenes/[#ID#].html" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a> 
        <a class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=edit_scenes&id=[#ID#]"><i class="glyphicon glyphicon-pencil"></i></a> 
        [#if "<#ACTION#>"=="admin"#]
        <a class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=delete_scenes&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-remove"></i></a>
        [#endif ACTION#]
</div>

[#if BACKGROUND!=""#]
<a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_scenes&id=[#ID#]"><img class="scene-thumbail" src="[#BACKGROUND#]"></a>
[#endif#]
</div>
[#end RESULT#]
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_scenes">
</form>

<!-- / search results (list) -->
[#else RESULT#]
<div class="alert alert-error">
<#LANG_NO_RECORDS_FOUND#>
</div>
[#endif RESULT#]
<!-- / results -->
<hr size=1>
<form action="?" enctype="multipart/form-data" method="post">
<table border="0">
 <tr>
  <td valign="top"><#LANG_IMPORT#>:</td>
  <td valign="top"><input type="file" name="file" enctype="multipart/form-data"></td>
  <td valign="top"><input type="submit" name="submit" value="<#LANG_IMPORT#>"></td>
 </tr>
</table>
<input type="hidden" name="view_mode" value="import">
</form>

<hr size="1">
[#module name="settings" action="admin" filter_name="SCENES"#]