
<!-- table scenes search -->

<div>
<a href="?view_mode=edit_scenes&data_source=<#DATA_SOURCE#>" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_SCENE#></a>
<a class="btn btn-default" href="<#ROOTHTML#>popup/scenes.html" target=_blank><#LANG_PREVIEW#></a>
</div>
&nbsp;
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->

<form action="?" method="post" name="frmList_scenes">
[#begin RESULT#]
<div class="well relative">
<span class="scene-title">[#TITLE#]</span>
<div class="btn-group pull-right">

        <a class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=edit_scenes&id=[#ID#]"><i class="glyphicon glyphicon-pencil"></i></a> 
        <a class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=edit_scenes&id=[#ID#]&tab=elements"><i class="glyphicon glyphicon-th-list"></i></a>
        <a class="btn btn-default btn-sm" href="<#ROOTHTML#>popup/scenes/[#ID#].html" target=_blank><i class="glyphicon glyphicon-eye-open"></i></a> 

  <a href="?view_mode=moveup&id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-up"></i></a>
  <a href="?view_mode=movedown&id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-down"></i></a>

        <a class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=delete_scenes&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-remove"></i></a>
</div>

<div>
<table width="100%" border="0">
 <tr>
  <td valign="top">[#if BACKGROUND!=""#]
<a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_scenes&id=[#ID#]"><img src="[#BACKGROUND#]" width="300"></a>
[#endif#]
</td>
 <td valign="top" width=90%>
 [#if ELEMENTS#]
 <ul>
  [#begin ELEMENTS#]
  <li><a href="?view_mode=edit_scenes&id=<#RESULT.ID#>&tab=elements&view_mode2=edit_elements&element_id=[#ID#]">[#TITLE#]</a></li>
  [#if ELEMENTS#]<ul>[#tree ELEMENTS#]</ul>[#endif ELEMENTS#]
  [#end ELEMENTS#]
 </ul>
 [#endif ELEMENTS#]
 </td>
 </tr>
</table>
</div>

</div>
[#end RESULT#]
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_scenes">
</form>

<!-- / search results (list) -->
[#else RESULT#]
<div class="alert alert-error">
<#LANG_NO_RECORDS_FOUND#>
</div>
[#endif RESULT#]
<!-- / results -->

<a href="#" class="btn btn-default" onClick="$('#scene_tools').toggle();return false;"><#LANG_TOOLS#></a>

<br/>&nbsp;
<div id='scene_tools' style="display:none">
<hr>
    <h2><#LANG_IMPORT#></h2>
<form action="?" enctype="multipart/form-data" method="post">
<table border="0">
 <tr>
  <td valign="top"><#LANG_IMPORT#>:</td>
  <td valign="top"><input type="file" name="file" enctype="multipart/form-data"></td>
  <td valign="top"><input type="submit" name="submit" value="<#LANG_IMPORT#>"></td>
 </tr>
</table>
<input type="hidden" name="view_mode" value="import">
</form>
<hr>
<h2><#LANG_MODULE_SETTINGS#></h2>
[#module name="settings" action="admin" filter_name="SCENES"#]

</div>