<!-- Table 'scenes' edit -->
<form action="?" method="post" enctype="multipart/form-data" id="frmEdit" name="frmEdit">
[#if OK#]
<div class="alert alert-success">
<#LANG_DATA_SAVED#>
</div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error">
<#LANG_FILLOUT_REQURED#>
</div>
[#endif ERR#]
[#if ID=""#]
<h3>
<#LANG_NEW_RECORD#>
</h3>
[#endif ID#]
<!-- TITLE (varchar) -->

<div class="form-group">
        <label class="control-label"><#LANG_TITLE#> (*)<#LANG_HCB#>title<#LANG_HCE#></label>
        <div class="controls">
                <input class="form-control" type="text" name="title" value="[#TITLE#]" required>
        </div>
</div>

<!-- PRIORITY (int) -->

<div class="form-group">
        <label class="control-label"><#LANG_PRIORITY#><#LANG_HCB#>priority<#LANG_HCE#></label>
        <div class="controls">
                <input class="form-control" type="text" name="priority" value="[#PRIORITY#]">
        </div>
</div>

<div class="form-group">
        <div class="controls">
                <input type="checkbox" name="hidden" value="1"[#if HIDDEN="1"#] checked[#endif#]>
                <#LANG_SCENE_HIDDEN#> <#LANG_HCB#>scene_hidden<#LANG_HCE#>
        </div>
</div>

    <div class="form-group">
        <label class="control-label"><#LANG_SCENE_AUTO_SCALE#> <#LANG_HCB#>scene_auto_scale<#LANG_HCE#></label>
        <div class="controls">
            <select name="auto_scale" class="form-control">
                <option value="0"><#LANG_NO#></option>
                <option value="1"[#if AUTO_SCALE="1"#] selected[#endif#]><#LANG_SCALE_BOTH#></option>
                <option value="2"[#if AUTO_SCALE="2"#] selected[#endif#]><#LANG_SCALE_WIDTH#></option>
                <option value="3"[#if AUTO_SCALE="3"#] selected[#endif#]><#LANG_SCALE_HEIGHT#></option>
            </select>
        </div>
    </div>



<!-- BACKGROUND (varchar) -->

<div class="form-group">
        <label class="control-label"><#LANG_BACKGROUND#><#LANG_HCB#>scene_background<#LANG_HCE#></label>
        <div class="controls">
                <input class="form-control" type="text" name="background" id="background" value="[#BACKGROUND#]" onclick="openFileBrowser('background');" size="60">

<div>
<table width="100%" border="0">
 <tr>
  <td valign="top">[#if BACKGROUND!=""#]
<a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_scenes&id=[#ID#]"><img src="[#BACKGROUND#]" width="300"></a>
[#endif#]
</td>
     <!--#
 <td valign="top" width=90%>
 [#if ELEMENTS#]
 <ul>
  [#begin ELEMENTS#]
  <li><a href="?view_mode=edit_scenes&id=<#ID#>&tab=elements&view_mode2=edit_elements&element_id=[#ID#]">[#TITLE#]</a></li>
  [#if ELEMENTS#]<ul>[#tree ELEMENTS#]</ul>[#endif ELEMENTS#]
  [#end ELEMENTS#]
 </ul>
 [#endif ELEMENTS#]
 </td>
 #-->
 </tr>
</table>
</div>

        </div>
</div>


<div class="form-group">
        <label class="control-label"><#LANG_WALLPAPER#><#LANG_HCB#>scene_wallpaper<#LANG_HCE#></label>
        <div class="controls">
                <input class="form-control" type="text" name="wallpaper" id="wallpaper" value="[#WALLPAPER#]" onclick="openFileBrowser('wallpaper');" size="60">
                <br>
                <input type="checkbox" name="wallpaper_fixed" value="1"[#if WALLPAPER_FIXED="1"#] checked[#endif#]> fixed
                <input type="checkbox" name="wallpaper_norepeat" value="1"[#if WALLPAPER_NOREPEAT="1"#] checked[#endif#]> no-repeat

[#if WALLPAPER!=""#]
<div>
<table width="100%" border="0">
 <tr>
  <td valign="top">
<a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_scenes&id=[#ID#]"><img src="[#WALLPAPER#]" width="300"></a>
</td>
 <td valign="top" width=90%>
  &nbsp;
 </td>
 </tr>
</table>
</div>
[#endif#]


        </div>


</div>







<!--#
[#if BACKGROUND!=""#]
<div id="scene_background" style="position:relative;">
[#begin ELEMENTS#]
[#if TYPE="img"#]
<div id="element_[#ID#]" class="well element-preview element-preview-image" data-id="[#ID#]" style="position:absolute;left:[#LEFT#]px;top:[#TOP#]px;">
<div class="inner-bar">[#TITLE#]<span class="divider">-</span><a href="?id=<#ID#>&view_mode=<#VIEW_MODE#>&tab=elements&view_mode2=edit_elements&element_id=[#ID#]"><i class="icon-pencil"></i></a><span class="divider">-</span><a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=delete_elements&element_id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="icon-trash"></i></a></div>
<img src="[#IMAGE#]" style="max-width:8000px">
</div>
[#else#]
<div id="element_[#ID#]" class="well element-preview" data-id="[#ID#]" style="position:absolute;left:[#LEFT#]px;top:[#TOP#]px;width:[#WIDTH#]px;height:[#HEIGHT#]px;">
[#TITLE#] (HTML)<span class="divider">-</span><a href="?id=<#ID#>&view_mode=<#VIEW_MODE#>&tab=elements&view_mode2=edit_elements&element_id=[#ID#]"><i class="icon-pencil"></i></a><span class="divider">-</span><a href="?view_mode=edit_scenes&id=<#ID#>&tab=<#TAB#>&view_mode2=delete_elements&element_id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="icon-trash"></i></a>
<div class="drag-to-move"><i></i>Drag to move</div>
<div class="resize-handler"></div>
</div>
[#endif#]
[#end ELEMENTS#]
<img src="[#BACKGROUND#]" border="0"></div>
[#endif#]
#-->

    <div class="form-group">
        <label class="control-label"><#LANG_SCENE_DEVICES_BACKGROUND#> (<#LANG_THEME#>):<#LANG_HCB#>devices_background<#LANG_HCE#></label>
        <div class="controls">
            <select name="devices_background" class="form-control">
                <option value=""><#LANG_NO#></option>
                <option value="dark"[#if DEVICES_BACKGROUND="dark"#] selected[#endif#]><#LANG_THEME_DARK#></option>
                <!--#
                <option value="light"[#if DEVICES_BACKGROUND="light"#] selected[#endif#]><#LANG_THEME_LIGHT#></option>
                #-->
            </select>
        </div>
    </div>

[#if ID!=""#]
<div class="form-group">
        <label class="control-label"><#LANG_ACCESS_CONTROL#>:<#LANG_HCB#>access_control<#LANG_HCE#></label>
        <div class="controls">
                <a href="?(panel:{action=security_rules})&object_type=scene&object_id=[#ID#]&print=1" onClick="return openModalTWindow('security', '<#LANG_ACCESS_CONTROL#>', this.href, 800, 600);" target=_blank><#LANG_SET#></a>
        </div>
</div>
[#endif ID#]

<div class="form-actions">
[#if ID!=""#]
<button class="btn btn-default btn-primary" type="submit" name="subm"> <#LANG_SUBMIT#></button>
[#else ID#]
<button class="btn btn-default btn-primary" type="submit" name="subm"> <#LANG_ADD#></button>
[#endif ID#]
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>"><#LANG_CANCEL#></a>

 [#if ID!=""#]
 <a class="btn btn-default" href="?id=<#ID#>&view_mode=clone" onClick="return confirm('<#LANG_ARE_YOU_SURE#>');"><#LANG_MAKE_COPY#></a>
 <a class="btn btn-default" href="?id=<#ID#>&view_mode=export"><#LANG_EXPORT#></a>
 <a class="btn btn-default" href="<#ROOTHTML#>popup/scenes/[#ID#].html" target=_blank><i class="glyphicon glyphicon-eye-open"></i> <#LANG_PREVIEW#></a> 
 [#endif ID#]


</div>

<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="tab" value="<#TAB#>">
<input type="hidden" name="elements" value="">
</form>
<form>
