[#if ACTION="first_start"#]
 [#inc first_start.html#]
[#endif ACTION#]

[#if ACTION=""#]
 [#inc default.html#]
[#endif#]

[#if ACTION="pages"#]
 [#inc pages.html#]
[#endif#]

[#if ACTION="apps"#]
 [#inc apps.html#]
[#else#]
 [#if APP_ACTION#]
  [#module name="<#ACTION#>" action=""#]
 [#endif#]
[#endif#]

[#if ACTION="player"#]
 [#module name="app_player" action=""#]
[#endif#]

[#if ACTION="layouts"#]
 [#module name="layouts" action=""#]
[#endif#]

 [#if ACTION="plans"#]
 [#module name="plans" action=""#]
 [#endif#]

[#if ACTION="scenes"#]
 [#module name="scenes" action=""#]
[#endif#]

[#if ACTION="events"#]
 [#module name="events" action="getnextevent"#]
[#endif#]

[#if ACTION="addevent"#]
 [#module name="events" action="addevent"#]
[#endif#]

[#if ACTION="products"#]
 [#module name="products" action=""#]
[#endif#]

[#if ACTION="users"#]
 [#module name="users" action=""#]
[#endif#]

[#if ACTION="chat"#]
[#module name="shoutbox" limit="10"#]
[#endif#]

[#if ACTION="wiki"#]
 [#module name="tdwiki" name_id="mainwiki"#]
[#endif ACTION#]