<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><#PROJECT_TITLE#></title>
    [#inc common_header.html#]
    <link href="<#ROOTHTML#>css/stl.css" rel="stylesheet" type="text/css"/>
    <link href="<#ROOTHTML#>css/stl_<#SETTINGS_THEME#>.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="<#ROOTHTML#>css/ui-[#if "<#SETTINGS_THEME#>"=="dark"#]dark[#else#]light[#endif#]ness/jquery-ui-1.9.1.custom.css"/>
    <link rel="stylesheet" href="<#ROOTHTML#>3rdparty/bootstrap/css/bootstrap[#if "<#SETTINGS_THEME#>"=="dark"#]_dark[#endif#].min.css" type="text/css">
    <script language="javascript" type="text/javascript" src="<#ROOTHTML#>js/jquery-ui-1.9.1.custom.min.js"></script>


[#if ACTION=""#]
  <link type="text/css" rel="stylesheet" href="<#ROOTHTML#>css/ui-[#if "<#THEME#>"=="dark"#]dark[#else#]light[#endif#]ness/jquery-ui-1.9.1.custom.css"/>
  <link type="text/css" rel="stylesheet" href="<#ROOTHTML#>css/ui-[#if "<#THEME#>"=="dark"#]dark[#else#]light[#endif#]ness/ui.tabs.paging.css"/>
[#endif#]



[#inc websockets.html#]
</head>

[#if POPUP!="1"#]
<body style="<#BODY_CSS#>">
[#else POPUP#]
<body bgcolor="transparent" style="<#BODY_CSS#>">
<script language="javascript">
$(document).ready(function() {
 if (!inIframe()) {
  $("body").css('background-color', '[#if "<#THEME#>"=="dark"#]#222222[#else#]white[#endif#]');
 }
});
</script>
[#endif POPUP#]

<script language="javascript">

 jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
    this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
    return this;
 }

 // ----------------------------------------------------------------------
 function openTWindow(winId, winTitle, pageURL, wdth, hdth) {
  var jWindowObj = $.jWindow({ id: winId, title: winTitle, posx: 200, posy: 100, width: wdth, height: hdth, type: 'iframe', url: pageURL, modal: false });
  jWindowObj.show();
  jWindowObj.update();
  $('#usersWindow').center();
  return false;
 }


 function openModalTWindow(winId, winTitle, pageURL, wdth, hdth) {
  var jWindowObj = $.jWindow({ id: winId, title: winTitle, posx: 200, posy: 100, width: wdth, height: hdth, type: 'iframe', url: pageURL, minimiseButton:false, maximiseButton:false, draggable:false, resizeable:false, modal: true });
   jWindowObj.show();
   jWindowObj.update();
   $('#usersWindow').center();
   return false;
 }

</script>

[#if POPUP="1"#]
[#inc actions.html#]
[#else POPUP#]
<script language="javascript">

 var eventState='';
 var eventLatest='';
 var eventTimer;
 var noteTimer;
 var noteLatest='';

 // ----------------------------------------------------------------------
 function processCommand(event_id, event_type, event_window, event_details) {

     if (event_type=='newwindow') {
      openTWindow(event_window, 'Event '+event_id, event_details, 500, 500);
     }
     if (event_type=='openurl') {
      openNewTab(event_window, event_details);      
     }

     if (event_type=='maximize') {
      if ($(event_window)!=null) {
       Windows.focus(event_window);
       var win=Windows.getFocusedWindow();
       win.maximize();
      }
     }

  return false;
 }

 // ----------------------------------------------------------------------
 function getNextEventReceived(id, data) {
  if (eventLatest!=data) {
     eventLatest=data;
     eventState='processing';
     var d=data.split('|');
     var event_id=d[0];
     var event_type=d[1];
     var event_window=d[2];
     var event_details=d[3];
     processCommand(event_id, event_type, event_window, event_details);
  }
  eventState='';
  return false;
 }

 // ----------------------------------------------------------------------
 function getNextEvent() {
  if (eventState!='') return;
  clearTimeout(eventTimer);
  eventTimer=window.setTimeout ('getNextEvent();', 5000);

  if (startedWebSockets==1) {
   return false;
  }

  eventState='requesting';
  AJAXRequest('<#ROOTHTML#>getnextevent.html', 'getNextEventReceived', '');
  return false;
 }

  function getLatestNoteReceived(id, data) {
  var obj=jQuery.parseJSON(data);
  if (obj.DATA!='' && noteLatest!=obj.DATA && noteLatest!='') {
     $.gritter.add({
         title: '[#if "<#SETTINGS_GENERAL_ALICE_NAME#>"!=""#]<#SETTINGS_GENERAL_ALICE_NAME#>[#else#]<#LANG_DEFAULT_COMPUTER_NAME#>[#endif#]',
         text: obj.DATA, 
         sticky: false, 
         time: 8000
      });
    noteLatest=obj.DATA;
  }
 }

 function getLatestNote() {
  clearTimeout(noteTimer);
  noteTimer=window.setTimeout ('getLatestNote();', 5000);
  if (startedWebSockets==1) {
   return false;
  }
  AJAXRequest('<#ROOTHTML#>getlatestnote.html', 'getLatestNoteReceived', '');
  return false;
 }

 // ----------------------------------------------------------------------
 function addEventProcessed(id, data) {
  return false;
 }


 // ----------------------------------------------------------------------
 function addEvent(type, win, details, terminal_to, user_to) {
  var url='<#ROOTHTML#>popup/addevent.html?mode=update&type='+URLencode(type)+'&window='+URLencode(win)+'&details='+URLencode(details)+'&terminal_to='+URLencode(terminal_to)+'&user_to='+URLencode(user_to);
  AJAXRequest(url, 'addEventProcessed', '');
  return false;
 }

 var totalLayouts=[#TOTAL_LAYOUTS#];

 function openNewTab(winTitle, pageURL) {
  iFrameHeight=$(window).height()-110;
  $("#tabs-last").show();
  $('.ui-tabs-anchor').show();
  $("#tablast_title").html(winTitle);
  $("#tabs-last").html('<iframe src="'+pageURL+'" width=100% height="'+iFrameHeight+'" border="0" frameborder="0"></iframe>');
  $("#tabs").tabs("select", totalLayouts);
  return false;
 }

 function playMedia(path, rnd, terminal_name) {
  $("#hidPlayPath").val(path);
  $("#selPlayTerminal").val(terminal_name);
  playerCommand("refresh");
  return true;
 }


</script>

<div id="app_container">[#inc actions.html#]</div><div id='sound'></div>

<script language="javascript">
$(document).ready(function(){
 getNextEvent();
 getLatestNote();

        $.subscribe('wsConnected', function (_) {
         var payload;
         payload = new Object();
         payload.action = 'Subscribe';
         payload.data = new Object();
         payload.data.TYPE='events';
         payload.data.EVENTS='SAY,TERMINAL_EVENT';
         wsSocket.send(JSON.stringify(payload));

        });

        $.subscribe('wsData', function (_, response) {
          if (response.action=='events') {
           var event_data=jQuery.parseJSON(response.data);
           if (event_data.EVENT_DATA.NAME=='SAY' && event_data.EVENT_DATA.VALUE.member_id=="0") {
            var new_data=Object();
            new_data.DATA=event_data.EVENT_DATA.VALUE.message;
            getLatestNoteReceived(0, JSON.stringify(new_data));
           }
           if (event_data.EVENT_DATA.NAME=='TERMINAL_EVENT' && event_data.EVENT_DATA.VALUE.TERMINAL_TO=="*") {
            var new_data=Object();
            new_data=event_data.EVENT_DATA.VALUE.ID+'|'+event_data.EVENT_DATA.VALUE.EVENT_TYPE+'|'+event_data.EVENT_DATA.VALUE.WINDOW+'|'+event_data.EVENT_DATA.VALUE.DETAILS;
            getNextEventReceived(0, new_data);
           }
          }
        });


});
</script>
[#endif POPUP#]


</body>
</html>
