<!--#
 @version 0.2 (auto-set)
#-->
<script type="text/javascript" src="<#ROOTHTML#>js/ui.tabs.paging.js"></script>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" colspan=2>

            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td width="350">
                        <table cellpadding="0" cellspacing="0" border="0" width="350">
                            <td>
                                <a href="<#ROOTHTML#>"><img src="<#ROOTHTML#>img/icons/home.png" border="0"></a>
                            </td>
                            <td valign="bottom" align="right">
                                <script language="javascript">
                                    function leftPanelToggle() {
                                        $('#leftPanel').toggle();
                                        if ($("#leftPanel").is(":visible")) {
                                            $("#leftPanelToggleIcon").attr("src", "<#ROOTHTML#>img/icons/application-side-contract-icon.png");
                                        } else {
                                            $("#leftPanelToggleIcon").attr("src", "<#ROOTHTML#>img/icons/application-side-expand-icon.png");
                                        }
                                        return false;
                                    }
                                </script>
                                <a href="#" onClick="return leftPanelToggle();"><img id="leftPanelToggleIcon" border="0"
                                                                                     src="<#ROOTHTML#>img/icons/application-side-contract-icon.png"
                                                                                     border="0"></a>
                            </td>
                        </table>
                    </td>
                    <td align="right">
                        [#module name="app_player" mode="header"#]
                    </td>
                    <td align="center">
                        <a href="<#ROOTHTML#>admin.php" class="btn btn-default btn-sm"><#LANG_CONTROL_PANEL#></a>
                    </td>
                    [#if HIDE_TERMINALS!="1"#]
                    <form action="<#ROOTHTML#>" method="get" name="frmSettings">
                    <td align="center">
                            <select name="terminal" id="terminalSelect" onChange="document.frmSettings.submit();"
                                    class="form-control input-sm">
                                <option value=""><#LANG_TERMINAL#>
                                    [#begin TERMINALS#]
                                <option value="[#NAME#]" [#if SELECTED="1" #] selected[#endif#]>[#TITLE#]
                                    [#end TERMINALS#]
                            </select>
                    </td>
                    </form>
                    [#endif#]
                    <td align="center">
                        [#if USER_AVATAR!=""#]
                        <a href="#"
                           onClick="return openModalTWindow('usersWindow', '<#LANG_USERS#>', '/popup/users.html', 500, 500);"
                           title="[#USER_TITLE#]"><img src="<#ROOTHTML#>cms/avatars/[#USER_AVATAR#]" border="0"
                                                       height="50" alt="[#USER_TITLE#]"></a>
                        [#else#]
                        <a href="#"
                           onClick="return openModalTWindow('usersWindow', '<#LANG_USERS#>', '/popup/users.html', 500, 500);"
                           title="[#USER_TITLE#]"><img src="<#ROOTHTML#>img/icons/user.png" border="0"
                                                       alt="[#USER_TITLE#]"></a>
                        [#endif#]
                    </td>
                    <td align="center">
					                 	    <a href="<#ROOTHTML#>admin.php?pd=pz_&amp;md=panel&amp;inst=&amp;action=control_access&amp;mode=logoff" onclick="return partLoad(this.href);"><i class="glyphicon glyphicon-log-out"></i> Выйти</a>
					                </td>
                </tr>
            </table>

        </td>
    </tr>
 <tr>
  <td valign="top" width="350" id="leftPanel">
  <iframe src="<#ROOTHTML#>menu.html" width="350" height="450" id="navFrame" border="0" frameborder=0 framespacing=0></iframe>
  <!--#<iframe src="<#ROOTHTML#>demos/main/index.html" width="350" height="400" border="0" frameborder=0 framespacing=0 scrolling="auto"></iframe>#-->
  <!--#
  <img src="<#ROOTHTML#>img/0.gif" border="0" width="300" height="1">
  <div id="alertsLog" class="small">
   [#module name="shoutbox" limit="5"#]
  </div>
  #-->
  </td>
  <td valign="top">


<div id="tabs">
<ul>
[#begin LAYOUTS#]
<li>
<a href="#tabs-[#ID#]"[#if ICON!=""#] style="padding:1px 1em 2px 0.5em"[#endif#]>[#if ICON!=""#]<img src="<#ROOTHTML#>cms/layouts/[#ICON#]" align="absmiddle" height="28">&nbsp;&nbsp;[#endif#][#TITLE#]</a></li>
[#end LAYOUTS#]
  <li ><a href="#tabs-last" style="display:none"><span id='tablast_title'>***</span></a></li>
</ul>

[#begin LAYOUTS#]
<div id="tabs-[#ID#]">...</div>
[#end LAYOUTS#]

<div id="tabs-last">
  ...
</div>

</div>

<!--#
  <iframe src="<#ROOTHTML#>pages.html" id='pages_iframe' width="100%" height="100%" border="0" frameborder="0"></iframe>
#-->

  </td>
 </tr>
</table>

<script language="javascript">

var iFrameHeight=500;

$(document).ready(function() {
  iFrameHeight=$(document).height()-110;
  $('#navFrame').height(iFrameHeight+57);
  //$('#pages_iframe').height(iFrameHeight);

  [#begin LAYOUTS#]
  $('#htmlTab[#NUM#]').height(iFrameHeight);
  [#end LAYOUTS#]

});


[#begin LAYOUTS#]
var layoutTimer[#ID#];
[#end LAYOUTS#]


        $("#tabs").tabs({
        show: function(event, ui) {
         iFrameHeight=$(document).height()-110;
         var selected = $( "#tabs" ).tabs( "option", "selected" );
         //alert(selected);
         [#begin LAYOUTS#]
         if (selected == [#NUM#]) {
          clearTimeout(layoutTimer[#ID#]);
          [#if TYPE="app"#]
           if ($('#tabs-[#ID#]').html()=='...') {
            $('#tabs-[#ID#]').html('<iframe src="<#ROOTHTML#>popup/[#APP#].html" width=100% height="'+iFrameHeight+'" border="0" frameborder="0"></iframe>');
           }
          [#endif TYPE#]
          [#if TYPE="url"#]
           if ($('#tabs-[#ID#]').html()=='...') {
            $('#tabs-[#ID#]').html('<iframe src="[#URL#]" width=100% height="'+iFrameHeight+'" border="0" frameborder="0"></iframe>');
           }
          [#endif TYPE#]
          [#if (TYPE="html") || (TYPE="dashboard")#]
           if ($('#tabs-[#ID#]').html()=='...') {
            $('#tabs-[#ID#]').html('<iframe src="<#ROOTHTML#>page/[#ID#].html" width=100% height="'+iFrameHeight+'" border="0" frameborder="0"></iframe>');
           }
          [#endif TYPE#]
         } else {
          if ($('#tabs-[#ID#]').html()!='...') {
           clearTimeout(layoutTimer[#ID#]);
           layoutTimer[#ID#]=setTimeout("$('#tabs-[#ID#]').html('...');", 60*1000);
          }
         }
         [#end LAYOUTS#]
        }});
        $('#tabs').tabs('paging', {cycle:false, follow:false});




</script>
