<div align="center">
<div align="left" style="width:400px;padding-top:150px">
<h1>Hello, world! :)</h1>
&nbsp;<br>&nbsp;<br>
<form action="?" method="get">
Time zone:<br>
<select name='timezone' id='timezone' style='width:350px'>
[#begin ZONELIST#]
 <option value="[#OFFSET#]"[#if TITLE="<#SETTINGS_SITE_TIMEZONE#>"#] selected[#endif#]>[#TITLE#] (GMT [#OFFSET_TEXT#])
[#end ZONELIST#]
</select>
<Br>&nbsp;
<Br>
Language:<Br>
[#begin LANGUAGES#]
<label><input type="radio" name="language" value="[#TITLE#]"[#if TITLE="<#SETTINGS_SITE_LANGUAGE#>"#] checked[#endif#]>
<img src="<#ROOTHTML#>img/flags/[#TITLE#].png" alt="[#TITLE#]" border="0" align="absmiddle"> [#TITLE#]
</label><br>
[#end LANGUAGES#]

Color theme:

<input type="radio" name="theme" value="dark"[#if "<#SETTINGS_THEME#>"!="light"#] checked[#endif#]> Dark
<input type="radio" name="theme" value="light"[#if "<#SETTINGS_THEME#>"=="light"#] checked[#endif#]> Light

<br>
<br>
<input type="submit" name="submit" value="Continue &gt;&gt;&gt;">
<input type="hidden" name="timezone_title" id="timezone_title" value="">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="action" value="<#ACTION#>">

</form>

<script language="javascript">
[#if "<#SETTINGS_SITE_TIMEZONE#>"==""#]
                $(document).ready(function(){   
                  var d = new Date()
                  var offset= -d.getTimezoneOffset()/60;
                  $('#timezone').val(offset);
                  $('#timezone_title').val($('#timezone :selected').html());
                });     
[#endif#]

$('#timezone').change(function()
{
   $('#timezone_title').val($('#timezone :selected').html());
});

 
</script>




</div>
</div>