<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title><#LANG_CONTROL_MENU#></title>

 [#inc common_header.html#]
 <link type="text/css" rel="stylesheet" href="<#ROOTHTML#>css/ui-[#if "<#SETTINGS_THEME#>"=="dark"#]dark[#else#]light[#endif#]ness/jquery-ui-1.9.1.custom.css"/>
 <link rel="stylesheet" href="<#ROOTHTML#>3rdparty/bootstrap/css/bootstrap[#if "<#SETTINGS_THEME#>"=="dark"#]_dark[#endif#].min.css" type="text/css">
 <script language="javascript" type="text/javascript" src="<#ROOTHTML#>js/jquery-ui-1.9.1.custom.min.js"></script>

 <script type="text/javascript" src="<#ROOTHTML#>js/jquery.jplayer.min.js"></script>
 <link rel="stylesheet" href="<#ROOTHTML#>3rdparty/jquerymobile/jquery.mobile-1.4.5.min.css" />
 <script type="text/javascript" src="<#ROOTHTML#>3rdparty/jquerymobile/jquery.mobile-1.4.5.min.js"></script>
 <script type="text/javascript" src="<#ROOTHTML#>3rdparty/jquerymobile/custom-scripting.js"></script>
 <link href="<#ROOTHTML#>css/menu_custom.css" rel="stylesheet" type="text/css"/>


[#inc websockets.html#]
</head>
[#if FROM_SCENE="1"#]
<style>
 .ui-field-contain {border-bottom:none}
</style>
[#endif#]
<body[#if FROM_SCENE="1"#] style="background:none transparent;"[#endif#][#if "<#SETTINGS_THEME#>"=="dark"#] style="background-color:#252525"[#endif#]>
<div data-role="page" id="mainPage" [#if "<#SETTINGS_THEME#>"=="dark"#] data-theme="b"[#endif#][#if FROM_SCENE="1"#] style="background:none transparent;"[#endif#]>
        [#module name="commands" action="" pda="1"#]
</div>

<script language="javascript">
 var cycleTimer;
 function runCycleThroughWebReceived(id, data) {
  //alert(data);
  return false;
 }
 function runCycleThroughWeb() {
  clearTimeout(cycleTimer);
  AJAXRequest('<#ROOTHTML#>scripts/cycle_states.php?once=1', 'runCycleThroughWebReceived', '');
  cycleTimer=window.setTimeout ('runCycleThroughWeb();', 5*60*1000);
  return false;
 }
 $(document).ready(function(){
   runCycleThroughWeb();
 });
</script>
</body>
</html>