<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MajorDoMo</title>
[#inc common_header.html#]
<link href="<#ROOTHTML#>css/stl.css" rel="stylesheet" type="text/css"/>
<link href="<#ROOTHTML#>css/stl_<#SETTINGS_THEME#>.css" rel="stylesheet" type="text/css"/>
<link type="text/css" rel="stylesheet" href="<#ROOTHTML#>css/ui-[#if "<#SETTINGS_THEME#>"=="dark"#]dark[#else#]light[#endif#]ness/jquery-ui-1.9.1.custom.css"/>
<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/bootstrap/css/bootstrap[#if "<#SETTINGS_THEME#>"=="dark"#]_dark[#endif#].min.css" type="text/css">
<script language="javascript" type="text/javascript" src="<#ROOTHTML#>js/jquery-ui-1.9.1.custom.min.js"></script>
<style>
#body_background {
position: absolute;
background-color:[#if "<#SETTINGS_THEME#>"=="dark"#]black[#else#]transparent[#endif#];
[#if "<#SETTINGS_SCENES_BACKGROUND#>"!=""#]background:url(<#SETTINGS_SCENES_BACKGROUND#>) no-repeat left top;[#endif#]
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    height:100%;
    position:fixed;
    width:100%;
    z-index:-3;
    top:0;
}
</style>

</head>
<body>
<!--#body style='margin:0px; padding:0px; [#if "<#SETTINGS_THEME#>"=="dark"#] bgcolor="black";[#else#] bgcolor="#639FC7";[#endif#][#if "<#SETTINGS_SCENES_BACKGROUND#>"!=""#]background-image:url(<#SETTINGS_SCENES_BACKGROUND#>);[#endif#][#if "<#SETTINGS_SCENES_BACKGROUND_FIXED#>"=="1"#]background-attachment: fixed;[#endif#][#if "<#SETTINGS_SCENES_BACKGROUND_NOREPEAT#>"=="1"#]background-repeat: no-repeat; background-size: 100%;[#endif#]  overflow: hidden; bottom: 0px; right: 0px;'#-->

[#if "<#SETTINGS_SCENES_BACKGROUND_VIDEO#>"!=""#]
<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
      <source  src="<#SETTINGS_SCENES_BACKGROUND_VIDEO#>" type='video/mp4'>
<!--#      <source  src="/grey.webm" type='video/webm'>#-->
    </video>
[#endif#]

<div id="body_background"></div>
<div id="container">
<!--#
 @version 0.2 (auto-set)
#-->
<div class="tab_page">
<div class='tab_table'>
  [#begin LAYOUTS#]                                                                     
  <div class='tab_table_cell' id="cell[#ID#]" onClick="return switchSelected([#ID#]);">
   [#if ICON!=""#]<div><img src="<#ROOTHTML#>cms/layouts/[#ICON#]"></div>[#endif#]
   [#TITLE#]
  </div>
  [#end LAYOUTS#]
</div>


[#begin LAYOUTS#]
<div id="tab-[#ID#]" class='tab_html' style="display:none">...</div>
[#end LAYOUTS#]

</div>


<script language="javascript">

function setBackgroundStyle(style) {
 //alert(style);
 return true;
}

[#begin LAYOUTS#]
var layoutTimer[#ID#];
[#end LAYOUTS#]
/*
 function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
 }
*/

function switchSelected(selected) {

         iFrameHeight=$(document).height()-56;

         [#begin LAYOUTS#]
         if (selected != [#ID#]) {
          $('#cell[#ID#]').removeClass('active');
          $('#tab-[#ID#]').hide();
          if ($('#tab-[#ID#]').html()!='...') {
           clearTimeout(layoutTimer[#ID#]);
           layoutTimer[#ID#]=setTimeout("$('#tab-[#ID#]').html('...');", 60*1000);
          }
         }
         [#end LAYOUTS#]

         [#begin LAYOUTS#]
         if (selected == [#ID#]) {
          clearTimeout(layoutTimer[#ID#]);
          $('#cell[#ID#]').addClass('active');
          $('#tab-[#ID#]').show();

          [#if TYPE="app"#]
           if ($('#tab-[#ID#]').html()=='...') {
            $('#tab-[#ID#]').html('<iframe src="<#ROOTHTML#>popup/[#APP#].html" width=100% height="'+iFrameHeight+'" border="0" frameborder="0" class="tab_iframe" allowtransparency="yes" allowfullscreen="yes"></iframe>');
           }
          [#endif TYPE#]
          [#if TYPE="url"#]
           if ($('#tab-[#ID#]').html()=='...') {
            $('#tab-[#ID#]').html('<iframe src="[#URL#]" width=100% height="'+iFrameHeight+'" border="0" frameborder="0" class="tab_iframe" allowtransparency="yes" allowfullscreen="yes"></iframe>');
           }
          [#endif TYPE#]
          [#if TYPE="html" || TYPE="dashboard"#]
           if ($('#tab-[#ID#]').html()=='...') {
            $('#tab-[#ID#]').html('<iframe src="<#ROOTHTML#>page/[#ID#].html" width=100% height="'+iFrameHeight+'" border="0" frameborder="0" class="tab_iframe" allowtransparency="yes" allowfullscreen="yes"></iframe>');
           }
          [#endif TYPE#]
         }
         [#end LAYOUTS#]

 return false;
}

var iFrameHeight=$(document).height()-56;        //divheight

$(document).ready(function() {
  var firstFound=0;
  [#begin LAYOUTS#]
  if (firstFound==0) {
   firstFound=1;
   switchSelected([#ID#]);
  }
  [#end LAYOUTS#]
  $('.tab_iframe').height(iFrameHeight);
  $('.tab_html').height(iFrameHeight);
});

$( window ).resize(function() {
 iFrameHeight=$(document).height()-56;
 $('.tab_iframe').height(iFrameHeight);
 $('.tab_html').height(iFrameHeight);
});


</script>

</div>


</body>
</html>