<!--#
 @version 0.4 (auto-set)
#--><!DOCTYPE html>
<html>
<head>
        <title>{#TITLE#}</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" href="<#ROOTHTML#>bootstrap/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="<#ROOTHTML#>css/admin.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="<#ROOTHTML#>css/umbra-css2/style.css" title="theme"/>
        <link rel="stylesheet" href="<#ROOTHTML#>css/jquery.autocomplete.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="<#ROOTHTML#>js/jquery.fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
        <link rel="stylesheet" href="<#ROOTHTML#>css/jquery.betterTooltip.css" type="text/css">

        <script type="text/javascript" src="<#ROOTHTML#>jquerymobile/jquery-1.10.2.min.js"></script>

    <script language="javascript" src="<#ROOTHTML#>js/scripts.js"></script>
    <script language="javascript" src="<#ROOTHTML#>js/system.js"></script>
    <script language="javascript" src="<#ROOTHTML#>js/admin.js"></script>
    <script type="text/javascript" src="<#ROOTHTML#>bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<#ROOTHTML#>js/jquery.cookie.js"></script>
    <script type="text/javascript" src="<#ROOTHTML#>js/jquery.fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="<#ROOTHTML#>js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="<#ROOTHTML#>js/jquery.bgiframe.js"></script>
    <script type="text/javascript" src="<#ROOTHTML#>js/jquery.betterTooltip.js"></script>
    <script type="text/javascript" type="text/javascript" src="<#ROOTHTML#>js/jWindow.js"></script>

        [#inc scripts.js#]
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
[#inc websockets.html#]
</head>

<style>
body {
/*max-width: 1200px;*/
margin: 0 auto;
}
div#content {
margin: 0px 10px;
padding: 20px 40px;
}
.clearfix{
        padding-bottom:5px;
}
.navbar-fixed-top .container, .navbar-fixed-bottom .container {
/*        width: 1100px;*/
}


</style>
<body bgcolor="#FFFFFF" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">

<div id="content" class="content">

<script type="text/javascript">
     function openFileBrowser(id){
          fileBrowserlink = "<#ROOTHTML#>pdw/index.php?editor=standalone&returnID=" + id;
          window.open(fileBrowserlink,'pdwfilebrowser', 'width=1000,height=650,scrollbars=no,toolbar=no,location=no');
     }
</script>


[#if AUTHORIZED#]

<script language="javascript">

         function showHideLayer(id) {
          var layer=document.getElementById('sub_'+id);
          var layer2=document.getElementById('plus_'+id);
          if (layer.style.display=='none') {
           layer.style.display='block';
           layer2.innerHTML='[-]';
           setCookie('sub_'+id, 'on');
          } else {
           layer.style.display='none';
           layer2.innerHTML='[+]';
           setCookie('sub_'+id, 'off');
          }
          return false;
         }

         function checkLayer(id) {
          var vl=getCookie('sub_'+id);
          if (vl=='off') {
           showHideLayer(id);
          }
         }

 var filterTimer;


 function filterSearch() {
  var title=document.frmFilterModules.filter_modules.value;
  //$('#filter_add').html(title);
 var url="?";
 url+='&ajax_panel=1&op=filter&title='+encodeURIComponent(title);

 $.ajax({
   url: url
  }).done(function(data) { 
   $('#filter_add').html(data);
  });


  return false;
 }

 function setFilter(value) {
  $('#filter_modules').val(value);
  filterSearch();
  return false;
 }

 function filterModules() {
  var title=document.frmFilterModules.filter_modules.value;
  var moduleTitle='';
  var sectionTitle='';
  var elem;

  setCookie('panelFilter', title);

  title=title.toLowerCase();

  if (title!='') {
   $('#filter_add').html('...');
   $('#filter_add').show();
   clearTimeout(filterTimer);
   filterTimer=setTimeout('filterSearch();', 1000);
  } else {
   $('#filter_add').hide();
   clearTimeout(filterTimer);
  }

  var found=0;
  var i=0;

  [#begin SUB_MODULES#]

  [#if !DENIED#]
   moduleTitle="[#TITLE#]";
   moduleTitle=moduleTitle.toLowerCase();
   sectionTitle="[#CATEGORY#]";
   sectionTitle=sectionTitle.toLowerCase();
   elem=document.getElementById('module_[#NAME#]_link');
   if (title=='' || moduleTitle.indexOf(title)!=-1 || sectionTitle.indexOf(title)!=-1) {
    elem.style.display='block';
    found++;
   } else {
    elem.style.display='none';
   }
   i++;
  [#endif DENIED#]

  [#if LAST_IN_CATEGORY#]
   //alert('z');
   elem=document.getElementById('row_[#CATEGORY#]');
   if (found>0) {
    elem.style.display='block';
   } else {
    elem.style.display='none';
   }
   //alert(elem.id+': '+elem.style.display);
   found=0;
  [#endif LAST_IN_CATEGORY#]

  [#end SUB_MODULES#]
 }
</script>

<script language="javascript">
jQuery.fn.center = function () {
    this.css("position","absolute");
    this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
    this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
    return this;
}

 // ----------------------------------------------------------------------
 function openTWindow(winId, winTitle, pageURL, wdth, hdth) {
  var jWindowObj = $.jWindow({ id: winId, title: winTitle, posx: 200, posy: 100, width: wdth, height: hdth, type: 'iframe', url: pageURL, modal: false });
  jWindowObj.show();
  jWindowObj.update();
  $('#usersWindow').center();
  return false;
 }


 function openModalTWindow(winId, winTitle, pageURL, wdth, hdth) {
  var jWindowObj = $.jWindow({ id: winId, title: winTitle, posx: 200, posy: 100, width: wdth, height: hdth, type: 'iframe', url: pageURL, minimiseButton:false, maximiseButton:false, draggable:false, resizeable:false, modal: true });
   jWindowObj.show();
   jWindowObj.update();
   $('#usersWindow').center();
   return false;
 }
</script>

[#if PRINT!="1"#]
<!--# top  #-->

<!--# top  #-->
<div class="container-fluid">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="z-index:1">
   <div class="navbar-header">
    <button type=button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
  <a class="navbar-brand" href="/" style="padding:8px"><img src="<#ROOTHTML#>img/logo_small.png" border="0" align="absmiddle"> MajorDoMo </a>
  </div>

  <div class="collapse navbar-collapse" id="responsive-menu">
    <ul class="nav navbar-nav navbar-right" >
      <li>
        <a href="<#ROOTHTML#>"><i class="glyphicon glyphicon-home"></i> <#LANG_FRONTEND#></a>
      </li>
      <li>
        <a href="<#ROOTHTML#>pages.html" target=_blank><i class="glyphicon glyphicon-th-list"></i> <#LANG_MODULE_LAYOUTS#></a>
      </li>
      <li>
        <a href="<#ROOTHTML#>menu.html" target=_blank><i class="glyphicon glyphicon-th-list"></i> <#LANG_CONTROL_MENU#></a>
      </li>
      <li>
        <a href="?action=xray"><i class="glyphicon glyphicon-dashboard"></i> X-Ray</a>
      </li>
      <li>
        <a href="#" onClick='return consoleToggle();'><i class="glyphicon glyphicon-flash"></i> <#LANG_CONSOLE#></a>
      </li>
        [#if APP_TDWIKI_INSTALLED="1"#]
        <li>
            <a href="#" onClick="return openModalTWindow('tdWiki', 'Wiki', '/panel/popup/app_tdwiki.html', 1000, 800)"><i class="glyphicon glyphicon-book"></i> <#LANG_APP_TDWIKI#></a>
        </li>
        [#endif#]
      <li>
        <a href="<#LANG_WIKI_URL#>" target=_blank><i class="glyphicon glyphicon-globe"></i> MajorDoMo Project</a>
      </li>
      <li>
        <a href="?md=control_access&mode=logoff"><i class="glyphicon glyphicon-log-out"></i> <#LANG_LOGOFF#></a>
      </li>
   </ul>
  </div>
</nav>
</div>
<br><br><br>
<!--# .top  #-->

    <script language="javascript">
        var cmd='';

        var hrefLocation = window.location.href;
        hrefLocation=hrefLocation.replace(/^.*\/\/[^\/]+/, '');
        var urlInProgress = '';

        var consoleDebugTimer;

        function updateConsoleDebug() {
            //$('#console_debug').html('mmm');
            var url="<#ROOTHTML#>ajax/xray.html?op=getcontent&limit=10";
            $.ajax({
                url: url,
            }).done(function(data) {
                $('#console_debug').html(data);
            });
            consoleDebugTimer=setTimeout('updateConsoleDebug()',1000);
        }

        function consoleToggle() {
            $("#console").toggle();
            if ($('#console').is(":visible")) {
                updateConsoleDebug();
            } else {
                clearTimeout(consoleDebugTimer);
            }
            return false;
        }

        var locationTimer;
        function checkLocationHref() {
            clearTimeout(locationTimer);
            /*
             var currentHref;
             currentHref = window.location.href;
             currentHref = currentHref.replace(/^.*\/\/[^\/]+/, '');
             if (currentHref.localeCompare(hrefLocation)!=0) {
             }
             locationTimer = setTimeout('checkLocationHref();',1000);
             */
        }

        var loaderTimer;
        function loadInProgress() {
            $('#partLoadContent').html('<img src="<#ROOTHTML#>img/ajax-loader.gif" border="0"> <#LANG_STILL_WORKING#> <a href="'+urlInProgress+'"><#LANG_CLICK_HERE#></a><#LANG_TAKES_TOO_LONG#>');
            return false;
        }



        function partLoad(link) {
            //partLoadContent
            var url=link;
            urlInProgress = link;
            hrefLocation = link;
            hrefLocation=hrefLocation.replace(/^.*\/\/[^\/]+/, '');
            clearTimeout(locationTimer);
            locationTimer = setTimeout('checkLocationHref();',1000);
            url+='&part_load=1';
            loaderTimer=setTimeout(loadInProgress, 1000);

            $.ajax({
                url: url,
                urlInProgress: urlInProgress
            }).done(function(data) {
                //console.log('loaded');
                clearTimeout(loaderTimer);
                try {
                        JSON.parse(data);
                } catch (e) {
                        window.location.href=this.urlInProgress;
                        return false;
                }
                var obj=jQuery.parseJSON(data);
                if ("undefined" !== typeof obj.REDIRECT) {
                 link = obj.REDIRECT;
                }

                if (obj.NEED_RELOAD!=0) {
                    window.location.href=link;
                } else {
                    window.history.pushState('', window.title, link);
                    $('#partLoadContent').html(obj.CONTENT);
                    if (("undefined" !== typeof obj.TITLE) && obj.TITLE != '') {
                        window.document.title = obj.TITLE;
                    }

                    $('input[name=filter_modules]').keyup(function() {
                        filterModules();
                    });

                }
            });
            return false;
        }

        function sendConsoleCommand() {
            var cmd=$('#command').val();
            //$('#command').val('');

            var url="?";
            url+='&ajax_panel=1&op=console&command='+encodeURIComponent(cmd);

            $.ajax({
                url: url
            }).done(function(data) {
                //$('#console_output').html('<pre>Command: <b>'+cmd+'</b> <a href="#" onClick="$(\'#command\').val(\''+cmd+'\');sendConsoleCommand();"><#LANG_CONSOLE_RETRY#></a><br/>Result:<br/>'+data+'</pre>');
                $('#console_output').html('&nbsp;<br/><pre>'+data+'</pre>');
            });


            return false;
        }
    </script>

<div id='console' style='display:none'>
    <div class="row">
<div class="col-md-5">
<form class="form-inline" role="form" action="?" method="get" onSubmit="return sendConsoleCommand();">
  <div class="form-group col-md-10">
    <input type="text" name="command" value="" id="command" class="form-control" placeholder="Code, method, expression...">
  </div>
    <div class="form-group col-md-2">
 <input type="submit" name="submit" value="<#LANG_SEND#>" class="btn btn-default">
        </div>
</form>
<div id='console_output' style="margin-left:15px">&nbsp;</div>
    </div>
        <div class="col-md-7" id="console_debug">...</div>
        </div>
</div>
<div id="partLoadContent"><ul class="breadcrumb">
   <li>
<script language="javascript">
 function leftPanelToggle() {
  $('#left_block').toggle();
  if ( $("#left_block").is(":visible") ) {
   $("#leftPanelToggleIcon").attr("src","<#ROOTHTML#>img/icons/application-side-contract-icon.png");
   setCookie('adminLeftPanel', '');
  } else { 
   $("#leftPanelToggleIcon").attr("src","<#ROOTHTML#>img/icons/application-side-expand-icon.png");
   setCookie('adminLeftPanel', 'off');
  }
  return false;
 }
</script>

<a href="#" onClick="return leftPanelToggle();"><img id="leftPanelToggleIcon" border="0" src="<#ROOTHTML#>img/icons/application-side-contract-icon.png" border="0"></a>
    <#LANG_YOU_ARE_HERE#>: <a href="?"><#LANG_CONTROL_PANEL#></a>
    </li>
    [#if ACTION!=""#]
        <li class="active"><#ACTION#></li>
        [#endif#]
        
        <div class="float-right">
        <!--# date  #-->
        <!--# .date  #-->
        <a href="<#LANG_WIKI_URL#>Main/module_<#ACTION#>" target=_blank><i class="glyphicon glyphicon-question-sign"></i> <#LANG_MODULE_DESCRIPTION#></a>
        </div>
</ul>

[#endif PRINT#]
<!--main-->
<table  id="content">
    <tr>
        [#if PRINT!="1"#]
        <td class="well sidebar-left" valign="top" id="left_block"><!--left_main-->

           
<form id="filterModules" class="form-horizontal" name="frmFilterModules"><div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-search"> </i></span>
<input type="text" class="form-control" name="filter_modules" id="filter_modules" style="width: 140px" placeholder="<#LANG_FILTER#>"></div></form>

<div id='filter_add' style='display:none;text-overflow:hidden;white-space:nowrap;'>...</div>

<script language="javascript">
 function toggleCategory(id) {
  if ($('.category'+id+':first').is(":visible")) {
   setCookie('sub_'+id, 'off');
  } else {
   setCookie('sub_'+id, 'on');
  }
  $('.category'+id).toggle();
  return false;
 }

 function checkCategory(id) {
  var vl=getCookie('sub_'+id);
  if (vl!='on') {
   $('.category'+id).hide();
  }
  return false;
 }
</script>

            <!--[menu]-->
<ul class="nav nav-list">
   [#begin SUB_MODULES#]
   [#if NEW_CATEGORY#]
   </ul>
   <ul class="nav nav-list" id="row_[#CATEGORY#]">
   [#if CATEGORY!=""#]
   <li class="nav-header">
   <a href="#" onClick="return toggleCategory('[#CATEGORY_ID#]');">[#CATEGORY#]</a>
   </li>
   [#else CATEGORY#]&nbsp;[#endif CATEGORY#]
   [#endif NEW_CATEGORY#]
   [#if !DENIED#]
   [#if SELECTED#]
                <li class="active category[#CATEGORY_ID#]" id="module_[#NAME#]_link"><a href="?action=[#NAME#]">[#TITLE#]</a></li>
   [#else#]
                <li class="category[#CATEGORY_ID#]" id="module_[#NAME#]_link"><a href="?action=[#NAME#]">[#TITLE#]</a></li>
   [#endif#]
   [#endif DENIED#]
   [#end SUB_MODULES#]
</ul>

   [#begin SUB_MODULES#]
   [#if NEW_CATEGORY#]
   <script language='javascript'>
    checkCategory('[#CATEGORY_ID#]');
   </script>
   [#endif NEW_CATEGORY#]
   [#end SUB_MODULES#]

            <!--[/menu]-->

            <!--/left_main-->

  <script language="javascript">
  var vl=getCookie('adminLeftPanel');
  if (vl=='off') {
   $('#left_block').hide();
  }
  </script>

        </td>
        [#endif PRINT#]


<td height=100% valign=top class="" id="main-content">

            <!--right_main-->
            <table cellpadding="0" cellspacing="12" border="0" width="100%" height="100%">
                <tr>
                    <td width=100% valign=top>

                        [#if ACTION!=""#]
                                [#module name="<#ACTION#>" action="admin" instance="adm"#]
                        [#else ACTION#]
                        <!--#
                                [#module name="control_access" action="logged" instance="auth"#]
                                #-->
                        <iframe src="<#ROOTHTML#>page/Panel.html" width="100%" height="800" frameborder="0"></iframe>
                        [#endif ACTION#]
                        <!--[/main]-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
[#else AUTHORIZED#]
        [#module name="control_access" action="enter" instance="auth"#]
[#endif AUTHORIZED#]
<br><br>
</div><!--partloadend-->


<script language="javascript">

 $(document).ready(function() {
        $(".wiki_hint").fancybox({
                maxWidth        : 800,
                maxHeight       : 600,
                fitToView       : false,
                width           : '70%',
                height          : '70%',
                autoSize        : false,
                closeClick      : false,
                openEffect      : 'none',
                closeEffect     : 'none'
        });

        $(".popup").fancybox({
                maxWidth        : 800,
                maxHeight       : 600,
                fitToView       : false,
                width           : '70%',
                height          : '70%',
                autoSize        : false,
                closeClick      : false,
                openEffect      : 'none',
                closeEffect     : 'none'
        });
     checkLocationHref();
});
</script>

</body>
</html>
