<ul class="nav nav-tabs">
    <li [#if TAB=""#]class="active"[#endif TAB#]><a href="?"><#LANG_HOME#></a></li>
    <li [#if TAB="panel"#]class="active"[#endif TAB#]><a href="?tab=panel"><#LANG_SECTION_PANEL#></a></li>
    <li [#if TAB="apps"#]class="active"[#endif TAB#]><a href="?tab=apps"><#LANG_SECTION_APPLICATIONS#></a></li>
</ul>

[#if TAB=""#]
&nbsp;<br/>

<div class="row">
    <div class="col-md-5">
        <div>
        <div>
        <h3><#LANG_ROOMS#></h3>
        <a href="?action=locations" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i> <#LANG_LIST#></a>
        <a href="?(panel:{action=locations})&md=locations&view_mode=edit_locations" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
        </div>

        <div>
        <h3><#LANG_DEVICES#></h3>
        <a href="?action=devices" class="btn btn-default"><i class="glyphicon glyphicon-hdd"></i> <#LANG_LIST#></a>
        <a href="?(panel:{action=devices})&md=devices&view_mode=edit_devices" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
        </div>
        <div>
        <h3><#LANG_APPEARANCE#></h3>
            <a href="?action=commands" class="btn btn-default"><i class="glyphicon glyphicon-list"></i> <#LANG_MODULE_CONTROL_MENU#></a>
            <a href="?action=scenes" class="btn btn-default"><i class="glyphicon glyphicon-th-large"></i> <#LANG_MODULE_SCENES#></a>
            <a href="?action=layouts" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i> <#LANG_MODULE_LAYOUTS#></a>
        </div>

        <div>
            <h3><#LANG_ACTIVITIES#></h3>
            <a href="?action=scripts" class="btn btn-default"><i class="glyphicon glyphicon-flash"></i> <#LANG_MODULE_SCRIPTS#></a>
            <a href="?action=patterns" class="btn btn-default"><i class="glyphicon glyphicon-bullhorn"></i> <#LANG_COMMANDS#></a>
        </div>
        <div>
        <h3><#LANG_SECTION_SETTINGS#></h3>
            <a href="?action=settings" class="btn btn-default"><i class="glyphicon glyphicon-wrench"></i> <#LANG_MODULE_SETTINGS#></a>
            <a href="?action=market" class="btn btn-default"><i class="glyphicon glyphicon-shopping-cart"></i> <#LANG_MODULE_MARKET#></a>
        </div>
        <div>
            <h3><#LANG_MAINTENANCE#></h3>
            <a href="?action=saverestore" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i> <#LANG_MODULE_SAVERESTORE#></a>
            [#if OPTIMIZER_INSTALLED="1"#]
            <a href="?action=optimizer" class="btn btn-default"><i class="glyphicon glyphicon-briefcase"></i> <#LANG_DATA_OPTIMIZING#></a>
            [#endif#]
            <a href="/diagnostic.php" class="btn btn-default"><i class="glyphicon glyphicon-send"></i> <#LANG_SUBMIT_DIAGNOSTIC#></a>
        </div>
        </div>
    </div>

    <div class="col-md-7">
      <div id="didyouknow" style="display:none;background-color:lightyellow;padding:10px;border:1px solid yellow">
          <h4><#LANG_DID_YOU_KNOW#> <a href="#" onclick="return checkDidYouKnow();"><i class="glyphicon glyphicon-refresh"></i></a></h4>
          <div id="didyouknow_body"></div>
      </div>

        &nbsp;
        <div id="news" style="display:none;">
            <h4><#LANG_NEWS#></h4>
            <div id="news_body"></div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        checkUpdatesAvailable();
        checkDidYouKnow();
        checkNews();
    });
</script>

[#endif#]

[#if TAB="panel"#]
<iframe src="<#ROOTHTML#>page/Panel.html" width="100%" height="800" frameborder="0"></iframe>
[#endif TAB#]

[#if TAB="apps"#]
<iframe src="<#ROOTHTML#>apps.html" width="100%" height="800" frameborder="0"></iframe>
[#endif TAB#]
