<div class="row" style="margin-right: -15px;margin-left: -15px;">
    <div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><#LANG_NEWDASH_SYSTEM_INFO#></h3>
			</div>
			<div class="panel-body">
				<ul class="list-group" id="">
					<li class="list-group-item" id="dashInfoDBConn">
						<#LANG_NEWDASH_SYSTEM_INFO_DB_STATUS#>
					</li>
					<li class="list-group-item">
						<span class="badge" id="dashInfoBranch">
						</span>
						<#LANG_NEWDASH_SYSTEM_INFO_BRABCH#>
					</li>
					<li class="list-group-item">
						<span class="badge" id="dashInfoLastUpdate">
						</span>
						<#LANG_NEWDASH_SYSTEM_INFO_LAST_UPDATE#>
					</li>
				</ul>
				<div class="well well-lg" id="dashInfoOS"></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" style="cursor:pointer;" onclick="return toggleCategory('cycleInfoDivPanel');">
				<h3 class="panel-title"><#LANG_NEWDASH_CYCLE_CONTROL#> <i class="glyphicon glyphicon-arrow-right" style="color: darkgray;font-size: 10pt;"></i> <a href="?(panel:{action=xray})&md=xray&inst=adm&view_mode=services">X-Ray</a></h3>
			</div>
			<div class="panel-collapse collapse out" id="row_cycleInfoDivPanel">
				<div class="panel-body">
					<ul class="list-group" id="cycleInfo">
						<center><img src="<#ROOTHTML#>img/ajax-loader.gif"/> <#LANG_NEWDASH_LOADING#></center>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" style="cursor:pointer;" onclick="return toggleCategory('scriptBlockDiv');">
				<h3 class="panel-title"><#LANG_NEWDASH_LAST_SCRIPTS#> <i class="glyphicon glyphicon-arrow-right" style="color: darkgray;font-size: 10pt;"></i> <a href="?pd=pz_&md=panel&inst=&action=scripts"><i><#LANG_NEWDASH_LAST_SCRIPTS_GO#></i></a></h3>
			</div>
			<div class="panel-collapse collapse out" id="row_scriptBlockDiv">
				<div class="panel-body">
					<div class="alert" style="background: radial-gradient(circle farthest-corner at 450px 10px, #a6e7bb, #0e6080);color: white;text-align: center;border: 0px;"><i class="glyphicon glyphicon-exclamation-sign" style="font-weight: normal;font-size: 13pt;vertical-align: sub;margin-right: 10px;"></i>Здесь выводятся последние 6 запущеных сценария</div>
					<ul class="list-group" id="scriptLast">
						<center><img src="<#ROOTHTML#>img/ajax-loader.gif"/> <#LANG_NEWDASH_LOADING#></center>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	<div class="col-md-7">

		<div class="jumbotron" style="margin-bottom: 10px;border-radius: 5px;background-image: url(/img/new_design.png),radial-gradient(circle farthest-corner at 100px 50px, #ebfbf0, #4792d1);background-size: cover;background-repeat: no-repeat;">
			<h2><#LANG_NEWDASH_HELLO_NEW#></h2>
			<p style="font-size: 11pt;"><#LANG_NEWDASH_HELLO_NEW_TEXT#></p>
			<p class="text-right"><a style="border-color: #ffffff;" href="https://mjdm.ru/forum/viewtopic.php?f=7&t=7294" target="_blank" class="btn btn-primary btn-md" role="button"><#LANG_NEWDASH_HELLO_NEW_BTN#></a></p>
		</div>
		<!---
		<style>
		.onHoverAlfa:hover {
			color: white;
		}
		</style>
		<div class="jumbotron onHoverAlfa" style="margin-bottom: 10px;background-image: url(https://ak.picdn.net/shutterstock/videos/113821/thumb/1.jpg?ip=x480);background-size: contain;;border-radius: 5px;">
			<h2 class="onHoverAlfa">А может Alpha?</h2>
			<p style="font-size: 11pt;" class="onHoverAlfa">У MajorDomo есть Alpha версия. Там много новых функций, закрытых дыр и новых впечатлений =) Обновляйте и помогай MajorDomo стать еще лучше.</p>
			<p class="text-right"><a style="border-color: #ffffff;" class="btn btn-danger btn-md" role="button">ОК, я с вами!</a></p>
		</div>
		--->
		
		<div id="getConnect" class="jumbotron hidden-xs" style="display: none!important;margin-bottom: 10px;padding-top: 20px;padding-bottom: 10px;border-radius: 5px;background-image: url(/img/connect_back_block.png), radial-gradient(circle farthest-corner at 100px 50px, #ffffff, #d6df4a);background-size: contain;background-repeat: no-repeat;background-position: right center;">
			<h2 id="titleConnect"><#LANG_NEWDASH_CONNECT_ADS#></h2>
			<p style="font-size: 11pt;" id="textConnect"><#LANG_NEWDASH_CONNECT_ADS_TEXT#></p>
			<p class="text-right">
				<a style="border-color: #ffffff;" onclick="$('#btnConnect').hide();$('#titleConnect').text('<#LANG_NEWDASH_CONNECT_ADS_DONATE#>');$('#textConnect').html('<#LANG_NEWDASH_CONNECT_ADS_DONATE_TEXT#>');" class="btn btn-default btn-md" role="button"><#LANG_NEWDASH_CONNECT_ADS_DONATE_BTN#></a>
				<a style="border-color: #ffffff;" id="btnConnect" href="https://connect.smartliving.ru/services/s2.html" target="_blank" class="btn btn-success btn-md" role="button"><#LANG_NEWDASH_CONNECT_ADS_BTN#></a>
			</p>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-body">
				<a href="?(panel:{action=devices})&md=devices&view_mode=edit_devices" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_DEVICE#></a>
				<a href="?(panel:{action=scripts})&md=scripts&inst=adm&view_mode=edit_scripts" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_SCRIPT#></a>
				<a href="?(panel:{action=objects})&md=objects&view_mode=edit_objects&id=" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_OBJECT#></a>
				<a href="?(panel:{action=classes})&md=classes&inst=adm&view_mode=edit_classes" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_NEWDASH_CLASS#></a>
			</div>
		</div>
		
		<div id="didyouknow" class="alert alert-dismissable hidden-xs" style="background-color: #f5f5f5;">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<div id="didyouknow_body" class="text-center">
				<img src="<#ROOTHTML#>img/ajax-loader.gif"/> <#LANG_NEWDASH_LOADING#>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><#LANG_NEWDASH_NEWS#> <i class="glyphicon glyphicon-arrow-right" style="color: darkgray;font-size: 10pt;"></i> <a href="https://connect.smartliving.ru/blog.html" target="_blank"><i><#LANG_NEWDASH_NEWS_MORE#></i></a></h3>
			</div>
			<div class="panel-body">
				<div id="news_body"><center><img src="<#ROOTHTML#>img/ajax-loader.gif"/> <#LANG_NEWDASH_LOADING#></center></div>
			</div>
		</div>
		

    </div>
</div>

<!--

<ul class="nav nav-pills">
    <li [#if TAB=""#]class="active"[#endif TAB#]><a href="?"><#LANG_HOME#></a></li>
    <li [#if TAB="panel"#]class="active"[#endif TAB#]><a href="?tab=panel"><#LANG_SECTION_PANEL#></a></li>
    <li [#if TAB="apps"#]class="active"[#endif TAB#]><a href="?tab=apps"><#LANG_SECTION_APPLICATIONS#></a></li>
</ul>

<div class="row">
    <div class="col-md-5">
        <div>
        <h3><#LANG_ROOMS#></h3>
        <a href="?action=locations" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i> <#LANG_LIST#></a>
        <a href="?(panel:{action=locations})&md=locations&view_mode=edit_locations" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
        </div>

        <div>
        <h3><#LANG_DEVICES#></h3>
        <a href="?action=devices" class="btn btn-default"><i class="glyphicon glyphicon-hdd"></i> <#LANG_LIST#></a>
        <a href="?(panel:{action=devices})&md=devices&view_mode=edit_devices" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
        </div>
        <div>
        <h3><#LANG_APPEARANCE#></h3>
            <a href="?action=commands" class="btn btn-default"><i class="glyphicon glyphicon-list"></i> <#LANG_MODULE_CONTROL_MENU#></a>
            <a href="?action=scenes" class="btn btn-default"><i class="glyphicon glyphicon-th-large"></i> <#LANG_MODULE_SCENES#></a>
            <a href="?action=layouts" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i> <#LANG_MODULE_LAYOUTS#></a>
        </div>

        <div>
            <h3><#LANG_ACTIVITIES#></h3>
            <a href="?action=scripts" class="btn btn-default"><i class="glyphicon glyphicon-flash"></i> <#LANG_MODULE_SCRIPTS#></a>
            <a href="?action=patterns" class="btn btn-default"><i class="glyphicon glyphicon-bullhorn"></i> <#LANG_COMMANDS#></a>
        </div>
        <div>
        <h3><#LANG_SECTION_SETTINGS#></h3>
            <a href="?action=settings" class="btn btn-default"><i class="glyphicon glyphicon-wrench"></i> <#LANG_MODULE_SETTINGS#></a>
            <a href="?action=market" class="btn btn-default"><i class="glyphicon glyphicon-shopping-cart"></i> <#LANG_MODULE_MARKET#></a>
        </div>
        <div>
            <h3><#LANG_MAINTENANCE#></h3>
            <a href="?action=saverestore" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i> <#LANG_MODULE_SAVERESTORE#></a>
            [#if OPTIMIZER_INSTALLED="1"#]
            <a href="?action=optimizer" class="btn btn-default"><i class="glyphicon glyphicon-briefcase"></i> <#LANG_DATA_OPTIMIZING#></a>
            [#endif#]
            <a href="/diagnostic.php" class="btn btn-default"><i class="glyphicon glyphicon-send"></i> <#LANG_SUBMIT_DIAGNOSTIC#></a>
        </div>

    </div>

    <div class="col-md-7">
		<div id="didyouknow" class="alert alert-dismissable" style="background-color: #f5f5f5;">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<div id="didyouknow_body" class="text-center">
				<img src="<#ROOTHTML#>img/ajax-loader.gif"/> Загружаем подсказки...
			</div>
		</div>

        <div id="news" style="display:none;max-height: 500px;overflow: auto;">
            <h4><#LANG_NEWS#></h4>
            <div id="news_body"></div>
        </div>

    </div>

</div>
--->
<script type="text/javascript">
    $(document).ready(function() {
        checkUpdatesAvailable();
        checkDidYouKnow();
        checkNews();
    });
</script>

[#endif#]

[#if TAB="panel"#]
<iframe src="<#ROOTHTML#>page/Panel.html?theme=light" width="100%" height="800" frameborder="0"></iframe>
[#endif TAB#]

[#if TAB="apps"#]
<iframe src="<#ROOTHTML#>apps.html" width="100%" height="800" frameborder="0"></iframe>
[#endif TAB#]
