<!DOCTYPE html>
<html>
<head>
<title><#PROJECT_TITLE#> <#LANG_CONTROL_PANEL#></title>
[#inc common_header.html#]
<link rel="stylesheet" href="<#ROOTHTML#>css/admin.css" type="text/css">
</head>

<style>
body {
/*max-width: 1200px;*/
margin: 0 auto;
}
div#content {
margin: 0px 10px;
padding: 20px 40px;
}
.clearfix{
        padding-bottom:5px;
}
.navbar-fixed-top .container, .navbar-fixed-bottom .container {
/*        width: 1100px;*/
}


</style>
<body bgcolor="#FFFFFF" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">

<div id="content" class="content">


<table width="100%" border="0" cellpadding="5" cellspacing="5">
 <tr>
 <td valign="top">


[#if VIEW_MODE=""#]

[#if DESCRIPTION!=""#]<p>[#DESCRIPTION#]</p>[#endif#]

<div id="tabs-scripts">
[#if HAVE_SCRIPTS#] 
<h1><#LANG_SCRIPTS#></h1>

 <table border=0 cellpadding=5 cellspacing=1 width="100%">
[#begin SCRIPTS#]
[#if NEW_CATEGORY#]
</table>
&nbsp;<br>
<big>[#CATEGORY#]</big>
<table border=0 cellpadding=5 cellspacing=1 width="100%">
[#endif#]
<tr>
 <td nowrap valign="top">
  <b>
  [#if TITLE!=""#]
   [#TITLE#]
  [#else#]
   &nbsp;
  [#endif#]
  </a></b>
 </td>
 <td valign="top" width="90%">[#DESCRIPTION#]&nbsp;
 [#if CODE!=""#]
 <div id="code[#ID#]">
<pre>[#CODE#]</pre>
 </div>
 [#endif CODE#]
 </td>
</tr>
[#if LAST#]
</table>
[#endif#]
[#end SCRIPTS#]
[#else HAVE_SCRIPTS#]
<#LANG_NOT_ADDED#>
[#endif HAVE_SCRIPTS#]  
</div> 


<hr>

<div id="tabs-objects">
 [#if HAVE_OBJECTS#] 
<h1><#LANG_CLASSES#></h1>
 [#begin CLASSES#]
 <div>
 <a name="class[#INTERNAL_ID#]"></a>
 <#LANG_CLASS#> 
 [#if PARENT_ID!="0"#]
 [#PARENT_TITLE#] &gt;
 [#endif#]
 <h2>[#TITLE#]</h2>

 [#if DESCRIPTION!=""#] - [#DESCRIPTION#][#endif#]

 [#if PROPERTIES#]
 <p>
 <#LANG_CLASS_PROPERTIES#>: 
 [#begin PROPERTIES#]
 <div style="margin-left:30px">
 <b>[#TITLE#]</b>
 [#if DESCRIPTION!=""#] - [#DESCRIPTION#][#endif#]
 </div>
 [#end PROPERTIES#]
 </p>
 [#endif PROPERTIES#]

 [#if METHODS#]
 <p>
 <#LANG_CLASS_METHODS#>:
 [#begin METHODS#]
 <div style="margin-left:30px">
 <b>[#TITLE#]</b>
 [#if DESCRIPTION!=""#] - [#DESCRIPTION#][#endif#]
 [#if CODE!=""#]
 <div id="method_code[#ID#]"><pre>[#CODE#]</pre></div>
 [#endif CODE#]
 </div>
 [#end METHODS#]
 </p>
 [#endif METHODS#]
 
 [#if OBJECTS#]
 <p>
 <#LANG_CLASS_OBJECTS#>:
 [#begin OBJECTS#]
 <div style="margin-left:30px">
 <b>[#TITLE#]</b>
 [#if DESCRIPTION!=""#] - [#DESCRIPTION#][#endif#]
 [#if METHODS#]
 <br><#LANG_OBJECT_METHODS#>:
 [#begin METHODS#]
 <div style="margin-left:30px">
 <b>[#TITLE#]</b>
 [#if DESCRIPTION!=""#] - [#DESCRIPTION#][#endif#]
 [#if CODE#]
 <div id="object_method_code[#ID#]"><pre>[#CODE#]</pre></div>
 [#endif CODE#]
 </div>
 [#end METHODS#]
 </p>
 [#endif METHODS#]
 [#endif METHODS#]
 </div>
 [#end OBJECTS#]
 </p>
 [#endif OBJECTS#] 

 </div>
 [#if CLASSES#]
  <div style="margin-left:30px">
  [#tree CLASSES#]
  </div>
 [#endif CLASSES#]
 &nbsp;
 [#end CLASSES#]

 [#else HAVE_OBJECTS#]
 <#LANG_NOT_ADDED#>
 [#endif HAVE_OBJECTS#]  
</div> 

<hr>

<div id="tabs-patterns">
 [#if HAVE_PATTERNS#]
  <table border=0 style="margin-left:20px">
  [#begin PATTERNS#]
   <tr>
    <td><b>[#TITLE#]</b>
     [#if PATTERN!=""#]
     <div><#LANG_PATTERN#>:<br/><pre>[#PATTERN#]</pre></div>
     [#endif#]
     [#if SCRIPT!=""#]
     <#LANG_CODE#>>
     <div id="pattern_script[#ID#]"><pre>[#SCRIPT#]</pre></div>
     [#endif#]
         &nbsp;<br>&nbsp;
    </td>
   </tr>
   [#if PATTERNS#]
    <tr>
         <td>
          <div style="padding-left:30px">
          <table border=0>
           [#tree PATTERNS#]
          </table>
          </div>
         </td>
        </tr>
   [#endif PATTERNS#]
  [#end PATTERNS#]
  </table> 
 
 [#else HAVE_PATTERNS#]
 <#LANG_NOT_ADDED#>
 [#endif HAVE_PATTERNS#]  
</div>

 
</div>



[#endif VIEW_MODE#]


[#if ZWAVE_DEVICES#]
<div id="zwave">
<h1>Z-Wave</h1>
 <table width="100%" border="0">
  [#begin ZWAVE_DEVICES#]
  <tr>
   <td>[#NODE_ID#].[#INSTANCE_ID#]</td>
   <td valign="top"><b>[#TITLE#]</b></td>
   <td width=80%>
   [#if CLASS_BASIC="1"#]basic[#if BASIC!=""#] ([#BASIC#])[#endif#];[#endif#]
   [#if CLASS_SENSOR_BINARY="1"#]sensor binary;[#endif#]
   [#if CLASS_SENSOR_MULTILEVEL="1"#]sensor multilevel[#if SENSOR_VALUE!=""#] ([#SENSOR_VALUE#]);[#endif#][#endif#]
   [#if CLASS_SWITCH_BINARY="1"#]switch binary ([#LEVEL#]);[#endif#]
   [#if CLASS_SWITCH_MULTILEVEL="1"#]switch multilevel ([#LEVEL#]%);[#endif#]
   [#if CLASS_METER="1"#]meter;[#endif#]
   [#if CLASS_BATTERY="1"#]battery ([#BATTERY_LEVEL#]%);[#endif#]
   [#if CLASS_THERMOSTAT="1"#]thermostat[#if MODE_VALUE!=""#] ([#MODE_VALUE#])[#endif#];[#endif#]
   [#if CLASS_SENSOR_ALARM="1"#]sensor alarm;[#endif#]
   [#if CLASS_SCENE_CONTROLLER="1"#]scene controller;[#endif#]
   [#if CLASS_CONFIG="1"#]configuration;[#endif#]
   [#if ALL_CLASSES!=""#]<span title="[#ALL_CLASSES#]">...</span>[#endif#]
   </td>
  </tr>
  <tr>
   <td valign="top">&nbsp;</td>
   <td valign="top" colspan="2">
    <table width="100%" border="0" class='table table-bordered'>
     [#begin PROPERTIES#]
     <tr>
      <td valign="top">[#COMMAND_CLASS#]</td>
      <td valign="top">[#TITLE#]</td>
      <td valign="top" width="90%">
       [#if LINKED_OBJECT!=""#]Linked to: [#LINKED_OBJECT#][#endif#][#if LINKED_PROPERTY!=""#].[#LINKED_PROPERTY#][#endif#] [#if LINKED_METHOD!=""#]/ [#LINKED_METHOD#][#endif#]
       [#if VALUE!=""#]
       <br/>Latest value: [#VALUE#][#if COMMENTS!=""#]<br><small>[#COMMENTS#]</small>[#endif COMMENTS#]
       [#endif#]
       [#if UPDATE_PERIOD!="0"#]<br/>Force update: [#UPDATE_PERIOD#]s[#endif#]
       [#if VALID_FROM!="0"#]<br>Valid from: [#VALID_FROM#][#endif#]
       [#if VALID_TO!="0"#]<br>Valid from: [#VALID_TO#][#endif#]
       [#if CORRECT_VALUE!="0"#]<br>Correction: [#CORRECT_VALUE#][#endif#]
      </td>
     </tr>
     [#end PROPERTIES#]
    </table>
   </td>
  </tr>
  [#end ZWAVE_DEVICES#]
 </table>
</div>
[#endif#]



 
 </td>

 </tr>
</table>


</div>
</body>
</html>
