<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MajorDoMo</title>
[#inc common_header.html#]
<link href="<#ROOTHTML#>css/stl.css" rel="stylesheet" type="text/css"/>
<link href="<#ROOTHTML#>css/stl_<#SETTINGS_THEME#>.css" rel="stylesheet" type="text/css"/>
<link type="text/css" rel="stylesheet" href="<#ROOTHTML#>css/ui-[#if "<#SETTINGS_THEME#>"=="dark"#]dark[#else#]light[#endif#]ness/jquery-ui-1.9.1.custom.css"/>
<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/bootstrap/css/bootstrap[#if "<#SETTINGS_THEME#>"=="dark"#]_dark[#endif#].min.css" type="text/css">
<script language="javascript" type="text/javascript" src="<#ROOTHTML#>js/jquery-ui-1.9.1.custom.min.js"></script>
<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/jquerymobile/jquery.mobile-1.4.5.min.css" />


[#inc websockets.html#]
</head>
<!--#[#if "<#SETTINGS_THEME#>"=="dark"#] bgcolor="black"[#else#] bgcolor="white"[#endif#]#-->
<style>
#body_background {
position: absolute;
[#if "<#SETTINGS_SCENES_BACKGROUND#>"!=""#]background:url(<#SETTINGS_SCENES_BACKGROUND#>) no-repeat left top;[#endif#]
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    height:100%;
    position:fixed;
    width:100%;
    z-index:-3;
    top:0;
}
</style>
<body bgcolor="transparent" style="margin:0px;padding:0px;">
<script language="javascript">
$(document).ready(function() {
 if (!inIframe()) {
  $("body").css('background-color', '[#if "<#SETTINGS_THEME#>"=="dark"#]black[#else#]white[#endif#]');
 }
});
</script>
[#if "<#SETTINGS_SCENES_BACKGROUND_VIDEO#>"!=""#]
<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
      <source  src="<#SETTINGS_SCENES_BACKGROUND_VIDEO#>" type='video/mp4'>
    </video>
[#endif#]

<div id="body_background"></div>
<div id="container">
[#module name="scenes" action=""#]
</div>


</body>
</html>