<!--#
 @version 0.4 (auto-set)
 <#LANG_WIKI_URL#>
#-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MajorDoMo</title>
<meta name="keywords" content="{#if CMS_KEYWORDS!=""#}{#CMS_KEYWORDS#}{#endif#}">
<meta name="description" content="{#if CMS_DESCRIPTION!=""#}{#CMS_DESCRIPTION#}{#endif#}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link href="<#ROOTHTML#>css/stl.css" rel="stylesheet" type="text/css"/>
<link href="<#ROOTHTML#>css/stl_<#SETTINGS_THEME#>.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="<#ROOTHTML#>css/umbra-css2/style.css" title="theme"/>
<link href="<#ROOTHTML#>css/devices.css" rel="stylesheet" type="text/css"/>
<link type="text/css" rel="stylesheet" href="<#ROOTHTML#>css/ui-[#if "<#SETTINGS_THEME#>"=="dark"#]dark[#else#]light[#endif#]ness/jquery-ui-1.9.1.custom.css"/>

<script type="text/javascript"  src="<#ROOTHTML#>3rdparty/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript"  src="<#ROOTHTML#>3rdparty/jquery/jquery-migrate-3.0.0.min.js"></script>

<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/bootstrap/css/bootstrap[#if "<#SETTINGS_THEME#>"=="dark"#]_dark[#endif#].min.css" type="text/css">
<script type="text/javascript" src="<#ROOTHTML#>3rdparty/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="<#ROOTHTML#>3rdparty/jquerymobile/jquery.mobile-1.4.5.min.css" />

<script language="javascript" type="text/javascript" src="<#ROOTHTML#>js/scripts.js"></script>
<script language="javascript" type="text/javascript" src="<#ROOTHTML#>js/jquery-ui-1.9.1.custom.min.js"></script>
<script language="javascript" type="text/javascript" src="<#ROOTHTML#>js/jWindow.js"></script>
<script type="text/javascript" src="<#ROOTHTML#>js/jquery.cookie.js"></script>

    <link rel="stylesheet" type="text/css" href="<#ROOTHTML#>3rdparty/fancybox/jquery.fancybox.min.css?v=3.3.5" media="screen" />
    <script type="text/javascript" src="<#ROOTHTML#>3rdparty/fancybox/jquery.fancybox.min.js?v=3.3.5"></script>

[#inc websockets.html#]
</head>
<!--#[#if "<#SETTINGS_THEME#>"=="dark"#] bgcolor="black"[#else#] bgcolor="white"[#endif#]#-->
<style>
#body_background {
position: absolute;
[#if "<#SETTINGS_SCENES_BACKGROUND#>"!=""#]background:url(<#SETTINGS_SCENES_BACKGROUND#>) no-repeat left top;[#endif#]
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    height:100%;
    position:fixed;
    width:100%;
    z-index:-3;
    top:0;
}
</style>
<body bgcolor="transparent" style="margin:0px;padding:0px;">
<script language="javascript">
$(document).ready(function() {
 if (!inIframe()) {
  $("body").css('background-color', '[#if "<#SETTINGS_THEME#>"=="dark"#]black[#else#]white[#endif#]');
 }
});
</script>
[#if "<#SETTINGS_SCENES_BACKGROUND_VIDEO#>"!=""#]
<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
      <source  src="<#SETTINGS_SCENES_BACKGROUND_VIDEO#>" type='video/mp4'>
    </video>
[#endif#]

<div id="body_background"></div>
<div id="container">
[#module name="scenes" action=""#]
</div>


</body>
</html>