<div id="settings_form" style="display:none">
	<form action="?" method="post" class="form form-horizontal">
		<div class="form-group">
			<label for="clean_up" class="col-lg-5"><#LANG_KEEP_HISTORY_DAYS#>:</label>
			<div class="col-lg-4">
				<input id="clean_up" type="text" name="keep_history" value="<#SETTINGS_ERRORS_KEEP_HISTORY#>" placeholder="0" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-5">&nbsp;</div>
			<div class="col-lg-4">
				<input type="submit" value="<#LANG_SUBMIT#>" class="btn btn-default btn-primary">
				<a href="#" class="btn btn-default" onclick="$('#settings_form').toggle();return false;"><#LANG_CANCEL#></a>
			</div>
		</div>
		<input type="hidden" name="mode" value="update_settings">
	</form>
</div>

<div style="clear:both"></div>

<div class="row" style="margin-right: -15px;margin-left: -15px;display: flex;flex-wrap: wrap;">
	<div class="col-md-6" style="display: flex;flex-wrap: wrap;">
		[#if ERRORS_FOUND!=0#]
		<div class="jumbotron" style="margin-bottom: 10px;padding-top: 20px;padding-bottom: 10px;border-radius: 5px;background-image: radial-gradient(circle farthest-corner at 10px 10px, #ffffff, #ec1b2e);">
			<h2><#LANG_NEWSYSTEM_ERROR_FIND_ERROR#></h2>
			<p style="font-size: 11pt;"><#LANG_NEWSYSTEM_ERROR_FIND_ERROR_TEXT#></p>
			<p class="text-right">
				<a style="border-color: #ffffff;" onclick="location.href='?action=system_errors&md=system_errors&view_mode=readall'" class="btn btn-default btn-md" role="button"><#LANG_NEWSYSTEM_ERROR_CHECK_ALL_READ#></a>
			</p>
		</div>
		[#else#]
		<div class="jumbotron" style="min-height: 230px;margin-bottom: 10px;padding-top: 20px;padding-bottom: 10px;border-radius: 5px;background-image: radial-gradient(circle farthest-corner at 100px 50px, #9efac3, #4792d1);">
			<h2><#LANG_NEWSYSTEM_ERROR_NOT_ERROR#></h2>
			<p style="font-size: 11pt;"><#LANG_NEWSYSTEM_ERROR_NOT_ERROR_TEXT#></p>
		</div>
		[#endif#]
	</div>
	<div class="col-md-6" style="display: flex;flex-wrap: wrap;">
		<div class="jumbotron" style="margin-bottom: 10px;padding-top: 20px;padding-bottom: 10px;border-radius: 5px;background: #f5f5f5;">
			<h2><#LANG_DESCRIPTION#></h2>
			<p style="font-size: 11pt;"><#LANG_NEWSYSTEM_ERROR_FULL_DESC#></p>
			<div class="text-right">
				<div class="btn-group">
					<button type="button" onclick="location.href='/diagnostic.php'" class="btn btn-success"><#LANG_SUBMIT_DIAGNOSTIC#></button>
					<button type="button" onclick="location.href='?action=system_errors&md=system_errors&view_mode=addtesterror'" class="btn btn-warning"><#LANG_NEWSYSTEM_ERROR_GET_ERROR#></button>
					<a href="#" id="settings_button" class="btn btn-default" onclick="$('#settings_form').toggle();return false;"><#LANG_SECTION_SETTINGS#></a>
				</div>
			</div>
		</div>

	</div>

</div>


[#if TAB="history"#]
<script>
$(document).ready(function() {
	$('#modalShowError').modal('show');
});
</script>
<div class="modal fade" id="modalShowError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 80%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel"><#LANG_NEWSYSTEM_ERROR_VIEW_ERROR#></h4>
			</div>
			<div class="modal-body">
				[#inc system_errors_edit_history.html#]
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><#LANG_CODEEDITOR_CLOSE_BTN#></button>
				[#if ACTIVE!="0"#]
					<a href="?data_source=<#DATA_SOURCE#>&view_mode=clear_system_errors&id=[#ID#]" class="btn btn-success" title=""><i class="glyphicon glyphicon-ok"></i> <#LANG_NEWSYSTEM_ERROR_READ_BTN#></a>
				[#endif#]
			</div>
		</div>
	</div>
</div>
[#endif#]

[#inc system_errors_search_admin.html#]




<!---

 [#if DATA_SOURCE="system_errors" || DATA_SOURCE=""#]

 [#if VIEW_MODE="edit_system_errors"#]

   [#if TAB=""#]
    [#inc system_errors_edit_default.html#]
   [#endif TAB#]
   
 [#endif VIEW_MODE#]

 [#if VIEW_MODE="view_system_errors"#]
   <table border=0 cellpadding=3 cellspacing=1 bgcolor="#000000" width="100%">
   <tr>
    <td align=center[#if TAB=""#] bgcolor="#FFFFFF"[#else#] bgcolor="#CCCCCC"[#endif#]><b>[#if TAB!=""#]<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=">[#endif TAB#]Home</a></td>
    <td align=center[#if TAB="history"#] bgcolor="#FFFFFF"[#else#] bgcolor="#CCCCCC"[#endif#]><b>[#if TAB!="history"#]<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=history">[#endif TAB#]History</a></td>
   </tr>
   </table>
   [#if TAB=""#]
    [#inc system_errors_view_default.html#]
   [#endif TAB#]
   [#if TAB="history"#]
    [#inc system_errors_view_history.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]

 [#endif DATA_SOURCE#]

 [#if DATA_SOURCE="system_errors_data"#]

 [#if VIEW_MODE="search_system_errors_data" || VIEW_MODE=""#]
  [#inc system_errors_data_search_admin.html#]
 [#endif VIEW_MODE#]

 [#if VIEW_MODE="edit_system_errors_data"#]
   [#if ID!=""#]
   [#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
<ul class="nav nav-tabs">
  <li[#if TAB=""#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=">General</a>
  </li>
  <li[#if TAB="methods"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=methods">Methods</a>
  </li>
  <li[#if TAB="scripts"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=scripts">Scripts</a>
  </li>
  <li[#if TAB="timers"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=timers">Timers</a>
  </li>
  <li[#if TAB="events"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=events">Events</a>
  </li>
  <li[#if TAB="debug"#] class="active"[#endif#]>
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=debug">Debug</a>
  </li>
</ul>
   [#endif ID#]
   [#if TAB=""#]
    [#inc system_errors_data_edit_default.html#]
   [#endif TAB#]
   [#if TAB="methods"#]
    [#inc system_errors_data_edit_methods.html#]
   [#endif TAB#]
   [#if TAB="scripts"#]
    [#inc system_errors_data_edit_scripts.html#]
   [#endif TAB#]
   [#if TAB="timers"#]
    [#inc system_errors_data_edit_timers.html#]
   [#endif TAB#]
   [#if TAB="events"#]
    [#inc system_errors_data_edit_events.html#]
   [#endif TAB#]
   [#if TAB="debug"#]
    [#inc system_errors_data_edit_debug.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]

 [#if VIEW_MODE="view_system_errors_data"#]
   <table border=0 cellpadding=3 cellspacing=1 bgcolor="#000000" width="100%">
   <tr>
    <td align=center[#if TAB=""#] bgcolor="#FFFFFF"[#else#] bgcolor="#CCCCCC"[#endif#]><b>[#if TAB!=""#]<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=">[#endif TAB#]Home</a></td>
    <td align=center[#if TAB="methods"#] bgcolor="#FFFFFF"[#else#] bgcolor="#CCCCCC"[#endif#]><b>[#if TAB!="methods"#]<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=methods">[#endif TAB#]Methods</a></td>
    <td align=center[#if TAB="scripts"#] bgcolor="#FFFFFF"[#else#] bgcolor="#CCCCCC"[#endif#]><b>[#if TAB!="scripts"#]<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=scripts">[#endif TAB#]Scripts</a></td>
    <td align=center[#if TAB="timers"#] bgcolor="#FFFFFF"[#else#] bgcolor="#CCCCCC"[#endif#]><b>[#if TAB!="timers"#]<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=timers">[#endif TAB#]Timers</a></td>
    <td align=center[#if TAB="events"#] bgcolor="#FFFFFF"[#else#] bgcolor="#CCCCCC"[#endif#]><b>[#if TAB!="events"#]<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=events">[#endif TAB#]Events</a></td>
    <td align=center[#if TAB="debug"#] bgcolor="#FFFFFF"[#else#] bgcolor="#CCCCCC"[#endif#]><b>[#if TAB!="debug"#]<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=debug">[#endif TAB#]Debug</a></td>
   </tr>
   </table>
   [#if TAB=""#]
    [#inc system_errors_data_view_default.html#]
   [#endif TAB#]
   [#if TAB="methods"#]
    [#inc system_errors_data_view_methods.html#]
   [#endif TAB#]
   [#if TAB="scripts"#]
    [#inc system_errors_data_view_scripts.html#]
   [#endif TAB#]
   [#if TAB="timers"#]
    [#inc system_errors_data_view_timers.html#]
   [#endif TAB#]
   [#if TAB="events"#]
    [#inc system_errors_data_view_events.html#]
   [#endif TAB#]
   [#if TAB="debug"#]
    [#inc system_errors_data_view_debug.html#]
   [#endif TAB#]
 [#endif VIEW_MODE#]

 [#endif DATA_SOURCE#]
 --->
