<div>
 &nbsp;<br/>
 [#if DEVICES#]
 <script type="text/javascript">
  var httpRefreshTimer = 0;
  var subscribedWebSockets=0;
  var subscribedWebSocketsTimer;
  var requestSent = Math.round(+new Date()/1000);
  function subscribeToDevices() {
   console.log('Sending devices subscription request...');
   var payload;
   payload = new Object();
   payload.action = 'Subscribe';
   payload.data = new Object();
   payload.data.TYPE='devices';
   payload.data.DEVICE_ID='0';
   wsSocket.send(JSON.stringify(payload));
   subscribedWebSocketsTimer=setTimeout('subscribeToDevices();', 3000);
   return false;
  }

  $.subscribe('wsConnected', function (_) {
   clearTimeout(httpRefreshTimer);
   subscribeToDevices();
  });

  $.subscribe('wsData', function (_, response) {
   if (response.action=='subscribed') {
    console.log('Subscription to devices confirmed.');
    clearTimeout(subscribedWebSocketsTimer);
    subscribedWebSockets=1;
   }
   if (response.action=='devices') {
    var obj=jQuery.parseJSON(response.data);
    if (typeof obj.DATA !='object') return false;
    var objCnt = obj.DATA.length;
    if (objCnt) {
     for(var i=0;i<objCnt;i++) {
      var device_id=obj.DATA[i].DEVICE_ID;
      var html=obj.DATA[i].DATA;
      $('#device'+device_id).html(html);
     }
    }
   }
  });

  var trackedDevices = [];
  [#begin DEVICES#]
  trackedDevices.push([#ID#]);
  [#end DEVICES#]

  function httpRefreshDevices() {
   clearTimeout(httpRefreshTimer);
   var baseURL = "<#ROOTHTML#>ajax/devices.html?op=get_device&id=";
   trackedDevices.forEach(function(item, index) {
    var url = baseURL + item;
    $.ajax({
     url: url
    }).done(function(data) {
     var obj=jQuery.parseJSON(data);
     $('#device'+item).html(obj.HTML);
    });
   });
   httpRefreshTimer = setTimeout('httpRefreshDevices()',3000);
  }
  httpRefreshTimer = setTimeout('httpRefreshDevices()',5000);
 </script>
 [#endif DEVICES#]

[#if (LOCATION_ID!="") || (TYPE!="")#]
 <p><a href="<#ROOTHTML#>apps/devices.html" class="btn btn-default"><#LANG_BACK#></a></p>
 <h1>[#TITLE#]</h1>
 [#begin DEVICES#]
 [#if NEW_LOCATION#]
 <div style="clear:both"></div>
 <h2>[#LOCATION_TITLE#]</h2>
 <div style="clear:both"></div>
 [#endif#]
 [#if NEW_TYPE="1"#]<div style="clear:both"></div>[#endif#]
 <div id="device[#ID#]" class="col-sm-3">[#HTML#]</div>
 [#end DEVICES#]

 [#else LOCATION_ID#]

 <div class="row">
  <div class="col-md-6">
  <form action="?">
  <select name="type" onchange="this.form.submit();" class="form-control">
   <option value=""><#LANG_TYPE#></option>
   [#begin TYPES#]
   <option value="[#NAME#]">[#TITLE#] ([#TOTAL#])</option>
   [#end TYPES#]
  </select>
 </form>
  </div>
  <div class="col-md-6">
   <a href="<#ROOTHTML#>apps/devices.html?location_id=all" class="btn btn-default"><#LANG_DEVICES_ALL_BY_ROOM#></a>
   <a href="<#ROOTHTML#>apps/devices.html?type=all" class="btn btn-default"><#LANG_DEVICES_ALL_BY_TYPE#></a>
  </div>
 </div>

 [#if DEVICES#]
 &nbsp;
 <div style="clear:both"></div>
 [#begin DEVICES#]
 <div id="device[#ID#]" class="col-sm-3">[#HTML#]</div>
 [#end DEVICES#]
 <div style="clear:both"></div>
 [#endif DEVICES#]

[#begin LOCATIONS#]
 [#if DEVICES_TOTAL!="0"#]
<p>
 <a href="?location_id=[#ID#]"><h2>[#TITLE#] ([#DEVICES_TOTAL#])</h2></a>
</p>
 [#endif#]
[#end LOCATIONS#]
[#endif LOCATION_ID#]
</div>