 [#if DEVICES#]
 <script type="text/javascript">
  var httpRefreshTimer<#UNIQ#> = 0;
  var subscribedWebSockets<#UNIQ#>=0;
  var subscribedWebSocketsTimer<#UNIQ#>;
  var requestSent<#UNIQ#> = Math.round(+new Date()/1000);
  function subscribeToDevices<#UNIQ#>() {
   console.log('Sending devices subscription request...');
   var payload;
   payload = new Object();
   payload.action = 'Subscribe';
   payload.data = new Object();
   payload.data.TYPE='devices';
   //alert(trackedDevices<#UNIQ#>.length);
   [#if ALL_DEVICES="1"#]
   payload.data.DEVICE_ID='0';
   [#else#]
   if (trackedDevices<#UNIQ#>.length>0) {
    payload.data.DEVICE_ID=trackedDevices<#UNIQ#>.join(',');
   }
   [#endif#]
   wsSocket.send(JSON.stringify(payload));
   subscribedWebSocketsTimer<#UNIQ#>=setTimeout('subscribeToDevices<#UNIQ#>();', 3000);
   return false;
  }

  $.subscribe('wsConnected', function (_) {
   clearTimeout(httpRefreshTimer<#UNIQ#>);
   subscribeToDevices<#UNIQ#>();
  });

  $.subscribe('wsData', function (_, response) {
   if (response.action=='subscribed') {
    console.log('Subscription to devices confirmed.');
    clearTimeout(subscribedWebSocketsTimer<#UNIQ#>);
    subscribedWebSockets<#UNIQ#>=1;
   }
   if (response.action=='devices') {
    var obj=jQuery.parseJSON(response.data);
    if (typeof obj.DATA !='object') return false;
    var objCnt = obj.DATA.length;
    if (objCnt) {
     for(var i=0;i<objCnt;i++) {
      var device_id=obj.DATA[i].DEVICE_ID;
      var html=obj.DATA[i].DATA;
      $('.device<#UNIQ#>_'+device_id).html(html);
     }
    }
   }
  });

  function httpRefreshDevices<#UNIQ#>() {
   if (!trackedDevices<#UNIQ#>.length) return;
   clearTimeout(httpRefreshTimer<#UNIQ#>);
   var baseURL = "<#ROOTHTML#>ajax/devices.html?op=get_devices&view=<#VIEW#>&ids=";
   trackedDevices<#UNIQ#>.forEach(function(item, index) {
    baseURL+=item+','
   });
   $.ajax({
    url: baseURL
   }).done(function(data) {
    httpRefreshTimer<#UNIQ#> = setTimeout('httpRefreshDevices<#UNIQ#>();',5000); //
    var obj=jQuery.parseJSON(data);
    if (Array.isArray(obj.devices)) {
     for(var i=0;i<obj.devices.length;i++) {
      $('.device<#UNIQ#>_'+obj.devices[i].DEVICE_ID).html(obj.devices[i].HTML);
     }
    }
   });
  }
  var trackedDevices<#UNIQ#> = [];
  [#begin DEVICES#]
  trackedDevices<#UNIQ#>.push([#ID#]);
  [#end DEVICES#]

  $(function() {
   ajaxManager.run();
   httpRefreshTimer<#UNIQ#> = setTimeout('httpRefreshDevices<#UNIQ#>();',5000);
   $('.devicecol').on('long-press',function(e) {
    var elem_id=(jQuery(this).attr("id"));
    var url='/panel/popup/devices.html?md=devices&view_mode=edit_devices&tab=settings&no_nav=1&id='+encodeURIComponent(elem_id.replace('devicecol',''));
    parent.$.fancybox.open({ src: url, type: 'iframe' });
    e.preventDefault();
   });
  });

  function processAllDevicesData<#UNIQ#>(data) {
   var obj=jQuery.parseJSON(data);
   if (typeof obj.DEVICES != 'undefined') {
    for(var i=0;i<obj.DEVICES.length;i++) {
     $('.device<#UNIQ#>_'+obj.DEVICES[i].ID).html(obj.DEVICES[i].HTML);
    }
   }
  }

  function loadAllDevicesHTML<#UNIQ#>() {
   var url="<#ROOTHTML#>ajax/devices.html?op=loadAllDevicesHTML&view=<#VIEW#>";
   $.ajax({
    url: url
   }).done(function(data) {
    //localStorage.setItem('allDevicesList',data);
    processAllDevicesData<#UNIQ#>(data);
   });
  }

 </script>
 [#endif DEVICES#]

 [#if SINGLE_DEVICE="1"#]
 [#begin DEVICES#]
 <div class="device<#UNIQ#>_[#ID#]"><!-- cache_ignore_start -->[#HTML#]<!-- cache_ignore_end --></div>
 [#end DEVICES#]
 [#else SINGLE_DEVICE#]

[#if (LOCATION_ID!="") || (TYPE!="") || (COLLECTION!="")#]
 <p><a href="<#ROOTHTML#>apps/devices.html" class="btn btn-default"><#LANG_BACK#></a></p>
 <h1>[#TITLE#]</h1>
 [#begin DEVICES#]
 [#if NEW_LOCATION#]
 <div style="clear:both"></div>
 <h2>[#LOCATION_TITLE#]</h2>
 <div style="clear:both"></div>
 [#endif#]
 [#if NEW_TYPE="1"#]<div style="clear:both"></div>[#endif#]
 <div class="device<#UNIQ#>_[#ID#] devicecol col-md-3" id="devicecol[#ID#]">[#HTML#]</div>
 [#end DEVICES#]

 [#else LOCATION_ID#]

 [#if GROUPS#]
 <link href="<#ROOTHTML#>3rdparty/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>
 <style>
  .swiper-container {
   width: 100%;
   height: calc(100vh - 140px);;
   overflow-y: auto;
  }

  .swiper-container-header {
   padding-left:10px;
   padding-right:10px;
   padding-bottom:10px;
   padding-top:10px;
   height:65px;
  }

  .swiper-container-nav {
   padding-left:10px;
   padding-right:10px;
   padding-bottom:10px;
   height:45px;
   color:white;
  }

  .swiper-container-nav .swiper-wrapper .swiper-slide {
    width: auto;
    padding: 10px;
    background-color:grey;
  }

  .nav-slide-active {
   background-color:darkslateblue !important;
  }

 </style>
 <script src="<#ROOTHTML#>3rdparty/swiper/js/swiper.min.js"></script>
 <script type="text/javascript">

  var mySwiper;
  var mySwiperHeader;
  var mySwierNav;




  $(function() {

    mySwiperHeader = new Swiper('.swiper-container-header',{});
   mySwiperNav = new Swiper('.swiper-container-nav', {
    speed: 400,
    spaceBetween: 5,
    slidesPerView: 'auto',
    //autoHeight:true,
    slidesPerView: 'auto',
    //hashNavigation: true,
   });

   mySwiper = new Swiper('.swiper-container', {
    speed: 400,
    spaceBetween: 100,
    //slidesPerView: 'auto',
    //hashNavigation: true,
   });

   mySwiperNav.on('slideChange', function () {
    //mySwiper.slideTo(mySwiperNav.activeIndex);
   });

   mySwiperNav.on('click', function () {
    $('.nav-slide').removeClass('nav-slide-active');
    $('.nav-slide:eq('+mySwiperNav.clickedIndex+')').addClass('nav-slide-active');
    mySwiperNav.slideTo(mySwiperNav.clickedIndex);
    mySwiper.slideTo(mySwiperNav.clickedIndex);
   });

   mySwiper.on('slideChange', function () {
    $('.nav-slide').removeClass('nav-slide-active');
    $('.nav-slide:eq('+mySwiper.activeIndex+')').addClass('nav-slide-active');
    $('#sliderQuickNav').val(mySwiper.activeIndex);
    mySwiperNav.slideTo(mySwiper.activeIndex);
   });


  });



  function quickNavUpdated() {
   var groupSelectedIdx=$('#sliderQuickNav').val();
   mySwiper.slideTo(groupSelectedIdx);
   return true;
  }



 </script>


 <div class="swiper-container-header">
  <div class="swiper-wrapper swiper-wrapper-header">
   <div class="swiper-slide">

 <div class="row" style="margin-left:0px;margin-right:0px;">
  <div class="col-xs-10">
   <div id="roomSwitch" style="display:none">
  <form class="form">
   <select name="sliderQuickNav" id="sliderQuickNav" onchange="return quickNavUpdated();" class="form-control">
    [#begin GROUPS#]
    <option value="[#INDEX#]">[#TITLE#]</option>
    [#end GROUPS#]
   </select>
  </form>
   </div>
   <div id="typeFilter">
    <div class="row">
     <div class="col-md-12">
    <form action="?" class="form">
     <select name="type" onchange="this.form.submit();" class="form-control">
      <option value=""><#LANG_TYPE#></option>
      [#begin TYPES#]
      <option value="[#NAME#]">[#TITLE#][#if TOTAL!=""#] ([#TOTAL#])[#endif#]</option>
      [#end TYPES#]
     </select>
    </form>
      </div>
     <!--#
     <div class="col-md-4">
      <a href="<#ROOTHTML#>apps/devices.html?type=all" class="btn btn-default"><#LANG_DEVICES_ALL_BY_TYPE#></a>
      <a href="<#ROOTHTML#>apps/devices.html?location_id=all" class="btn btn-default"><#LANG_DEVICES_ALL_BY_ROOM#></a>
     </div>
     #-->
    </div>
   </div>
  </div>
  <div class="col-xs-2 text-right">
   <script type="text/javascript">
    function devicesFilterSwitch() {
     if ($('#typeFilter').is(":visible")) {
      $('#typeFilter').hide();
      $('#roomSwitch').show();
      $('#switchBtn').removeClass('glyphicon-menu-hamburger');
      $('#switchBtn').addClass('glyphicon-filter');
     } else {
      $('#typeFilter').show();
      $('#roomSwitch').hide();
      $('#switchBtn').removeClass('glyphicon-filter');
      $('#switchBtn').addClass('glyphicon-menu-hamburger');
     }
     return false;
    }
   </script>
   <!--#
   <a href="#" class="btn btn-default" onclick="return devicesFilterSwitch();"><i class="glyphicon glyphicon-filter" id="switchBtn"></i></a>
   #-->
   <a href="/apps.html" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
  </div>
 </div>

   </div>
   </div>
  </div>

 <div class="swiper-container-nav">
  <div class="swiper-wrapper">
   [#begin GROUPS#]
   <div class="swiper-slide text-center nav-slide[#if INDEX="0"#] nav-slide-active[#endif#]">[#TITLE#]</div>
   [#end GROUPS#]
  </div>
 </div>
 <!-- Slider main container -->
 <div class="swiper-container" style="margin-left:15px;maring-right:15px;">
  <div class="swiper-wrapper">
   <!-- Slides -->
 [#begin GROUPS#]
 <div id="group[#ID#]" class="swiper-slide" data-hash="group[#ID#]">
  <!--#<h4>[#TITLE#]</h4>#-->
  [#begin DEVICES#]
  [#if NEW_SECTION="1"#]
  <div style="clear:both"></div>
  <div class="row"><div class="col-md-12"><hr/>[#if SECTION_TITLE!=""#]<h2>[#SECTION_TITLE#]</h2>[#endif#]</div></div>
  [#endif#]
  <div class="device<#UNIQ#>_[#ID#] col-md-3 devicecol" id="devicecol[#ID#]" style="margin-bottom:5px"><!-- cache_ignore_start -->[#HTML#]<!-- cache_ignore_end --></div>
  [#end DEVICES#]
 </div>
 [#end GROUPS#]
   </div>
  </div>
 [#endif GROUPS#]
[#endif LOCATION_ID#]
[#endif SINGLE_DEVICE#]

