
<!-- Table 'devices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]

 [#begin PROPERTIES#]
 <div class="form-group">
  <div class="col-md-5 text-right">
   [#DESCRIPTION#]
   [#if CONFIG_HELP!=""#]<#LANG_HCB#>[#CONFIG_HELP#]<#LANG_HCE#>[#endif#]
  </div>
  <div class="col-md-7">
   [#if CONFIG_TYPE="readonly"#]
   [#VALUE#]
   [#endif#]
   [#if CONFIG_TYPE="rgb"#]
   <script src='<#ROOTHTML#>3rdparty/spectrum/spectrum.min.js'></script>
   <link rel='stylesheet' href='<#ROOTHTML#>3rdparty/spectrum/spectrum.min.css' />
   <input type="text" value="[#VALUE#]" name="[#NAME#]_value" id="[#NAME#]_value" class="form-control colorpicker">
   <script>
    $("#[#NAME#]_value").spectrum({
        preferredFormat: "hex",
        showInput: true,
        chooseText: "OK",
        cancelText: "<#LANG_CANCEL#>"
    });
   </script>
   [#endif#]
   [#if CONFIG_TYPE="num" || CONFIG_TYPE="text"#]
   <input type="text" value="[#VALUE#]" name="[#NAME#]_value" class="form-control">
   [#endif#]
   [#if CONFIG_TYPE="yesno"#]
   <input type="radio" value="1" name="[#NAME#]_value" [#if VALUE="1"#] checked[#endif#]> <#LANG_YES#>
   <input type="radio" value="0" name="[#NAME#]_value" [#if VALUE!="1"#] checked[#endif#]> <#LANG_NO#>
   [#endif#]

   [#if CONFIG_TYPE="html"#]
   <textarea name="[#NAME#]_value" id="data" rows="5" cols="50" class="form-control">[#VALUE#]</textarea>
   [#module name="blockly_code" code_field="data" action="" type="html"#]

   [#endif#]

   [#if CONFIG_TYPE="select"#]
   <select name="[#NAME#]_value" class="form-control">
    <option value=""></option>
   [#begin OPTIONS#]
    <option value="[#VALUE#]"[#if VALUE="<#PROPERTIES.VALUE#>"#] selected[#endif#]>[#TITLE#]</option>
   [#end OPTIONS#]
   </select>
   [#endif#]

   [#if CONFIG_TYPE="multi_select"#]
    [#begin OPTIONS#]
    <input type="checkbox" name="<#PROPERTIES.NAME#>_value[]" value="[#VALUE#]"[#if SELECTED#] checked[#endif#]> [#TITLE#]<br/>
    [#end OPTIONS#]
   </select>
   [#endif#]

   [#if CONFIG_TYPE="style_image"#]
   <div id="style_image_set_[#NAME#]">
    [#if VALUE!=""#]
    <img src="[#VALUE#]" id="style_image_preview">
    <a href="#" onclick="return setStyleImage_[#NAME#]('');"><i class="glyphicon glyphicon-remove"></i></a>
    [#endif#]
   </div>
   <input type="hidden" name="[#NAME#]_value" id="[#NAME#]_value" value="[#VALUE#]">
   <script type="text/javascript">
    function setStyleImage_[#NAME#](url) {
     $('#[#NAME#]_value').val(url);
     if (url!='') {
      $('#style_image_set_[#NAME#]').html('<img src="'+url+'"/>');
     } else {
      $('#style_image_set_[#NAME#]').html('');
     }
     return false;
    }
   </script>
   [#begin FOLDERS#]
     <a href="#" onclick="$('.style_images').hide();$('#style_[#TITLE#]').show();return false;">[#TITLE#]</a>
   [#end FOLDERS#]
   [#begin FOLDERS#]
   <div id="style_[#TITLE#]" class="style_images" style="display:none">
    [#begin STYLES#]
    <a href="#" onclick="return setStyleImage_<#PROPERTIES.NAME#>('<#ROOTHTML#>cms/scenes/styles/[#IMAGE#]');"><img src="<#ROOTHTML#>cms/scenes/styles/[#IMAGE#]"></a>
    [#end STYLES#]
   </div>
   [#end FOLDERS#]
   [#endif#]

   [#if _CONFIG_RESTRICTIONS="1"#]
   <a onClick="return openModalTWindow('security', '<#LANG_ACCESS_CONTROL#>', this.href, 800, 600);"
      class="btn btn-default btn-sm [#if _CONFIG_RESTRICTIONS_SET="1"#] btn-success[#endif#]"
      href="?(panel:{action=security_rules})&object_type=prop_[#NAME#]&object_id=<#ID#>&print=1&types[]=hours&types[]=conditions" target=_blank><i class="glyphicon glyphicon-cog"></i></a>
   [#endif#]

  </div>
 </div>
 [#end PROPERTIES#]

 [#if GROUPS#]
 <div class="form-group">
  <div class="col-md-5 text-right">
   <#LANG_GROUPS#>:
   <#LANG_HCB#>devicegroups<#LANG_HCE#>
  </div>
  <div class="col-md-7">
   [#begin GROUPS#]
   <input type="checkbox" name="apply_groups[]" value="[#SYS_NAME#]"[#if SELECTED="1"#] checked[#endif#]> [#TITLE#] (<#LANG_PROPERTY#> group[#SYS_NAME#])<br/>
   [#end GROUPS#]
  </div>
 </div>
 [#endif GROUPS#]

 [#if OTHER_DEVICES_TYPE#]
 <div class="form-group">
  <div class="col-md-5 text-right">
   &nbsp;
  </div>
  <div class="col-md-7">
   <input type="checkbox" name="copy_settings" id="copy_settings" value="1"
          onclick="if ($('#copy_settings').is(':checked')) $('#apply_others_div').show(); else  $('#apply_others_div').hide();"> <#LANG_DEVICES_COPY_SETTINGS#>
   <div id="apply_others_div" style="display: none">
   [#begin OTHER_DEVICES_TYPE#]
   [#if ID!="<#ID#>"#]
   <input type="checkbox" name="apply_others[]" value="[#LINKED_OBJECT#]"> [#TITLE#]<br/>
   [#endif ID#]
   [#end OTHER_DEVICES_TYPE#]
   </div>
  </div>
 </div>
 [#endif#]

<div class="form-group">
 <div class="col-md-5">
  &nbsp;&nbsp;
 </div>
        <div class="col-md-7">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default " onclick="if (window.self !== window.top) {parent.$.fancybox.close();return false;}"><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
<input type="hidden" name="tab" value="<#TAB#>">
        </div>
</div>
</fieldset>
</form>
