[#if SELECT_EXISTING="1"#]
<div style="display:none" id="existingList">
 <table class="table">
  [#begin EXISTING_DEVICES#]
  <tr>
   <td>[#TITLE#]</td>
   <td><a href="?id=[#ID#]&view_mode=edit_devices&prefix=<#PREFIX#>&source_table=<#SOURCE_TABLE#>&source_table_id=<#SOURCE_TABLE_ID#>" class="btn btn-default"><#LANG_SELECT#></a></td>
  </tr>
  [#end EXISTING_DEVICES#]
 </table>
</div>
[#endif#]
<!-- Table 'devices' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" id="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- TITLE (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_TITLE#>:
 (*)
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
</div>

 <div class="form-group">
  <label class="col-lg-3 control-label"[#if ERR_TYPE#] style="color:red;font-weight:bold"[#endif#]>
   <#LANG_TYPE#>:
    (*)
  </label>
  <div class="col-lg-4">
   <select name="type" class="form-control">
    <option value=""></option>
    [#begin TYPES#]
    <option value="[#NAME#]"[#if NAME="<#TYPE#>"#] selected[#endif#]>[#TITLE#]</option>
    [#end TYPES#]
   </select>
  </div>
 </div>

 <div class="form-group">
  <label class="col-lg-3 control-label"[#if ERR_TYPE#] style="color:red;font-weight:bold"[#endif#]>
   <#LANG_LINKED_OBJECT#>:
  </label>
  <div class="col-lg-4">
   [#if ID=""#]
   <script type="text/javascript">
    function add_object_switched() {
     if ($('#add_object').prop('checked')) {
      $('#linkedObjectDiv').hide();
      $('#linked_object').val('');
     } else {
      $('#linkedObjectDiv').show();
     }
    }
   </script>
   <input type="checkbox" name="add_object" id="add_object" onclick="add_object_switched();" value="1"[#if ID="" && LINKED_OBJECT==""#] checked[#endif#]> <#LANG_DEVICES_ADD_OBJECT_AUTOMATICALLY#>
   [#endif ID#]
   <div id="linkedObjectDiv"[#if ID="" && LINKED_OBJECT==""#] style="display:none"[#endif#]>
   <input type="text" class="form-control" name="linked_object" id="linked_object" value="[#LINKED_OBJECT#]" id="title">
   [#module name="linkedobject" object_field="linked_object"#]
    <div><#LANG_DEVICES_LINKED_WARNING#></div>
   </div>
  </div>
 </div>

 <div class="form-group ">
  <label class="col-lg-4 control-label"><#LANG_LOCATION#>: <#LANG_HCB#>location<#LANG_HCE#></label>
  <div class="col-lg-4"><select name="location_id" class="form-control">
   <option value="">-
    [#begin LOCATIONS#]<option value="[#ID#]"[#if ID="<#LOCATION_ID#>"#] selected[#endif#]>[#TITLE#]
   [#end LOCATIONS#]
  </select></div>
 </div>

 <div class="form-group ">
  <label class="col-lg-4 control-label"><#LANG_FAVORITE_DEVICE#>: <#LANG_HCB#>favorite_device<#LANG_HCE#></label>
  <div class="col-lg-4">
   <input type="radio" name="favorite" value="1"[#if FAVORITE="1"#] checked[#endif#]> <#LANG_YES#>
   <input type="radio" name="favorite" value="0"[#if FAVORITE!="1"#] checked[#endif#]> <#LANG_NO#>
  </div>
 </div>


<div class="form-group">
 <label class="col-lg-4 control-label">
  &nbsp;
 </label>
        <div class="col-lg-6">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>

         [#if ID!=""#]
         <a href="?view_mode=delete_devices&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i> <#LANG_DELETE#></a>
         [#endif ID#]

[#if SELECT_EXISTING="1"#]
<a href="#" onclick="$('#frmEdit').hide();$('#existingList').show();return false;"><#LANG_DEVICES_CHOOSE_EXISTING#></a>
[#endif#]

<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="prefix" value="<#PREFIX#>">
<input type="hidden" name="source_table" value="<#SOURCE_TABLE#>">
<input type="hidden" name="source_table_id" value="<#SOURCE_TABLE_ID#>">
<input type="hidden" name="mode" value="update">
        </div>
</div>
</fieldset>
</form>
