
<!-- table devices search -->

<form class="form-inline" name="frmFilter">

 <div class="form-group">
  <a href="?view_mode=edit_devices&location_id=<#LOCATION_ID#>" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
  <a href="?view_mode=quick_edit" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Quick Edit</a>
  [#if ENABLE_HOMEBRIDGE="1"#]
  <a href="?mode=homebridgesync" class="btn btn-default">HomeBridge Sync</a>
  [#endif#]
  <!--#
  <a href="?view_mode=render_structure" class="btn btn-default"> <#LANG_DEVICES_UPDATE_CLASSSES#></a>
  #-->

  </div>

 <div class="form-group">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <#LANG_SEARCH#>:
  </div>

 <div class="form-group">
  <select name="type" class="form-control" onchange="this.form.submit();">
   <option value=""><#LANG_TYPE#> (<#LANG_TOTAL#>: [#TOTAL#])</option>
   [#begin TYPES#]
   <option value="[#NAME#]"[#if NAME="<#TYPE#>"#] selected[#endif#]>[#TITLE#] ([#TOTAL#])</option>
   [#end TYPES#]
  </select>

 </div>

 <div class="form-group ">
  <select name="location_id" class="form-control" onchange="this.form.submit();">
   <option value=""><#LANG_LOCATION#>
    [#begin LOCATIONS#]<option value="[#ID#]"[#if ID="<#LOCATION_ID#>"#] selected[#endif#]>[#TITLE#] ([#TOTAL#])
   [#end LOCATIONS#]
   <option value="manage_locations">[ <#LANG_ADD#> / <#LANG_EDIT#> ]</option>
  </select>
 </div>

 <div class="form-group">
  <select name="group_name" class="form-control"  onchange="this.form.submit();">
   <option value=""><#LANG_GROUPS#></option>
   [#begin GROUPS#]
   <option value="[#SYS_NAME#]"[#if SYS_NAME="<#GROUP_NAME#>"#] selected[#endif#]>[#TITLE#]</option>
   [#end GROUPS#]
   <option value="is:archived"[#if GROUP_NAME="is:archived"#] selected[#endif#]>(*) <#LANG_ARCHIVED_DEVICE#></option>
   <option value="is:system"[#if GROUP_NAME="is:system"#] selected[#endif#]>(*) <#LANG_SYSTEM_DEVICE#></option>
   <option value="manage_groups">[ <#LANG_ADD#> / <#LANG_EDIT#> ]</option>
  </select>
 </div>

</form>&nbsp;

<!-- results -->
[#if RESULT#]

<!-- search results (list) -->

<script type="text/javascript">
 var httpRefreshTimer = 0;
 var subscribedWebSockets=0;
 var subscribedWebSocketsTimer;
 var requestSent = Math.round(+new Date()/1000);
 function subscribeToDevices() {
  console.log('Sending devices subscription request...');
  var payload;
  payload = new Object();
  payload.action = 'Subscribe';
  payload.data = new Object();
  payload.data.TYPE='devices';
  payload.data.DEVICE_ID='0';
  wsSocket.send(JSON.stringify(payload));
  subscribedWebSocketsTimer=setTimeout('subscribeToDevices();', 3000);
  return false;
 }

 $.subscribe('wsConnected', function (_) {
  clearTimeout(httpRefreshTimer);
  subscribeToDevices();
 });

 $.subscribe('wsData', function (_, response) {
  if (response.action=='subscribed') {
   console.log('Subscription to devices confirmed.');
   clearTimeout(subscribedWebSocketsTimer);
   subscribedWebSockets=1;
  }
  if (response.action=='devices') {
   var obj=jQuery.parseJSON(response.data);
   if (typeof obj.DATA !='object') return false;
   var objCnt = obj.DATA.length;
   if (objCnt) {
    for(var i=0;i<objCnt;i++) {
     var device_id=obj.DATA[i].DEVICE_ID;
     var html=obj.DATA[i].DATA;
     $('.device'+device_id).html(html);
    }
   }
  }
 });

 var trackedDevices = [];
 $(function() {
  ajaxManager.run();
  trackedDevices = [];
  [#begin RESULT#]
  trackedDevices.push([#ID#]);
  [#end RESULT#]
 });

  function httpRefreshDevices() {
  clearTimeout(httpRefreshTimer);
  var baseURL = "<#ROOTHTML#>ajax/devices.html?op=get_device&id=";
  trackedDevices.forEach(function(item, index) {
   var url = baseURL + item;
   var device_type = $('#device_type'+item).html();
   if (device_type=='camera') {
    url +='&view=mini';
   }
   $.ajax({
    url: url
   }).done(function(data) {
    var obj=jQuery.parseJSON(data);
    $('.device'+item).html(obj.HTML);
   });

   /*
   ajaxManager.addReq({
    type: 'GET',
    url: url,
    success: function(data){
     var obj=jQuery.parseJSON(data);
     $('.device'+item).html(obj.HTML);
    }
   });
   */
  });
  httpRefreshTimer = setTimeout('httpRefreshDevices()',3000);
 }
 httpRefreshTimer = setTimeout('httpRefreshDevices()',5000);

</script>

[#begin RESULT#]
[#if NEW_LOCATION#]
<div class="row">
 <h3>[#LOCATION_TITLE#]</h3>
</div>
[#endif#]
<div class="row">
 <div class="col-md-4"><div class="device[#ID#]">[#HTML#]</div><span id="device_type[#ID#]" style="display:none">[#TYPE#]</span></div>
 <div class="col-md-3">
  [#TYPE_TITLE#]
  [#if FAVORITE="1"#]<i class="glyphicon glyphicon-star"></i>[#endif#]
  &mdash; <a href="/panel/linkedobject.html?op=redirect&object=[#LINKED_OBJECT#]">[#LINKED_OBJECT#]</a>
 </div>
 <div class="col-md-2">
  [#if LINKED_MODULES#]
  [#begin LINKED_MODULES#]
  <a href="?(panel:{action=[#MODULE#]})&md=[#MODULE#]&go_linked_object=[#OBJECT#]&go_linked_property=[#PROPERTY#]" class="label label-success">[#MODULE#]</a>
  [#end LINKED_MODULES#]
  [#endif LINKED_MODULES#]
 </div>
 <div class="col-md-3" nowrap>
  [#if "<#ACTION#>"=="admin"#]
   <a href="?view_mode=edit_devices&id=[#ID#]" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
   <a href="?view_mode=edit_devices&id=[#ID#]&tab=settings" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-wrench"></i></a>
   <a href="?view_mode=edit_devices&id=[#ID#]&tab=links" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-link"></i>[#if LINKED!=""#] ([#LINKED#])[#endif#]</a>
   <a href="?view_mode=edit_devices&id=[#ID#]&tab=logic" class="btn btn-default" title="Edit"><i class="glyphicon glyphicon-flash"></i></a>
    <a href="?view_mode=delete_devices&id=[#ID#]&location_id=<#LOCATION_ID#>&type=<#TYPE#>&group_name=<#GROUP_NAME#>" onClick="return confirm('Are you sure? Please confirm.')" class="btn btn-default" title="Delete"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
 </div>
</div>
[#end RESULT#]
<!-- / search results (list) -->

<!-- / paging -->
[#else RESULT#]
<p>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->

