<!--#
 @version 0.3 (auto-set)
#-->
﻿<!-- table locations search -->

<p>

<a href="?view_mode=edit_locations" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_LOCATION#></a>

</p>

<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_locations" style="padding:0px">
<table class="table table-striped">
    <thead>
<tr>
<th>
<#LANG_TITLE#>
 </th>
    <th><#LANG_PRIORITY#></th>
    <th>&nbsp;</th>
 </tr>
    </thead>
[#begin RESULT#]
<tr >
 <td
   >
  <b>
   [#TITLE#]
  </a></b>
 </td>
    <td>[#PRIORITY#]</td>
 <td width="200">

  [#if "<#ACTION#>"=="admin"#]
     <a class="btn btn-default btn-sm" href="?view_mode=priority_up&id=[#ID#]"><i class="glyphicon glyphicon-arrow-up"></i></a>
     <a class="btn btn-default btn-sm" href="?view_mode=priority_down&id=[#ID#]"><i class="glyphicon glyphicon-arrow-down"></i></a>

    <a class="btn btn-default btn-sm" href="?view_mode=edit_locations&id=[#ID#]"><i class="glyphicon glyphicon-pencil"></i></a>
    <a class="btn btn-default btn-sm" href="?view_mode=delete_locations&id=[#ID#]" onClick="return confirm('Delete record?')"><i class="glyphicon glyphicon-remove"></i></a>

  [#endif ACTION#]

 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_locations">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p align=center>
<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
</p>
[#endif RESULT#]
<!-- / results -->

