<h3>Почта Росссии - Отслеживание посылок</h3>
<div class="control-group">
   <form  class="form-inline" action="admin.php" method="post" enctype="multipart/form-data" id="TrackAddForm">
      <input  name="trackid" type="text" class="span3" placeholder="Номер трека" />
      <input  name="trackname" type="text" class="span3" placeholder="Название трека" />
      <input type="hidden" name="act" value="add" />
      <input type="hidden" name="pd" value="" />
      <input type="hidden" name="md" value="panel" />
      <input type="hidden" name="inst" value="" />
      <input type="hidden" name="action" value="app_postoffice" />
      <button type="submit" name="postAdd" class="btn btn-primary input-medium">Добавить</button>
   </form>
   <a href="#" role="button" class="btn btn-primary track-check">Проверить</a>
</div>

<div class="well">
   <table class="table table-striped table-condensed">
      <thead>
         <tr>
            <th>№</th>
            <th>Трек номер</th>
            <th>Название</th>
            <th>Дата добавления</th>
            <th>Дата</th>
            <th>Состояние</th>
            <th>Текущее местонахождение</th>
            <th>Статус</th>
         </tr>
      </thead>
      <tbody>
         [#begin TRACK_LIST#]
         <tr>
            <td><#TRACK_LIST.TRACK_NUM#></td>
            <td><#TRACK_LIST.TRACK_ID#></td>
            <td><#TRACK_LIST.TRACK_NAME#></td>
            <td><#TRACK_LIST.TRACK_DATE#></td>
            <td><#TRACK_LIST.OPER_DATE#></td>
            <td><#TRACK_LIST.ATTRIB_NAME#></td>
            <td><#TRACK_LIST.OPER_POSTPLACE#></td>
            [#if $T.FLAG_CHECK=="Y"#]
            <td><span class="label label-success">Active</span></td>
            [#else#]
            <td><span class="label">Inactive</span></td>
            [#endif#]
            <td>
               <a href="#" role="button" class="track-change-status"  data-track="<#TRACK_LIST.TRACK_ID#>"><i class="icon-pencil"></i></a>
               <a href="#PostOfficeTrackRemoveModal" role="button" class="confirm-track-delete" data-track="<#TRACK_LIST.TRACK_ID#>" data-toggle="modal"><i class="icon-remove"></i></a>
            </td>
         </tr>
         [#end TRACK_LIST#]
      </tbody>
   </table>
</div>

<div class="modal small hide fade" id="PostOfficeTrackRemoveModal" tabindex="-1" role="dialog" aria-labelledby="PostOfficeTrackRemoveModalLabel" aria-hidden="true">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="PostOfficeTrackRemoveModalLabel">Подтверждение удаления трек номера</h3>
   </div>
   <div class="modal-body">
      <p class="error-text">Вы уверены в том, что хотите удалить данный трек?</p>
   </div>
   <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Отменить</button>
      <button class="btn btn-danger"  data-dismiss="modal">Удалить</button>
   </div>
</div>

<script type="text/javascript">
   $('.confirm-track-delete').on('click', function (e)
   {
      e.preventDefault();
      var track_id = $(this).data('track');
      modal = $('#PostOfficeTrackRemoveModal');

      modal.find('.btn-danger').click(function ()
      {
         var url = "admin.php?pd=&md=panel&inst=&action=app_postoffice&act=del&trackid=" + track_id;
         $.get(url).success(function (data)
         {
            alert(data);
            window.location.reload("?");
         });
      });
   });

   $('.track-check').on('click', function (e)
   {
      e.preventDefault();
      var url = "admin.php?pd=&md=panel&inst=&action=app_postoffice";
      $.get(url + "&act=check").done(function (data)
      {
         alert(data);
         window.location.reload(url);
      });
   });

   $('.track-change-status').on('click', function (e)
   {
      e.preventDefault();
      var track_id = $(this).data('track');
      var url = "admin.php?pd=&md=panel&inst=&action=app_postoffice&act=changestatus&trackid=" + track_id;
      $.get(url).done(function (data)
      {
         window.location.reload("admin.php?pd=&md=panel&inst=&action=app_postoffice");
      });
   });
</script>