<div class="container">
 <h1><#LANG_PLEASE_LOGIN#></h1>
 &nbsp;
 [#if SHOW_FORM="1"#]
 <div class="panel-body" style="max-width: 400px">
  [#if INCORRECT#]
  <div class="alert alert-error"><#LANG_STRING_ERROR#></div>
  [#endif#]
 <form class="form" method="post">
  <div class="form-group[#if INCORRECT#] has-error[#endif#]">
   <label for="username" class="control-label"><#LANG_USERNAME#>:</label>
   <input type="text" id="username" name="username" value="<#USERNAME#>" class="form-control">
 </div>
 <div class="form-group[#if INCORRECT#] has-error[#endif#]"">
   <label for="password" class="control-label"><#LANG_PASSWORD#>:</label>
   <input type="password" id="password" name="password" value="" class="form-control">
 </div>
 <div class="form-group">
  <input type="submit" value="<#LANG_CONTINUE#>" class="btn btn-default btn-primary">
  <a href="<#ROOTHTML#>" class="btn btn-default"><#LANG_CANCEL#></a>
 </div>
 </form>
 </div>
 [#else USERNAME#]
<p><a href="<#ROOTHTML#>" class="btn btn-default"><#LANG_CANCEL#></a></p>&nbsp;
 <div class="row">
  [#begin USERS#]
  <div class="col-sm-2"[#if SELECTED#] style="border:4px solid"[#endif SELECTED#]>
   <div align="center">
    [#if AVATAR!=""#]
    <a href="?username=[#USERNAME#]"><img src="<#ROOTHTML#>cms/avatars/[#AVATAR#]" height="100"></a>
    [#else#]
    <a href="?username=[#USERNAME#]"><img src="<#ROOTHTML#>img/icons/user.png" height="100"></a>
    [#endif#]<br/>
    [#NAME#]
   </div>
  </div>
  [#end USERS#]
</div>
 [#endif USERNAME#]
</div>
