<!--#
 @version 0.2 (auto-set)
#-->

<p>
<b>


<a href="?view_mode=edit_users" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#></a>
</b>
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- paging -->
[#if PAGES#]

<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>

[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) -->
<form action="?" method="post" name="frmList_users" style="padding:0px">
<table class="table table-striped">
<thead>
        <tr>
         <th>
                <#LANG_USERNAME#>
         </th>
         <th>
                <#LANG_NAME#>
         </th>
          <th>
                <#LANG_EMAIL#>
         </th>
         <th>&nbsp;</th>
        </tr>
</thead>
<tbody>
[#begin RESULT#]
<tr class="hover_btn2">
 <td>
   [#if AVATAR!=""#]
   <a href="#" onClick="return switchTo('[#USERNAME#]');"><img src="<#ROOTHTML#>cms/avatars/[#AVATAR#]" border="0" height="30"></a>
   [#else#]
   <a href="#" onClick="return switchTo('[#USERNAME#]');"><img src="<#ROOTHTML#>img/icons/user.png" border="0" height="30"></a>
   [#endif#] 
   [#USERNAME#]
 </td>
 <td
   >
  <b>
   [#NAME#][#if COLOR!=""#] <span class="badge" style="background-color:[#COLOR#];"> </span>[#endif#] 
  </a></b>
 </td>
 <td
  
   >
   [#EMAIL#]
 </td>
 <td  width="100">
 
  [#if "<#ACTION#>"=="admin"#]
   
    <a class="btn btn-default btn-sm" href="?view_mode=edit_users&id=[#ID#]"><i class="glyphicon glyphicon-pencil"></i></a>
   
  
    <a class="btn btn-default btn-sm" href="?view_mode=delete_users&id=[#ID#]" onClick="return confirm('Delete record?')"><i class="glyphicon glyphicon-remove"></i></a>
  
  [#endif ACTION#]
 &nbsp;
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_users">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<center>
<ul class="pagination">
  [#begin PREVPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&laquo;</a></li>[#end PREVPAGE#]
  [#begin PAGES#]
  <li [#if SELECTED#]class="active"[#endif#]><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#NUM#]</a></li>
 [#end PAGES#]
  [#begin NEXTPAGE#]<li><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&raquo;</a></li>[#end NEXTPAGE#]
</ul>
</center>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p>
<div class="alert alert-danger"><#LANG_NO_RECORDS_FOUND#></div>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
