<!--#
 @version 0.3 (auto-set)
#-->
<!-- Table 'users' edit -->
<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>
<span class="divider">/</span>
<li class="active">
[#if ID=""#]
<#LANG_NEW_RECORD#>
[#else#]
<#LANG_EDIT_RECORD#>
[#endif#]
</li>
</ul>

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]

    <div class="alert alert-success"><#LANG_DATA_SAVED#></div>

[#endif OK#]
[#if ERR#]

  <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>

[#endif ERR#]


<!-- USERNAME (varchar) -->



<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_USERNAME#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_USERNAME#]alert-danger[#endif#]"  name="username" value="[#USERNAME#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PASSWORD#> (<#LANG_OPTIONAL#>):</label>
        <div class="col-lg-5"><input type="password"  class="form-control"  name="passwordnew" ></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle">Повторите <#LANG_PASSWORD#>:</label>
        <div class="col-lg-5"><input type="password"  class="form-control"  name="passwordrepeat" ></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_NAME#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_NAME#]alert-danger[#endif#]"  name="name" value="[#NAME#]"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_COLOR#>:</label>
        <div class="col-lg-5"><input type="text"  class="form-control"  name="color" value="[#COLOR#]"></div>
</div>


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_EMAIL#>:<font color="red">*</font></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_EMAIL#]alert-danger[#endif#]"  name="email" value="[#EMAIL#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_SKYPE#>:</label>
        <div class="col-lg-5"><input type="text"  class="form-control"  name="skype" value="[#SKYPE#]"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_MOBILE_PHONE#>:</label>
        <div class="col-lg-5"><input type="text"  class="form-control"  name="mobile" value="[#MOBILE#]"></div>
</div>



<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PHOTO#>:</label>
        <div class="col-lg-5">
                [#if AVATAR!=""#]<img src="<#ROOTHTML#>cms/avatars/[#AVATAR#]" border="0" height="50"><br>[#endif#]
                <input type="file" class="form-control" name="avatar">
        
        </div>
</div>





<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_LINKED_OBJECT#>:</label>
        <div class="col-lg-5"><input type="text" class="form-control"  name="linked_object" id="linked_object" value="[#LINKED_OBJECT#]"></div>
</div>

[#module name="linkedobject" object_field="linked_object" method_field="onchange_method"#]
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"> <#LANG_HOSTNAME#> (<#LANG_OPTIONAL#>):</label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_HOST#]alert-danger[#endif#]"  name="host" value="[#HOST#]"></div>
</div>





<div class="form-group">
        <div class="col-lg-offset-1 col-lg-5 ">
                <div class="checkbox">
                        <label>
                                <input type="checkbox" value="1" name="is_default" [#if IS_DEFAULT="1"#] checked[#endif#]> <#LANG_DEFAULT_USER#>
                        </label>
                </div>
        </div>
</div>


<div class="form-group">
        <div class="col-lg-offset-1 col-lg-5 ">
                <div class="checkbox">
                        <label>
                                <input type="checkbox" value="1" name="is_admin" [#if IS_ADMIN="1"#] checked[#endif#]> <#LANG_IS_ADMIN#>
                        </label>
                </div>
        </div>
</div>






<div class="form-group">
     <div class="col-lg-offset-1 col-lg-5">
        
         [#if ID!=""#]
                 <input class="btn btn-default btn-primary" type="submit" name="subm" value="<#LANG_SUBMIT#>">
                 [#else ID#]
                 <input class="btn btn-default btn-primary" type="submit" name="subm" value="<#LANG_ADD#>">
                 [#endif ID#]
                 &nbsp;
                 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>

    </div>
</div>




<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
</form>

