<!--#
 @version 0.2 (auto-set)
#-->

<!-- table patterns search -->
<p>
<a href="?view_mode=edit_patterns" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_RECORD#></a>
</p>


<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_patterns" style="padding:0px">
<table class="table table-bordered"><tr>
 <td align=center>
 <b><#LANG_TITLE#></b><nobr>
 [#if SORTBY="TITLE"#](+)[#endif#]
 [#if SORTBY="TITLE DESC"#](-)[#endif#]</nobr> (<#LANG_PRIORITY#>)
 </td>

<td>&nbsp;</td>
</tr>
[#begin RESULT#]
<tr >
 <td
   >
  <b>
   [#TITLE#]
  </a></b> ([#PRIORITY#])
 </td>
 <td >
  <a href="?view_mode=moveup&id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-up"></i></a>
  <a href="?view_mode=movedown&id=[#ID#]" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-down"></i></a>
    <a href="?view_mode=edit_patterns&id=[#ID#]" title="<#LANG_EDIT#>" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?view_mode=delete_patterns&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" title="<#LANG_DELETE#>" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
 </td>
</tr>
[#if RESULT#]
 <tr>
  <td valign="top" colspan="2" style="padding-left:50px">
   <table width="100%" border="0">
    [#tree RESULT#]
   </table>
  </td>
 </tr>
[#endif RESULT#]
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_patterns">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p align=center>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->

