<!--#
 @version 0.2 (auto-set)
#-->
<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>
<span class="divider">/</span>
<li class="active">
[#if ID=""#]
<#LANG_NEW_RECORD#>
[#else#]
<#LANG_EDIT_RECORD#>
[#endif#]
</li>
</ul>

<form action="?" method="post" enctype="multipart/form-data" class="form-horizontal" name="frmEdit" id="frmEdit">
[#if OK#]
	<div class="alert alert-success" id="alert_msg"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
	<div class="alert alert-danger" id="alert_msg"><#LANG_FILLOUT_REQURED#></div> 
	<script>
	$(window).load(function() {
		[#if SETTINGS_CODEEDITOR_SHOWERROR == '1' AND SETTINGS_CODEEDITOR_TURNONSETTINGS == '1'#]
			error_line = Number('[#ERR_LINE#]');
			error_line_find = error_line;
			if(error_line == 0) error_line = 1;
			find = $('div pre.CodeMirror-line:eq('+error_line_find+')');
			find.attr('id', 'errorline_'+error_line);
		
			var newElems = $("<div class='cm-error' style='border-top: 1px solid red;font-weight: bold;font-style: italic;'>Ошибка компилятора -> [#ERRORS#]</div>");
			$('div pre.CodeMirror-line:eq('+error_line_find+')').append(newElems);
		[#endif#]
		
		[#if SETTINGS_CODEEDITOR_UPTOLINE == '1' AND SETTINGS_CODEEDITOR_TURNONSETTINGS == '1'#]
			location.href='#errorline_'+error_line; 
		[#endif#]
	});
			
	</script>
[#endif ERR#]
<style>
.CodeMirror {
	border-radius: 5px;
	border: 2px solid #f7f7f7;
}
</style>

<div class="form-group ">
        <label class="control-label">ID:<#LANG_HCB#>id<#LANG_HCE#></label>
        <div class="col-lg-8">
                <input type="text" value="[#ID#]" disabled class="form-control">
        </div>
</div>


[#if PATTERN_TYPE!="1"#]
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PARENT_CONTEXT#>:<#LANG_HCB#>pattern_context<#LANG_HCE#></label>
        <div class="col-lg-8">
                        <select name="parent_id" class="form-control">
                           <option value="0">
                           [#begin CONTEXTS#]
                           <option value="[#ID#]"[#if ID="<#PARENT_ID#>"#] selected[#endif#]>[#TITLE#]
                           [#end CONTEXTS#]
                        </select>
                </div>
</div>
[#endif PATTERN_TYPE#]

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_TITLE#>:<font color="red">*</font><#LANG_HCB#>title<#LANG_HCE#></label>
        <div class="col-lg-8"><input type="text"  class="form-control [#if ERR_TITLE#]alert-danger[#endif#]"  name="title" value="[#TITLE#]" required="true"></div>
</div>

[#if ID=""#]
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PATTERN_TYPE#>:<#LANG_HCB#>pattern_type<#LANG_HCE#></label>
        <div class="col-lg-8">
        <label><input type="radio" name="pattern_type" value="0" checked> <#LANG_PATTERN_MESSAGE#></label>
        <label><input type="radio" name="pattern_type" value="1"> <#LANG_PATTERN_CONDITIONAL#></label>
        </div>
</div>
[#else#]
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PATTERN_TYPE#>:<#LANG_HCB#>pattern_type<#LANG_HCE#></label>
        <div class="col-lg-8">
        [#if PATTERN_TYPE="0"#]<#LANG_PATTERN_MESSAGE#>[#endif#]
        [#if PATTERN_TYPE="1"#]<#LANG_PATTERN_CONDITIONAL#>[#endif#]
        </div>
</div>
[#endif ID#]


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PRIORITY#>:<#LANG_HCB#>priority<#LANG_HCE#></label>
        <div class="col-lg-8"><input type="text"  class="form-control"  name="priority" value="[#PRIORITY#]"></div>
</div>
<div class="form-group">
        <label class="col-lg-4 control-label" for="inputTitle">&nbsp;</label>
        <div class="col-lg-8">
                                
                <div class="checkbox">
                        <label>
                                <input type="checkbox" value="1" name="is_last" [#if IS_LAST="1"#] checked[#endif#]> <#LANG_LAST_RULE#>
                                <#LANG_HCB#>pattern_last<#LANG_HCE#>
                        </label>
                </div>
        </div>
</div>


[#if ID!=""#]

[#if PATTERN_TYPE="1"#]


   <div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_LINKED_OBJECT#><#LANG_HCB#>linked_object<#LANG_HCE#></label>
        <div class="col-lg-3">
                <input type="text" class="form-control" name="linked_object" id="linked_object" size="10" value="[#LINKED_OBJECT#]">
        </div>
        </div>
     
        <div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_PROPERTY#><#LANG_HCB#>linked_property<#LANG_HCE#></label>
        <div class="col-lg-3">
                 <input type="text" class="form-control" name="linked_property" id="linked_property" size="10" value="[#LINKED_PROPERTY#]">
        </div>
        </div>
        
    <div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_CONDITION#><#LANG_HCB#>pattern_condition<#LANG_HCE#></label>
        <div class="col-lg-3">
         <select name="condition" class="form-control">
      <option value="1"[#if CONDITION="1"#] selected[#endif#]>=
      <option value="2"[#if CONDITION="2"#] selected[#endif#]>&gt;
      <option value="3"[#if CONDITION="3"#] selected[#endif#]>&lt;
      <option value="4"[#if CONDITION="4"#] selected[#endif#]>&lt;&gt;
     </select>
        </div>
        </div>

    <div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_VALUE#></label>
        <div class="col-lg-3">
                 <input type="text" class="form-control" name="condition_value" size="10" value="[#CONDITION_VALUE#]">
        </div>
        </div>
        [#module name="linkedobject" object_field="linked_object" property_field="linked_property"#]
  
   


[#endif PATTERN_TYPE#]

[#if PATTERN_TYPE="0"#]

[#if SHOW_MORPHY="1"#]
<div class="form-group">
        <label class="col-lg-4 control-label" for="inputTitle">&nbsp;</label>
        <div class="col-lg-8">
                                
                <div class="checkbox">
                        <label>
                                <input type="checkbox" value="1" name="usemorphy" [#if USEMORPHY="1"#] checked[#endif#]> Use morphology
                                <#LANG_HCB#>pattern_usemorphy<#LANG_HCE#>
                        </label>
                </div>
        </div>
</div>
[#endif SHOW_MORPHY#]


<div class="form-group">
        <label class="col-lg-4 control-label" for="inputTitle">&nbsp;</label>
        <div class="col-lg-8">
                                
                <div class="checkbox">
                        <label>
                                <input type="checkbox" value="1" name="skipsystem" [#if SKIPSYSTEM="1"#] checked[#endif#]> <#LANG_SKIP_SYSTEM#>
                                <#LANG_HCB#>pattern_skip_system<#LANG_HCE#>
                        </label>
                </div>
        </div>
</div>

[#if ONETIME="1"#]
<div class="form-group">
        <label class="col-lg-4 control-label" for="inputTitle">&nbsp;</label>
        <div class="col-lg-8">
                                
                <div class="checkbox">
                        <label>
                                <input type="checkbox" value="1" name="onetime" [#if ONETIME="1"#] checked[#endif#]> <#LANG_ONETIME_PATTERN#>
                                <#LANG_HCB#>pattern_onetime<#LANG_HCE#>
                        </label>
                </div>
        </div>
</div>
[#endif ONETIME#]

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PATTERN#>:<#LANG_HCB#>pattern_data<#LANG_HCE#></label>
        <div class="col-lg-8"><textarea name="pattern" class="form-control [#if ERR_PATTERN#]alert-danger[#endif#]" rows=3 cols=100 class="field span8">[#PATTERN#]</textarea></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_TIME_LIMIT#>, <#LANG_SECONDS#>:<font color="red">*</font><#LANG_HCB#>pattern_timelimit<#LANG_HCE#><br>(set 0 to be used with the latest log record only)</label>
        <div class="col-lg-8"><input type="text"  class="form-control [#if ERR_TIME_LIMIT#]alert-danger[#endif#]"  name="time_limit" value="[#TIME_LIMIT#]"></div>
</div>

[#endif PATTERN_TYPE#]

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_EXECUTE_ON_MATCH#><#LANG_HCB#>code<#LANG_HCE#>
        [#if PATTERN_TYPE="1"#](<#LANG_PATTERN_ENTER#>)[#endif#]
        :</label>
 <div class="col-lg-8">
  <input type="radio" name="run_type" value="script"[#if SCRIPT_ID!="0"#] checked[#endif#] onClick="$('#code_option').hide();"> <#LANG_SCRIPT#>:
   <select name="script_id" class="form-control">
    <option value="0">
    [#begin SCRIPTS#]
        <option value="[#ID#]"[#if ID="<#SCRIPT_ID#>"#] selected[#endif#]>[#TITLE#]
        [#end SCRIPTS#]
   </select>    
   <br>
   <input type="radio" name="run_type" value="code"[#if SCRIPT_ID="0"#] checked[#endif#] onClick="$('#code_option').show();"> <#LANG_CODE#>
 <div id="code_option"[#if SCRIPT_ID!="0"#] style="display:none"[#endif#]>

[#if ERRORS#]
	<div id="error_noty" style="margin-top: 10px;color: #ff574b;border: 1px solid;border-radius: 5px;padding: 5px;background: #ffffff;width: 100%;">
		<b><#LANG_CODEEDITOR_ERROR_IN_CODE#> -></b> [#ERR_FULL#]
		<div><#LANG_CODEEDITOR_ERROR_RESTORE_CODE#></div>
	</div>
	<textarea id="error_old_code" style="display:none;">[#ERR_OLD_CODE#]</textarea>
[#endif ERRORS#]

 [#module name="blockly_code" system_name="pattern<#ID#>" code_field="script" action=""#]
 <div id="script_area" style="padding-top: 10px">
 [#if SETTINGS_CODEEDITOR_TURNONSETTINGS != 1#]
	<div style="border: 1px solid #dddddd;border-radius: 5px;padding: 5px;margin-bottom: 10px;background: #fffdc7;">
		<#LANG_CODEEDITOR_NOTY_TURNOFF#>
	</div>
[#endif SETTINGS_CODEEDITOR_TURNONSETTINGS#]

<div id="autosave_code_in_time_div" style="color: gray;font-style: italic;font-size: 1rem;display:none;margin-left: 5px;margin-bottom: 4px;">
	<i class="glyphicon glyphicon-floppy-saved" style="vertical-align: top;"></i> <#LANG_CODEEDITOR_AUTOSAVE_CODE#> <span id="autosave_code_in_time"></span>. <#LANG_CODEEDITOR_AUTOSAVE_CODE_HELP#>
</div>
  <textarea name="script" id="script" rows=20 cols=100 class="field span8">[#SCRIPT#]</textarea>
 </div>

 [#if PATTERN_TYPE="1"#]
  <input type="checkbox" name="use_script_exit" value="1"[#if SCRIPT_EXIT!=""#] checked[#endif#] onClick='$("#script_exit_block").toggle();'> <#LANG_ADD_EXIT_CODE#>
  <#LANG_HCB#>pattern_exit_code<#LANG_HCE#>
 [#endif#]

 </div>
</div>
</div>


[#if PATTERN_TYPE="1"#]
<div class="form-group " id="script_exit_block"[#if SCRIPT_EXIT=""#] style="display:none"[#endif#]>
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_EXECUTE_ON_MATCH#> (<#LANG_PATTERN_EXIT#>)
        :</label>
 <div class="col-lg-8">
 <#LANG_CODE#>
 <div id="code_option"[#if SCRIPT_ID!="0"#] style="display:none"[#endif#]>
 [#if ERRORS_EXIT!=""#]
 <font color='red'>[#ERRORS_EXIT#]</font><br>
 [#endif ERRORS#]  

 [#module name="blockly_code" system_name="pattern<#ID#>_exit" code_field="script_exit" action=""#]
 <div id="script_area">
  <textarea name="script_exit" id="script_exit" rows=20 cols=100 class="field span8">[#SCRIPT_EXIT#]</textarea>
 </div>
 </div>
</div>
</div>
[#endif PATTERN_TYPE#]

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle">Set context when matched:<#LANG_HCB#>pattern_set_context<#LANG_HCE#></label>
        <div class="col-lg-8">
                        <select name="matched_context_id" class="form-control">
                          <option value="0">
   [#begin CONTEXTS#]
   <option value="[#ID#]"[#if ID="<#MATCHED_CONTEXT_ID#>"#] selected[#endif#]>[#TITLE#]
   [#end CONTEXTS#]
                        </select>
                </div>
</div>

[#if PATTERN_TYPE="0"#]
<div class="form-group">
        <label class="col-lg-4 control-label" for="inputTitle">&nbsp;</label>
        <div class="col-lg-8">
                                
                <div class="checkbox">
                        <label>
                                <input type="checkbox" name="is_context" value="1"[#if IS_CONTEXT="1"#] checked[#endif#] onClick='$("#context_details").toggle();'> <#LANG_IS_CONTEXT#>
                                <#LANG_HCB#>pattern_is_context<#LANG_HCE#>
                        </label>
                </div>
        </div>
</div>
[#endif PATTERN_TYPE#]


 [#endif ID#]


  
  
  
  <div id='context_details'[#if IS_CONTEXT!="1"#] style="display:none"[#endif#]>

   <table border="0">

    <tr>
     <td align="right"><#LANG_TIMEOUT#>:<#LANG_HCB#>pattern_timeout<#LANG_HCE#></td>
     <td valign="top"><input type="text" name="timeout" value="[#TIMEOUT#]"> (set 0 to use default)</td>
    </tr>

    <tr>
     <td align="right"><#LANG_SET_CONTEXT_TIMEOUT#>:<#LANG_HCB#>pattern_timeout_context<#LANG_HCE#></td>
     <td valign="top"><select name="timeout_context_id" class="form-control">
   <option value="0">
   [#begin CONTEXTS#]
   <option value="[#ID#]"[#if ID="<#TIMEOUT_CONTEXT_ID#>"#] selected[#endif#]>[#TITLE#]
   [#end CONTEXTS#]
  </select></td>
    </tr>


 <tr>
  <td valign="top" align="right"><#LANG_TIMEOUT_CODE#>:</td>
  <td valign="top">
 [#if TIMEOUT_SCRIPT_ERRORS!=""#]
 <font color='red'>[#TIMEOUT_SCRIPT_ERRORS#]</font><br>
 [#endif TIMEOUT_SCRIPT_ERRORS#]  
  <textarea name="timeout_script"  rows=6 cols=100 class="field span6">[#TIMEOUT_SCRIPT#]</textarea></td>
 </tr>

    <tr>
     <td valign="top">&nbsp;</td>
     <td valign="top"><input type="checkbox" name="is_common_context" value="1"[#if IS_COMMON_CONTEXT="1"#] checked[#endif#]> <#LANG_GLOBAL_CONTEXT#>
     <#LANG_HCB#>pattern_global_context<#LANG_HCE#>
     </td>
    </tr>


   </table>

  </div>
 

[#if ID!="" && PATTERN_TYPE!="1"#]
<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_ACCESS_CONTROL#>:<#LANG_HCB#>access_control<#LANG_HCE#></label>
        <div class="col-lg-8">
         
                <a class="btn btn-default " href="?(panel:{action=security_rules})&object_type=pattern&object_id=[#ID#]&print=1" onClick="return openModalTWindow('security', '<#LANG_ACCESS_CONTROL#>', this.href, 800, 600);" target=_blank><#LANG_SET#></a>
 </div>
</div>
[#endif ID#]

<div class="form-group">
        <label class="col-lg-4 control-label" for="inputTitle">&nbsp;</label>
        <div class="col-lg-8">
 [#if ID!=""#]
 <input type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-default btn-primary">
 [#else ID#]
 <input type="submit" name="subm" value="<#LANG_ADD#>" class="btn btn-default btn-primary">
 [#endif ID#]

 &nbsp;
 <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>

 [#if ID!=""#]
 &nbsp;
 <a class="btn btn-default btn-primary" href="?id=<#ID#>&view_mode=clone" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_MAKE_COPY#></a>
 [#endif ID#]

 </div>
</div>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
[#if EDIT_MODE#]<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">[#endif#]
<input type="hidden" name="mode" value="update">

[#if LOG!=""#]

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle">LOG: </label>
        <div class="col-lg-8">[#LOG#]</div>
</div>
[#endif#]





</form>





















[#if ID!=""#]
&nbsp;
<table width="100%" border="0">
 <tr>
  <td valign="top" width="50%">
   <b><#LANG_ON_THE_SAME_LEVEL#>:</b>
   [#if SAME_LEVEL#]
   <ul>
    [#begin SAME_LEVEL#]
    <li>[#if ID!="<#ID#>"#]<a href="?id=[#ID#]&view_mode=edit_patterns">[#else#]<b>[#endif#][#TITLE#]</b></a></li>
    [#end SAME_LEVEL#]
   </ul>
   [#endif SAME_LEVEL#]
   <a href="?id=&view_mode=edit_patterns&parent_id=<#PARENT_ID#>" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD#></a>
  </td>
  <td valign="top" width="50%">
   <b><#LANG_CHILD_ITEMS#>:</b>
   [#if CHILDREN#]
   <ul>
    [#begin CHILDREN#]
    <li>[#if ID!="<#ID#>"#]<a href="?id=[#ID#]&view_mode=edit_patterns">[#else#]<b>[#endif#][#TITLE#]</b></a></li>
    [#end CHILDREN#]
   </ul>
   [#endif SAME_LEVEL#]
   [#if IS_CONTEXT="1"#]
   <a href="?id=&view_mode=edit_patterns&parent_id=<#ID#>"><#LANG_ADD#></a>
   [#endif IS_CONTEXT#]
  </td>
 </tr>
</table>
[#endif ID#]