
<!-- table snmpdevices search -->
<p>
<a href="?view_mode=edit_snmpdevices" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_ADD_NEW_HOST#></a>
[#if RESULT#]
<a href="?view_mode=update_all" class="btn"><#LANG_REFRESH_ALL#></a>
[#endif RESULT#]
</p>
<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- search results (list) -->
<form action="?" method="post" name="frmList_snmpdevices" style="padding:0px" class="form">
<table  align=center class="table table-stripped">
<thead>
<tr>
 <th>
 <#LANG_TITLE#>
 </th>
<td>&nbsp;</td>
</tr>
</thead>
<tbody>
[#begin RESULT#]
<tr class="hover_btn2">
 <td
  >
  <b>
   [#TITLE#]
  </a></b> ([#HOST#])
 </td>
 <td width="1%" nowrap>
  <div style="width:120px">
  [#if "<#ACTION#>"=="admin"#]
   <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_snmpdevices&id=[#ID#]" class="btn btn-default btn-sm" title="<#LANG_EDIT#>"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="?data_source=<#DATA_SOURCE#>&view_mode=delete_snmpdevices&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" class="btn btn-default btn-sm" title="<#LANG_DELETE#>"><i class="glyphicon glyphicon-remove"></i></a>
  [#endif ACTION#]
  </div>
 </td>
</tr>
[#end RESULT#]
</tbody>
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_snmpdevices">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<p>
<div class="alert alert-danger">No devices added.</div>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
