<!--#
 @version 0.1 (auto-set)
#-->

[#if "<#ONEWIRE_SERVER#>"==""#]
<div class="alert alert-error">
<p>Please set up <a href="http://owfs.org" target=_blank>OWFS</a> server details in /config.php</p>
<p>For example:</p>
<pre>
Define('ONEWIRE_SERVER', 'tcp://localhost:1234');
</pre>
</div>
[#endif#]

<a  href="?view_mode=scan" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> <#LANG_RESCAN_DEVICES#>
[#if "<#ONEWIRE_SERVER#>"!=""#]
(<#ONEWIRE_SERVER#>)
[#endif#]
</a>

<!-- results -->
[#if RESULT#]

<!-- paging -->
[#if PAGES#]
<#LANG_PAGES#>:&nbsp;
[#begin PREVPAGE#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a>[#end PREVPAGE#]
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]
[#end PAGES#]
[#begin NEXTPAGE#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a>[#end NEXTPAGE#]
[#endif PAGES#]
<!-- / paging -->

<!-- search results (list) -->
<form action="?" method="post" name="frmList_onewire" style="padding:0px">
<h3><#LANG_DEVICES#></h3>
<table class="table table-bordered table-rounded">
[#begin RESULT#]
<tr >
 <td
   >
   <big>[#TITLE#]</big> ([#UDID#], [#if STATUS="1"#]<#LANG_ONLINE#>[#else STATUS#]<#LANG_OFFLINE#>[#endif STATUS#])
   <br>
   <#LANG_LAST_CHECKED#>: [#CHECK_LATEST#]<br>
   Next check: [#CHECK_NEXT#]
 </td>
 <td >
  [#if "<#ACTION#>"=="admin"#]
    <a href="?view_mode=edit_onewire&id=[#ID#]"><#LANG_EDIT#></a><span class="divider">/</span><a href="?view_mode=delete_onewire&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
  [#endif ACTION#]
 </td>
</tr>
[#end RESULT#]
</table>

<h3>Дисплеи</h3>
<a href="?view_mode=edit_display" class="btn btn-success btn-mini"><i class="icon-white icon-plus-sign"></i> <#LANG_ADD#></a>
[#if DISPLAY#]
<table class="table table-bordered table-rounded">
[#begin DISPLAY#]
<tr >
 <td
   >
   [#TITLE#] ([#ROWS#]×[#COLS#])
 </td>
 <td >
  [#if "<#ACTION#>"=="admin"#]
    <a href="?view_mode=edit_display&id=[#ID#]"><#LANG_EDIT#></a><span class="divider">/</span><a href="?view_mode=delete_display&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
  [#endif ACTION#]
 </td>
</tr>
[#end DISPLAY#]
</table>
[#endif DISPLAY#]

<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_onewire">
</form>
<!-- / search results (list) -->

<!-- paging -->
[#if PAGES#]
<#LANG_PAGES#>:&nbsp;
[#begin PREVPAGE#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a>[#end PREVPAGE#]
[#begin PAGES#]
[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]
[#end PAGES#]
[#begin NEXTPAGE#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a>[#end NEXTPAGE#]
[#endif PAGES#]
<!-- / paging -->



[#else RESULT#]
<div class="alert alert-error"><#LANG_NO_DEVICES_FOUND#></div>
[#endif RESULT#]
<!-- / results -->
