[#if ACTION!="context"#]

<ul class="nav nav-tabs">
 <li [#if VIEW_MODE=""#]class="active"[#endif#]><a href="?view_mode=">Debug</a></li>
 <li [#if VIEW_MODE="properties"#]class="active"[#endif#]><a href="?view_mode=properties">Properties</a></li>
 <li [#if VIEW_MODE="methods"#]class="active"[#endif#]><a href="?view_mode=methods">Methods</a></li>
 <li [#if VIEW_MODE="scripts"#]class="active"[#endif#]><a href="?view_mode=scripts">Scripts</a></li>
 <li [#if VIEW_MODE="timers"#]class="active"[#endif#]><a href="?view_mode=timers">Timers</a></li>
 <li [#if VIEW_MODE="events"#]class="active"[#endif#]><a href="?view_mode=events">Events</a></li>
 <li [#if VIEW_MODE="services"#]class="active"[#endif#]><a href="?view_mode=services">Services</a></li>
 <li [#if VIEW_MODE="performance"#]class="active"[#endif#]><a href="?view_mode=performance">Performance</a></li>
 <li><a href="print_all.php" target=_blank>Structure</a></li>
</ul>

&nbsp;

<table border="1" align="center" cellspacing="3" cellpadding="5" width="100%">
 <tr>
  <td valign="top" colspan=7>
   [#if VIEW_MODE!="services"#]
   <table width="100%" border="0">
    <tr>
     <td valign="top" width="50%">
     <div>Filter: <input type="text" name="filter" id="filter" onChange="checkAllStates();"></div>
     </td>
     [#if VIEW_MODE=""#]
     <td valign="top" nowrap>
     File:
     <select name="file" id='file'>
      <option value="">
      [#begin FILES#]
      <option value="[#TITLE#]">[#TITLE#]
      [#end FILES#]
     </select>
     </td>
     <td valign="top" nowrap>
     Lines:
     <select name="limit" id='limit' onChange="checkAllStates();">
     <option>50
     <option>100
     <option>200
     <option>500
     <option>1000
     </select>
     </td>
     [#endif VIEW_MODE#]
     <td valign="top" align="right" width="50%">
      <a href="#" class="btn btn-default" onClick="return playPauseXRay();" id="playpausebtn"><i class="glyphicon glyphicon-pause"></i> Pause</a>
     </td>
    </tr>
   </table>
   [#endif VIEW_MODE#]
  
  <div id="xrayContent">Loading...</div>
  </td>
 </tr>
</table>
<script language="javascript">
        var checkTimer;
        var playingXray;

        function playPauseXRay() {
         if (playingXray==1) {
          $('#playpausebtn').html('<i class="glyphicon glyphicon-play"></i> Continue');
          clearTimeout(checkTimer);
          playingXray=0;
         } else {
          $('#playpausebtn').html('<i class="glyphicon glyphicon-pause"></i> Pause');
          checkAllStates();
         }
         return false;
        }

        function checkAllStates() {
         playingXray=1;
         clearTimeout(checkTimer);

         var url="?ajax=1&op=getcontent&view_mode=<#VIEW_MODE#>&filter="+encodeURIComponent($('#filter').val())+"&limit="+$('#limit').val()+"&file="+$('#file').val();
         $.ajax({
          url: url,
          }).done(function(data) { 
          //var currentContent=$('#xrayContent').html();
          $('#xrayContent').html(data);
          checkTimer=setTimeout('checkAllStates()', 5000);
         });
  return false;
 }

 checkAllStates();
</script>
[#endif ACTION#]

[#if ACTION="context"#]
<b>Related: <#LANG_HCB#>related<#LANG_HCE#></b>
<div id='contextBody'>...</div>
<script language="javascript">
 function findContext() {
  var url="<#ROOTHTML#>popup/xray.html?action=context";
  var bodyText='';
  [#if CODE_ID!=""#]bodyText=$('#[#CODE_ID#]').val();[#endif CODE_ID#]
  $.post(url, 
  { action:"context", ajax: "1", op: "process", keyword: "<#KEYWORD#>", type: "<#TYPE#>", body: bodyText},
   function(data) {
    $('#contextBody').html(data);
   }
  );
  return false;
 }
 findContext();
</script>
[#endif ACTION#]