<!--#
 @version 0.2 (auto-set)
#-->
<!-- Table 'events' edit -->
<p>
 <a href="?">&lt;&lt;&lt; <#LANG_BACK#></a>
</p>
<form action="?" method="post">
 <h3>[#EVENT_NAME#]</h3>
 <p><#LANG_UPDATED#>: [#ADDED#]</p>

 [#if OK#]
 <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
 [#endif OK#]
 [#if ERR#]
 <div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
 [#endif ERR#]
  <div>
   <label for="description"><#LANG_DESCRIPTION#>:</label>
   <input type="text" name="description" id="description" value="[#DESCRIPTION#]" class="form-control"/>
  </div>


 <table class="table">
  [#begin PARAMS#]
  <tr>
   <td>[#TITLE#]</td>
   <td>[#VALUE#]</td>
   <td><input type="text" name="linked_object[#ID#]" id="linked_object[#ID#]" value="[#LINKED_OBJECT#]"></td>
   <td><input type="text" name="linked_property[#ID#]" id="linked_property[#ID#]" value="[#LINKED_PROPERTY#]"></td>
   <td><input type="text" name="linked_method[#ID#]" id="linked_method[#ID#]" value="[#LINKED_METHOD#]"></td>
   [#module name="linkedobject" object_field="linked_object<#PARAMS.ID#>" property_field="linked_property<#PARAMS.ID#>" method_field="linked_method<#PARAMS.ID#>" width="200"#]
   <td>[#UPDATED#]</td>
  </tr>
  [#end PARAMS#]
 </table>

 <input type="submit" class="btn btn-default btn-primary" value="<#LANG_SUBMIT#>">
 <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
 <a href="?view_mode=delete_events&id=[#ID#]" onClick="return confirm('Delete record?')" class="btn btn-default btn-danger"><#LANG_DELETE#></a>

<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
</form>

[#if RELEVANT#]
&nbsp;<Br/>
<#LANG_SIMILAR_ITEMS#>
<table class="table">
 [#begin RELEVANT#]
 <tr>
  <td><a href="?view_mode=edit_events&id=[#ID#]">[#EVENT_NAME#]</a></td>
  <td>[#ADDED#]</td>
 </tr>
 [#end RELEVANT#]
</table>
[#endif#]