<!--#
 @version 0.2 (auto-set)
#-->
<p align=center>
<b>
<a href="?view_mode=edit_webvars"><#LANG_ADD_NEW#></a>
|
<a href="?view_mode=checkall"><#LANG_REFRESH_ALL#></a>
</b>
</p>

<table width=100% border=0><tr>
<td valign=top>
<!-- results -->
[#if RESULT#]
<!-- paging -->
[#if PAGES#]
<table border=0 align=center>
<td align=right><b><#LANG_PAGES#>:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
[#begin PAGES#]
<td>[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</td>
[#end PAGES#]
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
<!-- search results (list) -->
<form action="?" method="post" name="frmList_webvars" style="padding:0px">
<table border=0 cellpadding=5 cellspacing=1 align=center>
[#begin RESULT#]
<tr >
 <td valign="top">
   [#if TITLE!=""#]<big>[#TITLE#]</big><br>[#endif#]
   <b>[#HOSTNAME#]</b>
   <br>Next check: [#CHECK_NEXT#]
 </td>
 <td valign="top">
   [#LATEST_VALUE#]
  
 </td>
 <td >
  <table border=0>
  [#if "<#ACTION#>"=="admin"#]
   <td  align=center>
    <b><a href="?view_mode=edit_webvars&id=[#ID#]"><#LANG_EDIT#></a></b>
   </td>
   <td  align=center>
    <a href="?view_mode=delete_webvars&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_DELETE#></a>
   </td>
  [#endif ACTION#]
  </table>
 </td>
</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_webvars">
</form>
<!-- / search results (list) -->
<!-- paging -->
[#if PAGES#]
<table border=0 align=center>
<td align=right><b><#LANG_PAGES#>:</b>&nbsp;</td>
[#begin PREVPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&lt;&lt;&lt;</a></td>[#end PREVPAGE#]
[#begin PAGES#]
<td>[#if !SELECTED#]<a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">[#else#]<b>[#endif#][#NUM#]</td>
[#end PAGES#]
[#begin NEXTPAGE#]<td><a href="?view_mode=<#VIEW_MODE#>&mode=<#MODE#>&save_qry=1&page=[#NUM#]">&gt;&gt;&gt;</a></td>[#end NEXTPAGE#]
</table>
[#endif PAGES#]
<!-- / paging -->
[#else RESULT#]
<p align=center>
<font color="red"><#LANG_NO_RECORDS_FOUND#></font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>
