<!--#
 @version 0.3 (auto-set)
#-->

<!-- Table 'webvars' edit -->
<ul class="breadcrumb">
<li> 
<a href="?"><#LANG_HOME#></a>
</li>
<span class="divider">/</span>
<li class="active">
[#if ID=""#]
<#LANG_NEW_RECORD#>
[#else#]
<#LANG_EDIT_RECORD#>
[#endif#]
</li>
</ul>

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" id="frmEdit" class="form-horizontal">
[#if OK#]
  <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_TITLE#>:<font color="red">*</font><#LANG_HCB#>title<#LANG_HCE#></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_TITLE#]alert-danger[#endif#]"  name="title" value="[#TITLE#]" required="true"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_URL#>:<font color="red">*</font><#LANG_HCB#>webvars_url<#LANG_HCE#></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_HOSTNAME#]alert-danger[#endif#]"  name="hostname" value="[#HOSTNAME#]" required="true"></div>
</div>

<div class="form-group">
        <label class="col-lg-4 control-label">&nbsp;</label>
        <div class="col-lg-5">
                <div class="checkbox">
                        <label>
                                <input type="checkbox" value="1" name="auth" id="chkAuth" [#if AUTH="1"#] checked[#endif#]> <#LANG_AUTHORIZATION_REQUIRED#> <#LANG_HCB#>webvars_auth<#LANG_HCE#>
                        </label>
                </div>
        </div>
</div>




<div [#if AUTH!="1"#]style="display:none"[#endif#] id="authCredentials">
        <div class="form-group ">
                        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_USERNAME#>:</label>
                        <div class="col-lg-5"><input type="text"  class="form-control"  name="username" value="[#USERNAME#]" ></div>
        </div>
        <div class="form-group ">
                        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PASSWORD#>:</label>
                        <div class="col-lg-5"><input type="text"  class="form-control"  name="password" value="[#PASSWORD#]" ></div>
        </div>
</div>
 
 


<script language="javascript">
 $('#chkAuth').click (function ()
 {
          var thisCheck = $(this);
          if (thisCheck.is (':checked'))
          {
           $('#authCredentials').show();
          } else {
          $('#authCredentials').hide();
          }
 });
</script>


<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_SOURCE_PAGE_ENCODING#>: <#LANG_HCB#>webvars_encoding<#LANG_HCE#><br>(<#LANG_OPTIONAL#>, utf-8 <#LANG_BY_DEFAULT#>)</label>
        <div class="col-lg-5"><input type="text"  class="form-control"  name="encoding" value="[#ENCODING#]" ></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_SEARCH_PATTERN#>:<font color="red">*</font><#LANG_HCB#>webvars_pattern<#LANG_HCE#></label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_SEARCH_PATTERN#]alert-danger[#endif#]"  name="search_pattern" value="[#SEARCH_PATTERN#]" required="true"></div>
</div>


<!--#
<tr>
 <td align=right>
 [#if ERR_SEARCH_PATTERN#]<b><font color="red">[#endif#]
 CHECK_PATTERN (optional):
 </td>
 <td>
  <input type="text" name="check_pattern" value="[#CHECK_PATTERN#]" size="80">
 </td>
</tr>
#-->




<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"> <#LANG_ONCHANGE_ACTION#>:<#LANG_HCB#>code<#LANG_HCE#></label>
        <div class="col-lg-5 [#if ERR_SCRIPT_ID#]alert-danger[#endif#]">
                
                 <input type="radio" name="run_type" value="script"[#if SCRIPT_ID!="0"#] checked[#endif#]> <#LANG_SCRIPT#>:
                   <select name="script_id">
                        <option value="0">
                        [#begin SCRIPTS#]
                                <option value="[#ID#]"[#if ID="<#SCRIPT_ID#>"#] selected[#endif#]>[#TITLE#]
                                [#end SCRIPTS#]
                   </select>    
                   <br>
                   <input type="radio" name="run_type" value="code"[#if SCRIPT_ID="0"#] checked[#endif#]> <#LANG_CODE#>:<br>
                 [#if ERRORS!=""#]
                 <font color='red'>[#ERRORS#]</font><br>
                 [#endif ERRORS#]   

                 [#module name="blockly_code" system_name="webvar<#ID#>" code_field="code" action=""#]
                 <div id="code_area">
                 <textarea name="code" id="code" rows=20 cols=100 class="field span10">[#CODE#]</textarea>
                 </div>
        </div>
</div>








<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"> <#LANG_LINKED_OBJECT#>:<#LANG_HCB#>linked_object<#LANG_HCE#></label>
        
                <div class="row">
                        <div class="col-xs-4">
                                <input type="text" name="linked_object" id="linked_object" class="form-control" placeholder=".col-xs-4" value="[#LINKED_OBJECT#]" size="20">
                        </div>
                        
                </div>
        
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_PROPERTY#>:<#LANG_HCB#>linked_property<#LANG_HCE#></label>
        
                <div class="row">
                        
                        <div class="col-xs-4">
                                <input type="text" name="linked_property" id="linked_property" class="form-control" placeholder=".col-xs-4" value="[#LINKED_PROPERTY#]" size="20">
                                </div>
                </div>
        
</div>

[#module name="linkedobject" object_field="linked_object" property_field="linked_property"#]





<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_CHECK_INTERVAL#>:<font color="red">*</font><#LANG_HCB#>webvars_interval<#LANG_HCE#><br><#LANG_SECONDS#> (0 to use default)</label>
        <div class="col-lg-5"><input type="text"  class="form-control [#if ERR_ONLINE_INTERVAL#]alert-danger[#endif#]"  name="online_interval" value="[#ONLINE_INTERVAL#]"></div>
</div>

<div class="form-group ">
        <label class="col-lg-4 control-label" for="inputTitle"><#LANG_LATEST_VALUE#>:</label>
        <div class="col-lg-5"> [#LATEST_VALUE#]</div>
</div>



<div class="form-group">
        <label class="col-lg-4 control-label">&nbsp;</label>
        <div class="col-lg-5">
        
        
 [#if ID!=""#]
 <input type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-default btn-primary">
 [#else ID#]
 <input type="submit" name="subm" value="<#LANG_ADD#>" class="btn btn-default btn-primary">
 [#endif ID#]
 &nbsp;
 <a href="?" class="btn  btn-default"><#LANG_CANCEL#></a>
 [#if ID!=""#]
 &nbsp;
 <a class="btn btn-default" href="?id=<#ID#>&view_mode=clone"  onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><#LANG_MAKE_COPY#></a>
 [#endif ID#]
 </div>
</div>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">



<div class="form-group">
        <label class="col-lg-4 control-label"><#LANG_LOG#>:</label>
        <div class="col-lg-5">
                 <a href="#" class="btn btn-default" onClick="$('#eventsLog').toggle();return false;"><#LANG_SHOWHIDE#></a>
                 <div id='eventsLog' style="display:none">
                  [#LOG#]
                 </div>
        </div>
</div>
</form>
