<!--#
 @version 0.1 (auto-set)
#-->
<style type="text/css" media="screen">
/* LAYOUT ELEMENTS ========================================================== */


#main_container
{
        margin: 0 auto;
        width: 775px;
        _width: 770px; /* CSS UNDERSCORE HACK FOR PROPER WIN/IE DISPLAY */
        _text-align: left; /* CSS UNDERSCORE HACK FOR PROPER WIN/IE DISPLAY */  
}

#header
{
        color: #fff;
        padding: 20px 20px 10px 0;
}

#side_container
{
        width: 215px;
        margin: 10px 10px 0 0;
        float: left;
        font-size: 12px;
}

#mainMenu {
    line-height: 166%;
        background: #600;
        border-right: 3px solid #500;
}

#sidebar {
    color: #000000;
}

#displayArea {
    float: left;
        width: 520px;
        _width: 545px; /* CSS UNDERSCORE HACK FOR PROPER WIN/IE DISPLAY */
}

a:link, a:visited, a:hover, a:active {
        text-decoration: none;
}


/* HEADER ========================================================== */

#siteTitle {
        font-size: 30px;
}

#siteSubtitle {
        font-size: 13px;
        padding-left: 10px;
}

#titleLine a {
    color: #cf6;
}

/* SIDEBARS ========================================================== */

#mainMenu a {
    color: #fff;
        background: #700;
        display: block;
        padding: 0 5px 0 10px;
        height: 22px;
        line-height: 22px;
        border-bottom: 1px solid #500;
        border-top: 1px solid #900;
}

#mainMenu a:hover {
    background: #b00;
}

#sidebarTabs {
    background: #960;
        border-right: 3px solid #740;
        border-bottom: 3px solid #520;
    padding: 0;
}

.tabset
{
        position: relative;
        top: -17px;
        padding: 0 0 5px 10px;
        border-bottom: 2px solid #960;
        _top: -21px;
}

.tabContents .tabset
{
        position: normal;
        top: 0;
        padding: 0;
        border: none;
}

.tabset a.tabSelected {
        background: #960;
}

.tabset a.tabUnselected {
        background: #660;
}

.tabContents .tabset a.tabSelected {
        background: #700;
}

.tabContents .tabset a.tabUnselected {
        background: #440;
}

.tabContents .tabContents
{
        background: #700;
}

.tabset a {
    color: #fff;
        padding: 2px 8px 2px 8px;
        margin: 0 2px 0 0;
        height: 22px;
        overflow: hidden;
}

.tabset a:hover {
    background: #000;
    color: #fff !important;
}

.tabset a:active {
    color: #000000;
}

#sidebarTabs a {
    color: #fff;
}

#sidebarTabs a:hover {
    background: #000;
    color: #fff;
}

#sidebarTabs a:active {
    color: #000000;
}

.tabContents{
    padding: 10px 10px 0 10px;
        font-size: 11px;
        clear: both;
        position: relative;
        top: -20px;
}

.tabContents .tabContents{
        position: normal;
        top: 0;
        padding-bottom: 10px;
}

.tabContents ul{
    margin: 0;
        padding: 0;
        list-style: none;
}

.tabContents .tabContents ul{
    color: #eeb;
}

.tabContents ul a {
    color: #fff;
        display: block;
        padding: 1px 0 1px 8px;
}

.tabContents ul a:hover {
    color: #fff;
    background: #000;
}

#licensePanel {
    padding: 0px 10px;
        font-size: 11px;
}

#licensePanel a {
    color: #960;
        display: block;
        margin-top: 10px;
}

#licensePanel a:hover {
    color: #fff;
}

#licensePanel a:active {
    color: #fff;
}

#sidebarOptions {
    background: #eeb;
        border-right: 3px solid #bb8;
    color: #B4C675;
        padding: 5px 0 25px 0;
}

#sidebarOptions a {
    color: #700;
        display: block;
        margin: 3px 10px;
}

#sidebarOptions a:hover, #sidebarOptions a:active {
    color: #fff;
    background: #700;
}

#sidebarOptions input {
    margin: 2px 10px;
    width:180px;
    border: 1px inset #333;
}

a#save_button:link, a#save_button:visited
{
        line-height: 28px;
        height: 30px;
        width: 182px;
        margin: 10px;
        display: block;
        color: 000;
        background: #9c0 url('http://shared.snapgrid.com/images/tiddlywiki/savebutton.png') no-repeat;
        text-align: center;
}

a#save_button:hover, a#save_button:active
{
        color: #000;
        background: #9c0 url('http://shared.snapgrid.com/images/tiddlywiki/savebutton.png') left -44px no-repeat;
}

.save_accesskey
{
        visibility: hidden;
        position: fixed;
        _position: absolute;
        _top: 0px;
        _visibility: visible;
        _left: -999999px;
}

.sliderPanel {
    display: none;
    background: #fff;
    color: #000;
        padding: 5px 10px;
        font-size: 11px;
}

.sliderPanel input{
    display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
}

.sliderPanel a{
    display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
}

.sliderPanel a:link, .sliderPanel a:visited {
    color: #17b;
}

.sliderPanel a:hover, .sliderPanel a:active  {
    color: #fff;
    background: #000;
}

.optionsText {
    margin: 2px 0;
}

.optionsItem {
}

/* TIDDLER DISPLAY/EDIT SPACE ========================================================== */

.tiddler {
        margin: 0 0 10px 0;
        padding: 0 15px;
        border-right: 3px solid #aaa;
        border-bottom: 3px solid #555;
        background: #fff;
}

#messageArea
{
        font-size: 13px;
        padding: 5px;
        background: #FFE72F;
        border-right: 3px solid #da1;
        border-bottom: 3px solid #a80;
        text-align: center;
        display: none;
        position: fixed;
        top: 10px;
        right: 10px;
        _position: absolute;
}

#displayArea .tiddlyLinkExisting {
    font-weight: bold;
        text-decoration: none;
}

#displayArea .tiddlyLinkNonExisting {
    font-style: italic;
        text-decoration: none;
}

#displayArea .externalLink {
    text-decoration: underline;
}

.title {
    font-size: 1.5em;
        padding: 0 0 0 0;
    font-weight: bold;
    display: block;
        color: #900;
}

.toolbar {
    font-weight: normal;
    font-size: 11px;
    visibility: hidden;
        text-align: right;
        padding: 5px 0;
}

.selectedTiddler .toolbar {
        visibility: visible;
}

.toolbar a {
    padding: 1px 5px;
    color: #000;
        text-decoration: none;
        border: 1px outset #cf6;
        background: #cf6;
}

.toolbar a:hover {
    background: #ef9;
}

.toolbar a:active {
    background: #ff0;
}

.viewer {
    line-height: 140%;
}

.viewer a:link, .body a:visited {
    color: #15b;
        text-decoration: underline;
}

.viewer a:hover {
    color: #fff;
    background: #000;
}

.viewer blockquote {
    border-left: 3px solid #777;
        margin: 5px;
        padding: 5px;
}

.viewer ul {
        padding-left: 30px;
}

.viewer ol {
    padding-left: 30px;
}

ol
{ 
        list-style-type: decimal;
}

ol ol
{ 
        list-style-type: lower-alpha;
}

ol ol ol
{ 
        list-style-type: lower-roman;
}

.viewer ul, .viewer ol, .viewer p {
    margin: 5px 0 12px 0;
}

.viewer li {
    margin: 3px 0;
}

.viewer h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    background: #eee;
    padding: 2px 10px;
        margin: 5px 0;
}

.viewer h1 {
    font-size: 1.3em;
}

.viewer h2 {
    font-size: 1.2em;
}

.viewer h3 {
    font-size: 1.1em;
}

.viewer h4 {
    font-size: 1em;
}

.viewer h5 {
    font-size: .9em;
}

.viewer h6 {
    font-size: .8em;
}

.viewer table {
    border-collapse: collapse;
    border: 2px solid #303030;
        font-size: 11px;
        margin: 10px 0;
}

.viewer th {
    background: #eee;
    border: 1px solid #aaa;
    padding: 3px;
}

.viewer td {
    border: 1px solid #aaa;
    padding: 3px;
}

.viewer caption {
    padding: 3px;
}

.viewer hr {
    border: none;
    border-top: dotted 1px #777;
    height: 1px;
    color: #777;
        margin: 7px 0;
}

.body
{
 margin: 5px 0 0 0;
 padding: 5px 0;
 border-top: 1px solid #ccc;
}

.highlight {
    color: #000;
    background: #ffe72f;
}

.editor {
    font-size: 8pt;
    color: #402C74;
    font-weight: normal;
        padding: 10px 0;
}

.editor input, .editor textarea {
    display: block;
        font: 13px/130% "Andale Mono", "Monaco", "Lucida Console", "Courier New", monospace;
        margin: 0 0 10px 0;
    border: 1px inset #333;
        padding: 2px 0;
}

.editor textarea {
        height: 500px;
        width: 100%;
}

input:focus, textarea:focus
{
        background: #ffe;
        border: 1px solid #000 !important;
}

#storeArea, #copyright, .site_description, #saveTest {
    display: none;
}

#floater {
    background: #DF9;
        border: 3px solid #999;
        color: #DF9;
    position: absolute;
        left: -99999999px;
        top: -99999999px;
        width: 1px;
    opacity: 0.5;
    filter: alpha(opacity=50);
        display: none;
}

.footer
{
        padding: 5px 0;
        margin: 5px 0;
        border-top: 1px solid #ddd;
        color: #555;
        text-align: center;     
}

.footer div
{
        display: inline;
}


</style>
<style type="text/css" media="print">
/* LAYOUT ELEMENTS ========================================================== */
*
{
        margin: 0;
        padding: 0;
}

body {
    background: #fff;
        color: #000;
    font-size: 6.2pt;
        font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
}

img {
        max-width: 2.2in;
        max-height: 4.3in;
}

#header, #side_container, #storeArea, #copyright, #floater, #messageArea, .save_accesskey, .site_description, #saveTest, .toolbar, .footer, noscript
{
        display: none;
}

#tiddlerDisplay, #displayArea
{
        display: inline;
}

.tiddler {
        margin: 0 0 2em 0;
        border-top: 1px solid #000;
        page-break-before: always;
}

.tiddler:first-child {
        page-break-before: avoid;
}

.title {
    font-size: 1.6em;
    font-weight: bold;
        margin-bottom: .3em;
        padding: .2em 0;
        border-bottom: 1px dotted #000;
}

p, blockquote, ul, li, ol, dt, dd, dl, table
{
        margin: 0 0 .3em 0;
}

h1, h2, h3, h4, h5, h6
{
        margin: .2em 0;
}  

h1
{
        font-size: 1.5em;
}

h2
{
        font-size: 1.3em;
}

h3
{
        font-size: 1.25em;
}

h4
{
        font-size: 1.15em;
}

h5
{
        font-size: 1.1em;
}

blockquote
{
        margin: .6em;
        padding-left: .6em;
        border-left: 1px solid #ccc;
}

ul
{
        list-style-type: circle;
}

li
{
        margin: .1em 0 .1em 2em;
        line-height: 1.4em;     
}

table
{
    border-collapse: collapse;
        font-size: 1em;
}

td, th
{
        border: 1px solid #999;
        padding: .2em;
}

hr {
    border: none;
    border-top: dotted 1px #777;
    height: 1px;
    color: #777;
        margin: .6em 0;
}
</style>
