<!--#
 @version 0.1 (auto-set)
#-->
<script lang="javascript" src="<#ROOTHTML#>templates/app_tdwiki/scripts.js"></script>
[#inc styles.html#]
<div id="main_container">
        <div id="copyright">
        Welcome to TiddlyWiki by Jeremy Ruston, Copyright &copy; 2005 Osmosoft Limited
        </div>
        <noscript>
                <div id="javascriptWarning">This page requires JavaScript to function properly</div>
        </noscript>
        <div id="saveTest"></div>
        <div id="contentWrapper">
        <div id="side_container">
                <div id="mainMenu"></div>
                <div id="sidebar">
                        <div id="sidebarOptions"></div>
                        <div id="sidebarTabs"></div>
                        <div id="licensePanel">


                        </div>
                </div>
        </div>
                <div id="displayArea">
                        <div id="messageArea"></div>
                        <div id="tiddlerDisplay"></div>
                </div>
        </div>
</div>
<div id="storeArea">
[#CONTENT#]
</div>

<form id='postForm' action="?" method="post">
 <input type="hidden" name="mode" value="update">
 <input type="hidden" name="content" value="" id="contentField">
</form>

<script lang="javascript">
 var post_url="?";
 main();
</script>